.pv-customer {
  &-i {
    @include max(1366px) {
      padding-left: 4%;
    }
    @include max(500px) {
      padding-left: 0%;
    }
    .container {
      @include max(500px) {
        padding: 0;
      }
    }
  }
}

.pv-about-vps {
  position: relative;
  overflow: hidden;
  &-img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}

.pv-price {
  &-w {
  }
  &-decor {
    &-04 {
      right: -14%;
      top: -12%;
    }
    &-05 {
      @include max(768px) {
        transform: translate(16rem, 6rem);
      }
    }
  }
  &-btn {
    @include max(390px) {
      padding: 1.6rem 2.2rem;
    }
  }
}

.pv-monahost {
  &-header {
    @include max(320px) {
      padding-bottom: 45rem;
    }
  }
  .footer {
    .footer-quote {
      .img-quote {
        .quote-content {
          @include max(500px) {
            font-size: 1.6rem;
            background-color: $nhtqColor;
            border-radius: 0.8rem;
            padding: 1.6rem;
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}

.seo-item {
  @include max(414px) {
    padding-top: 0;
  }
  .host-tt {
    @include max(400px) {
      font-size: 2.4rem;
      text-align: center;
    }
  }
}

.feedback {
  @include max(768px) {
    padding-top: 0;
  }
  @include max(500px) {
    padding-top: 0;
  }
}

.pv-coop {
  @include max(500px) {
    padding-top: 2.4rem !important;
  }
}

.statistical-traffic {
  .panda-rocket {
    @include max(500px) {
      display: none;
    }
  }
}

.pv-host-about {
  &-line {
    @include max(320px) {
      margin-top: 60%;
    }
  }
}
