br {
  @include max(768px) {
    display: block;
  }
}

.pv-bn {
  &-bot {
    @include max(1200px) {
      padding-top: 0;
    }
  }
}

.pv-host-about {
  &-line {
    @include max(820px) {
      padding-top: 20%;
    }
    @include max(500px) {
      padding-top: 8rem;
      margin: 0;
    }
    @include max(375px) {
      margin: 0;
    }
  }
  &-ab {
    padding: 30rem 0rem;
    @include max(1366px) {
      padding: 38rem 0rem;
    }
    @include max(1200px) {
      padding-bottom: 20rem;
    }
    @include max(1024px) {
      padding: 28rem 0rem;
    }
    @include max(820px) {
      padding: 0;
    }
    @include max(500px) {
      padding: 0;
    }
    .abso {
      position: absolute;
    }
    &-ele1 {
      width: calc(100% * (7 / 12));
      top: 0;
      left: 50%;
      transform: translate(-76%, -75%);
      @include max(500px) {
        transform: translate(-76%, -60%);
      }
    }
    &-ele2 {
      width: calc(100% * (3 / 12));
      top: 0;
      right: 0;
      transform: translate(5%, -40%);
      @include max(1200px) {
        transform: translate(0%, -40%);
      }
      @include max(320px) {
        transform: translate(0%, -58%);
      }
    }
    &-ele3 {
      width: calc(100% * (6 / 12));
      top: 20%;
      left: -5%;
      pointer-events: none;
      @include max(1366px) {
        left: -2%;
      }
      @include max(1200px) {
        left: 0;
      }
      @include max(320px) {
        top: 18%;
      }
    }
    &-ele4 {
      width: calc(100% * (4 / 12));
      right: 0;
      top: 140%;
      @include max(1024px) {
        top: 98%;
      }
      @include max(820px) {
        top: 40%;
      }
      @include max(500px) {
        top: 22%;
      }
      @include max(320px) {
        top: 18%;
      }
    }
    &-center {
      text-align: center;
      position: relative;
      width: 100%;
      margin-top: -32%;
      @include max(820px) {
        position: relative;
        transform: unset;
        left: 0;
        margin-top: -25rem;
      }
      @include max(500px) {
        width: 100%;
        transform: unset;
        position: relative;
        left: 0;
        margin-top: 4rem;
      }
      @include max(320px) {
        margin-top: -9rem;
      }
      .host-tt {
        @include max(500px) {
          font-size: 1.6rem;
          padding: 0.4rem 0.4rem;
          margin-top: -9rem;
          margin-bottom: 10rem;

          &.bg-color-lightblue {
            transform: translateY(0.5rem);
            display: inline-block;
          }
        }
        @include max(320px) {
          margin-bottom: 8rem;
        }
      }
      .dec {
        font-size: 1.6rem;
        margin: 3.6rem 0;
        @include max(1200px) {
          margin: 3.6rem 20rem;
        }
        @include max(1024px) {
          margin: 3.6rem 30rem;
        }
        @include max(820px) {
          padding: 0rem 22rem;
          margin: 3.6rem 0;
        }
        @include max(768px) {
          padding: 0rem 21rem;
        }
        @include max(500px) {
          background-color: #7c0fd1;
          color: #fff;
          border-radius: 1.6rem;
          padding: 1.6rem;
          position: relative;
          width: 100%;
          margin: 1.6rem 0;
        }
        @include max(375px) {
          br {
            display: none;
          }
        }
      }
      .btn-contact {
        padding: 1.6rem 3.2rem;
        border-radius: 0.8rem;
        font-size: 2.4rem;
        color: #fff;
        height: auto;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        @include max(1200px) {
          transform: translate(-50%, -2rem);
        }
        @include max(1024px) {
          transform: translate(-50%, 24rem);
          z-index: 4;
        }
        @include max(820px) {
          position: relative;
          padding: 1.6rem 1.2rem;
          left: 0;
          transform: unset;
          width: 100%;
          margin-top: 20rem;
        }
        @include max(500px) {
          position: relative;
          transform: unset;
          left: 0;
          width: 100%;
          margin-top: 1.5rem;
          font-size: 1.8rem;
          br {
            display: none;
          }
        }
      }
      @include max(500px) {
        .vps-mobile-ele1 {
          margin-top: 2.4rem;
        }
        .vps-mobile-ele2 {
          margin-top: 2.4rem;
        }
        .vps-mobile-ele3 {
          margin-top: 2.4rem;
        }
      }
    }
    &-tt {
      .host-tt {
        &.hl {
          @include max(375px) {
            padding: 0.4rem 3.2rem;
          }
        }
      }
    }
    &-con {
      .btn-clh {
        @include max(375px) {
          padding: 1.6rem 2.2rem;
        }
      }
    }
    &-txt {
      br {
        @include max(320px) {
          display: none;
        }
      }
    }
  }
  &-content {
    .header {
      padding-top: 0rem;
      @include max(1200px) {
        padding-bottom: 5rem;
      }
      @include max(500px) {
        padding-bottom: 0rem;
      }
      @include max(375px) {
        padding-bottom: 5rem;
      }
      .host-tt {
        &.hl {
          color: #fff;
          position: relative;
          z-index: 1;
          padding: 0.4rem 1.6rem;
          max-width: max-content;
          margin: 0 auto;
          &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1ec0f2;
            border-radius: 0.8rem;
          }
          @include max(320px) {
            padding: 0.4rem 0.6rem;
          }
        }
      }
      .title {
        @include max(320px) {
          padding: 0rem 4rem;
        }
      }
    }
    .about-session {
      &-main-img {
        padding: 0;
        img {
          border-radius: 1.6rem;
        }
      }
      @include max(500px) {
        padding-bottom: 0rem;
      }
      &-line {
        width: 32%;
        top: -10%;
        left: 15%;
      }
      .session-about-title {
        width: 100%;
        .button-session {
          @include max(1024px) {
            font-size: 1.8rem;
          }
          @include max(500px) {
            padding: 1.6rem 1rem;
          }
          @include max(425px) {
            font-size: 2rem;
            text-align: center;
          }
          @include max(320px) {
            font-size: 1.6rem;
          }
        }
        @include max(500px) {
          padding: 5rem 0;
        }
        @include max(375px) {
          padding-top: 0rem;
        }
        .tt {
          br {
            @include max(1200px) {
              display: none;
            }
          }
        }
        .sub {
          br {
            @include max(425px) {
              display: none;
            }
          }
        }
        .btn-clh {
          @include max(1024px) {
            padding: 1.6rem 2.2rem !important;
          }
          @include max(768px) {
            padding: 1.6rem 1rem;
            font-size: 1.6rem;
          }
        }
      }
      &-content {
        .col-6 {
          width: 48%;
        }
      }
      .about-session-content {
        &:nth-child(2) {
          padding-left: 15rem;
          @include max(500px) {
            padding-left: 0;
          }
        }
        @include min(768px) {
          &:nth-child(1) {
            padding-right: 3rem;
          }
          &:nth-child(2) {
            padding-left: 3rem;
          }
        }
        @include max(1200px) {
          &:nth-child(1) {
            padding-top: 5rem;
          }
          &:nth-child(2) {
            padding-top: 0rem;
          }
        }
        @include max(769px) {
          &:nth-child(1) {
            padding-right: 0rem;
          }
          &:nth-child(2) {
            padding-left: 0rem;
          }
        }
        @include max(375px) {
          &:nth-child(1) {
            padding-top: 0rem;
          }
        }
      }
    }
  }
}

.pv-price {
  &-w {
    @include max(375px) {
      padding-bottom: 0;
    }
  }
  &-decor {
    &-04 {
      right: -3%;
      top: -2%;
    }
  }
  &-in {
    margin-top: 0;
    @include max(375px) {
      margin-bottom: 5rem;
    }
  }
  &-b {
    .abs {
      .txt {
        @include max(425px) {
          br {
            display: none;
          }
        }
      }
    }
  }
  &-btn {
    @include max(390px) {
      padding: 1.6rem 1.2rem;
    }
    @include max(375px) {
      padding: 1.6rem 1rem;
    }
  }
}

.pv-solution {
  margin-top: 5%;
  @include max(1200px) {
    margin-top: 0%;
  }
  .feedback-ctn {
    @include max(375px) {
      margin-top: 0rem;
    }
  }
  .section {
    &.feedback {
      @include max(500px) {
        padding-top: 0;
      }
      &.fix {
        .panda {
          position: relative;
          .host-tt {
            position: absolute;
            left: 0;
            transform: translate(-6rem, 20rem);
            @include max(1366px) {
              transform: translate(7rem, 20rem);
            }
            @include max(820px) {
              transform: translate(7rem, 8rem);
            }
            @include max(500px) {
              position: static;
              /* left: 0; */
              transform: unset;
            }
          }
        }
      }
    }
  }
}

.feedback {
  padding-top: 0;
}

.pv-customer {
  margin-top: 0rem;
  @include max(768px) {
    margin-top: 4rem !important;
  }
  &-tx {
    @include max(1200px) {
      font-size: 2rem;
    }
  }
  &-tt {
    margin: 0;
    &-col {
      @include max(425px) {
        text-align: center;
      }
    }
    .host-tt {
      margin-bottom: 0.4rem;
    }
  }
  &-i {
    padding-left: 15rem;
    @include max(1366px) {
      padding-left: 0rem;
    }
    @include max(500px) {
      padding-left: 0;
    }
    .container {
      margin: 0;
    }
    &-inner {
      @include max(1441px) {
        margin-left: 0rem !important;
      }
      @include max(1440px) {
        margin-left: -16rem;
      }
      @include max(768px) {
        margin-left: 0;
      }
    }
  }
  @include max(500px) {
    margin-top: 2rem;
  }
  &-r {
    &-des {
      @include max(768px) {
        margin-bottom: 1.4rem;
      }
    }
  }
  @include max(1200px) {
    margin-top: 0%;
  }
  .bg-color {
    padding: 0.4rem 1.6rem;
  }
  &-ad {
    &-i {
      .txt {
        @include max(320px) {
          font-size: 1.2rem;
        }
      }
    }
  }
  &-btn {
    @include max(500px) {
      display: flex;
      flex-wrap: nowrap;
    }
    .btn-clh {
      @include max(500px) {
        width: 50%;
        padding: 0.9rem 1rem;
        font-size: 1.6rem;
      }
      @include max(375px) {
        padding: 0.9rem 0rem;
      }
    }
  }
}

.pv-coop {
  padding-top: 6rem;
  &-in {
    @include max(501px) {
      margin-top: 3.2rem;
    }
  }
  &-decor {
    &-01 {
      @include max(1200px) {
        transform: translate(0, -500%);
      }
      @include max(1024px) {
        transform: translate(0, -250%);
      }
    }
    &-com {
      .txt {
        br {
          @include max(500px) {
            display: none;
          }
        }
      }
    }
  }
  &-txt {
    background: none;
    color: #3a3a3a;
    @include max(501px) {
      padding: 0;
    }
  }
  &-tt {
    .hl {
      padding: 0.4rem 1.2rem;
      @include max(500px) {
        padding: 1.4rem 1.2rem;
      }
    }
  }
  &-panda {
    @include max(1200px) {
      top: -7%;
    }
  }
  &-lt {
    @include max(820px) {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
    }
  }
  &-b {
    @include max(375px) {
      width: 100%;
    }
    .abs {
      @include max(820px) {
        position: static;
        width: 48%;
        transform: translate(0, 0);
        border-radius: 1.2rem;
        padding: 1.6rem 3.2rem;
        font-size: 1.8rem;
        margin-bottom: 0;
      }
      @include max(500px) {
        width: 100%;
      }
      @include max(390px) {
        padding: 1rem 2rem;
      }
      @include max(320px) {
        padding: 1.2rem 0.6rem;
      }
    }
  }
}

.statistical-traffic {
  .traffic {
    &-content {
      &-desc {
        @include max(1200px) {
          padding-top: 5.5rem;
        }
        @include max(820px) {
          background-color: #7c0fd1;
          padding: 0.4rem 1.6rem;
          border-radius: 1.8rem;
          margin-top: 2rem;
          color: #fff;
        }
        @include max(768px) {
          background: none;
          color: #3a3a3a;
        }
        @include max(500px) {
          padding: 0;
          padding-top: 0.4rem !important;
        }
      }
      .txt-bg {
        padding: 0.4rem 1.6rem !important;
        @include max(320px) {
          padding: 0.4rem 3rem !important;
        }
      }
    }
  }
  .communication {
    @include max(500px) {
      padding-bottom: 0 !important;
      background: none !important;
    }
    @include max(320px) {
      margin-top: 0rem;
    }
    &-content {
      @include max(425px) {
        padding-top: 3rem;
      }
      .txt-bg {
        padding: 0.4rem 1.6rem !important;
        @include max(320px) {
          padding: 0.4rem 1.5rem !important;
        }
      }

      &-desc {
        @include max(820px) {
          padding-bottom: 3rem;
        }
        @include max(320px) {
          padding: 3rem 2rem;
        }
      }

      .quote-wrap {
        .quote-ssd {
          @include max(768px) {
            width: calc(50% - 0.8rem);
          }
          @include max(500px) {
            width: 100%;
          }
        }
      }
    }
  }
}
.statistical-img {
  @include max(820px) {
    padding-top: 23rem;
  }
  @include max(768px) {
    margin-top: -2rem;
  }
  @include max(500px) {
    padding-top: 0rem;
    margin-top: 3rem;
  }
}

.pv-team {
  &-txt {
    @include max(1200px) {
      font-size: 1.8rem;
    }
    @include max(375px) {
      br {
        display: none;
      }
      font-size: 1.6rem;
    }
    @include max(320px) {
      font-size: 1.8rem;
    }
  }
  &-tt {
    .hl {
      padding: 0.4rem 1.6rem;
    }
  }
}

.pv-price {
  &-tt {
    .hl {
      padding: 0.4rem 1.6rem;
    }
  }
  &-decor {
    &-04 {
      @include max(1024px) {
        right: -11%;
        top: 2%;
      }
    }
    &-05 {
      @include max(1200px) {
        top: 15%;
      }
      @include max(1024px) {
        top: 35%;
      }
    }
  }
  &-btn {
    @include max(1024px) {
      padding: 1.6rem 2.2rem;
    }
    @include max(375px) {
      padding: 1.6rem 1rem;
    }
    @include max(320px) {
      bottom: -5%;
    }
  }
  &-b {
    .abs {
      @include max(820px) {
        position: static;
        width: 48%;
        transform: translate(0, 0);
        border-radius: 1.2rem;
        padding: 1.6rem 3.2rem;
        font-size: 1.8rem;
        margin-bottom: 0;
        .txt {
          padding: 0;
        }
      }
      @include max(768px) {
        font-size: 1.6rem;
      }
      @include max(500px) {
        width: 100%;
      }
      @include max(375px) {
        padding: 1.6rem 1.2rem;
      }
      @include max(320px) {
        padding: 1rem 0.2rem;
        font-size: 1.6rem;
      }
    }
  }
  &-lt {
    @include max(820px) {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
    }
  }
  &-txt {
    @include max(820px) {
      margin-bottom: 3.2rem;
    }
  }
}

.pv-tech {
  &-tt {
    @include max(500px) {
      margin-bottom: 2.4rem;
    }
    .host-tt {
      @include max(375px) {
        padding: 0 2rem;
      }
      &.hl {
        padding: 0.4rem 1.6rem;
        &::before {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0.8rem;
          background-color: #7c0fd1;
        }
        @include max(320px) {
          padding: 0.8rem 2.6rem;
        }
      }
    }
  }
}

.seo-item {
  padding-top: 5%;
  &-header {
    padding-bottom: 9rem;
    @include max(1200px) {
      padding-bottom: 0;
    }
  }
  .txt-bg {
    padding: 0.4rem 1.6rem !important;
  }
  &-hotline {
    position: absolute;
    right: 0%;
    @include max(1024px) {
      right: 5%;
    }
    @include max(500px) {
      position: static;
      width: 100%;
    }
  }
  &-tt {
    @include max(425px) {
      text-align: center;
    }
  }
  .sec-tt {
    @include max(500px) {
      font-size: 2rem;
    }
  }
}

.pv-ps {
  &-decor {
    &-02 {
      @include max(1024px) {
        top: -14%;
      }
    }
    &-03 {
      @include max(1200px) {
        top: -5%;
      }
      @include max(1024px) {
        top: -10%;
      }
      .txt {
        &::before {
          @include max(1200px) {
            transform: translate(-760%, 170%);
          }
          @include max(1024px) {
            transform: translate(-350%, 180%);
          }
        }
      }
    }
    &-04 {
      @include max(1200px) {
        top: -12%;
        right: -8%;
      }
      @include max(1024px) {
        top: -18%;
        right: -12%;
      }
    }
    &-05 {
      @include max(1024px) {
        top: 30%;
      }
    }
    &-com {
      .txt {
        @include max(425px) {
          br {
            display: none;
          }
        }
      }
    }
  }
  &-txt {
    @include max(1200px) {
      font-size: 1.8rem;
    }
    @include max(820px) {
      margin-bottom: 0;
    }
    @include max(768px) {
      br {
        display: none;
      }
    }
  }
  &-b {
    .abs {
      @include max(820px) {
        position: static;
        width: 48%;
        transform: translate(0, 0);
        border-radius: 1.2rem;
        padding: 1.6rem 1.8rem;
        font-size: 1.8rem;
        margin-bottom: 0;
      }
      @include max(768px) {
        font-size: 1.6rem;
      }
      @include max(500px) {
        width: 100%;
      }
      @include max(375px) {
        padding: 1.6rem 1.5rem;
      }
      @include max(320px) {
        padding: 0.6rem 2.5rem;
      }
    }
    &.btn-clh {
      height: auto !important;
    }
  }
  &-lt {
    @include max(820px) {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
    }
    @include max(501px) {
      margin-bottom: 2.4rem;
    }
  }
  &-btn {
    @include max(820px) {
      bottom: -4%;
    }
    @include max(500px) {
      bottom: -16%;
    }
    @include max(425px) {
      bottom: -10%;
    }
    @include max(390px) {
      bottom: -15%;
    }
    @include max(375px) {
      bottom: -13%;
    }
    @include max(360px) {
      bottom: -10%;
    }
    .txt {
      @include max(360px) {
        font-size: 1.6rem;
      }
      br {
        @include max(768px) {
          display: none;
        }
      }
    }
  }
}

.pv-monahost {
  &-header {
    @include max(1200px) {
      padding-bottom: 68rem;
    }
    @include max(500px) {
      padding-bottom: 52rem;
    }
  }
  &-decor {
    width: 100%;
    @include max(500px) {
      transform: translateY(-2rem);
    }
  }
  &-txt {
    @include max(768px) {
      br {
        display: none;
      }
    }
  }
}

.pv-host {
  &-txt {
    @include max(820px) {
      margin-bottom: 0;
      margin-top: 2.4rem;
    }
  }
  &-lt {
    @include max(820px) {
      margin-bottom: 2.4rem;
    }
  }
  &-right {
    margin: 3.4rem 0;
    @include max(768px) {
      margin: 0;
    }
    @include max(500px) {
      margin-top: 2.4rem;
    }
  }
  &-common {
    @include max(500px) {
      margin-bottom: 1rem;
    }
    @include max(390px) {
      margin-bottom: 0rem;
    }
  }
  &-tc {
    margin-bottom: 0.8rem;
  }
  &-tt {
    .host-tt {
      &.hl {
        margin-top: 0.4rem;
        @include max(768px) {
          margin-top: 0rem;
        }
      }
    }
  }
}

.pv-pay {
  margin-top: -46rem;
  @include max(1024px) {
    margin-top: -28rem;
  }
  @include max(820px) {
    margin-top: -25rem;
  }
  @include max(768px) {
    margin-top: -24rem;
  }
  @include max(500px) {
    margin-top: -11.8rem;
  }
  .swiper-service-hosting {
    @include max(500px) {
      padding-bottom: 3.2rem;
    }
  }
  @include max(320px) {
    .session-pay-host {
      .card {
        max-width: 100%;
        min-width: 100%;
        .card-content {
          padding: 3.2rem 1rem;
        }
      }
    }
    .swiper-slide {
      width: 100% !important;
    }
  }
  .session-pay-host-header {
    @include max(500px) {
      margin-top: 0;
      padding-bottom: 2.4rem;
    }
  }
}

.premium-cloud-vps  .home-host-about-content {
  .header {
    @include max(1366px) {
      padding-top: 18rem;
    }
    @include max(1024px) {
      padding-top: 8rem;
    }
    @include max(768px) {
      padding-top: 6rem;
    }
    @include max(500px) {
      padding-top: 5.6rem;
    }
    .title {
      @include max(500px) {
        max-width: 100%;
      }
      .bg-color {
        width: fit-content;
        margin: 0 auto;
        @include max(500px) {
          margin-top: 0.4rem;
        }
      }
    }
  }
  .about-session {
    @include max(500px) {
      margin-top: 2rem !important;
    }
    &.about-session-banding {
      margin-bottom: 45rem;
      .about-session-line-banding {
        top: -47% !important;
      }
      @include max(1024px) {
        padding-bottom: 28rem;
        margin-bottom: 0;
      }
      @include max(500px) {
        padding-bottom: 12rem;
      }
    }
    &.about-session-solution {
      .about-session-line-solution {
        top: -46%;
      }
    }
    &.about-session-service {
      .about-session-line-service {
        width: 41.45%;
        top: -45%;
      }
    }
    &.about-session-hosting {
      .about-session-line-design {
        width: 50%;
        top: -6%;
        height: 77%;
      }
    }
  }
}

// .home-host-about-content {
//   // margin-top: 10rem;
//   @include max(768px) {
//     margin-top: 0rem;
//   }
//   .header {
//     padding-bottom: 12rem;
//     padding-top: 0rem;
//     @include max(1200px) {
//       padding-bottom: 0rem;
//     }
//     @include max(820px) {
//       padding-top: 5rem;
//     }
//     @include max(768px) {
//       padding-top: 5rem;
//     }
//     .title {
//       @include max(500px) {
//         font-size: 2rem;
//       }
//     }
//     .sub-title {
//       @include max(768px) {
//         text-align: center;
//         padding: 0.8rem 1.6rem !important;
//       }
//     }
//   }
//   .about-session {
//     &.about-session-solution {
//       .about-session-line-solution {
//         top: -46%;
//       }
//     }
//     &.about-session-service {
//       .about-session-line-service {
//         width: 41.45%;
//       }
//     }
//     .about-session-content {
//       &:nth-child(odd) {
//         padding-right: 12.2rem;
//         @include max(1024px) {
//           padding-right: 2rem;
//         }
//         @include max(500px) {
//           padding-right: 0;
//         }
//       }
//     }
//     &-vps {
//       .about-session-content {
//         &:nth-child(even) {
//           padding-left: 12.2rem;
//           @include max(1024px) {
//             padding-left: 2rem;
//           }
//           @include max(500px) {
//             padding-left: 0;
//           }
//         }
//       }
//     }
//     &-solution {
//       .about-session-content {
//         &:nth-child(even) {
//           padding-left: 12.2rem;
//           @include max(1024px) {
//             padding-left: 2rem;
//           }
//           @include max(500px) {
//             padding-left: 0;
//           }
//         }
//       }
//     }
//     &-service {
//       margin-top: 14rem;
//       @include max(1024px) {
//         margin-top: 6rem;
//       }
//       @include max(500px) {
//         margin-top: 2.4rem;
//       }
//     }
//     &-banding {
//       .about-session-content {
//         &:nth-child(even) {
//           padding-left: 12.2rem;
//           @include max(1024px) {
//             padding-left: 2rem;
//           }
//           @include max(500px) {
//             padding-left: 0;
//           }
//         }
//       }
//     }
//     &:last-child {
//       // margin-top: 15.2rem;
//       @include max(1024px) {
//         margin-top: 6rem;
//       }
//       @include max(500px) {
//         margin-top: 2.4rem;
//       }
//     }
//     .session-about-title {
//       width: 100%;
//       .tt {
//         @include max(500px) {
//           font-size: 2rem;
//         }
//       }
//       .btn-clh {
//         @include max(820px) {
//           padding: 1.6rem 2rem;
//         }
//       }
//     }
//     &-main-img {
//       img {
//         border-radius: 1.6rem;
//       }
//       @include max(425px) {
//         margin-top: 2.4rem;
//       }
//     }
//   }
// }

.host-tt {
  @include max(500px) {
    font-size: 2rem;
  }
}
@include max(768px) {
  .pv-host .pv-host-right,
  .pv-host .pv-host-left {
    width: 100%;
  }
}
@include max(500px) {
  .pv-host-about-line .pv-host-about-ab-center .host-tt {
    font-size: 2.2rem !important;
    color: #fff;
    margin-bottom: 0;
  }

  .pv-host .pv-host-right,
  .pv-host .pv-host-left {
    width: 100%;
  }

  .pv-host {
    margin-bottom: 2.8rem;
    @include max(500px) {
      margin-top: 0rem;
    }
  }
}

.premium-cloud-vps .session-statistical {
  .statistical-traffic {
    .traffic-decor-img {
      @include max(768px) {
        &:nth-child(1) {
          width: 48% !important;
        }
        &:nth-child(2) {
          width: 48% !important;
        }
      }
      @include max(390px) {
        &:nth-child(1) {
          width: 100% !important;
        }
        &:nth-child(2) {
          width: 100% !important;
        }
      }
      &:nth-child(2) {
        top: 31.6%;
        right: 7%;
        width: 14.54%;
        left: 76.9%;
        @include max(1400px) {
          top: 30%;
        }
        @include max(1200px) {
          top: 42%;
        }
      }
    }
    .traffic-content-desc {
      @include max(820px) {
        padding-top: 0;
      }
    }
    .traffic-decor-img-line {
      &:nth-child(2) {
        width: 12%;
        top: 30%;
        right: 25.3%;
        left: 67.5%;
        @include max(1400px) {
          top: 32%;
        }
      }
    }
  }
}

.sec-seofaq {
  .seo-faq-img {
    .img {
      @include max(768px) {
        width: 100% !important;
      }
    }
  }
}
