.clhbn-hl {
    font-size: 12rem;
}

.clhbn-txt {
    font-weight: 600;
}

.clhph-gif-03 .image,
.banner-background .bg-content .bg-star .circle-saturn-2 {
    animation: unset;
}

.feedback {
    background: unset;
    padding-top: 5.6rem;
    padding-bottom: 0;

    .splide__track {
        padding-bottom: 2.4rem;
    }
}

.feedback-list {
    flex-wrap: nowrap;
}

.session-solution {
    @include max(1200px) {
        padding-bottom: 5.6rem;
        background: linear-gradient(2deg, rgba(30, 194, 245, 0.00) 0%, rgba(30, 194, 245, 0.00) 0.01%, #1EC2F5 20.83%, #044256 59.46%);
    }
}

.session-solution-backgroud {
    height: auto;

    @include max(1200px) {
        display: none;
    }
}

.sec-seofaq {
    background-color: #fff;
}

.seofaq-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seo-item {
    padding-top: 12rem;

    &-header {
        justify-content: space-between;
    }

    &-tt {
        width: calc(100% * (7 / 12) + 2.4rem);

        @include max(600px) {
            width: 100%;
        }
    }

    &-hotline {
        width: calc(100% * (4 / 12) - 2.4rem);

        @include max(600px) {
            width: 70%;
            margin-top: 1.6rem;
        }
    }

    .sec-desc {
        font-size: 1.6rem;
    }

    &-img {
        margin-top: -10rem;

        @include max(1200px) {
            margin-top: 0;
        }
    }
}

.sec-seofaq {
    padding-top: 5.6rem;
}

.seo-item .txt-bg {
    @include max(1200px) {
        width: 100%;
    }
}

.pv-pay .session-pay-host .card {
    min-width: initial;
    max-width: inherit;
}

.pv-pay.session-service .service-hosting-wrap-bg {
    background: unset;
}

.pv-coop {
    padding-top: 12rem;
}

.pv-bn::before {
    background: url("../assets/images/PCVPS/pvBg.png");
}

.pv-monahost::before {
    background-image: url('../assets/images/PCVPS/pvHost_bg.png');
}

.pv-ps::before {
    background-image: url('../assets/images/PCVPS/pvpsBg.png');
}

.clhtop .clhtop-star {
    mix-blend-mode: luminosity;
}

@include max(1200px) {
    .host-tt {
        font-size: 2.4rem;
    }
}

@include max(600px) {
    .seofaq-title,
    .seofaq-bg-img {
        width: 100%;

        .img {
            width: 100%;
            margin-left: -3.2rem;
        }
    }
}