.star-sky,
.banner-background .bg-content .bg-star .circle-saturn,
.banner-background .bg-content .bg-star .circle-uranus,
.banner-background .bg-content .bg-star .circle-saturn-2,
.session-solution .bg-star {
    animation: unset !important;
}

.section.feedback {
    padding-top: 4.2rem;
}

.session-statistical .content-statistical {
    padding-top: 5rem;
    @include max(500px) {
        padding-top: 9rem;
    }
}

.session-service .option .items .item {
    transition: 0.3s;
}

.session-service .option .items .item-active {
    pointer-events: none;
}

.hclhser-decor.x1 {
    top: 4%;

    @include max(1480px) {
        top: 0;
    }
}

.session-expert .header-exfert .txt-header {
    line-height: 1.2;
}

.home-sesion-not-contact .content-521 .line-decor {
    width: 6%;
}

.d-flex.f-ctn.feedback-list {
    flex-wrap: nowrap;
}

.feedback-wrap {
    box-shadow: 1rem 1rem 2.4rem rgba(0, 0, 0, 0.1);
}

.star-sky {
    mix-blend-mode: screen;
}

.service-hosting-inner .btn-clh,
.service-hosting-wrap-bg .btn-clh {
    box-shadow: unset;
}

.swiper-service-hosting {
    padding-bottom: 3.2rem;
}

.btn-clh {
    box-shadow: unset;
}

.about-session-main-img.col-6 img {
    border-radius: 1.6rem;
}

.session-wordpress .wordpress-footer .content-main .main .cloud-item:nth-child(1) .txt-quote-wrap .txt {
    top: 55%;
}

.session-wordpress .wordpress-footer .content-main .main .cloud-item .txt-quote-wrap .txt {
    top: 57%;
}

.session-wordpress .wordpress-footer .content-main .main .cloud-item.cloud-item-2 .txt-quote-wrap .txt,
.session-wordpress .wordpress-footer .content-main .main .cloud-item.cloud-item-3 .txt-quote-wrap .txt {
    top: 53%;
}

.session-bug-wrap .content .quote-content .txt-quote-1 .txt-quote-wrap .txt {
    left: 50%;
}

.session-bug-wrap .content .quote-content .txt-quote-2 .txt-quote-wrap .txt {
    left: 48%;
}

.session-bug-wrap .txt-quote-wrap .txt {
    text-align: center;
}

.mk-completed-btn .btn-clh {
    justify-content: center;
    font-size: 2.2rem;
}

.clhser .host-tt,
.hclhpr .host-tt,
.seo-item .host-tt {
    font-size: 4rem;
    margin-bottom: 0;
}

.feedback-content-body {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.feedback-wrap {
    height: calc(100% / 3 - 2.4rem);
}

.feedback-img img {
    object-fit: contain;
    height: fit-content;
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    border-radius: 1.6rem;
}

.clhpar .dvs-solve-top-item-img img {
    position: unset;
    width: 100%;
    height: auto;
    left: unset;
    bottom: unset;
    transform: unset;
    filter: unset;
}

.clhpar .dvs-solve-top-item-img .img {
    position: absolute;
    width: calc(100% + 25rem);
    height: auto;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 60%);
    @include max(1400px) {
        width: calc(100% + 20rem);
    }
}

.clhpar .dvs-solve-top-item:nth-child(3) .dvs-solve-top-item-img .img {
    width: calc(100% + 18rem);
    transform: translate(-60%, 60%) rotate(15deg);
}

.clhpar .dvs-solve-top-item:nth-child(3) .dvs-solve-top-item-img img {
    width: 100%;
    transform: unset;
}

.clhpar .dvs-solve-top-item:nth-child(2) .dvs-solve-top-item-img .img {
    width: calc(100% + 18rem);
    transform: translate(-40%, 60%) rotate(-15deg);
}

.clhpar .dvs-solve-top-item:nth-child(2) .dvs-solve-top-item-img img {
    width: 100%;
    transform: unset;
}

.pv-ps-btn, .pv-price-btn, .btn-clh.bg-nhtq {
    background-color: transparent;
}

.btn-clh::before {
    left: -0.1rem;
}

.session-bug-wrap .content .title {
    transform: translateY(-4.2rem);
}

.txt-bg-ani::before {
    box-shadow: unset;
}

.session-make-money .make-money-wrap .bg-Hy {
    right: 0;
}

.decor-zalo-left,
    .decor-zalo-right {
        display: none;
    }

    .home-session-six-year-header .six-year-intergration .content-six-year .txt-content .txt-year {
        transform: translateY(1.2rem);
    }

    .home-session-six-year-business .bussiness-project .list-project .project-item:nth-child(2) {
        transform: translate(18%, 0%) rotate(8deg);
    }

    .home-session-six-year-business .bussiness-project .list-project .project-item:nth-child(3) {
        transform: translate(42%, 0%) rotate(12deg);
    }

    .session-statistical .statistical-traffic .panda-rocket {
        right: 6%;
    }

    .session-statistical .statistical-traffic {
        padding-top: 12rem;
        margin-top: 8rem;
    }

    .session-statistical .statistical-traffic-bg{
        top: -18rem;

        img {
            vertical-align: middle;
        }
    }

    .premium-cloud-vps .session-statistical .statistical-traffic {
        margin-top: 0;
    }

    .premium-cloud-vps .header {
        margin-bottom: 12rem;
    }

    .premium-cloud-vps .home-host-about-content .about-session:last-child {
        margin-top: 12rem;
    }

    .premium-cloud-vps .home-host-about-content .about-session {
        margin-top: 12rem;
    }

    .premium-cloud-vps .about-session .about-session-line img,
    .premium-cloud-vps .about-session .about-session-line-hosting img,
    .premium-cloud-vps .about-session .about-session-line-design img,
    .premium-cloud-vps .about-session .about-session-line-solution img,
    .premium-cloud-vps .about-session .about-session-line-service img,
    .premium-cloud-vps .about-session .about-session-line-branding img {
        object-fit: fill;        
    }

    .home-host-about-content .about-session .about-session-line-design {
        top: -6%;
        height: 75%;
    }

    .seccion-company-tt {
        display: block;
    }

    .video-general {
        position: relative;

        &-col.col {
            @include max(500px) {
                width: 100%;
                padding: 0;
            }
        }

        .line {
            pointer-events: none;
            @include mid();
            width: 100%;
            height: 138%;

            img {
                object-fit: fill;
            }
        }

        .wrap {
            position: relative;
        }

        .frame {
            @include mid();
            z-index: 2;
            width: 100%;
            height: 100%;
            pointer-events: none;

            img {
                object-fit: fill;
            }
        }

        .main-video {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 56.25%;

            .iframe {
                @include mid();
                width: calc(100% - 6.4rem);
                height: calc(100% - 6.4rem);

                @include max(1200px) {
                    width: calc(100% - 4.4rem);
                    height: calc(100% - 4.4rem); 
                }

                @include max(850px) {
                    width: calc(100% - 3.4rem);
                    height: calc(100% - 3.4rem); 
                }

                @include max(500px) {
                    width: calc(100% - 1.4rem);
                    height: calc(100% - 1.4rem); 
                }
            }
        }
    }

    .ab-full {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .mg-auto {
        margin: 0 auto;
    }

    .seccion-company .content {
        pointer-events: none;
        margin-top: -10rem;

        @include max(500px) {
            margin-top: 0;
        }
    }

    .seccion-company-tt {
        margin-bottom: 3.2rem;
    }

    .select2-container--open .select2-dropdown--above {
        bottom: unset;
    }

    .select2-container--default .select2-results>.select2-results__options {
        max-height: 50vh;
    }

    .select2-search.select2-search--dropdown {
        display: block;
    }

    .hd-menu .menu-list {
        flex-wrap: nowrap;
    }

    .menu-item-link {
        white-space: nowrap;
    }

    
@media only screen and (max-width: 1200px) {
    .d-flex.mega-menu-cate-wrap-w-label {
        display: none;
    }
    .premium-cloud-vps .header{
        margin-bottom: 2.4rem;
    }

    .premium-cloud-vps .home-host-about-content .about-session,
    .premium-cloud-vps .home-host-about-content .about-session:last-child {
        margin-top: 5.6rem;
    }

    .about-session-main-img.col-6 {
        margin-top: 2.4rem;
    }

    .premium-cloud-vps .home-host-about-content .about-session .session-about-title .btn-clh {
        white-space: initial;
    }

    .session-statistical .statistical-traffic-bg {
        top: -13.5rem;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1370px) {
    .decor-zalo-left,
    .decor-zalo-right {
        display: none;
    }
    .session-solar-system .main-bg {
        margin-top: 20rem;
    }
    .content-left,
    .content-right {
        width: 50%;
    }
    .home-session-six-year-footer .wrap .bottom-content .footer-content-wrap .txt-about {
        font-size: 2.4rem;
    }

    .home-session-six-year-footer .wrap .bottom-content .footer-content-wrap .txt-about .img-about {
        margin-left: auto !important;
    }

    .home-session-six-year-footer .wrap .bottom-content .footer-content-wrap .footer-txt {
        transform: translateY(30%);
    }

    .home-session-six-year-footer .wrap .bottom-content .footer-content-wrap {
        padding-bottom: 10rem;
        padding-top: 20rem;
    }

    .home-host-about-line {
        margin-top: -19rem;
    }

    .session-about-sec .host-about-sec-head-col:nth-child(1) {
        // width: 50%;
    }

    section.hclhser {
        padding-bottom: 8rem;
    }

    .home-host-about-content .about-session.about-session-end {
        // padding-top: 26rem;
    }

    .session-wordpress .wordpress-content .session-line:first-child {
        margin-top: 14rem;
    }

    .session-wordpress .wordpress-content .session-line:nth-child(2) .line-sesion {
        width: 42%;
        top: 90%;
        @include max(1400px) {
            top: 76%;
        }
    }

    .session-wordpress .wordpress-content .session-line:nth-child(3) .line-sesion {
        width: 30%;
        @include max(1400px) {
            width: 27%;
        }
    }

    .session-make-money .make-money-wrap .content .txt-bg-wrap {
        margin-top: 0.4rem;
    }

    .home-session-mr-thoai .main-content .right-contenet {
        width: 40%;
    }

    .home-sesion-not-contact .content-session-panda .panda {
        display: none;
    }

    .clhpar .dvs-solve-top-mask {
        padding-bottom: 55rem;
    }

    .clhpar-con {
        bottom: 15%;
    }

    .hclhpr-bot-mess {
        margin-bottom: 0;
        transform: translateY(-50%);
    }
}

.home-host-about-content .decor-sc {
    position: absolute;
    top: 1%;
    left: 9.5%;
    width: 24%;
}

.session-statistical .content-support .support .left .main-img {
    width: 100%;

    img {
        transform: translate(-10%, 5%);
    }
}

.tab-button-custom .item.active {
    pointer-events: none;
}

.host-tt {
    line-height: 1.2;
}

.host-tt .txt-bg {
    margin-top: 0.4rem !important;
}

.content-footer-col {
    display: flex;
    justify-content: center;
}

.banner .container .banner-search-form .ipt-sub {
    white-space: nowrap;
}

.list-about {
    margin-top: 3.2rem;
    max-width: 60rem;
}

.banner-background .bg-content .bg-rocket {
    bottom: 10%;
    left: 12%;
    transform: rotate(25deg);
    width: 12%;
}

@keyframes ani-galaxy {
    0% {
        transform: translateY(0vh);
    }
    
    50% {
        transform: translateY(-100vh);
    }
    0% {
        transform: translateY(0vh);
    }
}

.lms-ani-stars .star1 {
    width: 0.3rem;
    height: 0.3rem;
    background: #fff;
    position: absolute;
    animation: ani-galaxy 100s linear infinite;
    display: inline-block;
    border-radius: 50%;
}

.cir {
    transition: 1.5s ease-in-out;
}

.clhtop .seopj-info-star .text {
    color: #fff;
}

.clhbn-star,
.clhpar-star,
.clhtop-star {
    animation: unset;
}

@include min(1501px) {
    .session-about-sec .host-about-sec-head-content .the-mona-img {
        max-width: 34rem;
    }
}

@include max(1380px) {
    .clhpar-in-txt {
        margin-bottom: 2.4rem;
    }
}

@include max(1200px) {
    .banner-background .bg-content .bg-rocket {
        display: none;
    }

    .session-about-sec .host-about-sec-head-col:nth-child(1),
    .session-about-sec .host-about-sec-head-col:nth-child(2) {
        // width: 50%;
    }
    .service-hosting-inner::-webkit-scrollbar {
        display: none;
    }

    .host-tt,
    .session-about-member .header .sub {
        font-size: 2.4rem !important;
        line-height: 1.2;
    }

    .session-about-member .header .sub.bg {
        margin-top: 0.4rem;
    }

    .session-about-member .header {
        margin-top: 10rem;
    }

    .mini-cart.show-on-mobile {
        margin-left: 1.2rem;
    }

    .clhser .host-tt,
    .hclhpr .host-tt,
    .seo-item .host-tt {
        font-size: 2.2rem;
        margin-bottom: 0;
    }

    .session-statistical .content-support .support .left .main-img{
        display: block;

        img {
            transform: unset;
        }
    }

    .session-statistical .content-support .support {
        align-items: center;
    }

    .session-statistical .content-support .support .left .main-img {
        margin: 0;
    }

    .home-host-about-content .about-session .session-about-title .tt {
        font-size: 2rem;
    }
}

@include max(800px) {
    .banner .container .banner-search-form .ipt-txt {
        padding-right: 5.5rem;
    }

    .session-solution .solution-tuan-nho {
        margin-bottom: 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .session-statistical .statistical-traffic {
        padding-top: 0;
        margin-top: 0;
    }

    .session-statistical .statistical-traffic-bg{
        top: 0;
    }
    .session-about-sec .host-about-sec-head-col:nth-child(1), .session-about-sec .host-about-sec-head-col:nth-child(2) {
        width: 100%;
    }
    .clhpar .dvs-solve-top-item-img .img {
        position: absolute;
        width: calc(100% + 8rem);
        height: auto;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 60%);
    }
    
    .clhpar .dvs-solve-top-item:nth-child(3) .dvs-solve-top-item-img .img {
        width: calc(100% + 7rem);
        transform: translate(-60%, 45%) rotate(15deg);
    }
    
    .clhpar .dvs-solve-top-item:nth-child(3) .dvs-solve-top-item-img img {
        width: 100%;
        transform: unset;
    }
    
    .clhpar .dvs-solve-top-item:nth-child(2) .dvs-solve-top-item-img .img {
        width: calc(100% + 7rem);
        transform: translate(-40%, 45%) rotate(-15deg);
    }
    
    .clhpar .dvs-solve-top-item:nth-child(2) .dvs-solve-top-item-img img {
        width: 100%;
        transform: unset;
    }
}

@include max(500px) {
    .home-session-six-year-about {
        padding: 6.2rem 1.5rem;
        margin: 1.8rem 0;
        margin-top: 5.6rem;
        background: #fff;
        -webkit-mask-image: url("../assets/images/hosts/prolem-mask.png");
        mask-image: url("../assets/images/hosts/prolem-mask.png");
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        mask-position: bottom;
        -webkit-mask-position: bottom;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
    }

    .home-session-six-year-about .about-content {
        color: $textColor;
    }

    .home-session-six-year-header .six-year-intergration .content-six-year .security {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: auto hidden;
    }

    .home-session-six-year-header .six-year-intergration .content-six-year .security-content .security-content-wrap .content {
        transform: unset;
        left: 0;
    }

    .security::-webkit-scrollbar {
        display: none;
    }

    .home-session-six-year-header .six-year-intergration .content-six-year .security-content {
        width: 70vw;
        flex-shrink: 0;
    }

    .home-sesion-not-contact .content-521 .main-content .content .content-right {
        transform: translateX(72%);
    }
    .home-sesion-not-contact .content-521 .main-content .content .content-left .harmfull-programs .txt-hacker {
        left: unset;
        right: 0;
        transform: translateX(130%);
    }
    .home-sesion-not-contact .content-521 .main-content .content .content-right .error-521 .txt-web-ramdom {
        width: 100%;
        white-space: nowrap;
        min-width: max-content;
        top: 90%;
        right: -44%;
    }
    .home-sesion-not-contact .content-521 .main-content .content .main-member .main-member-img {
        margin-left: 0;
    }
    .session-bug-wrap .content .title {
        transform: translateY(0);
    }

    .home-sesion-not-contact .content-bottom {
        margin-top: 12.5rem;
    }

    .session-statistical {
        margin-top: -4.2rem;
    }

    .session-statistical .content-statistical-left-desc {
        padding-top: 0;
    }

    .session-statistical .content-statistical-left-view {
        margin-top: 1.6rem;
        border-radius: 2rem;
    }

    .session-statistical .content-statistical-left-view .img {
        max-width: 14rem;
        min-width: 12rem;
    }

    .session-statistical .content-statistical-left-view .img-detail {
        border-radius: 1.6rem;
    }

    .session-statistical .content-statistical-left-view .img .quote-view,
    .about-line-hosting {
        display: none;
    }

    .session-wordpress .wordpress-content .text-decor .content .text {
        margin-bottom: 1.6rem;
    }

    .session-line:nth-child(3) .img-decor:nth-child(2) {
        margin-top: 1.6rem;
    }

    .host-big-content .content-tt .sub,
    .session-statistical .content-statistical-right .statistical-group .main-traffic .txt-increase {
        font-size: 2.4rem;
    }

    .session-statistical .content-statistical-right .statistical-group .statistical-traffic-1 .line-increase {
        width: 20%;
        transform: translate(185%, -200%) rotate(-45deg);
    }

    .session-statistical .content-statistical-right{
        padding-top: 9rem;
    }

    .session-statistical .content-support .the-mona .desc,
    .session-statistical .content-support .support .right .desc {
        padding-top: 0;
    }

    .session-statistical .content-support .support .right {
        margin-top: 5.6rem;
    }

    .session-statistical .content-support .the-mona-right-img-main {
        width: 100%;
    }

    .session-besides-decor {
        display: none;
    }

    .session-service .session-besides-footer .txt-about {
        padding-top: 0;
    }

    .seccion-company .container .seccion-company-tt .desr {
        padding-top: 0;
    }

    .banner .container .tt {
        font-size: 3.2rem;
    }

    .clhser-tt {
        margin-bottom: 1.6rem;
    }

    .home-sesion-not-contact-wrap .content .main-member {
        padding-top: 0;
    }

    .session-bug-wrap {
        display: flex;
        flex-direction: column-reverse;
    }

    .session-bug-wrap .main-img {
        position: relative;
    }

    .session-bug-wrap .content {
        min-height: unset;
    }

    .session-service .session-besides-footer {
        padding: 0;
    }

    .home-sesion-not-contact .content-bottom .content .content-right .header {
        padding-bottom: 0;
    }

    .hclhpr .host-tt.clcenter {
        padding: 0 1.5rem;
    }

    .session-about-member .header .sub.bg,
    .session-about-member .header .tt,
    .session-news .main-content .traffic .content-left .tt,
    .session-news .main-content .traffic .content-left .sub,
    .session-news .main-content .traffic .content-footer .txt-footer,
    .session-service .session-besides-header .txt-header,
    .home-sesion-not-contact .content-521 .header .tt .fw-600,
    .home-sesion-not-contact .content-bottom .content .content-right .header .txt-bg,
    .home-sesion-not-contact-wrap .content .header-sub,
    .seo-item-tt .host-tt {
        max-width: 100%;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;
    }

    .sec-desc {
        margin-top: 1.6rem;
    }

    .home-sesion-not-contact .content-bottom .content .content-right .header .txt-bg {
        margin-left: 0;
    }

    .session-service .session-besides-header .txt-header {
        font-size: 2rem;
    }

    .solution-tuan-nho .txt-bg,
    .session-news .main-content .traffic .content-left .sub,
    .session-news .main-content .traffic .content-footer .txt-footer {
        margin-top: 0.4rem;
    }

    .session-news .main-content .traffic .content-footer {
        text-align: center;
    }

    .session-news .main-content .traffic .content-right .main {
        width: 150%;
        margin-top: 0;
    }

    .session-wordpress .wordpress-header .main-title .txt-sub {
        margin-bottom: 0;
    }

    .session-wordpress {
        margin-top: 17rem;
    }

    section .host-tt {
        margin-bottom: 1.6rem;
    }

    .host-tt .tt {
        font-size: 2.4rem;
    }

    .wordpress-content {
        padding: 0;
    }

    .host-about-sec-head-content {
        padding: 6rem 0 8rem 0;
        @include max(500px) {
            padding: 7rem 0 0 0;
        }
    }
    .swiper-service-hosting {
        margin-top: 5.6rem;
    }
    .home-host-about-content .header .title {
        max-width: 94%;
    }

    .session-service .session-pay-host .card .icon-recomment {
        top: -8%;
    }

    .session-statistical .statistical-traffic .traffic-content-desc {
        margin-top: 0.2rem;
    }

    .session-statistical .statistical-traffic .traffic-decor {
        // margin-top: 0;
    }

    .session-statistical .content-support .support .right .tt {
        line-height: 1.25;
    }

    .session-solution .solution-thoai .content-left .sub-tt {
        font-size: 2.2rem;
    }

    .session-solution .solution-hoang .content-right .sub-tt {
        width: 100%;
        max-width: max-content;
    }

    .btn-clh br {
        display: none;
    }

    .session-wordpress .wordpress-header .main-title {
        padding: 0 1.5rem;
    }

    .session-wordpress .wordpress-header .main-title .txt-sub {
        max-width: 100%;
    }

    .session-wordpress .wordpress-content .text-decor .content {
        padding: 0;
    }

    .session-wordpress .wordpress-footer {
        margin-top: 4.2rem;
        padding: 0 1.5rem;
        @include max(500px) {
            margin-top: 1.4rem;
        }
    }

    .session-wordpress .wordpress-content .session-line:first-child{
        margin-top: 0;
    }

    .sec-tt.fz-64 {
        font-size: 2.4rem;
    }

    .feedback.fix .feedback-ctn {
        margin-top: 2.4rem;
    }
    
    .service-hosting-inner {
        padding: 2.4rem 0 0 0;
    }
    .session-about-sec .host-about-sec-head-content .the-mona-img {
        max-width: 100%;
    }
    .session-solution .session-solution-backgroud {
        display: none;
    }

    .session-solution {
        background: linear-gradient(2deg, rgba(30, 194, 245, 0) 0%, rgba(30, 194, 245, 0) 0.01%, #1EC2F5 0%, #044256 59.46%);
    }

    section.session-solution {
        padding-bottom: 5.6rem;
    }

    .session-solution .solution-tuan-nho {
        margin-bottom: 0;
    }

    .session-solution .solution-tuan-nho .content-right .about .desc:last-child {
        margin-bottom: 0;
    }

    .section.feedback {
        padding: 5.6rem 0;
        padding-bottom: 0.8rem;
    }

    .feedback .splide__track {
        padding-bottom: 0;
    }

    .session-statistical .statistical-traffic .communication {
        margin-top: 3.4rem;
    }

    .session-statistical .content-support .support .right {
        padding: 0;
    }

    .session-service .option {
        padding: 0 1.5rem;
    }

    .session-service .service-hosting .head-name {
        position: absolute;
        left: 0;
        z-index: 2;
    }

    .session-service .service-hosting-wrap {
        margin-top: 5.3rem;
    }

    .host-big-content .content-footer {
        background-color: transparent;
    }

    .host-big-content .content-footer {
        max-width: 92%;
    }

    .about-session {
        margin-bottom: 4.2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .home-host-about-content .about-session .session-about-sub {
        padding-bottom: 1.6rem;
    }

    .session-news .bg-start {
        display: none;
    }

    .session-news {
        background: linear-gradient(180deg, #1EC2F5 0%, #0B4F65 48.96%, #01212C 60.42%);
    }

    .session-news .earth .main{
        mix-blend-mode: screen;
        transform: translateY(25%);
    }

    .session-news .main-content .traffic{
        margin-top: 7.2rem;
    }

    .session-wordpress .wordpress-header .main-title .txt-about{
        width: 100%;
    }

    .main-bg-cus {
        width: calc(100% + 3.2rem);
    }

    .session-wordpress .wordpress-footer .content-main .main .cloud-item{
        background-color: $hostColor;

        &.cloud-item-2 {
            background-color: $digitalColor;
        }

        &.cloud-item-4 {
            background-color: $softwareColor;
        }

        &.cloud-item-5 {
            background-color: $nhtqColor;
        }

        &.cloud-item-6 {
            background-color: $lmsColor;
        }
    }

    .session-wordpress {
        padding-bottom: 5.6rem;
    }

    .session-solar-system {
        padding: 5.6rem 0;
    }

    .session-bug {
        margin-top: 0.6rem;
    }

    .session-expert {
        margin-top: 4.2rem;
    }

    .session-make-money .make-money-wrap {
        background: #9BE7FF;
    }

    .home-session-customer {
        margin-bottom: 5.6rem;
    }

    .clhser-l{
        margin: 5.6rem 0;
        margin-bottom: 2.4rem;
    }

    .clhser-i{
        padding-bottom: 4.2rem;
    }

    .home-session-mr-thoai .background-main {
        position: relative;
    }

    .home-session-mr-thoai {
        padding: 5.6rem 0;
        padding-bottom: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .home-session-mr-thoai .main-content{
        padding: 0;
    }

    .home-session-mr-thoai .main-content .right-contenet .txt-signature {
        position: absolute;
        right: 0;
        width: 45%;
        font-size: 1.2rem;
    }

    .home-sesion-not-contact-wrap::before {
        border-radius: 0;
    }

    .home-sesion-not-contact-wrap .content {
        padding: 5.6rem 0;
    }

    .hclhpr-w {
        margin-top: 5.6rem;
        padding-bottom: 5.2rem;
    }

    .home-sesion-not-contact .content-bottom .content .content-left .decor-customer{
        top: unset;
        bottom: 0rem;
        left: 0;
    }

    .home-sesion-not-contact .content-bottom .content .content-left .decor-server-uptime {
        top: unset;
        left: unset;
        bottom: 0;
        right: 0;
    }

    .hclhpr-bot-mess.btn-clh {
        transform: translateY(-50%);
        padding: 1.5rem !important;
        border: unset;
    }

    .hclhpr-bot-mess {
        -webkit-mask-image: unset;
    }

    .home-session-six-year .cloud-img,
    .list-cloud,
    .dot-digital {
        display: none;
    }

    .home-session-six-year-footer .wrap {
        padding-top: 5.6rem;
        border-radius: 1.6rem;
    }

    .home-session-six-year-footer .wrap .header .txt-header {
        margin-bottom: 1.6rem;
    }

    .home-session-six-year-footer .wrap .header-about {
        width: 100%;
        padding: 0 1.5rem;
    }

    .home-session-six-year-footer .wrap .bottom-content .footer-content-wrap .txt-about .img-about .main-panda {
        margin-top: 0;
    }

    .home-session-six-year {
        padding-top: 17rem;
    }

    .home-session-six-year-business .business-content .about-action-project .arrow {
        left: -2.5%;
    }

    .home-session-six-year-header .six-year-intergration .content-six-year .txt-content {
        padding-top: 5.6rem;
    }

    .home-session-six-year-about .about-content .content-tt .txt-tt .txt-tt-sub {
        width: 100%;
    }

    .home-session-six-year-about .about-content{
        padding: 0;
    }

    .banner-background .bg-content .bg-cpu {
        width: 100%;
    }

    .banner-background .bg-content .bg-member {
        width: 70%;
    }

    .banner-background .bg-content .bg-cloud .bg-hand {
        left: 55%;
        width: 40%;
    }

    .banner-background .bg-content .bg-cloud .bg-hand{
        top: 55%;
    }

    .seccion-company {
        padding-top: 5.6rem;
    }

    .clhser-tt .host-tt {
        font-size: 2.2rem;
    }

    .session-service .option .items .item {
        padding: 0.8rem;
        font-size: 1.6rem;
    }

    .clhser .host-tt {
        margin-bottom: 0;
    }

    .home-session-six-year-about .about-content .content-tt .txt-tt {
        margin-bottom: 1.6rem;
    }

    .home-session-six-year-business .business-content .txt-about {
        padding-top: 1.6rem;
    }

    .hclhpr-decor {
        text-align: center;
    }

    .session-make-money .make-money-wrap .content .txt-bg-wrap {
        margin-top: 0.2rem;
    }

    .session-make-money .make-money-wrap .content .sec-tt {
        padding-bottom: 1.6rem;
    }

    .session-make-money .make-money-wrap .content .txt-sec-desc,
    .session-make-money .make-money-wrap .content .desc-24,
    .session-make-money .make-money-wrap .content .txt-x {
        margin-bottom: 1.6rem;
    }

    .session-make-money .make-money-wrap .content .mk-completed-btn{
        padding-top: 3.2rem;
    }

    .home-session-six-year-footer .wrap .bottom-content .footer-content {
        margin-top: 3.2rem;
    }

    .btn-clh {
        padding: 1.6rem;
        font-size: 1.6rem;
        width: 100%;
        justify-content: center;
    }

    .home-session-six-year-about .txt-digital {
        color: $nhtqColor;
    }
}

@include max(450px) {
    .host-page .hd .mona-logo img {
        content: url(../assets/images/logo/host-less-logo.svg);
    }

    .host-page .hd-controls {
        max-width: calc(40% - 0.2rem);
    }

    .host-page .hd-logo.col-4 {
        width: 55%;

        .mona-logo {
            width: 100%;
        }
    }

    .host-page .hd-logo.col-4 .mona-logo {
        margin-left: 0.8rem;
    }
}

.host-page {
    .session-statistical .statistical-traffic-bg {
        top: -23rem;
    }

    .session-statistical .statistical-traffic .traffic-decor-img:nth-child(2) {
        // top: -30%;
    }
}

@media only screen and (orientation: landscape) and (max-width: 1370px) {
    .host-page {
        .session-statistical .statistical-traffic {
            padding-top: 7rem;
            margin-top: 18rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .host-page {
        .session-statistical .statistical-traffic .communication {
            margin-top: -37rem;
            position: relative;
        }

        .statistical-img {
            padding-top: 8rem;
            margin-top: -9rem;
        }
    }
}

@media only screen and (max-width: 850px) {
    .host-page {
        .session-statistical .statistical-traffic .communication {
            margin-top: 0;
        }

        .session-statistical .statistical-traffic .communication {
            background-color: #fff;
        }
    }
}

@media only screen and (max-width: 500px) {
    .host-page {
        .session-statistical .statistical-traffic {
            padding-top: 0 !important;
        }

        .statistical-img {
            padding-top: 11rem;
        }

        .clhser-l {
            margin: 0;
        }

        .clhser-i:last-child {
            padding-bottom: 0;
        }
    }
}