.fadeLeft,
.fadeRight,
.fadeUp,
.fadeDown,
.fadeIn {
    @media (min-width: 1201px) {
        opacity: 0;
    }
    will-change: transform,
    opacity;
}

@keyframes float2 {
    0% {
        transform: translatey(0px) scale(1) skew(1deg);
    }
    100% {
        transform: translatey(-2rem);
        opacity: 0;
    }
}

@keyframes phoneRing {
    0% {
        transform: rotate(0) scale(1) skew(1deg) translateY(0);
    }
    10% {
        transform: rotate(-15deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(15deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-15deg) scale(1.1) skew(1deg);
    }
    40% {
        transform: rotate(15deg) scale(1.1) skew(1deg);
    }
    50% {
        transform: rotate(-15deg) scale(1) skew(1deg);
    }
    60% {
        transform: rotate(15deg) scale(1) skew(1deg);
    }
    70% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: 0;
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(100%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInLeftt {
    0% {
        transform: translateX(-50%);
        opacity: 1;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInTwo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        mix-blend-mode: hard-light;
    }
}

@keyframes blur {
    100% {
        filter: drop-shadow(0.5rem 0.5rem 5rem #ffe11f);
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-50%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInUpLetter {
    0% {
        transform: translateY(50%);
        // letter-spacing: -0.024em;
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        // letter-spacing: 0em;
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        -webkit-transform: translateY(100%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInDown {
    0% {
        -webkit-transform: translateY(-100%);
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes widthLine {
    to {
        width: 7rem;
        @media (max-width: 1200px) {
            width: 4rem;
        }
    }
}

@-webkit-keyframes widthLine {
    to {
        width: 7rem;
        @media (max-width: 1200px) {
            width: 4rem;
        }
    }
}

@keyframes widthLine12 {
    to {
        width: 4rem;
    }
}

@-webkit-keyframes widthLine12 {
    to {
        width: 4rem;
    }
}

@keyframes zoomIn {
    0% {
        // opacity: 0;
        transform: scale(0.95);
    }
    100% {
        // opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.95);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}

.effectShine {
    position: relative;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -75%;
        z-index: 2;
        display: block;
        width: 50%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
        -webkit-transform: skewX(-25deg);
        transform: skewX(-25deg);
    }
    &:hover::before {
        @media (min-width: 1201px) {
            -webkit-animation: shine 0.75s;
            animation: shine 0.75s;
        }
    }
}

@keyframes Bop {
    0%,
    100% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(1.3);
    }
}

@-webkit-keyframes Bop {
    0%,
    100% {
        -webkit-transform: scaleY(1);
    }
    50% {
        -webkit-transform: scaleY(1.3);
    }
}

.aniBop:hover img {
    @media (min-width: 1201px) {
        animation: Bop 0.4s;
        -webkit-animation: Bop 0.4s;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-30%);
    }
}

.marqueeAni {
    animation: marquee 10s linear infinite;
    -webkit-animation: marquee 10s linear infinite;
    &.marqueeAni-reverse {
        animation-direction: reverse;
    }
    &:hover {
        @media (min-width: 1201px) {
            -webkit-animation-play-state: paused;
            -moz-animation-play-state: paused;
            -o-animation-play-state: paused;
            animation-play-state: paused;
        }
    }
    &:nth-child(2) {
        animation-delay: 3s;
    }
    &:nth-child(3) {
        animation-delay: 5s;
    }
}

@keyframes letterBlink {
    0% {
        opacity: 1;
    }
    47% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;
    }
    53% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes showTopBorderTXT {
    0% {
        opacity: 0;
        font-size: 0;
        transform: translateX(-50%) scaleX(0);
    }
    5% {
        transform: translateX(-40%) scaleX(0.2);
        opacity: 1;
    }
    45% {
        transform: translateX(40%) scaleX(0.2);
    }
    49% {
        transform: translateX(50%) scaleX(0);
        opacity: 0;
        font-size: 0;
    }
    50% {
        font-size: initial;
        transform: translateX(0%) scaleX(1);
    }
    100% {
        opacity: 1;
    }
}

@keyframes borderRun-top {
    0% {
        transform: translateY(-50%) scaleX(0);
        border-top-width: 0px;
        border-bottom-width: 1px;
    }
    5% {
        transform: translateX(-40%) scaleX(0.2);
    }
    45% {
        transform: translateX(40%) scaleX(0.2);
    }
    49% {
        transform: translateX(50%) scaleX(0);
        border-top-width: 0px;
        border-bottom-width: 1px;
    }
    50% {
        transform: translateX(-50%) scaleX(0);
        border-top-width: 1px;
        border-bottom-width: 0px;
    }
    100% {
        transform: translateX(0%) scaleX(1);
    }
}

.borderRunTop {
    border-bottom: 0px solid #fff;
}

.swiper-slide-active {
    .txtAniLeft {
        animation: showTopBorderTXT 1s ease-in-out 1.1s 1 both;
    }
    .borderRunTop {
        animation: borderRun-top 1s ease-in-out 0s 1 both;
    }
}

@keyframes transformImg {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, calc(-100% + 52.7rem));
    }
}

@keyframes hearts {
    0% {
        opacity: 0;
        transform: translate(0, 0%) rotate(45deg);
    }
    20% {
        //show and hint at moving
        opacity: 0.8;
        transform: translate(0, -20%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, -1000%) rotate(45deg); //Big hearts move faster
    }
}

@keyframes anijump {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%) rotate(25deg) scale(0.8);
    }
    20% {
        opacity: 0.2;
        transform: translate(-40%, 40%) rotate(20deg) scale(0.85);
    }
    40% {
        opacity: 0.4;
        transform: translate(-30%, 30%) rotate(15deg) scale(0.9);
    }
    60% {
        opacity: 0.6;
        transform: translate(-20%, 20%) rotate(10deg) scale(0.95);
    }
    80% {
        opacity: 0.8;
        transform: translate(-10%, 10%) rotate(5deg) scale(1);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%) rotate(0deg);
    }
}

@keyframes confetti {
    0% {
        opacity: 0;
        transform: translateY(0%) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    35% {
        transform: translateY(-800%) rotate(270deg);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(2000%) rotate(1440deg);
    }
}

@keyframes marquee-slide {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(calc(-1 * var(--translate)));
    }
}

@-webkit-keyframes ani-star {
    0% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    50% {
        -webkit-transform: scale(0.5, 0.5) rotate(180deg);
        transform: scale(0.5, 0.5) rotate(180deg);
    }
    100% {
        -webkit-transform: scale(1, 1) rotate(360deg);
        transform: scale(1, 1) rotate(360deg);
    }
}

@-moz-keyframes ani-star {
    0% {
        -moz-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    50% {
        -moz-transform: scale(0.5, 0.5) rotate(180deg);
        transform: scale(0.5, 0.5) rotate(180deg);
    }
    100% {
        -moz-transform: scale(1, 1) rotate(360deg);
        transform: scale(1, 1) rotate(360deg);
    }
}

@-o-keyframes ani-star {
    0% {
        -o-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    50% {
        -o-transform: scale(0.5, 0.5) rotate(180deg);
        transform: scale(0.5, 0.5) rotate(180deg);
    }
    100% {
        -o-transform: scale(1, 1) rotate(360deg);
        transform: scale(1, 1) rotate(360deg);
    }
}

@keyframes ani-star {
    0% {
        -webkit-transform: scale(1, 1) rotate(0deg);
        -moz-transform: scale(1, 1) rotate(0deg);
        -o-transform: scale(1, 1) rotate(0deg);
        transform: scale(1, 1) rotate(0deg);
    }
    50% {
        -webkit-transform: scale(0.5, 0.5) rotate(180deg);
        -moz-transform: scale(0.5, 0.5) rotate(180deg);
        -o-transform: scale(0.5, 0.5) rotate(180deg);
        transform: scale(0.5, 0.5) rotate(180deg);
    }
    100% {
        -webkit-transform: scale(1, 1) rotate(360deg);
        -moz-transform: scale(1, 1) rotate(360deg);
        -o-transform: scale(1, 1) rotate(360deg);
        transform: scale(1, 1) rotate(360deg);
    }
}

@keyframes ani-orbital {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(-360deg);
    }
}

@keyframes ani-planet {
    0% {
        transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
    }
}

@keyframes shoot {
    0% {
        transform: rotate(calc(var(--angle) * -1deg));
    }
    5%,
    100% {
        transform: rotate(calc(var(--angle) * -1deg)) translate(calc(var(--travel) * -1vw), 0);
    }
}

@keyframes spark {
    0%,
    5%,
    100% {
        transform: scaleX(0);
    }
    1%,
    4% {
        transform: scaleX(calc(var(--trail) * -1));
    }
}

@keyframes ani-rocket {
    0%,
    100% {
        transform: translate(0.2rem, 0.2rem);
    }
    50% {
        transform: translate(0rem, 0rem);
    }
}

@keyframes ani-rocket-fire {
    0% {
        transform: translate(0rem, 0rem) scale(0) rotate(0);
        opacity: 0.4;
    }
    10% {
        transform: translate(-1rem, 1rem) scale(0.2) rotate(45deg);
        opacity: 0.8;
    }
    20% {
        transform: translate(-2rem, 2rem) scale(0.4) rotate(90deg);
        opacity: 1;
    }
    30% {
        transform: translate(-3rem, 3rem) scale(0.6) rotate(135deg);
        opacity: 1;
    }
    40% {
        transform: translate(-4rem, 4rem) scale(0.8) rotate(180deg);
        opacity: 1;
    }
    50% {
        transform: translate(-5rem, 5rem) scale(1) rotate(225deg);
        opacity: 1;
    }
    60% {
        transform: translate(-6rem, 6rem) scale(1) rotate(270deg);
        opacity: 1;
    }
    70% {
        transform: translate(-7rem, 7rem) scale(1) rotate(315deg);
        opacity: 0.9;
    }
    80% {
        transform: translate(-8rem, 8rem) scale(0.8) rotate(360deg);
        opacity: 0.7;
    }
    90% {
        transform: translate(-9rem, 9rem) scale(0.6) rotate(410deg);
        opacity: 0.5;
    }
    100% {
        transform: translate(-10rem, 10rem) scale(0.4) rotate(450deg);
        opacity: 0;
    }
}

@keyframes flicker {
    0% {
        transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
    }
    20% {
        transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
    }
    40% {
        transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -webkit-transform: rotate(-1deg);
    }
    //   60% {
    //  transform: rotate(1deg) scaleY(1.04);
    //  }
    //   80% {
    //  transform: rotate(-2deg) scaleY(0.92);
    //     -moz-transform: rotate(-2deg) scaleY(0.92);
    //     -webkit-transform: rotate(-2deg) scaleY(0.92);
    //  }
    100% {
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
    }
}

@keyframes ani-fire {
    0% {
        opacity: 0.6;
        transform: scale(0.96) rotate(-3deg);
    }
    10% {
        opacity: 0.8;
        transform: scale(1.01) rotate(-2deg);
    }
    20% {
        opacity: 0.5;
        transform: scale(0.96) rotate(-1deg);
    }
    30% {
        opacity: 0.7;
        transform: scale(1.01) rotate(0);
    }
    40% {
        opacity: 0.6;
        transform: scale(0.96) rotate(1deg);
    }
    50% {
        opacity: 0.8;
        transform: scale(1.01) rotate(2deg);
    }
    60% {
        opacity: 0.5;
        transform: scale(0.96) rotate(1deg);
    }
    70% {
        opacity: 0.7;
        transform: scale(1.01) rotate(0);
    }
    80% {
        opacity: 0.45;
        transform: scale(0.96) rotate(-1deg);
    }
    90% {
        opacity: 0.6;
        transform: scale(1.01) rotate(-2deg);
    }
}

@keyframes drain {
    0% {
        transform: scale(0.8) rotate(0deg);
        opacity: 1;
    }
    80% {
        transform: scale(0.5) rotate(90deg);
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, -300px) rotate(180deg) scale(0.2);
    }
}

@keyframes fadeInUpLetter {
    0% {
        transform: translateY(50%);
        // letter-spacing: -0.024em;
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        // letter-spacing: 0em;
        opacity: 1;
    }
}

@keyframes hearts {
    0% {
        opacity: 0;
        transform: translate(0, 0%) rotate(45deg);
    }
    20% {
        //show and hint at moving
        opacity: 0.8;
        transform: translate(0, -20%) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translate(0, -1000%) rotate(45deg); //Big hearts move faster
    }
}

@keyframes anijump {
    0% {
        opacity: 0;
        transform: translate(-50%, 50%) rotate(25deg) scale(0.8);
    }
    20% {
        opacity: 0.2;
        transform: translate(-40%, 40%) rotate(20deg) scale(0.85);
    }
    40% {
        opacity: 0.4;
        transform: translate(-30%, 30%) rotate(15deg) scale(0.9);
    }
    60% {
        opacity: 0.6;
        transform: translate(-20%, 20%) rotate(10deg) scale(0.95);
    }
    80% {
        opacity: 0.8;
        transform: translate(-10%, 10%) rotate(5deg) scale(1);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%) rotate(0deg);
    }
}

@keyframes confetti {
    0% {
        opacity: 0;
        transform: translateY(0%) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    35% {
        transform: translateY(-800%) rotate(270deg);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(2000%) rotate(1440deg);
    }
}

@keyframes marquee-slide {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(calc(-1 * var(--translate)));
    }
}

@keyframes dash2 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filling2 {
    0%,
    90% {
        fill: #7c0fd1;
        fill-opacity: 0;
    }
    100% {
        fill: #7c0fd1;
        fill-opacity: 1;
    }
}

@keyframes filling3 {
    0%,
    90% {
        fill: #2686ec;
        fill-opacity: 0;
    }
    100% {
        fill: #2686ec;
        fill-opacity: 1;
    }
}

@keyframes filling4 {
    0%,
    90% {
        fill: #f5851e;
        fill-opacity: 0;
    }
    100% {
        fill: #f5851e;
        fill-opacity: 1;
    }
}

@keyframes filling5 {
    0%,
    90% {
        fill: #fff;
        fill-opacity: 0;
    }
    100% {
        fill: #fff;
        fill-opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0;
    }
}

@keyframes ani_clippath {
    0% {
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 84%);
    }
    100% {
        clip-path: polygon(5% 0%, 100% 5%, 100% 100%, 0 84%);
    }
}

@keyframes ani_bottom {
    0% {
        bottom: 100%;
    }
    100% {
        bottom: 0;
    }
}