.btn-clh {
  padding: 1.6rem 3.2rem;
  display: inline-block;
  z-index: 1;
  box-shadow: 0.8rem 0.8rem 4rem rgba(245, 133, 30, 0.24);
  border-radius: 0.8rem;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 500;
  font-size: 1.8rem;
  width: fit-content;
  height: auto;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  border: 0.1rem solid transparent;
  cursor: pointer;
  justify-content: center;
  &:hover {
    @include min(1024px) {
      background-position: left right;
      &::after {
        transform: scale(1);
        transform-origin: center left;
      }
    }
  }
  @include max(768px) {
    font-size: 1.6rem;
    padding: 1.6rem 1rem;
  }
  @include max(425px) {
    width: 100%;
  }
  &::before {
    // border: 0.1rem solid transparent;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      100.87deg,
      #ffbe18 -38.94%,
      #ff9635 44.05%,
      #f31f10 132.4%
    );
    z-index: -1;
    transition: 0.45s ease-in-out all;
  }
  &::after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #1ec2f5 0%, #7c0fd1 77.68%);
    transition: transform 0.5s ease 0s;
    z-index: -1;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center right;
  }
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.4rem;
    height: 1.4rem;
    flex-shrink: 0;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-blue {
    &:hover {
      background-position: left right;
      opacity: 0.9;
      &::after {
        transform: scale(1);
        transform-origin: center left;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #1ec0f2;
      z-index: -1;
      transition: 0.45s ease-in-out all;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        100.87deg,
        #ffbe18 -38.94%,
        #ff9635 44.05%,
        #f31f10 132.4%
      );
      transition: transform 0.5s ease 0s;
      z-index: -1;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center right;
    }
  }
  &-transparent {
    background: transparent;
    border: 0.1rem solid rgba(58, 58, 58, 0.4);
    color: #3a3a3a;
    &:hover {
      background-position: left right;
      opacity: 0.9;
      &::after {
        transform: scale(1);
        transform-origin: center left;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: transparent;
      z-index: -1;
      transition: 0.45s ease-in-out all;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        100.87deg,
        #ffbe18 -38.94%,
        #ff9635 44.05%,
        #f31f10 132.4%
      );
      transition: transform 0.5s ease 0s;
      z-index: -1;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center right;
    }
  }
  &-white {
    background: #fff;
    border: 0.1rem solid transparent;
    color: #3a3a3a;
    &:hover {
      @include min(1024px) {
        background-position: left right;
        opacity: 0.9;
        &::after {
          transform: scale(1);
          transform-origin: center left;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: -1;
      transition: 0.45s ease-in-out all;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        100.87deg,
        #ffbe18 -38.94%,
        #ff9635 44.05%,
        #f31f10 132.4%
      );
      transition: transform 0.5s ease 0s;
      z-index: -1;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center right;
    }
  }
  &-violet {
    background: #fff;
    color: #fff;
    border: 0.1rem solid #7c0fd1;
    &:hover {
      @include min(1024px) {
        color: #7c0fd1;
        background-position: left right;
        opacity: 0.9;
        &::after {
          transform: scale(1);
          transform-origin: center left;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #7c0fd1;
      z-index: -1;
      transition: 0.45s ease-in-out all;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      transition: transform 0.5s ease 0s;
      z-index: -1;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center right;
    }
  }
  &-violet2 {
    background: #fff;
    color: #7c0fd1;
    border: 0.1rem solid transparent;
    &:hover {
      @include min(1024px) {
        color: #fff;
        background-position: left right;
        opacity: 0.9;
        &::after {
          transform: scale(1);
          transform-origin: center left;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: -1;
      transition: 0.45s ease-in-out all;
    }
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      background: #7c0fd1;
      transition: transform 0.5s ease 0s;
      z-index: -1;
      width: 100%;
      transform: scaleX(0);
      transform-origin: center right;
    }
  }
}
