@mixin fz-250 {
  font-size: 25rem;
  @media only screen and (max-width: 1200px) {
    font-size: 20rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 15rem;
  }
}

@mixin fz-200 {
  font-size: 20rem;
  @media only screen and (max-width: 1200px) {
    font-size: 15rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 10rem;
  }
}

@mixin fz-160 {
  font-size: 16rem;
  @media only screen and (max-width: 1200px) {
    font-size: 11rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 6rem;
  }
}

@mixin fz-156 {
  font-size: 15.6rem;
  @media only screen and (max-width: 1200px) {
    font-size: 10.6rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 5.6rem;
  }
}

@mixin fz-150 {
  font-size: 15rem;
  @media only screen and (max-width: 1200px) {
    font-size: 10rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 5rem;
  }
}

@mixin fz-140 {
  font-size: 14rem;
  @media only screen and (max-width: 1200px) {
    font-size: 8rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 5rem;
  }
}

@mixin fz-125 {
  font-size: 12.5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 8rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 6rem;
  }
}

@mixin fz-122 {
  font-size: 12.2rem;
  @media only screen and (max-width: 1200px) {
    font-size: 7rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 6rem;
  }
}

@mixin fz-120 {
  font-size: 11rem;
  @media only screen and (max-width: 1200px) {
    font-size: 7rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 6rem;
  }
}

@mixin fz-96 {
  font-size: 9.6rem;
  @media only screen and (max-width: 1200px) {
    font-size: 7.2rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 6rem;
  }
}

@mixin fz-72 {
  font-size: 7.2rem;
  @media only screen and (max-width: 1200px) {
    font-size: 5.2rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 4rem;
  }
}

@mixin fz-65 {
  font-size: 6.5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3rem;
  }
}

@mixin fz-64 {
  font-size: 6.4rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3.9rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.9rem;
  }
}

@mixin fz-60 {
  font-size: 6rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.5rem;
  }
}

@mixin fz-56 {
  font-size: 5.6rem;
  @media only screen and (max-width: 1200px) {
    font-size: 5.1rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 4rem;
  }
}

@mixin fz-55 {
  font-size: 5.5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 5rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3.9rem;
  }
}

@mixin fz-50 {
  font-size: 5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 4.5rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3.4rem;
  }
}

@mixin fz-48 {
  font-size: 4.8rem;
  @media only screen and (max-width: 1200px) {
    font-size: 4.3rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3.2rem;
  }
}

@mixin fz-46 {
  font-size: 4.6rem;
  @media only screen and (max-width: 1200px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3rem;
  }
}

@mixin fz-45 {
  font-size: 4.5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 4rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3rem;
  }
}

@mixin fz-42 {
  font-size: 4.2rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3.7rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3.2rem;
  }
}

@mixin fz-40 {
  font-size: 4rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3.5rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 3rem;
  }
}

@mixin fz-38 {
  font-size: 3.8rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3.3rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.8rem;
  }
}

@mixin fz-36 {
  font-size: 3.6rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3.1rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.6rem;
  }
}

@mixin fz-35 {
  font-size: 3.5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.5rem;
  }
}

@mixin fz-34 {
  font-size: 3.4rem;
  @media only screen and (max-width: 1200px) {
    font-size: 2.9rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.4rem;
  }
}

@mixin fz-32 {
  font-size: 3.2rem;
  @media only screen and (max-width: 1200px) {
    font-size: 2.7rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.2rem;
  }
}

@mixin fz-30 {
  font-size: 3rem;
  @media only screen and (max-width: 1200px) {
    font-size: 2.7rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.4rem;
  }
}

@mixin fz-28 {
  font-size: 2.8rem;
  @media only screen and (max-width: 1200px) {
    font-size: 2.4rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 2.1rem;
  }
}

@mixin fz-26 {
  font-size: 2.6rem;
  @media only screen and (max-width: 1200px) {
    font-size: 2.2rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.9rem;
  }
}

@mixin fz-25 {
  font-size: 2.5rem;
  @media only screen and (max-width: 1200px) {
    font-size: 2.1rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.8rem;
  }
}

@mixin fz-24 {
  font-size: 2.4rem;
  @media only screen and (max-width: 1200px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.7rem;
  }
}

@mixin fz-21 {
  font-size: 2.1rem;

  @media only screen and (max-width: 1200px) {
    font-size: 1.9rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.7rem;
  }
}

@mixin fz-22 {
  font-size: 2.2rem;

  @media only screen and (max-width: 1200px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.8rem;
  }
}

@mixin fz-20 {
  font-size: 2rem;

  @media only screen and (max-width: 1200px) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.6rem;
  }
}

@mixin fz-18 {
  font-size: 1.8rem;
  @media only screen and (max-width: 1200px) {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.5rem;
  }
}

@mixin fz($value) {
  @if $value <= 16 {
    font-size: $value / 19.2 + 0vw;
    @include max(1200px) {
      font-size: $value - 2px;
    }
  } @else if $value <= 30 {
    font-size: $value / 19.2 + 0vw;
    @include max(1200px) {
      font-size: $value * 0.1 - 0.1rem;
    }
    @include max(768px) {
      font-size: $value - 2px;
    }
  } @else {
    font-size: $value / 19.2 + 0vw;
    @include max(1200px) {
      font-size: $value * 0.1 - ($value - 30) * 0.06 + 0rem;
    }
    @include max(768px) {
      font-size: $value - ($value - 30) * 0.95 + 0px;
    }
  }
}
