.d-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

    &.f-stretch {
        align-items: stretch;
        -webkit-align-items: stretch;
    }

    &.f-between {
        justify-content: space-between;
        -webkit-justify-content: space-between;
    }

    &.f-center {
        align-items: center;
        -ms-align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }

    &.f-start {
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
    }

    &.f-end {
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
    }

    &.f-ctn {
        width: calc(100% + 3rem);
        margin-left: -1.5rem;

        @media(max-width: 1200px) {
            width: calc(100% + 1.5rem);
            margin-left: -0.75rem;
        }
    }
}

.col {
    padding: 0 1.5rem;

    @media(max-width: 1200px) {
        padding: 0 0.75rem;
    }
}

.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% * (2 / 12));
}

.col-3 {
    width: calc(100% * (3 / 12));
}

.col-4 {
    width: calc(100% * (4 / 12));
}

.col-5 {
    width: calc(100% * (5 / 12));
}

.col-6 {
    width: calc(100% * (6 / 12));
}

.col-7 {
    width: calc(100% * (7 / 12));
}

.col-8 {
    width: calc(100% * (8 / 12));
}

.col-9 {
    width: calc(100% * (9 / 12));
}

.col-10 {
    width: calc(100% * (10 / 12));
}

.col-11 {
    width: calc(100% * (11 / 12));
}

.col-12 {
    width: 100%;
}