@mixin mid() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
@mixin mid-flex() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

@mixin mid-flex-ctn() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    -webkit-align-items: center;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    width: calc(100% + 3rem);
    margin-left: -1.5rem;

    @media (max-width: 1200px) {
        width: calc(100% + 1.5rem);
        margin-left: -0.75rem;
    }
}

@mixin max($value) {
    @media screen and (max-width: $value) {
        @content;
    }
}

@mixin min($value) {
    @media screen and (min-width: $value) {
        @content;
    }
}

@mixin flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin flex-wr() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

@mixin flex-st() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-align-items: stretch;
    flex-wrap: wrap;
}

@mixin flex-col {
    @include flex;
    flex-direction: column;
}

@mixin flex-list($m: 0 -1.2rem, $mb: -2.4rem) {
    @include flex-wr;
    margin: $m;
    margin-bottom: $mb;
    @include max($mobile) {
        margin: 0 -0.4rem;
        margin-bottom: -0.8rem;
    }
}

@mixin flex-item($p: 0 1.2rem, $mb: 2.4rem) {
    @include flex-wr;
    padding: $p;
    margin-bottom: $mb;
    @include max($mobile) {
        padding: 0 0.4rem;
        margin-bottom: 0.8rem;
    }
}

@mixin excerpt($font-size: $paragraph-font-size, $line-height: 1.4, $lines-to-show: 3, $excerpt-bg: transparent) {
    background: $excerpt-bg;
    display: -webkit-box;
    font-size: 1.4;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin imgPd($ver, $hori) {
    display: block;
    padding-top: calc((#{$ver} / #{$hori}) * 100%);
    position: relative;
    overflow: hidden;
}

@mixin imgCover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin imgContain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@mixin lc($value: 3) {
    display: -webkit-box;
    -webkit-line-clamp: $value;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin tranform($value) {
    transform: $value;
    -webkit-transform: $value;
    -moz-transform: $value;
    -ms-transform: $value;
    -o-transform: $value;
}

@mixin transition($time: 0.1s, $style: ease-in-out, $delay: 0s) {
    transition: $time $style;
    -webkit-transition: $time $style;
    -moz-transition: $time $style;
    -ms-transition: $time $style;
    -o-transition: $time $style;
    transition-delay: $delay;
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
}

@mixin transitionRe {
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

@mixin hover($value: 1025px) {
    &:hover {
        @media screen and (min-width: $value) {
            @content;
        }
    }
}

@mixin default-background($repeat: no-repeat, $position: center, $size: cover) {
    background-repeat: $repeat;
    background-position: $position;
    background-size: $size;
}

@mixin scroll-hidden {
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin full-fixed($l: 0, $t: 0, $r: 0, $b: 0) {
    position: fixed;
    left: $l;
    top: $t;
    right: $r;
    bottom: $b;
}

@mixin full($l: 0, $t: 0, $r: 0, $b: 0) {
    left: $l;
    top: $t;
    right: $r;
    bottom: $b;
}

@mixin full-size($size: 0) {
    left: $size;
    top: $size;
    right: $size;
    bottom: $size;
}

@mixin full-second {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin hover-scale {
    transform: translate(-50%, -50%) scale(1.05);
    -webkit-transform: translate(-50%, -50%) scale(1.05);
    -moz-transform: translate(-50%, -50%) scale(1.05);
    -o-transform: translate(-50%, -50%) scale(1.05);
}

@mixin posi-vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@mixin posi-horizontal {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

@mixin hidden($x: 0, $y: 0) {
    opacity: 0;
    visibility: hidden;
    transform: translate($x, $y);
}

@mixin show {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            @content;
        }
    }
}

@mixin hover-zoom($scale: 1.05) {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
}

@mixin hover-zoom-abs($scale: 1.05) {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
}

@mixin midle($p) {
    @if $p=="abs-ver" {
        position: absolute;
        top: 50%;
        transform: translateY(0, -50%);
        -webkit-transform: translateY(0, -50%);
        -moz-transform: translateY(0, -50%);
        -o-transform: translateY(0, -50%);
    }
    @else if $p=="abs-hori" {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
    }
    @else if $p=="mid-flex" {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        -ms-align-items: center;
        align-items: center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }
    @else if $p=="mid-block" {
        margin: 0 auto;
        display: block;
    }
}

@mixin input-placeholder {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin hide-input-number {
    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        margin: 0;
    }
}

@mixin hide-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

@mixin borderArrow($p: down, $size: 5px, $color: #000) {
    width: 0;
    height: 0;
    @if ($p==left) {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
    }
    @else if ($p==right) {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
    }
    @else if ($p==down) {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
    }
    @else {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
    }
}

@mixin scroll-bar($size-w: 0.5rem, $size-h, $br: #f1f1f1, $line: #000) {
    &::-webkit-scrollbar {
        width: $size-w;
        height: $size-h;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: $br;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $line;
    }
}

@mixin pseudo() {
    content: '';
    position: absolute;
}

@mixin hover-global {
    @include hover {
        color: $color-pri;
    }
}

@mixin reset-input {
    background-color: transparent;
    width: 100%;
    @include font-pri();
    border: none;
    outline: none;
}

@mixin flex-gap($gap: 1.2rem) {
    @include flex-wr;
    gap: $gap;
}

@mixin flex-gap-item($w: 100%, $gap: 1.2rem) {
    width: calc($w - $gap);
}

@mixin txt-ln {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

@mixin item-shrink($size) {
    width: $size;
    height: $size;
    flex-shrink: 0;
    display: inline-block;
}

@mixin mb-list {
    @include max($mobile) {
        margin: 0 -0.4rem;
        margin-bottom: -0.8rem;
    }
}

@mixin mb-item {
    @include max($mobile) {
        padding: 0 0.4rem;
        margin-bottom: 0.8rem;
    }
}

@mixin br-under($color: $color-pri, $index: -2) {
    @include pseudo();
    @include full;
    background: $color;
    z-index: $index;
}

@mixin affter($color: $color-pri) {
    &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 100%;
        top: 0;
        right: 0;
        background: $color;
        transition: all 0.4s ease;
        z-index: 1;
        pointer-events: none;
    }
}

@mixin hoverAffter {
    @include hover {
        &::after {
            left: 0;
            width: 100%;
        }
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    animation:#{$str};
    -webkit-animation:#{$str};
    -moz-animation:#{$str};
    -ms-animation:#{$str};
    -o-animation:#{$str};
}

@mixin transform($args) {
    transform: $args;
    -webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
}

@mixin transform-origin($args) {
    transform-origin: $args;
    -webkit-transform-origin: $args;
    -moz-transform-origin: $args;
    -ms-transform-origin: $args;
    -o-transform-origin: $args;
}

@mixin transition-delay($args) {
    transition-delay: $args;
    -webkit-transition-delay: $args;
    -moz-transition-delay: $args;
    -ms-transition-delay: $args;
    -o-transition-delay: $args;
}
  