.preview-image {
    position: relative;
    padding: 25px;
    text-align: center;
}

.preview-image img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
}

.field-radio .form-radio {
    position: absolute;
    opacity: 0;
}

.field-radio .form-radio:checked + .mona-card {
    border: 1px solid #216ee0;
    position: relative;
}

.field-radio .form-radio:checked + .mona-card:after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background: #216fe0;
    right: 20px;
    top: 20px;
    border-radius: 100%;
    border: 3px solid #fff;
    -webkit-box-shadow: 0px 0px 0px 2px #0066ff;
    box-shadow: 0px 0px 0px 2px #0066ff;
}