#wpcontent .mona-admin-toolbar {
    box-sizing: border-box;
    margin-left: -20px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    padding-left: 32px;
}

.mona-admin-toolbar {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    position: unset;
    top: 32px;
    height: 72px;
    z-index: 800;
    background: #000000;
    color: #98A2B3;
}

@media screen and (max-width: 880px) {
    .mona-admin-toolbar {
        position: static;
    }
}

.mona-admin-toolbar .toolbar-logo {
    display: flex;
    margin-right: 24px;
    text-decoration: none;
    box-shadow: none;
    font-size: 1.2rem;
    width: 100%;
    max-width: 220px;
    color: white;
    font-weight: bold;
}

.mona-admin-toolbar .toolbar-logo img {
    display: block;
    max-width: 320px;
    line-height: 0%;
}

.toolbar-controls {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 45px;
}

.toolbar-menus .toolbar-menu-item {
    background-color: #475467;
    color: #fff;
    align-items: center;
    box-sizing: border-box;
    min-height: 40px;
    margin-right: 10px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-radius: 6px;
    text-decoration: none;
    vertical-align: text-bottom;
    cursor: pointer;
}

.toolbar-menus .toolbar-menu-item.current-page {
    font-weight: bold;
    background-color: #2271b1;
    pointer-events: none;
}