.theme-overlay .screenshot img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.mona-filter-admin .notice, 
.mona-filter-admin .updated, 
.mona-filter-admin #screen-meta {
    display: none;
}

.page-title {
    padding-bottom: 25px !important;
}

.mona-admin-main .wrap {
    width: auto;
    min-width: 1161px;
    height: auto;
    border-radius: 6px;
    padding: 25px;
    margin-top: 25px;
    margin-right: 32px;
    margin-bottom: 0;
    margin-left: 12px;
}

.mona-admin-headerbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 32px;
    z-index: 700;
    box-sizing: border-box;
    min-height: 72px;
    margin-left: -20px;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 32px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
}

.mona-row {
    --gutter-x: 2.4rem;
    --gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-0.5 * var(--gutter-x));
    margin-left: calc(-0.5 * var(--gutter-x));
}

.mona-row>* {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
}

.mona-row .mona-col-xl {
    width: 50%;
    height: auto;
    min-height: 100%;
}

.setN {
    --gutter-x: 2.4rem;
    --gutter-y: 2.4rem;
}

.mona-card {
    height: 100%;
    background-clip: padding-box;
    padding: 15px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
}

.mona-card .card-header {
    box-sizing: border-box;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #EAECF0;
}

.mona-card .card-body {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 24px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.card-footer {
    box-sizing: border-box;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EAECF0;
    padding-top: 1rem;
}

.card-header .card-title {
    color: #566a7f;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 1rem;
    margin-top: 0;
    font-size: 1.2rem;
}


.form-field .form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #d9dee3;
    border-radius: 0.375rem;
    color: #697a8d;
    display: block;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.53;
    padding: 0.4375rem 0.875rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;
}

.mona-admin-footerbar {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    z-index: 700;
    box-sizing: border-box;
    background-color: transparent;
    margin-top: 80px;
    padding: 0px 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    background-color: #fff;
}

.note-text {
    margin-top: 12px;
}

.form-submit .mona-admin-button:hover,
.form-submit .mona-admin-button:focus {
    background-color: #ba2274;
    color: #fff;
    border: none;
    box-shadow: none;
}

.form-submit .mona-admin-button {
    background-color: #f41e92 !important;
    color: #fff;
    border: none;
    padding: 4px 20px;
    font-weight: 500;
}

.form-submit .mona-admin-button.loading {
    pointer-events: none;
}

.form-submit .mona-admin-button img {
    vertical-align: middle;
}

.form-submit .mona-admin-button img {
    display: none;
}

.form-submit .mona-admin-button.loading img {
    display: inline-block;
}

#mona-toast {
    position: fixed;
    top: 72px;
    right: 32px;
    z-index: 999999;
}

.toast-wrap {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 15px 0;
    min-width: 350px;
    width: max-content;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--info {
    border-color: #2f86eb;
}

.toast--info .toast__icon {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon {
    color: #ffc021;
}

.toast--error {
    border-color: #ff623d;
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast+.toast {
    margin-top: 24px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__title {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin: 0px 0 4px 0;
}

.toast__msg {
    font-size: 14px;
    color: #888;
    margin-top: 6px;
    line-height: 1.5;
    margin: 0;
}

.toast__close {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.toast-wrap .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast-wrap .progress:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.toast--success .progress:before {
    background-color: #47d864;
}

.toast--info .progress:before {
    background-color: #2f86eb;
}

.toast--warning .progress:before {
    background-color: #ffc021;
}

.toast--error .progress:before {
    background-color: #ff623d;
}

.toast-wrap .progress:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

@media screen and (max-width: 782px) {
    .auto-fold #wpcontent {
        padding-left: 0px;
    }

    #mona-body-content {
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    }

    .mona-admin-main .wrap {
        width: 100%;
        min-width: auto;
        height: auto;
        border-radius: 0;
        padding: 0;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }

    #mona-main-template {
        padding: 15px;
    }

    .mona-row .mona-col-xl {
        width: 100%;
        margin-bottom: 25px;
    }

    .mona-admin-footerbar {
        margin-top: 25px;
    }

    .mona-admin-toolbar {
        position: revert;
        display: block!important;
        height: auto!important;
    }

    .mona-admin-toolbar .toolbar-logo {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .toolbar-controls {
        padding-left: 0!important;
    }
}


.mona-row .mona-col-xl.full {
    width: 100%;
}