.fadeLeft,
.fadeRight,
.fadeUp,
.fadeDown,
.fadeIn {
  will-change: transform, opacity;
}
@media (min-width: 1201px) {
  .fadeLeft,
.fadeRight,
.fadeUp,
.fadeDown,
.fadeIn {
    opacity: 0;
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px) scale(1) skew(1deg);
  }
  100% {
    transform: translatey(-2rem);
    opacity: 0;
  }
}
@keyframes phoneRing {
  0% {
    transform: rotate(0) scale(1) skew(1deg) translateY(0);
  }
  10% {
    transform: rotate(-15deg) scale(1) skew(1deg);
  }
  20% {
    transform: rotate(15deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-15deg) scale(1.1) skew(1deg);
  }
  40% {
    transform: rotate(15deg) scale(1.1) skew(1deg);
  }
  50% {
    transform: rotate(-15deg) scale(1) skew(1deg);
  }
  60% {
    transform: rotate(15deg) scale(1) skew(1deg);
  }
  70% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(100%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeInLeftt {
  0% {
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInTwo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    mix-blend-mode: hard-light;
  }
}
@keyframes blur {
  100% {
    filter: drop-shadow(0.5rem 0.5rem 5rem #ffe11f);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    -webkit-transform: translateX(-50%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeInUpLetter {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(100%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    -webkit-transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0.2;
  }
  30% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes widthLine {
  to {
    width: 7rem;
    @media (max-width: 1200px) {
      width: 4rem;
    }
  }
}
@-webkit-keyframes widthLine {
  to {
    width: 7rem;
    @media (max-width: 1200px) {
      width: 4rem;
    }
  }
}
@keyframes widthLine12 {
  to {
    width: 4rem;
  }
}
@-webkit-keyframes widthLine12 {
  to {
    width: 4rem;
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.95);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
.effectShine {
  position: relative;
  overflow: hidden;
}
.effectShine::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
@media (min-width: 1201px) {
  .effectShine:hover::before {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }
}

@keyframes Bop {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.3);
  }
}
@-webkit-keyframes Bop {
  0%, 100% {
    -webkit-transform: scaleY(1);
  }
  50% {
    -webkit-transform: scaleY(1.3);
  }
}
@media (min-width: 1201px) {
  .aniBop:hover img {
    animation: Bop 0.4s;
    -webkit-animation: Bop 0.4s;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}
.marqueeAni {
  animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
}
.marqueeAni.marqueeAni-reverse {
  animation-direction: reverse;
}
@media (min-width: 1201px) {
  .marqueeAni:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
}
.marqueeAni:nth-child(2) {
  animation-delay: 3s;
}
.marqueeAni:nth-child(3) {
  animation-delay: 5s;
}

@keyframes letterBlink {
  0% {
    opacity: 1;
  }
  47% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  53% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes showTopBorderTXT {
  0% {
    opacity: 0;
    font-size: 0;
    transform: translateX(-50%) scaleX(0);
  }
  5% {
    transform: translateX(-40%) scaleX(0.2);
    opacity: 1;
  }
  45% {
    transform: translateX(40%) scaleX(0.2);
  }
  49% {
    transform: translateX(50%) scaleX(0);
    opacity: 0;
    font-size: 0;
  }
  50% {
    font-size: initial;
    transform: translateX(0%) scaleX(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes borderRun-top {
  0% {
    transform: translateY(-50%) scaleX(0);
    border-top-width: 0px;
    border-bottom-width: 1px;
  }
  5% {
    transform: translateX(-40%) scaleX(0.2);
  }
  45% {
    transform: translateX(40%) scaleX(0.2);
  }
  49% {
    transform: translateX(50%) scaleX(0);
    border-top-width: 0px;
    border-bottom-width: 1px;
  }
  50% {
    transform: translateX(-50%) scaleX(0);
    border-top-width: 1px;
    border-bottom-width: 0px;
  }
  100% {
    transform: translateX(0%) scaleX(1);
  }
}
.borderRunTop {
  border-bottom: 0px solid #fff;
}

.swiper-slide-active .txtAniLeft {
  animation: showTopBorderTXT 1s ease-in-out 1.1s 1 both;
}
.swiper-slide-active .borderRunTop {
  animation: borderRun-top 1s ease-in-out 0s 1 both;
}

@keyframes transformImg {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(-100% + 52.7rem));
  }
}
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@keyframes anijump {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%) rotate(25deg) scale(0.8);
  }
  20% {
    opacity: 0.2;
    transform: translate(-40%, 40%) rotate(20deg) scale(0.85);
  }
  40% {
    opacity: 0.4;
    transform: translate(-30%, 30%) rotate(15deg) scale(0.9);
  }
  60% {
    opacity: 0.6;
    transform: translate(-20%, 20%) rotate(10deg) scale(0.95);
  }
  80% {
    opacity: 0.8;
    transform: translate(-10%, 10%) rotate(5deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@keyframes marquee-slide {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(calc(-1 * var(--translate)));
  }
}
@-webkit-keyframes ani-star {
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}
@-moz-keyframes ani-star {
  0% {
    -moz-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -moz-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -moz-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}
@-o-keyframes ani-star {
  0% {
    -o-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -o-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -o-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}
@keyframes ani-star {
  0% {
    -webkit-transform: scale(1, 1) rotate(0deg);
    -moz-transform: scale(1, 1) rotate(0deg);
    -o-transform: scale(1, 1) rotate(0deg);
    transform: scale(1, 1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(0.5, 0.5) rotate(180deg);
    -moz-transform: scale(0.5, 0.5) rotate(180deg);
    -o-transform: scale(0.5, 0.5) rotate(180deg);
    transform: scale(0.5, 0.5) rotate(180deg);
  }
  100% {
    -webkit-transform: scale(1, 1) rotate(360deg);
    -moz-transform: scale(1, 1) rotate(360deg);
    -o-transform: scale(1, 1) rotate(360deg);
    transform: scale(1, 1) rotate(360deg);
  }
}
@keyframes ani-orbital {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes ani-planet {
  0% {
    transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
  }
}
@keyframes shoot {
  0% {
    transform: rotate(calc(var(--angle) * -1deg));
  }
  5%, 100% {
    transform: rotate(calc(var(--angle) * -1deg)) translate(calc(var(--travel) * -1vw), 0);
  }
}
@keyframes spark {
  0%, 5%, 100% {
    transform: scaleX(0);
  }
  1%, 4% {
    transform: scaleX(calc(var(--trail) * -1));
  }
}
@keyframes ani-rocket {
  0%, 100% {
    transform: translate(0.2rem, 0.2rem);
  }
  50% {
    transform: translate(0rem, 0rem);
  }
}
@keyframes ani-rocket-fire {
  0% {
    transform: translate(0rem, 0rem) scale(0) rotate(0);
    opacity: 0.4;
  }
  10% {
    transform: translate(-1rem, 1rem) scale(0.2) rotate(45deg);
    opacity: 0.8;
  }
  20% {
    transform: translate(-2rem, 2rem) scale(0.4) rotate(90deg);
    opacity: 1;
  }
  30% {
    transform: translate(-3rem, 3rem) scale(0.6) rotate(135deg);
    opacity: 1;
  }
  40% {
    transform: translate(-4rem, 4rem) scale(0.8) rotate(180deg);
    opacity: 1;
  }
  50% {
    transform: translate(-5rem, 5rem) scale(1) rotate(225deg);
    opacity: 1;
  }
  60% {
    transform: translate(-6rem, 6rem) scale(1) rotate(270deg);
    opacity: 1;
  }
  70% {
    transform: translate(-7rem, 7rem) scale(1) rotate(315deg);
    opacity: 0.9;
  }
  80% {
    transform: translate(-8rem, 8rem) scale(0.8) rotate(360deg);
    opacity: 0.7;
  }
  90% {
    transform: translate(-9rem, 9rem) scale(0.6) rotate(410deg);
    opacity: 0.5;
  }
  100% {
    transform: translate(-10rem, 10rem) scale(0.4) rotate(450deg);
    opacity: 0;
  }
}
@keyframes flicker {
  0% {
    transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
  }
  20% {
    transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
  }
  40% {
    transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
  }
}
@keyframes ani-fire {
  0% {
    opacity: 0.6;
    transform: scale(0.96) rotate(-3deg);
  }
  10% {
    opacity: 0.8;
    transform: scale(1.01) rotate(-2deg);
  }
  20% {
    opacity: 0.5;
    transform: scale(0.96) rotate(-1deg);
  }
  30% {
    opacity: 0.7;
    transform: scale(1.01) rotate(0);
  }
  40% {
    opacity: 0.6;
    transform: scale(0.96) rotate(1deg);
  }
  50% {
    opacity: 0.8;
    transform: scale(1.01) rotate(2deg);
  }
  60% {
    opacity: 0.5;
    transform: scale(0.96) rotate(1deg);
  }
  70% {
    opacity: 0.7;
    transform: scale(1.01) rotate(0);
  }
  80% {
    opacity: 0.45;
    transform: scale(0.96) rotate(-1deg);
  }
  90% {
    opacity: 0.6;
    transform: scale(1.01) rotate(-2deg);
  }
}
@keyframes drain {
  0% {
    transform: scale(0.8) rotate(0deg);
    opacity: 1;
  }
  80% {
    transform: scale(0.5) rotate(90deg);
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, -300px) rotate(180deg) scale(0.2);
  }
}
@keyframes fadeInUpLetter {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes hearts {
  0% {
    opacity: 0;
    transform: translate(0, 0%) rotate(45deg);
  }
  20% {
    opacity: 0.8;
    transform: translate(0, -20%) rotate(45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, -1000%) rotate(45deg);
  }
}
@keyframes anijump {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%) rotate(25deg) scale(0.8);
  }
  20% {
    opacity: 0.2;
    transform: translate(-40%, 40%) rotate(20deg) scale(0.85);
  }
  40% {
    opacity: 0.4;
    transform: translate(-30%, 30%) rotate(15deg) scale(0.9);
  }
  60% {
    opacity: 0.6;
    transform: translate(-20%, 20%) rotate(10deg) scale(0.95);
  }
  80% {
    opacity: 0.8;
    transform: translate(-10%, 10%) rotate(5deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%) rotate(0deg);
  }
}
@keyframes confetti {
  0% {
    opacity: 0;
    transform: translateY(0%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  35% {
    transform: translateY(-800%) rotate(270deg);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(2000%) rotate(1440deg);
  }
}
@keyframes marquee-slide {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(calc(-1 * var(--translate)));
  }
}
@keyframes dash2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes filling2 {
  0%, 90% {
    fill: #7c0fd1;
    fill-opacity: 0;
  }
  100% {
    fill: #7c0fd1;
    fill-opacity: 1;
  }
}
@keyframes filling3 {
  0%, 90% {
    fill: #2686ec;
    fill-opacity: 0;
  }
  100% {
    fill: #2686ec;
    fill-opacity: 1;
  }
}
@keyframes filling4 {
  0%, 90% {
    fill: #f5851e;
    fill-opacity: 0;
  }
  100% {
    fill: #f5851e;
    fill-opacity: 1;
  }
}
@keyframes filling5 {
  0%, 90% {
    fill: #fff;
    fill-opacity: 0;
  }
  100% {
    fill: #fff;
    fill-opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
@keyframes ani_clippath {
  0% {
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 84%);
  }
  100% {
    clip-path: polygon(5% 0%, 100% 5%, 100% 100%, 0 84%);
  }
}
@keyframes ani_bottom {
  0% {
    bottom: 100%;
  }
  100% {
    bottom: 0;
  }
}
.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.d-flex.f-stretch {
  align-items: stretch;
  -webkit-align-items: stretch;
}
.d-flex.f-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
.d-flex.f-center {
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.d-flex.f-start {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.d-flex.f-end {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.d-flex.f-ctn {
  width: calc(100% + 3rem);
  margin-left: -1.5rem;
}
@media (max-width: 1200px) {
  .d-flex.f-ctn {
    width: calc(100% + 1.5rem);
    margin-left: -0.75rem;
  }
}

.col {
  padding: 0 1.5rem;
}
@media (max-width: 1200px) {
  .col {
    padding: 0 0.75rem;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

:root {
  --border-32: 3.2rem;
}

@media screen and (max-width: 1200px) {
  :root {
    --border-32: 1.6rem;
  }
}
@media screen and (max-width: 600px) {
  :root {
    --border-32: 0.8rem;
  }
}
.d-flex.f-ctn {
  width: calc(100% + 2.4rem);
  margin-left: -1.2rem;
}
@media screen and (max-width: 1200px) {
  .d-flex.f-ctn {
    width: calc(100% + 1.5rem);
    margin-left: -0.75rem;
  }
}

.col {
  padding: 0 1.2rem;
}
@media screen and (max-width: 1200px) {
  .col {
    padding: 0 0.75rem;
  }

  .mini-cart.show-on-mobile {
    margin-left: 1.2rem;
  }
}

/* .host-page .hd-controls.d-flex.f-end {
  justify-content: center;
  margin-right: 5rem;
} */

/* @media screen and (max-width: 1600px) {
  .host-page .hd-controls.d-flex.f-end {
    margin-right: 0;
    justify-content: flex-end;
  }
} */

.host-page .hd-search {
  flex: 0;
}

.host-page .hd-contact.hd-menu {
  position: absolute;
  right: 3.2rem;
  top: 50%;
  transform: translateY(-50%);
}

.host-page .hd-logo.col-4 {
  max-width: 15%;
}
@media screen and (max-width: 1600px) {
  .host-page .hd-logo.col-4 {
    max-width: 18%;
  }
}
@media screen and (max-width: 900px) {
  .host-page .hd-logo.col-4 {
    max-width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .host-page .hd-logo.col-4 {
    max-width: 70%;
  }
}
.host-page .mona-logo img {
  max-width: 100%;
  max-height: unset;
}
.host-page .hd .hd-menu .menu-item a {
  padding: 0.8rem;
}
/* .host-page .hd-menu.d-flex.f-end {
  flex: 1;
} */
.host-page .hd-contact.hd-menu .menu-item:nth-child(1) .menu-item-link {
  background-color: #7c0fd1;
}
.host-page .hd-contact.hd-menu .menu-item:nth-child(2) .menu-item-link {
  background-color: #1ec0f2;
}
.host-page .ft .f-signature .mona-logo img {
  max-width: 15.8rem;
}
.host-page .ft .mona-logo img {
  max-width: 80%;
}

@media screen and (min-width: 1201px) {
  .hd-menu .menu-item:nth-child(8) .menu-item-link:hover {
    background-color: #ffe3f2;
  }

  .hd-menu .menu-item:nth-child(9) .menu-item-link:hover {
    background-color: #dcf7ff;
  }

  .hd-contact.hd-menu .menu-item:nth-child(1) .menu-item-link:hover {
    background-color: #f9f1ff;
    box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12);
  }

  .hd-contact.hd-menu .menu-item:nth-child(2) .menu-item-link:hover {
    box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12);
    background-color: #f1f8ff;
  }
}
.breadcrumb {
  padding: 1.6rem 0;
}
.breadcrumb-item {
  font-size: 1.4rem;
}
.breadcrumb-item:last-child .breadcrumb-item-link::before {
  content: none;
}
.breadcrumb-item-link {
  display: inline-block;
  padding: 0.4rem 0;
  padding-right: 2.8rem;
  position: relative;
  transition: 0.3s;
}
.breadcrumb-item-link::before {
  content: "";
  position: absolute;
  top: 0.85rem;
  right: 1rem;
  width: 1.2rem;
  height: 1.2em;
  background: url("../assets/images/arrow-full.svg") no-repeat;
  background-size: contain;
}
.breadcrumb-item-link.current {
  color: #f5851e;
}
@media screen and (min-width: 1201px) {
  .breadcrumb-item-link:hover {
    color: #f5851e;
  }
}
.breadcrumb-item:last-child .breadcrumb-item-link {
  color: #f5851e;
}

.host-search {
  position: relative;
  padding-bottom: 10rem;
}
.host-search-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.host-btn {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  max-width: max-content;
  padding: 1rem 2rem;
  border-radius: 1.2rem;
  background-color: #f5851e;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .host-btn {
    padding: 1rem 1.6rem;
  }
}
.host-btn.host-btn-blue {
  background-color: #2686ec;
}
@media screen and (min-width: 1201px) {
  .host-btn:hover {
    box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12);
    background-color: #f1f8ff;
    color: #1ec0f2;
  }
  .host-btn:hover .host-btn-ani {
    animation: MoveUpInitial 0.3s linear forwards, MoveUpEnd 0.3s linear forwards;
  }
  .host-btn:hover .icon:nth-child(1) {
    opacity: 0;
  }
  .host-btn:hover .icon:nth-child(2) {
    opacity: 1;
  }
}
.host-btn-wrap {
  overflow: hidden;
}
.host-btn-ani {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
.host-btn-icon {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.8rem;
  flex-shrink: 0;
  position: relative;
}
.host-btn-icon .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
.host-btn-icon .icon:nth-child(2) {
  opacity: 0;
}

.host-viewmore {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-top: 2.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f5851e;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  max-width: 84rem;
}
@media screen and (min-width: 1201px) {
  .host-viewmore:hover {
    opacity: 0.7;
  }
}
.host-viewmore img {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.8rem;
}

.txt-bg {
  display: inline-block;
  background-color: #1ec0f2;
  padding: 0.4rem;
  padding-top: 0.2rem;
  color: #fff;
}

/* .host-tt {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
} */
/* @media only screen and (max-width: 1200px) {
  .host-tt {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 800px) {
  .host-tt {
    font-size: 2.1rem;
  }
} */

.host-underline {
  position: relative;
}
.host-underline.host-underline-blue::before {
  background-color: #9BE7FF;
}
.host-underline::before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 35%;
  background-color: #f5851e;
  opacity: 0.7;
}
.host-underline-txt {
  position: relative;
  z-index: 2;
}

.host-header {
  padding: 8rem 0;
}
@media screen and (max-width: 800px) {
  .host-header {
    padding: 3.2rem 0;
  }
}
.host-header-ctn {
  align-items: center;
  -webkit-align-items: center;
}
@media screen and (max-width: 1200px) {
  .host-header-ctn .host-header-col.col-7, .host-header-ctn .host-header-col.col-5 {
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .host-header-ctn .host-header-col.col-7, .host-header-ctn .host-header-col.col-5 {
    width: 45%;
  }
}
@media screen and (max-width: 800px) {
  .host-header-ctn .host-header-col.col-7, .host-header-ctn .host-header-col.col-5 {
    width: 100%;
  }
  .host-header-ctn .host-header-col.col-5 {
    margin-top: 4.2rem;
  }
}
.host-header-tt {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  overflow: hidden;
}
@media only screen and (max-width: 1200px) {
  .host-header-tt {
    font-size: 3.1rem;
  }
}
@media only screen and (max-width: 800px) {
  .host-header-tt {
    font-size: 2.6rem;
  }
}
.host-header-form .f-c {
  position: relative;
}
.host-header-form .ipt-txt {
  width: 100%;
  padding: 1.6rem 2rem;
  padding-right: 6.6rem;
  background: #FFFFFF;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  line-height: 1.7;
}
.host-header-form .ipt-txt::placeholder {
  font-size: 1.6rem;
  color: #8B8B8B;
}
.host-header-form .ipt-sub {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border-radius: 1.2rem;
  transition: 0.3s;
  background: url("../assets/images/icon-search-white.svg") no-repeat, #1ec0f2;
  background-size: 1.6rem 1.6rem;
  background-position: center;
}
@media screen and (min-width: 1201px) {
  .host-header-form .ipt-sub:hover {
    opacity: 0.7;
  }
}
.host-header-img {
  position: relative;
}
.host-header-domain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  justify-content: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.host-header-domain-item {
  width: calc(50% - 1.6rem);
}
.host-header-domain-item:nth-child(5n+1) {
  transform: translate(-2rem, 4rem);
}
@media screen and (max-width: 800px) {
  .host-header-domain-item:nth-child(5n+1) {
    transform: translate(2rem, 4rem);
  }
}
.host-header-domain-item:nth-child(5n+1) .item {
  background-color: #FFE3F2;
  color: #f41e92;
}
.host-header-domain-item:nth-child(5n+1) .item::before {
  background-color: #FFE3F2;
  left: unset;
  right: 1.5rem;
  transform: rotateY(180deg);
}
.host-header-domain-item:nth-child(5n+2) {
  transform: translateX(4rem);
}
.host-header-domain-item:nth-child(5n+2) .item {
  background-color: #7c0fd1;
}
.host-header-domain-item:nth-child(5n+4) {
  transform: translate(8rem, -4rem);
}
@media screen and (max-width: 800px) {
  .host-header-domain-item:nth-child(5n+4) {
    transform: translate(5rem, -2rem);
  }
}
.host-header-domain-item:nth-child(5n+4) .item {
  background-color: #f41e92;
}
.host-header-domain-item:nth-child(5n+4) .item::before {
  background-color: #f41e92;
}
.host-header-domain-item:nth-child(5n+3) {
  transform: translate(1rem, 5rem);
}
@media screen and (max-width: 800px) {
  .host-header-domain-item:nth-child(5n+3) {
    transform: translate(3rem, 5rem);
  }
}
.host-header-domain-item:nth-child(5n+3) .item {
  background-color: #f5851e;
}
.host-header-domain-item:nth-child(5n+3) .item::before {
  background-color: #f5851e;
  left: unset;
  right: 1.5rem;
  transform: rotateY(180deg);
}
.host-header-domain-item:nth-child(5n+5) {
  transform: translate(120%, -4rem);
}
.host-header-domain-item:nth-child(5n+5) .item {
  background-color: #DCF7FF;
  color: #1ec0f2;
}
.host-header-domain-item:nth-child(5n+5) .item::before {
  background-color: #DCF7FF;
}
.host-header-domain .item {
  padding: 1.2rem 2.4rem;
  background: #9BE7FF;
  border-radius: 1.2rem;
  min-width: 14.8rem;
  max-width: max-content;
  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.12);
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  position: relative;
  transition: 0.8s ease-in-out;
}
@media screen and (max-width: 800px) {
  .host-header-domain .item {
    min-width: 10rem;
    padding: 0.8rem 1.2rem;
  }
}
.host-header-domain .item::before {
  content: "";
  position: absolute;
  left: 1.5rem;
  top: 98%;
  width: 1.6rem;
  height: 1.2rem;
  background-color: #7c0fd1;
  -webkit-clip-path: polygon(23% 0, 0 100%, 100% 0);
  clip-path: polygon(23% 0, 0 100%, 100% 0);
}
.host-search-result {
  margin-top: 3.6rem;
  line-height: 1.2;
}
.host-search-result.correct .host-search-result-noti {
  border-color: #14EF6C;
}
.host-search-result.correct .host-search-desc {
  color: #14EF6C;
}
.host-search-result.correct .host-search-addtocart {
  display: block;
}
.host-search-result.uncorrect .host-search-result-noti {
  border-color: #E01507;
}
.host-search-result.uncorrect .host-search-desc {
  color: #E01507;
}
.host-search-result-noti {
  padding: 2.4rem 3.2rem;
  border-radius: var(--border-32);
  background: #FFFFFF;
  border: 0.1rem solid transparent;
  box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .host-search-result-noti {
    padding: 1.6rem 2rem;
    padding-bottom: 2.2rem;
  }
}
.host-search-result-noti-ctn {
  justify-content: space-between;
  gap: 0.8rem;
}
@media screen and (max-width: 1200px) {
  .host-search-result-noti-ctn {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .host-search-result-noti-ctn .host-service-price {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    line-height: 1;
  }
  .host-search-result-noti-ctn .host-service-wrap-right {
    width: 100%;
    align-items: flex-start;
  }
}
.host-search-result-noti-col {
  flex: 1;
}
.host-search-result-noti .host-service-wrap-right {
  padding: 0;
  max-width: max-content;
}
.host-search-result-desc {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}
.host-search-name {
  font-size: 3.6rem;
  font-weight: 600;
  color: #8B8B8B;
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 1200px) {
  .host-search-name {
    font-size: 3.1rem;
  }
}
@media only screen and (max-width: 800px) {
  .host-search-name {
    font-size: 2.6rem;
  }
}
.host-search-desc {
  font-size: 1.8rem;
}

.host-service {
  line-height: 1.2;
}
@media screen and (max-width: 1200px) {
  .host-service-ctn .host-service-col.col-8 {
    width: 60%;
  }
  .host-service-ctn .host-service-col.col-4 {
    width: 40%;
  }
}
@media screen and (max-width: 1025px) {
  .host-service-ctn .host-service-col.col-8 {
    width: 100%;
  }
  .host-service-ctn .host-service-col.col-4 {
    width: 100%;
  }
}
.host-service-box {
  margin-bottom: 8rem;
}
.host-service-box:last-child {
  margin-bottom: 0;
}
.host-service-list {
  max-width: 84rem;
}
@media screen and (max-width: 1200px) {
  .host-service-list {
    max-width: 100%;
  }
}
.host-service-item {
  margin-bottom: 1.6rem;
  padding: 2.4rem 3.2rem;
  background: #FFFFFF;
  border: 1px solid rgba(58, 58, 58, 0.1);
  border-radius: var(--border-32);
}
@media screen and (max-width: 1200px) {
  .host-service-item {
    padding: 2.4rem 2.4rem;
  }
}
@media screen and (max-width: 600px) {
  .host-service-item {
    padding: 1.6rem;
  }
}
.host-service-item:last-child {
  margin-bottom: 0;
}
.host-service-name {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #8B8B8B;
}
@media only screen and (max-width: 1200px) {
  .host-service-name {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 800px) {
  .host-service-name {
    font-size: 2.1rem;
  }
}
.host-service-wrap {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.host-service-wrap-left {
  width: 50%;
}
@media screen and (max-width: 600px) {
  .host-service-wrap-left {
    width: 100%;
  }
}
.host-service-wrap-right {
  width: 50%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .host-service-wrap-right {
    width: 100%;
    margin-top: 2.4rem;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
}
.host-service-tag-item {
  margin-right: 0.4rem;
  padding: 0.4rem 1.2rem;
  background-color: #F7F7F7;
  border-radius: 0.8rem;
  font-size: 1.2rem;
}
.host-service-price {
  align-items: flex-end;
  -webkit-align-items: flex-end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  margin-bottom: 1.6rem;
  line-height: 1;
}
.host-service-price .txt-small {
  font-size: 1.8rem;
}

.price-cover {
  color: #8B8B8B;
  text-decoration: line-through;
  margin-right: 0.8rem;
  font-size: 1.6rem;
}

.price-discount {
  font-size: 2.8rem;
  font-weight: 600;
  color: #1ec0f2;
}
@media only screen and (max-width: 1200px) {
  .price-discount {
    font-size: 2.4rem;
  }
}
@media only screen and (max-width: 800px) {
  .price-discount {
    font-size: 2.1rem;
  }
}

.host-package-select {
  max-width: max-content;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

.host-service-cart .select2-container {
  max-width: max-content;
}

.host-service-cart .select2-container .select2-selection--single {
  height: 3.6rem;
  background: #FFFFFF;
  border: 1px solid rgba(58, 58, 58, 0.1);
  border-radius: 0.8rem;
}

.host-service-cart .select2-container .select2-selection--single .select2-selection__rendered {
  height: 3.6rem;
  padding: 0.8rem 1.2rem;
  padding-right: 2.2rem;
  font-size: 1.4rem;
}

.host-service-cart .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3.6rem;
}

.host-service-cart .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #f5851e transparent transparent transparent;
}

.host-service-cart .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #f5851e transparent;
}

.host-service-aside {
  position: sticky;
  top: 0;
  padding-top: 5.8rem;
}
.host-service-aside-wrap {
  padding: 3.2rem;
  background: #F8FDFF;
  box-shadow: 0 0.4rem 1.2rem rgba(58, 58, 58, 0.08);
  border-radius: var(--border-32);
}
@media screen and (max-width: 1200px) {
  .host-service-aside-wrap {
    padding: 2.4rem;
  }
}
@media screen and (max-width: 550px) {
  .host-service-aside-wrap {
    padding: 1.6rem;
  }
}
.host-service-aside-tt {
  margin-bottom: 0.8rem;
}

.host-service-cart {
  margin-bottom: 2.4rem;
}
.host-service-cart-left, .host-service-cart-right {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
@media screen and (max-width: 900px) {
  .host-service-cart-left, .host-service-cart-right {
    width: 100%;
  }
}
.host-service-cart-item {
  padding: 1.6rem 0;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .host-service-cart-item {
    flex-wrap: wrap;
  }
}
.host-service-cart-item:last-child {
  padding-bottom: 0;
  border-bottom: unset;
}
.host-service-cart-item .desc {
  align-items: center;
}
.host-service-cart-item .label {
  white-space: nowrap;
}
.host-service-cart-item .name {
  font-size: 1.6rem;
  font-weight: 600;
}
.host-service-cart-item .desc {
  display: flex;
  gap: 1.6rem;
}
.host-service-cart-item .price {
  font-size: 1.6rem;
  color: #2686ec;
  font-weight: 600;
}
.host-service-cart-item .remove {
  margin-left: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
  background-color: #FFF1F0;
  transition: 0.3s;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 1201px) {
  .host-service-cart-item .remove:hover {
    background-color: #1ec0f2;
  }
  .host-service-cart-item .remove:hover img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }
}
.host-service-cart-item .remove img {
  width: 40%;
  height: 40%;
  object-fit: contain;
}

.host-service-aside-item {
  padding: 1.6rem 0;
  border-top: 1px solid rgba(58, 58, 58, 0.3);
}
.host-service-aside-item .label-small {
  font-size: 1.8rem;
  font-weight: 600;
}
.host-service-aside-item .price {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2686ec;
}
.host-service-aside-item .price.price-big {
  font-size: 2rem;
}
.host-service-aside-item .price.price-biggest {
  font-size: 2.8rem;
  color: #f5851e;
}
.host-service-aside-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem 0;
}
.host-service-aside-item-body {
  padding: 0.8rem 0;
}
.host-service-aside-item-body .item {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  color: #8B8B8B;
  padding: 0.4rem 0;
}

.host-service-aside-btn {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #2686ec;
  border-radius: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (min-width: 1201px) {
  .host-service-aside-btn:hover {
    opacity: 0.7;
  }
}

.host-service-detail {
  margin-top: 1.6rem;
  padding-top: 1.6rem;
  border-top: 1px solid rgba(58, 58, 58, 0.1);
}
.host-service-detail-header {
  font-size: 1.8rem;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
@media screen and (min-width: 1201px) {
  .host-service-detail-header:hover {
    opacity: 0.7;
  }
}
.host-service-detail-header .icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 1.6rem;
  transform: rotate(180deg);
}
.host-service-detail-list {
  margin-top: 0.8rem;
  display: none;
}
.host-service-detail-item {
  padding: 0.8rem 0;
  display: flex;
  gap: 1.6rem;
}
.host-service-detail-item:nth-child(even) {
  background-color: #F7F7F7;
}
.host-service-detail-item .name {
  flex: 1;
}
.host-service-detail-item .detail {
  width: 30%;
}

input {
  margin: 0;
}

.host-service-box.web-hosting .host-service-name {
  color: #000;
}
.host-service-box.web-hosting .host-service-wrap {
  align-items: flex-start;
}

.checkbox-cus {
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.6rem;
}
.checkbox-cus-item {
  width: calc(33.3333333333% - 1.6rem);
  cursor: pointer;
  transition: 0.3s;
  flex-wrap: nowrap;
}
@media screen and (max-width: 550px) {
  .checkbox-cus-item {
    width: calc(50% - 1.6rem);
  }
}
@media screen and (min-width: 1201px) {
  .checkbox-cus-item:hover .checkbox-cus-name {
    color: #1ec0f2;
  }
}
.checkbox-cus-name {
  font-size: 1.4rem;
  margin-left: 0.8rem;
}
.checkbox-cus-hidden {
  display: none;
}
.checkbox-cus-hidden:checked ~ .checkbox-cus-check {
  background-color: #2686ec;
}
.checkbox-cus-hidden:checked ~ .checkbox-cus-check::before {
  display: block;
}
.checkbox-cus-check {
  flex-shrink: 0;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.4rem;
  background: #FFFFFF;
  border: 1px solid rgba(58, 58, 58, 0.1);
  position: relative;
}
.checkbox-cus-check::before {
  display: none;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.2rem;
  height: 0.9rem;
  background: url("../assets/images/Icon-check.svg") no-repeat;
  background-size: contain;
}

.hl-lms {
  color: #f41e92;
}

.host-underline-lms {
  display: inline-block;
  position: relative;
}
.host-underline-lms::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.2rem;
  width: 100%;
  height: 2.6rem;
  background-color: #FFE3F2;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .host-underline-lms::before {
    height: 1.6rem;
  }
}
.host-underline-lms .txt {
  position: relative;
  z-index: 2;
}

.host-form {
  padding: 8rem 0;
  background-color: #E9F4FF;
  border-radius: 10rem 10rem 0 0;
}
@media screen and (max-width: 1200px) {
  .host-form {
    border-radius: 4.2rem 4.2rem 0 0;
  }
}
@media screen and (max-width: 1200px) {
  .host-form-ctn .host-form-col.col-7 {
    width: 55%;
  }
  .host-form-ctn .host-form-col.col-5 {
    width: 45%;
  }
}
@media screen and (max-width: 900px) {
  .host-form-ctn .host-form-col.col-7 {
    width: 100%;
  }
  .host-form-ctn .host-form-col.col-5 {
    width: 100%;
  }
}
.host-form-content {
  position: relative;
  height: 100%;
}
.host-form-tt {
  max-width: 45.6rem;
  font-size: 4rem;
  font-weight: 600;
}
@media only screen and (max-width: 1200px) {
  .host-form-tt {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .host-form-tt {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1200px) {
  .host-form-tt {
    font-size: 3rem;
    max-width: 32rem;
  }
}
.host-form-img {
  position: absolute;
  right: 25%;
  bottom: -10%;
  width: 60%;
}
@media screen and (max-width: 900px) {
  .host-form-img {
    width: 25%;
    right: 1.5rem;
    bottom: 0;
  }
}
@media screen and (max-width: 550px) {
  .host-form-img {
    display: none;
  }
}
.host-form-form {
  padding: 4rem;
  background: #FFFFFF;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.08);
  border-radius: var(--border-32);
}
@media screen and (max-width: 1200px) {
  .host-form-form {
    padding: 2.4rem;
  }
}
@media screen and (max-width: 550px) {
  .host-form-form {
    padding: 1.6rem;
  }
}
.host-form .f-r {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  margin-bottom: 2rem;
}
.host-form .f-r:last-child {
  margin-bottom: 0;
}
.host-form .f-btn .host-btn {
  width: 100%;
  max-width: 100%;
  border-radius: 0.8rem;
  height: 4.8rem;
}
.host-form .f-c {
  width: 100%;
}
.host-form .f-c.f-gender {
  max-width: max-content;
  min-width: 5.2rem;
  flex-shrink: 0;
  position: relative;
}
.host-form .f-c.f-gender ~ .f-c {
  position: relative;
}
.host-form .f-c.f-gender ~ .f-c::before {
  content: "";
  position: absolute;
  left: 0.4rem;
  top: 50%;
  height: 1.8rem;
  transform: translateY(-50%);
  border-right: 1px solid rgba(58, 58, 58, 0.1);
}
.host-form .f-c.f-gender ~ .f-c .txt-ipt {
  padding-left: 1.6rem;
}
.host-form .txt-ipt, .host-form .txt-textarea {
  width: 100%;
  padding: 1.6rem 0;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
  font-size: 1.6rem;
  height: 5.6rem;
}
.host-form .txt-ipt::placeholder, .host-form .txt-textarea::placeholder {
  color: #8B8B8B;
}
.host-form .txt-textarea {
  min-height: 12rem;
}
.host-form .select2-container {
  max-width: 100%;
}
.host-form .select2-container .select2-selection--single,
.host-form .select2-container .select2-selection--single .select2-selection__rendered {
  height: 5.6rem;
}
.host-form .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 1.6rem 0;
}
.host-form .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.5;
}
.host-form .select2-container .select2-selection--single {
  border: unset;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
  border-radius: 0;
}
.host-form .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 1.6rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}

.host-form-fill {
  width: 22.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  color: #7c0fd1;
  transform: rotate(-8deg);
  position: absolute;
  right: 12%;
  top: 5%;
}
@media screen and (max-width: 1200px) {
  .host-form-fill {
    font-size: 1.4rem;
    width: 18rem;
    top: 20rem;
    right: 20%;
  }
}
@media screen and (max-width: 900px) {
  .host-form-fill {
    display: none;
  }
}
.host-form-fill-wrap {
  position: relative;
}
.host-form-fill-wrap::before {
  content: "";
  position: absolute;
  top: -5rem;
  left: -3rem;
  width: calc(100% + 10rem);
  height: 30rem;
  transform: rotate(8deg);
  background: url("../assets/images/host-form-fill-line.png") no-repeat;
  background-size: contain;
}
@media screen and (max-width: 1200px) {
  .host-form-fill-wrap::before {
    top: -4rem;
    width: calc(100% + 8rem);
  }
}

.ft-label {
  color: #1ec0f2;
}

.hot-line-call,
.hd-menu-info {
  color: #1ec0f2;
}

.ft .hd-menu-info-f .label {
  color: #3A3A3A;
}

@media screen and (max-width: 900px) {
  .ft-col.col-3 {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 768px) {
  .ft-col.col-3 {
    width: 50%;
  }

  .ft-license-row.d-flex.f-ctn {
    flex-wrap: wrap;
  }
  .ft-license-row.d-flex.f-ctn .ft-license-col {
    width: 100%;
  }

  .host-page .ft .mona-logo img {
    max-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .ft .hd-menu-info-f {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 365px) {
  .ft-col.col-3 {
    width: 100%;
  }
}
.popup-account {
  position: fixed;
  z-index: 905;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.popup-account.active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
@media screen and (max-width: 850px) {
  .popup-account-ctn {
    min-height: calc(var(--vh, 1vh) * 100 - 1.6rem);
  }
}
.popup-account-wrap {
  width: 110rem;
  max-width: calc(100vw - 3.2rem);
  max-height: calc(var(--vh, 1vh) * 100 - 1.6rem);
  overflow: hidden auto;
  background-color: #DCF7FF;
  border-radius: 4rem;
  overflow: hidden auto;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .popup-account-wrap {
    border-radius: 2.4rem;
  }
}
@media screen and (max-width: 850px) {
  .popup-account-wrap {
    border-radius: 1.6rem;
    min-height: calc(var(--vh, 1vh) * 100 - 1.6rem);
  }
}
.popup-account-close {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0.8rem;
}
@media screen and (max-width: 1200px) {
  .popup-account-close {
    top: 1.2rem;
    right: 1.2rem;
    width: 3.2rem;
    height: 3.2rem;
  }
}
@media screen and (min-width: 1201px) {
  .popup-account-close:hover {
    background-color: #1ec0f2;
  }
  .popup-account-close:hover img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }
}
.popup-account-col {
  padding: 6rem 8rem;
}
@media screen and (max-width: 1200px) {
  .popup-account-col {
    padding: 4.8rem;
  }
}
@media screen and (max-width: 850px) {
  .popup-account-col {
    padding: 2.4rem;
    width: 100% !important;
  }
}
.popup-account-col:nth-child(1) {
  padding-bottom: 4.2rem;
}
.popup-account-col:nth-child(2) {
  background-color: #fff;
}
.popup-account-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.popup-account-form-tab {
  padding: 0.8rem;
  background-color: #DCF7FF;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  border-radius: 0.8rem;
}
.popup-account-form-tab .tab-item {
  padding: 0.8rem;
  width: calc(50% - 0.2rem);
  border-radius: 0.4rem;
  font-size: 1.6rem;
  color: #2686ec;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
.popup-account-form-tab .tab-item.active {
  background-color: #1ec0f2;
  color: #fff;
  font-weight: 700;
}
.popup-account-form-panel {
  margin-top: 2rem;
  flex: 1;
}
.popup-account-form-panel .tab-panel-item {
  display: none;
  height: 100%;
}
.popup-account-form-panel .tab-panel-item.active {
  display: block;
}
.popup-account-form-panel .tab-panel-item .form-cus {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.popup-account-form .f-r {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  margin-bottom: 0.8rem;
}
.popup-account-form .f-r:last-child {
  margin-bottom: 0;
}
.popup-account-form .f-btn {
  margin-top: 4.8rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  flex: 1;
}
.popup-account-form .f-btn .host-btn {
  max-width: 100%;
  width: 100%;
  height: 4.8rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
}
.popup-account-form .f-forgot {
  justify-content: space-between;
  margin-top: 3.2rem;
}
.popup-account-form .f-forgot .f-c {
  max-width: max-content;
}
.popup-account-form .f-forgot .checkbox-cus-item {
  width: 100%;
  align-items: center;
}
.popup-account-form .f-forgot .checkbox-cus-name {
  font-size: 1.6rem;
}
.popup-account-form .f-forgot .forgot-password {
  transition: 0.3s;
  cursor: pointer;
  color: #2686ec;
}
@media screen and (min-width: 1201px) {
  .popup-account-form .f-forgot .forgot-password:hover {
    color: #1ec0f2;
  }
}
.popup-account-form .f-has {
  justify-content: flex-start;
  margin-top: 2rem;
  font-size: 1.4rem;
}
.popup-account-form .f-has .hl-sec {
  transition: 0.3s;
  cursor: pointer;
}
@media screen and (min-width: 1201px) {
  .popup-account-form .f-has .hl-sec:hover {
    color: #1ec0f2;
  }
}
.popup-account-form .f-c {
  width: 100%;
  position: relative;
}
.popup-account-form .f-c .password-eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}
.popup-account-form .f-c .fal {
  opacity: 0.7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-account-form .f-c .fal-2 {
  opacity: 0;
}
.popup-account-form .txt-ipt {
  width: 100%;
  padding: 1.6rem 0;
  height: 5.6rem;
  border-bottom: 1px solid rgba(58, 58, 58, 0.1);
  font-size: 1.6rem;
  color: #3A3A3A;
}
.popup-account-form .txt-ipt::placeholder {
  color: #8B8B8B;
}
.popup-account-mona {
  font-size: 15rem;
  font-weight: 700;
  color: #f5851e;
  position: relative;
  line-height: 1.2;
  max-width: max-content;
}
@media only screen and (max-width: 1200px) {
  .popup-account-mona {
    font-size: 10rem;
  }
}
@media only screen and (max-width: 800px) {
  .popup-account-mona {
    font-size: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .popup-account-mona {
    font-size: 14rem;
  }
}
@media screen and (max-width: 850px) {
  .popup-account-mona {
    font-size: 8rem;
  }
}
.popup-account-mona .hello {
  display: inline-block;
  position: absolute;
  top: -1rem;
  right: -2.2rem;
  font-size: 6rem;
  font-weight: 800;
  color: #3A3A3A;
}
@media only screen and (max-width: 1200px) {
  .popup-account-mona .hello {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 800px) {
  .popup-account-mona .hello {
    font-size: 2.5rem;
  }
}
.popup-account-address {
  margin-top: 1.6rem;
}
.popup-account-address .item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  justify-content: flex-start;
  padding: 0.4rem 0;
}
.popup-account-address .item .icon {
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  margin-right: 1.8rem;
}
.popup-account-img {
  position: relative;
  transform: translateY(4rem);
  max-width: 28.8rem;
  margin-left: auto;
  margin-right: 3.2rem;
}
@media screen and (max-width: 850px) {
  .popup-account-img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 550px) {
  .popup-account-img {
    max-width: 50%;
  }
}

.hotline-ab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hotline-ab-item {
  background: #7c0fd1;
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.12);
  padding: 1.2rem 2.4rem;
  border-radius: 2.4rem;
  font-size: 1.4rem;
  color: #fff;
  text-align: center;
  max-width: max-content;
  position: relative;
}
@media screen and (max-width: 550px) {
  .hotline-ab-item {
    border-radius: 0.8rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
  }
}
.hotline-ab-item::before {
  content: "";
  position: absolute;
  left: 1.5rem;
  top: 98%;
  width: 1.6rem;
  height: 1.2rem;
  background-color: #7c0fd1;
  -webkit-clip-path: polygon(23% 0, 0 100%, 100% 0);
  clip-path: polygon(23% 0, 0 100%, 100% 0);
}
.hotline-ab-item:nth-child(1) {
  transform: translateX(110%);
}
@media screen and (max-width: 550px) {
  .hotline-ab-item:nth-child(1) {
    transform: translate(10rem, -3rem);
  }
}
.hotline-ab-item:nth-child(2) {
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 550px) {
  .hotline-ab-item:nth-child(2) {
    transform: translate(-8rem, -6rem);
  }
}
.hotline-ab-item:nth-child(2)::before {
  left: unset;
  right: 1.5rem;
  transform: rotateY(180deg);
  background-color: #f41e92;
}
.hotline-ab-item:nth-child(3) {
  transform: translate(-50%, 40%);
}
@media screen and (max-width: 550px) {
  .hotline-ab-item:nth-child(3) {
    transform: translate(-8rem, -3rem);
  }
}
.hotline-ab-item:nth-child(3)::before {
  left: unset;
  right: 1.5rem;
  transform: rotateY(180deg);
  background-color: #f5851e;
}
.hotline-ab-item:nth-child(5n+2) {
  background-color: #f41e92;
}
.hotline-ab-item:nth-child(5n+3) {
  background-color: #f5851e;
}
.hotline-ab-item .gt {
  font-size: 1.6rem;
  font-weight: 600;
}
@media screen and (max-width: 550px) {
  .hotline-ab-item .gt {
    font-size: 1.4rem;
  }
}

.tab-panel {
  display: none;
}
.tab-panel.active {
  display: block;
}

/*# sourceMappingURL=host.css.map */
