@import "./core/font.scss";
@import "./core/mixin.scss";

$softwareColor: #2686ec;
$hostColor: #1ec0f2;
$digitalColor: #7c0fd1;
$digitalDeepColor: #4A1674;
$lmsColor: #f41e92;
$nhtqColor: #f5851e;

$textColor: #3A3A3A;
$textColor-2: #8B8B8B;
$textColor-3: #5F5F5F;
$greenColor: #0DBA35;
$tomatoColor: #FF4B26;
$blueColor: #167EE6;

.txt-bg-wrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: max-content;

    @include max(600px) {
        width: 100%;
        max-width: max-content;
    }

    &.txt-saying {
        font-family: 'SVN-Just Saying', sans-serif;
        @include fz-32;
        line-height: 1.2;
    }
}

.bg-big {
    padding: 4.8rem;
    background: linear-gradient(100.87deg, #FFA318 -38.94%, #F7851C 44.05%, #F31F10 132.4%);
    border-radius: 2.4rem;
    font-size: 3.2rem;
    width: calc(100% * (10 / 12));
    margin: 0 auto;

    @include max(1200px) {
        font-size: 2.4rem;
        border-radius: 1.6rem;
    }

    @include max(900px) {
        width: 100%;
        font-size: 1.8rem;
    }

    @include max(768px) {
        padding: 2.4rem;
        border-radius: 1.6rem;
        font-size: 1.6rem;
    }

    &-txt {
        margin-bottom: 2.4rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.txt-t {
    width: 5rem;

    @include max(768px) {
        width: 2.4rem;
    }
}

.txt-bg {
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: 0.8rem 1.6rem;
    color: #fff;
    box-shadow: 0 1.6rem 4rem -1rem rgba(50, 50, 93, 0.32), 0 0.8rem 2.4rem -1.5rem rgba(0, 0, 0, 0.24), inset 0 0.1rem 0.1rem rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    margin: 0.2rem 0;
    margin-left: 0;

    @include max(600px) {
        width: 100%;
        max-width: max-content;
    }

    &-ani {
        background: transparent !important;
        box-shadow: unset;
        position: relative;

        &.active {
            &::before {
                width: 100%;
            }
        }

        &.bg-digital {
            &::before {
                background-color: $digitalColor;
            }
        }

        &.bg-lms {
            &::before {
                background-color: $lmsColor;
            }
        }

        &.bg-nhtq {
            &::before {
                background-color: $nhtqColor;
            }
        }

        &.bg-software {
            &::before {
                background-color: $softwareColor;
            }
        }

        &.bg-host {
            &::before {
                background-color: $hostColor;
            }
        }

        &.bg-white {
            &::before {
                background-color: #fff;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 0;
            height: 100%;
            transition: 0.5s ease-in-out;
            background-color: $digitalColor;
            border-radius: 0.8rem;
            box-shadow: 0 1.6rem 4rem -1rem rgba(50, 50, 93, 0.32), 0 0.8rem 2.4rem -1.5rem rgba(0, 0, 0, 0.24), inset 0 0.1rem 0.1rem rgba(255, 255, 255, 0.1);
        }

        .txt {
            position: relative;
            z-index: 2;
        }
    }

    &.txt-bg-win {
        border: 1px solid $digitalColor;
        border-radius: 0.8rem;
        @include fz-32;
        color: $digitalColor;
    }
}

.bg-nhtq {
    background-color: $nhtqColor;
}

.bg-host {
    background-color: $hostColor;
}

.bg-software {
    background-color: $softwareColor;
}

.bg-digital {
    background-color: $digitalColor;
}

.bg-lms {
    background-color: $lmsColor;
}

.bg-red {
    background-color: #E01507;
}

.bg-white {
    background-color: #fff;
    color: $digitalColor;
}

.txt-digital {
    color: $digitalColor;
}

.txt-lms {
    color: $lmsColor;
}

.txt-nhtq {
    color: $nhtqColor;
}

.txt-host {
    color: $hostColor;
}

.txt-ita {
    font-style: italic;
}

.txt-redirect {
    position: absolute;

    @include min(1201px) {
        white-space: nowrap;
    }

    img {
        object-fit: contain;
    }

    .img {
        width: 12.6rem;
        margin: 0 auto;
        margin-right: 0;

        @include max(1200px) {
            width: 7.2rem;
        }
    }

    .txt {
        font-family: 'SVN-Just Saying', sans-serif;
        @include fz-32;
        text-align: center;
        color: #fff;
        font-weight: 400;
        line-height: 1.2;

        @include max(1200px) {
            font-size: 1.6rem;
        }
    }
}

.txt-nhtq {
    color: $nhtqColor;
}

.txt-x {
    @include mid-flex();
    gap: 0.8rem;
    max-width: max-content;
    margin: 1.6rem auto 3.2rem auto;

    font-size: 1.8rem;
    color: $textColor-3;
    line-height: 1.5;

    .txt-bg {
        @include fz-40;
        font-weight: 700;
        line-height: 1.3;
        margin: 0;
        padding: 0.8rem;
    }
}

.txt-round {
    width: max-content;
    margin: 0 auto;
    padding: 1.8rem 3.2rem;
    position: relative;

    // &::before {
    //     content: "";
    //     @include mid();
    //     width: 100%;
    //     height: 100%;
    //     background: url("../assets/images/dvs/txt-round-img.svg") no-repeat;
    //     background-position: center;
    //     background-size: contain;
    // }

    &-ani {
        content: "";
        @include mid();
        width: 100%;
        height: 100%;

        .svg-elem-1 {
            stroke-dashoffset: 912.9127197265625px;
            stroke-dasharray: 912.9127197265625px;
            -webkit-transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
        }
  
        svg.active  .svg-elem-1 {
            stroke-dashoffset: 0;
        }
    }
}

.hl-host {
    color: $hostColor;
}

.hl-lms {
    color: $lmsColor;
}

.hl-software {
    color: $softwareColor;
}

.hl-nhtq {
    color: $nhtqColor;
}

.hl-white {
    color: #fff;
}

.redirect-nhtq {
    width: 9rem;

    @include max(1200px) {
        width: 4.8rem;
    }
}

.txt-quote {
    max-width: max-content;

    &.w_290 {
        .txt-quote-wrap {
            width: 29rem;

            @include max(1200px) {
                width: 14rem;
            }

            .txt {
                color: $textColor;
                top: 3.2rem;
                left: 50%;
                transform: translateX(-50%) rotate(4.38deg);

                @include max(1200px) {
                    top: 1.2rem;
                    padding: 0 1.2rem;
                }
            }
        }
    }

    &.w_596 {
        .txt-quote-wrap {
            width: 59.6rem;
            font-size: 3.2rem;

            @include max(1200px) {
                font-size: 1.5rem;
                width: 30rem;
            }

            .txt {
                color: $textColor;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) rotate(-13deg);
            }
        }
    }

    &-wrap {
        width: 42.4rem;
        position: relative;

        @include fz-24;
        text-align: center;
        color: $textColor-2;

        @include max(1200px) {
            font-size: 1.5rem;
            width: 30rem;
        }

        @include max(768px) {
            font-size: 1.3rem;
            width: 25rem;
        }

        .txt {
            @include mid();
            left: 47%;
            top: 3.6rem;
            transform: translateX(-50%) rotate(-2.69deg);
            width: 100%;
            padding: 0 4.2rem;
            z-index: 2;
            overflow: hidden;

            @include max(768px) {
                padding: 0 2.4rem;
                top: 2.4rem;
            }

            &-ani {
                @include min(1201px) {
                    opacity: 0;
                    transform: translateY(100%);
                    transition: 0.7s linear;
    
                    &.active {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

.txt-upper {
    text-transform: uppercase;
}