// core
@import "./core/font.scss";
@import "./core/mixin.scss";
@import "./core/grid.scss";
// COLOR OLD

$softwareColor: #2686ec;
$hostColor: #1ec0f2;
$digitalColor: #7c0fd1;
$lmsColor: #f41e92;
$nhtqColor: #f5851e;
$textColor: #3a3a3a;
$textColor-2: #8b8b8b;

.host-tt {
  @include fz-40;
  font-weight: 600;
}

// components
@import "./components/test-component";
@import "./components/mini-cart";

// pages
@import url("../assets/fonts/UTM-Bebas/stylesheet.css");

// pages
@import "./pages/test-page";
@import "./pages/fix-home.scss";
@import "./pages/cloud-hosting.scss";
@import "./pages/update-page-home.scss";
@import "./core/btn-clh.scss";
@import "./pages/premiumVPS.scss";
@import "./pages/about.scss";

// fix
@import "./fix/fix-cloud-hosting";
@import "./fix/fix-vps-page";
@import "./fix/fix-final-home-page";
@import "./fix/fix-vps";
