.mini-cart {
    position: relative;

    &.show-on-mobile {
        display: none;

        @include max(1200px) {
            display: block;
        }

        .menu-item-link {
            width: 3.2rem;
            height: 3.2rem;
            border-radius: 0.3rem;

            .icon {
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        .mini-cart-qty {
            width: 1.8rem;
            height: 1.8rem;
            font-size: 1.2rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        right: 0;
        width: calc(100% + 3rem);
        height: 1.6rem;
        background-color: transparent;
    }

    .menu-item-link {
        @include mid-flex();
        width: 4rem;
        height: 4rem;
        background-color: $hostColor;
        border-radius: 0.8rem;

        .icon {
            width: 1.6rem;
            height: 1.6rem;
        }
    }

    .mini-cart-qty {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        background-color: $lmsColor;
        @include mid-flex();

        font-size: 1.4rem;
        color: #fff;
    }

    // &:hover {
    //     .c-popup {
    //         opacity: 1;
    //         visibility: visible;
    //         pointer-events: auto;
    //         top: calc(100% + 0.8rem);
    //     }
    // }
}

.c-popup {
    position: fixed;
    z-index: 1000;
    top: 8rem;
    right: 3.2rem;
    height: auto;
    max-height: calc(100vh - 16rem);
    transform: translateX(calc(100% + 3.2rem));
    transition: 0.3s linear;
    pointer-events: none;

    @include max(1200px) {
        right: 0.8rem;
        top: 0.8rem;
        max-height: calc(100vh - 1.6rem);
        transform: translateX(calc(100% + 0.8rem));
    }

    &.active {
        transform: translateX(0%);
        pointer-events: auto;
    }

    &-wrap {
        position: relative;
        height: 100%;
        max-height: calc(100vh - 1.6rem);
        min-width: 36rem;
        width: 40rem;

        @include max(600px) {
            width: calc(100vw - 1.6rem);
        }
    }
    
    .host-service-aside-wrap {
        overflow: hidden auto;
        height: 100%;
        max-height: calc(100vh - 1.6rem);
        border-radius: 1.6rem;
        box-shadow: 0 0.4rem 3rem rgba(0,0,0,0.16);
        padding: 1.6rem;

        @include max(1200px) {
            border-radius: 0.8rem;
        }
    }

    .host-service-cart {
        margin-bottom: 1.6rem;
    }

    .host-service-cart-item,
    .host-service-aside-item,
    .host-service-aside-item-header {
        padding: 0.4rem 0;
    }

    .host-service-aside-item-body {
        padding-top: 0.2rem;
    }

    .host-service-aside-item .label-small {
        font-size: 1.6rem;
    }

    .host-service-aside-item .price.price-big,
    .host-service-aside-item .price.price-biggest,
    .host-service-aside-tt {
        font-size: 1.8rem;
    }

    .host-service-aside-tt {
        @include mid-flex();
        justify-content: space-between;
        gap: 0.4rem;

        .close-modal {
            display: block;
            width: 2.4rem;
            height: 2.4rem;
            border-radius: 0.4rem;
            border: 0.1rem solid rgba(0,0,0,0.7);
            cursor: pointer;
            transition: 0.3s;
            @include mid-flex();

            &:hover {
                @include min(1201px) {
                    border-color: $hostColor;
                    .fas {
                        color: $hostColor;
                    }
                }
            }

            .fas {
                transition: 0.3s;
                font-weight: 300;
            }
        }
    }

    .host-service-cart-item .name,
    .host-service-cart-item .desc,
    .host-service-cart-item .price,
    .host-service-aside-item-body,
    .c-popup .host-service-aside-item .label-small {
        font-size: 1.4rem;
    }

    .host-service-aside-item-body {
        .d-flex.f-start {
            flex-wrap: nowrap;
        }

        .checkbox-cus-name {
            margin-top: -0.2rem;
        }

        .checkbox-cus-item{
            width: calc(50% - 1.6rem);
        }
    }
}

.host-page .hd-contact.hd-menu .menu-item:nth-child(1).mini-cart .menu-item-link {
    background-color: $hostColor;
    overflow: visible;

    &:hover {
        @include min(1201px) {
            background-color: #f9f1ff;
            box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12);
        }
    }
}

.host-page .hd .hd-menu .menu-item a {
    padding: 1.2rem;
}

.host-page .hd-controls.d-flex.f-end {
    justify-content: center;
    margin-right: 10rem;
}

.hd-contact.hd-menu .menu-item.mini-cart .menu-item-link-icon,
.hd-menu .menu-item.mini-cart .menu-item-link .icon {
    margin-right: 0;
}

@media only screen and (orientation: landscape) and (max-width: 1370px) {
    .host-page .hd-controls.d-flex.f-end {
        margin-right: 8rem;
        justify-content: center;
    }
}

@media only screen and (max-width: 1200px) {
    .host-page .hd-controls.d-flex.f-end {
        margin-right: 0;
        justify-content: flex-end;
    }
}