.ft {
    padding: 8rem 0;
    background-color: #fff;
    
    @include max(1200px) {
        padding: 5.6rem 0;
    }

    @include max(450px) {
        font-size: 1.4rem;
    }

    .hd-menu-info {
        font-size: 1.4rem;

        &-f {
            margin-bottom: 1.6rem;

            &:last-child {
                margin-bottom: 0;
            }

            .icon {
                flex-shrink: 0;
                width: 2.4rem;
                height: 2.4rem;
                margin-right: 0.8rem;

                img {
                    object-fit: contain;
                }
            }

            .d-flex {
                flex-direction: column;
                -webkit-flex-direction: column;
            }

            .label {
                display: inline-block;
                margin-bottom: 0.8rem;
            }

            .link-h {
                transition: 0.3s;
                &:hover {
                    @include min(1201px) {
                        color: $nhtqColor;
                    }
                }
            }
        }
    }

    &-row {
        margin-bottom: -4rem;

        @include max(1200px) {
            margin-bottom: -2.4rem;
        }
    }

    &-col {
        margin-bottom: 4rem;

        @include max(1200px) {
            width: 50%;
            margin-bottom: 2.4rem;
        }

        @include max(360px) {
            width: 100%;
        }

        &.col-6 {
            @include max(1200px) {
                width: 100%;
            }

            @include max(600px) {
                &.contact-col .ft-menu-list-col {
                    width: 100%;
                }
            }

            .ft-menu-list {
                width: calc(100% + 2.4rem);
                margin-left: -1.2rem;

                @include max(1200px) {
                    width: calc(100% + 1.5rem);
                    margin-left: -0.75rem;
                }

                @include max(768px) {
                    width: calc(100% + 0.8rem);
                    margin-left: -0.4rem;
                }
            }
            
            .ft-menu-list-col {
                width: 50%;
                padding: 0 1.2rem;

                @include max(1200px) {
                    padding: 0 0.75rem;
                }

                @include max(768px) {
                    padding: 0 0.4rem;
                }

                @include max(360px) {
                    width: 100%;
                }
            }

            .hd-menu-info {
                padding: 0;
                display: block;

                p.d-flex {
                    flex-wrap: nowrap;
                    -webkit-flex-wrap: nowrap;
                    margin-bottom: 2.4rem;

                    @include max(1200px) {
                        br {
                            display: none;
                        }
                    }

                    a {
                        transition: 0.3s;

                        &:hover {
                            @include min(1201px) {
                                color: $nhtqColor;
                            }
                        }
                    }
                }
            }

            .social-list {
                opacity: 0.5;
            }
        }

        &.solution-col {
            .ft-row {
                width: calc(100% + 2.4rem);
                margin-left: -1.2rem;

                @include max(1200px) {
                    width: calc(100% + 1.5rem);
                    margin-left: -0.75rem;
                }

                @include max(768px) {
                    width: calc(100% + 0.8rem);
                    margin-left: -0.4rem;
                }
            }
        }
    }

    &-label {
        font-size: 1.8rem;
        font-weight: 600;
        color: $digitalColor;
        margin-bottom: 1.6rem;

        @include max(1200px) {
            font-size: 1.6rem;
        }

        @include max(450px) {
            font-size: 1.5rem;
        }
    }

    &-menu {
        font-size: 1.4rem;
        &-list {
            &-col {
                width: 100%;
            }
        }
        &-item {
            &.current-menu-item a {
                font-weight: 600;
                color: $nhtqColor;
            }

            a {
                display: block;
                padding: 0.8rem 0;
                transition: 0.3s;

                @include max(1200px) {
                    padding: 0.4rem 0;
                }

                &:hover {
                    color: $nhtqColor;
                }
            }
        }
    }

    &-corp {
        padding: 4.2rem 0;
        margin: 4rem 0;
        background-color: #F7F7F7;
        position: relative;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.2rem;
            left: 0;
            background: url("../assets/images/Line-201.png") no-repeat;
            background-size: 100% 100%;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: -0.1rem;
        }

        @include max(1200px) {
            padding: 2.4rem 0;
            margin: 2.4rem 0;
            border-top: 0.1rem dotted #979797;
            border-bottom: 0.1rem dotted #979797;

            @include max(768px) {
                padding-top: 3.4rem;
            }

            &::before, &::after {
                content: none;
            }

            .ft-corp-col {
                &.col-5 {
                    width: 60%;
                }
                
                &.col-7 {
                    width: 40%;
                }
            }
        }

        @include max(768px) {
            .d-flex.f-ctn {
                flex-direction: column;
                -webkit-flex-direction: column;

                .ft-corp-col {
                    width: 100%;

                    &:nth-child(1) {
                        margin-bottom: 1.2rem;
                    }

                    .mona-logo,
                    .ft-corp-img-item {
                        justify-content: flex-start;
                        -webkit-justify-content: flex-start;
                    }
                }
            }
        }

        .d-flex {
            align-items: center;
            -webkit-align-items: center;
        }

        &-img {
            width: calc(100% + 2.2rem);
            margin-left: -1.1rem;
            justify-content: flex-end;
            -webkit-justify-content: flex-end;

            @include max(1200px) {
                width: calc(100% + 1rem);
                margin-left: -0.5rem;
            }

            @include max(768px) {
                width: calc(100% + 0.8rem);
                margin-left: -0.4rem;
            }

            img {
                object-fit: contain;
            }

            &-item {
                width: 70%;
                padding: 0.75rem 0;
                justify-content: flex-end;
                -webkit-justify-content: flex-end;

                @include max(1200px) {
                    padding: 0.5rem 0;
                    flex-wrap: nowrap;
                    -webkit-flex-wrap: nowrap;
                    width: 100%;
                }

                @include max(768px) {
                    padding: 0.4rem 0;
                }

                @include max(450px) {
                    width: 100%;
                }
            }

            &-link {
                @include mid-flex();
                padding: 0.4rem 0.8rem;
                width: max-content;
                max-width: 70%;
                transition: 0.3s;

                @include max(1200px) {
                    padding: 0.4rem;
                    max-width: 55%;
                }

                @include max(768px) {
                    max-width: 50%;
                }

                img {
                    min-width: 22rem;
                    max-width: 21.7rem;

                    @include max(1200px) {
                        max-width: 100%;
                        min-width: 100%;
                    }
                }

                &.dmca_protected {
                    @include max(1200px) {
                        max-width: 30%;
                    }

                    @include max(768px) {
                        max-width: 25%;
                    }

                    img {
                        max-width: 10.5rem;
                        min-width: 10.5rem;

                        @include max(1200px) {
                            max-width: 100%;
                            min-width: 100%;
                        }
                    }
                }

                img {
                    border-radius: 0.4rem;
                }

                &:hover {
                    @include min(1201px) {
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.policy-item {
    padding: 0.4rem 2rem;

    &:nth-child(1) {
        padding-left: 0;
    }

    @include max(1200px) {
        padding: 1.6rem;
    }

    a {
        transition: 0.3s;
        color: $textColor;

        &:hover {
            @include min(1201px) {
                color: $nhtqColor;
            }
        }
    }
}

.ft-license {
    font-size: 1.6rem;
    &-row {
        align-items: center;
        -webkit-align-items: center;
    }
    &-col {
        align-items: center;
        @include max(768px) {
            width: 100%;
            padding: 0.4rem;

            &.d-flex.f-end {
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
            }
        }

        .social-list {
            margin-left: 6rem;

            @include max(1200px) {
                margin-left: 2.4rem;
            }

            @include max(768px) {
                margin-left: 0;
            }

            img {
                filter: brightness(0) invert(0.5);
                -webkit-filter: brightness(0) invert(0.5);
            }
        }
    }
}

.f-signature {
    @include mid-flex();
    justify-content: flex-start;
    -webkit-justify-content: flex-start;

    &-wrap {
        margin-left: 0.4rem;
        align-items: center;
        -webkit-align-items: center;
    }

    &-share {
        flex-shrink: 0;
        margin-left: 0.4rem;
        width: 1.6rem;
        height: 1.6rem;

        &:hover {
            @include min(1201px) {
                animation: rotate-animation 2s linear infinite ;
            }
        }
    }

    .reserved {
        flex-shrink: 0;
    }

    .mona-logo {
        &:hover {
            @include min(1201px) {
                .hl-purple {
                    color: $nhtqColor;
                }
            }
        }

        img {
            object-fit: contain;
            max-width: 20rem;

            @include max(1200px) {
                max-width: 15rem;
            }
        }
    }
}

.hd-menu-info-f {
    align-items: flex-start !important;
    -webkit-align-items: flex-start !important;
    margin-bottom: 1.6rem;

    &:last-child {
        margin-bottom: 0;
    }

    .icon {
        width: 2.4rem;
        height: 2.4rem;
        flex-shrink: 0;
        margin-right: 0.8rem;
    }

    .d-flex {
        flex-direction: column;
        -webkit-flex-direction: column;
        align-items: flex-start !important;
        -webkit-align-items: flex-start !important;
    }

    .label {
        margin-bottom: 0.4rem;
    }
}

.ft .mona-logo img {
    max-height: 100%;
}