:root {
    --heightHeaderNoti: 3rem;
    --heightHeader: 9.4rem;
}

.hd {
    position: sticky;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.7rem 0;
    color: $textColor;
    background-color: #fff;
    transition: 0.8s ease-in-out;
    @include mid-flex();

    &.hd-cate {
        z-index: 100;
    }

    @include min(1201px) {
        height: var(--heightHeader);
    }

    @include max(1200px) {
        @include mid-flex();
        min-height: 5.7rem;
        max-height: 11.7rem;
        padding: 1.5rem 0;
        // background-color: $hostColor;

        @include max(768px) {
            padding: 0.4rem 0;
        }

        .hd-logo {
            width: calc(70% - 0.2rem);

            @include max(768px) {
                width: 50%;
                flex: 1;
            }
        }
    }

    &-logo {
        @include max(1650px) {
            width: calc(100% * (3 / 12));
            width: 35%;
        }
    }

    &-controls {
        @include max(1650px) {
            width: calc(100% * (9 / 12));
            width: 65%;
        }
    }

    .container {
        max-width: 100%;
        padding: 0 3.2rem;

        @include max(1200px) {
            padding: 0 1.5rem;
        }

        @include max(500px) {
            padding: 0 1rem;
        }
    }

    .corp-name {
        font-size: 2.6rem;

        @include max(1200px) {
            font-size: 1.6rem;
        }

        @include max(350px) {
            font-size: 1.4rem;
        }
    }

    .corp-name-pre {
        font-size: 1.4rem;
    }

    &.small {
        // background-color: $hostColor !important;
        padding: 1rem 0;
        border-color: transparent !important;

        @include max(1200px) {
            padding: 1.5rem 0;
        }

        @include max(768px) {
            padding: 0.4rem 0;
        }

        .hd-menu .menu-item a {
            // color: #fff;

            @media(max-width: 1200px) {
                color: $hostColor;
            }
        }

        .hd-menu .menu-item.dropdown > .subBtn {
            // filter: brightness(0) invert(1);
            // -webkit-filter: brightness(0) invert(1);

            @media(max-width: 1200px) {
                filter: unset;
                -webkit-filter: unset;
            }
        }

        .hd-menu-info-item .corp-name {
            // color: $hostColor;
        }
    }

    &.out {
        transform: translateY(-100%);
        overflow: hidden;
    }

    .container {
        height: auto;

        @media(max-width: 1200px) {
            .d-flex {
                flex-wrap: nowrap;
                -webkit-flex-wrap: nowrap;
                align-items: center;
                -webkit-align-items: center;
            }
        }
    }

    &-ctn {
        align-items: center;
        -webkit-align-items: center;

        @include max(1200px) {
            justify-content: space-between;
            -webkit-justify-content: space-between;
        }
    }

    &-social {
        @media(max-width: 450px) {
            width: calc(100% * (3 / 12) + 1rem);
        }

        .social-item {
            @media(max-width: 1200px) {
                margin-left: 1.4rem;

                a {
                    width: 2.2rem;
                    height: 2.2rem;

                    img {
                        padding: 0.2rem;
                    }
                }
            }
        }
    }

    &-menu {
        @media(max-width: 1200px) {
            position: fixed;
            z-index: 5;
            top: 0;
            right: 0;
            height: calc((var(--vh, 1vh) * 100));
            width: 100%;
            max-width: 50vw;
            background-color: #fff;
            transform: translateX(100%);
            transition: 0.6s ease-in-out;
            overflow: hidden auto;
            flex-wrap: nowrap;
            -webkit-flex-wrap: nowrap;

            @include max(450px) {
                width: 100vw;
                max-width: 100vw;
            }

            &.active {
                transform: translateX(0);
            }

            &.d-flex.f-center {
                align-items: flex-start;
                -webkit-align-items: flex-start;
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
                flex-direction: column;
                -webkit-flex-direction: column;
            }
        }

        &-logo {
            width: 100%;
            padding: 0.5rem 1.2rem;
            display: none;
            position: sticky;
            top: 0;
            z-index: 5;
            background-color: $hostColor;

            @media(max-width: 1200px) {
                display: block;
                height: 10rem;
                flex-shrink: 0;
            }

            @include max(768px) {
                height: 5.7rem;
            }

            .mona-logo {
                height: 100%;

                @media(max-width: 1200px) {
                    width: calc(100% - 6.4rem);
                }
            }

            .corp-name {
                color: #fff;
            }

            .menu-close {
                position: absolute;
                z-index: 5;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
                width: 4.8rem;
                height: 4.8rem;

                &-wrap {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    span {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        display: block;
                        width: 70%;
                        height: 1px;
                        background-color: #fff;

                        &:nth-child(1) {
                            width: 25%;
                            transform-origin: right;
                            transform: rotate(35deg);
                        }

                        &:nth-child(2) {
                            width: 25%;
                            transform-origin: right;
                            transform: rotate(-35deg);
                        }
                    }
                }
            }
        }

        &-info {
            color: #000;
            padding: 1.5rem;
            display: none;
            font-size: 1.4rem;

            @media(max-width: 1200px) {
                display: block;
            }

            p {
                margin-bottom: 1.5rem;
                align-items: flex-start;
                -webkit-align-items: flex-start;

                &:last-child {
                    margin-bottom: 0;
                }

                &.title {
                    text-transform: uppercase;
                }

                .icon {
                    width: 3.6rem;
                    flex-shrink: 0;
                    margin-right: 1.2rem;
                    padding-top: 0.2rem;
                }

                .fw-bold {
                    white-space: nowrap;
                    font-weight: 700;
                }
            }

            &-item {
                margin-bottom: 2.4rem;
                padding-top: 2.4rem;
                border-top: 1px solid rgba(0, 0, 0, 0.12);

                &:last-child {
                    margin-bottom: 0;
                }

                .mona-logo {
                    margin-bottom: 1.2rem;
                }
            }
        }
        
        .menu {
            @media(max-width: 1200px) {
                width: 100%;
                padding: 1rem 0;
            }

            &-list {
                width: calc(100% + 4rem);
                margin-left: -2rem;
                justify-content: flex-end;
                -webkit-justify-content: flex-end;

                @media(max-width: 1200px) {
                    width: 100%;
                    margin-left: 0;
                    flex-direction: column;
                    -webkit-flex-direction: column;
                }
            }

            &-item {
                @media(max-width: 1200px) {
                    width: 100%;
                }

                &.current-menu-item {
                    a {
                        font-weight: 700;
                    }
                }

                a {
                    display: block;
                    padding: 0.8rem 2rem;
                    transition: 0.3s;
                    font-size: 1.6rem;
                    color: $textColor;
                    font-weight: 600;
                    text-transform: uppercase;

                    &:hover {
                        @media(min-width: 1201px) {
                            color: $nhtqColor;
                        }
                    }

                    @include max(1650px) {
                        padding: 0.8rem 1.8rem;
                    }

                    @media(max-width: 1200px) {
                        color: $hostColor;
                        padding: 1rem 1.5rem;
                    }
                }

                &.dropdown {
                    position: relative;

                    &:hover {
                        @media(min-width: 1201px) {
                            > .submenu {
                                opacity: 1;
                                pointer-events: auto;
                                visibility: visible;
                                transform: translate(1.5rem, 0);
                            }
                        }
                    }

                    a {
                        padding-right: 3rem;
                    }

                    .subBtn {
                        position: absolute;
                        right: 1.2rem;
                        top: 1.4rem;
                        width: 0.5rem;
                        transform: rotate(90deg);
                        height: auto;

                        @media(max-width: 1200px) {
                            width: 3.4rem;
                            height: 3.9rem;
                            padding: 1.3rem;
                            top: 0;
                            right: 0;
                            transition: 0.3s;

                            &.active {
                                transform: rotate(-90deg);
                            }
                        }
                    }

                    .submenu {
                        position: absolute;
                        top: 100%;
                        left: 0%;
                        transform: translate(1.5rem, 1rem);
                        min-width: 25rem;
                        max-width: 30rem;
                        background: #fff;
                        box-shadow: 0px 12px 24px rgb(0 67 101 / 8%);
                        opacity: 0;
                        pointer-events: none;
                        visibility: hidden;
                        transition: 0.3s;

                        @media(max-width: 1200px) {
                            display: none;
                            width: calc(100% - 1.5rem);
                            min-width: calc(100% - 1.5rem);
                            transition: unset;
                            position: relative;
                            opacity: 1;
                            pointer-events: auto;
                            visibility: visible;
                            transform: unset;
                            box-shadow: unset;
                            margin-left: 1.5rem;
                            border-left: 1px solid rgba(0, 0, 0, 0.12);
                        }

                        &-item {
                            &:hover {
                                @media(min-width: 1201px) {
                                    > a {
                                        color: $nhtqColor;
                                        padding-left: 3.2rem;

                                        &::before {
                                            width: 1.2rem;
                                        }
                                    }

                                    > .submenu {
                                        opacity: 1;
                                        pointer-events: auto;
                                        visibility: visible;
                                        transform: translate(0, 0) !important;
                                    }
                                }
                            }

                            &.dropdown > a {
                                padding-right: 3rem;
                            }

                            a {
                                font-size: 1.4rem;
                                padding: 1.2rem 1.5rem;
                                text-transform: capitalize;
                                color: #000;
                                position: relative;

                                @media(max-width: 1200px) {
                                    padding: 1rem 1.5rem;
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 1.6rem;
                                    bottom: 0;
                                    width: calc(100% - 3.2rem);
                                    height: 1px;
                                    background: rgba(0, 0, 0, 0.12);

                                    @media(max-width: 1200px) {
                                        display: none;
                                    }
                                }

                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 1.6rem;
                                    top: 2rem;
                                    width: 0;
                                    height: 1px;
                                    background: $nhtqColor;
                                    transition: 0.3s;
                                }
                            }

                            &:last-child > a::after {
                                content: none;
                            }

                            .subBtn {
                                top: 1.7rem;
                                right: 2rem;

                                @media(max-width: 1200px) {
                                    top: 0;
                                    right: 0;
                                }
                            }

                            &.dropdown {
                                position: relative;

                                .submenu {
                                    position: absolute;
                                    top: 0%;
                                    left: 100%;
                                    transform: translate(0, 1rem);

                                    @media(max-width: 1200px) {
                                        display: none;
                                        position: relative;
                                        transform: unset;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-search {
        position: relative;
        margin-right: 0.8rem;
        margin-left: 3.2rem;

        @media(max-width: 1200px) {
            display: none;
        }

        &.hd-search-mb {
            display: none;
            width: 100%;
            margin-right: 0;

            @media(max-width: 1200px) {
                display: block;
                margin-left: 0;
            }

            .hd-search-form input:not([type=submit]) {
                width: calc(100% - 4.2rem);
                min-height: 4.2rem;
            }

            .hd-search-form input[type=submit] {
                min-height: 4.2rem;
                width: 4.2rem;
            }
        }

        &-form {
            input:not([type=submit]) {
                padding: 0.8rem;
                width: 30rem;
                height: 3.6rem;
                background: rgba(68, 68, 68, 0.1);
                font-size: 1.4rem;
                color: #000;
                border-radius: 0;

                @include max(1200px) {
                    padding: 0.8rem 1.5rem;
                }
            }

            input[type=submit] {
                background: url("../assets/images/icon-search.png") no-repeat;
                background-position: center;
                background-size: 2rem 2rem;
                cursor: pointer;
                padding: 0.8rem;
                width: 3.6rem;
                height: 3.6rem;
                transition: 0.3s;
                background-color: rgba(68, 68, 68, 0.1);
                border-radius: 0;

                &:hover {
                    @media(min-width: 1201px) {
                        background-color: #c1c1c1;
                    }
                }
            }
        }
    }

    &-controls {
        @include max(1200px) {
            max-width: calc(20% - 0.2rem);
        }

        &-item {
            width: 2rem;
            height: 2rem;
            margin-left: 1rem;
            cursor: pointer;
            position: relative;

            @media(max-width: 1200px) {
                width: 2.4rem;
                height: 2.4rem;
                margin-left: 1.4rem;

                &:nth-child(1) {
                    margin-left: 0;
                }
            }

            &:hover {
                @media(min-width: 1201px) {
                    .icon img {
                        &:nth-child(1) {
                            transform: translate(-50%, -150%);
                        }

                        &:nth-child(2) {
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }

            .icon {
                width: 100%;
                height: 100%;
                @include mid-flex();
                position: relative;
                overflow: hidden;

                img {
                    display: inline-block;
                    object-fit: contain;
                    @include mid();
                    width: 100%;
                    height: 100%;

                    &:nth-child(2) {
                        transform: translate(-50%, 50%);
                    }
                }
            }

            .hd-cart-num {
                position: absolute;
                @include mid-flex();
                top: -0.5rem;
                right: -0.5rem;
                width: 1.4rem;
                height: 1.4rem;
                border-radius: 50%;
                background-color: $textColor;
                font-size: 1rem;
                color: #fff;
            }
        }
    }

    &-bar {
        width: 4.8rem;
        height: 4.8rem;
        margin-left: 1.6rem;
        position: relative;
        display: none;

        @media(max-width: 1200px) {
            display: block;
            flex-shrink: 0;
        }

        @include max(768px) {
            width: 3.2rem;
            height: 3.2rem;
        }

        span {
            @include mid();
            width: 100%;
            height: 1px;
            background-color: $digitalColor;

            &:nth-child(1) {
                width: 80%;
                top: 30%;
            }

            &:nth-child(3) {
                width: 80%;
                top: 71%;
            }
        }
    }

    &-contact {
        margin-left: 8rem;

        @media(max-width: 1450px) {
            margin-left: 4.2rem;
        }

        @include max(1200px) {
            margin-left: 0;
            display: none;
            .btn {
                width: 3.2rem;
                height: 3.2rem;
                padding: 0;
                background-color: transparent;
            }

            .txt {
                display: none;
            }
        }

        .far {
            display: none;
            color: #fff;
            font-size: 2.8rem;
            font-weight: 300;

            @include max(1200px) {
                display: block;
            }
        }
    }
}

.hd-top {
    align-items: center;
    -webkit-align-items: center;
    margin-bottom: 3.2rem;

    @include max(1200px) {
        margin-bottom: 0;
    }
}

.hot-line {
    &-item {
        align-items: center;
        -webkit-align-items: center;

        &:hover {
            @media(min-width: 1201px) {
                .txt {
                    color: $hostColor;
                }
            }
        }
    }

    .icon {
        width: 1.6rem;
        height: 1.6rem;

        @include max(1200px) {
            width: 2.8rem;
            height: 2.8rem;
        }
    }

    .txt {
        transition: 0.3s;
        margin-left: 1rem;

        @include max(1200px) {
            display: none;
        }
    }
}

.hd-cart {
    margin-left: 2.6rem;
    position: relative;

    .icon {
        display: block;
        width: 2rem;
        height: 2rem;

        @include max(1200px) {
            width: 2.8rem;
            height: 2.8rem;
        }
    }

    &-qty {
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(50%, 50%);
        min-width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: $nhtqColor;
        @include mid-flex();
        font-size: 0.8rem;
        font-weight: 700;
        color: #fff;

        @include max(1200px) {
            height: 1.6rem;
            min-width: 1.6rem;
            font-size: 1rem;
        }
    }
}

.bg-page, .bg-page-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s;

    &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}

.bg-page-out {
    z-index: 102;
}

.accept-item {
    width: calc(100% / 3);

    img {
        object-fit: contain;
    }
}

.social-list {
    margin-bottom: -1.6rem;
}

.social-item {
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    transition: 0.3s ease;

    &:hover {
        @include min(1201px) {
            transform: translateY(-0.5rem);
        }
    }

    a {
        width: 3.2rem;
        height: 3.2rem;
        @include mid-flex();

        img {
            object-fit: contain;
        }
    }
}

.hot-line {
    margin-bottom: 2.4rem;

    &-call {
        display: block;
        margin-bottom: 0rem;
        transition: 0.3s;
        @include fz-40;
        font-family: 'Bebas Neue', 'sans-serif';
        line-height: 1;

        &:hover {
            @include min(1201px) {
                color: $nhtqColor;
            }
        }
    }

    &-note {
        padding: 0.8rem 0;
        padding-left: 3rem;
        position: relative;
        margin-bottom: 0 !important;
        font-size: 1.4rem;

        &::before {
            content: "";
            position: absolute;
            top: 1.05rem;
            left: 0;
            width: 0.8rem;
            height: 0.8rem;
            border: 0.4rem solid $nhtqColor;
            border-radius: 1.5rem;
        }

        &.hl-blue {
            &::before {
                border-color: #2686EC;
            }
            .hl-pri {
                color: #2686EC;
            }
        }

        &.hl-pink {
            &::before {
                border-color: $lmsColor;
            }
            .hl-pri {
                color: $lmsColor;
            }
        }

        &.hl-orange {
            &::before {
                border-color: $nhtqColor;
            }
            .hl-pri {
                color: $nhtqColor;
            }
        }
    }
}

.business-license {
    padding: 0.4rem 0;

    &-item {
        &.dmca {
            width: 7.3rem;
        }

        img {
            object-fit: contain;
        }
    }
}