.popup {
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s;

    &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    &.w-80 {
        width: 80rem;
    }

    &-success {
        &.popup.w-80 {
            width: 51.3rem;
        }

        .popup-wrap {
            padding: 3.5rem;
        }

        .popup-header {
            margin-bottom: 0;
        }

        .popup-img {
            width: 5rem;
            height: 5rem;
            margin: 0 auto;
            margin-bottom: 1.5rem;
            border-radius: 50%;
            overflow: hidden;
        }

        .title {
            text-align: center;
            margin-bottom: 2.6rem;
        }

        .popup-desc {
            text-align: center;
            color: #4A4A4A;
            font-size: 1.6rem;
            margin-bottom: 4rem;
        }

        .popup-btn {
            @include mid-flex();
        }
    }

    &-wrap {
        position: relative;
        width: 117.6rem;
        max-width: 90vw;
    }

    &-header {
        margin-bottom: 4rem;

        .title {
            @include fz-20;
            font-weight: 700;
            color: #4A4A4A;
        }

        .close-pop {
            position: absolute;
            top: 0;
            right: 0;
            width: 5.6rem;
            height: 5.6rem;
            @include mid-flex();
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                @media(min-width: 1201px) {
                    background-color: rgba(0,0,0,0.16);
                }
            }

            img {
                max-width: max-content;
                height: auto;
            }
        }
    }
}

.popup-bg {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s;

    &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }
}

.form {
    .f {
        &-r {
            margin-bottom: 2.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-c {
            width: 100%;
            @include mid-flex();
            align-items: flex-start;
            -webkit-align-items: flex-start;

            &-file {
                flex: 1;
                position: relative;
                min-height: 15rem;
                border: 1px dashed #C9C9C9;
                cursor: pointer;
                position: relative;
                @include mid-flex();
                flex-direction: column;
                -webkit-flex-direction: column;
                padding: 1.2rem;

                &-content {
                    @include mid-flex();
                    flex-direction: column;
                    -webkit-flex-direction: column;
                    text-align: center;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 2.4rem;
                        height: auto;
                        margin-bottom: 1.5rem;
                    }
                }
            }

            .label {
                display: block;
                min-width: 10rem;
                margin-right: 2.4rem;
                flex-shrink: 0;
                margin-top: 1rem;
                font-size: 1.6rem;
                font-weight: 700;
                color: #4A4A4A;
            }

            input, textarea {
                width: 100%;
                flex: 1;
                border: 1px solid #C9C9C9;
                min-height: 4.2rem;
                padding: 0 1.5rem;

                &[type="file"] {
                    min-height: 13.8rem;
                    border-style: dashed;
                    cursor: pointer;
                    display: none;

                    &:hover {
                        @media(min-width: 1201px) {
                            border-color: $hostColor;
                        }
                    }
                }
            }
        }

        &-btn {
            @include mid-flex();
            justify-content: flex-end;
            -webkit-justify-content: flex-end;
        }
    }
}

.file-chooser {
    width: 100%;
    height: 100%;
    position: relative;
}

.hidden-inputs.hidden {
    display: none;
}

.file-list {
    width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

.file-list, .file-item {
    @include mid-flex();
    margin-top: 1rem;
}

.file-item {
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #4A4A4A;
    color: $textColor;

    &:last-child {
        border: unset;
    }

    .file-list__name {
        margin-right: 0.8rem;
    }

    .removal-button {
        background-color: red;
        color: #fff;
        width: 1.8rem;
        height: 1.8rem;
        @include mid-flex();
        line-height: 1;
        cursor: pointer;
        transition: 0.3s;
        flex-shrink: 0;

        &:hover {
            @media(min-width: 1201px) {
                box-shadow: 1px 1px 3px #000;
            }
        }
    }
}

.popup {
    .sec-seoadv {
        background: #faf4ff;
        border-radius: 3.2rem;
        position: relative;
        margin-top: 0;
        z-index: 1;
        max-height: 95vh;
        overflow: hidden auto;

        @include max(1200px) {
            border-radius: 0;
        }
      }
      .seoadv {
        padding: 15rem 5.5rem;
        padding-bottom: 8rem;
        height: 100%;

        @include max(1500px) {
            padding: 12rem 3.2rem;
            padding-bottom: 5.6rem;
        }
        
        @include max(1200px) {
          padding: 4rem 0.8rem;
        }
        &-bgdecor {
          position: absolute;
          width: 85%;
          bottom: 0;
          left: 0;
          > img {
            display: block;
          }
        }
        &-content {
          @include flex;
          flex-direction: column;
          align-items: center;
          @include max(1200px) {
            flex-direction: column-reverse;
            margin-top: 0;
          }
        }
        &-img {
          @include max(1200px) {
            width: 24rem;
          }
        }
        &-decor {
          position: absolute;
          top: 40%;
          left: 100%;
          transform: translateY(-50%);
          width: 10%;
          @include max(600px) {
            display: none;
          }
        }
        &-title {
          position: relative;
          @include max(1200px) {
            width: 50rem;
            max-width: 100%;
            margin: 0 auto;
          }
          .title {
            font-size: 4.6rem;
            font-weight: 700;
            color: rgba(58, 58, 58, 1);
            @include max(1500px) {
                font-size: 3.8rem;
            }
            @include max(1200px) {
              text-align: center;
            }
            @include max(450px) {
              font-size: 2.6rem;
            }
          }
          .text {
            display: inline-block;
            position: relative;
            color: #fff;
            padding: 0 0.4rem;
            z-index: 1;
            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: #7c0fd1;
              border-radius: 0.4rem;
              z-index: -1;
              opacity: 1;
            }
          }
        }
        &-img {
            width: 70%;
            position: relative;
            z-index: 3;

            @include max(1200px) {
                width: 50%;
            }
        }
        &-flex {
          @include flex;
          justify-content: space-between;
          margin: 0 -1.5rem;
          @include max(1200px) {
            flex-direction: column;
            gap: 4rem;
          }
        }
        &-left {
          width: calc((5 / 10) * 100%);
          padding: 0 1.5rem;
          @include max(1200px) {
            width: 100%;
          }
        }
        &-right {
          width: calc((4.2 / 10) * 100%);
          padding: 0 1.5rem;
          @include max(1200px) {
            width: 100%;
          }
        }
        &-wrap {
          margin: 0 auto;
          width: 100%;
        }
        &-py {
          padding: 2.4rem;
          background: #ffffff;
          border-radius: 1.6rem;
          position: relative;

          @include max(600px) {
            padding: 1.6rem;
          }
        }
        &-text {
          position: absolute;
          right: 0;
          bottom: 100%;
          transform: translate(0%, -10%) rotate(11.08deg);
          @include max(1200px) {
            display: none;
          }
          .text {
            font-size: 4.8rem;
            font-weight: 700;
            color: rgba(58, 58, 58, 1);
            display: inline-block;

            @include max(1500px) {
                font-size: 3.2rem;
            }
          }
        }
        &-svg {
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 95%;
          left: 50%;
      
          svg {
            display: block;
            width: 100%;
            height: auto;
          }
          svg .svg-elem-1 {
            stroke-dashoffset: 794.158203125px;
            stroke-dasharray: 794.158203125px;
            -webkit-transition: stroke-dashoffset 1s
              cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
            transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          }
      
          svg.active .svg-elem-1 {
            stroke-dashoffset: 0;
          }
        }
        &-control {
          &:not(:last-child) {
            margin-bottom: 1.6rem;
          }
        }
        &-gr {
          position: relative;
          height: 5.6rem;
          @include flex;
          align-items: center;
          border-bottom: 0.1rem solid #e0e0e0;
      
          .select2-selection__rendered {
            color: rgba(184, 184, 184, 1) !important;
            padding: 0 2rem !important;
            padding-top: 0 !important;
            font-size: 1.6rem !important;
          }
          .select2-selection .select2-selection__rendered {
            color: rgba(58, 58, 58, 1) !important;
          }
          .select2-container--default
            .select2-selection--single
            .select2-selection__arrow {
            transform: translateY(-50%);
          }
        }
        &-input {
          width: 100%;
          font-family: "Inter";
          font-size: 1.6rem;
          color: rgba(58, 58, 58, 1);
          padding: 0 2rem;
          height: 5.6rem;
          border-bottom: 0.1rem solid #e0e0e0;
          background: transparent;
          transition: 0.3s ease-in-out;
          @include max(1500px) {
            height: 4.8rem;
          }
          &::placeholder {
            color: #b8b8b8;
          }
          &:focus {
            background: #f7f7f7;
            border-bottom-color: #5f5f5f;
          }
          @include max(600px) {
            padding: 0 1.2rem;
          }
        }
        &-area {
          width: 100%;
          font-family: "Inter";
          font-size: 1.6rem;
          color: rgba(58, 58, 58, 1);
          padding: 0 2rem;
          padding-top: 1.6rem;
          min-height: 14rem;
          border-bottom: 0.1rem solid #e0e0e0;
          background: transparent;
          transition: 0.3s ease-in-out;
          @include max(1500px) {
            min-height: 10rem;
          }
          &::placeholder {
            color: #b8b8b8;
          }
          &:focus {
            background: #f7f7f7;
            border-bottom-color: #5f5f5f;
          }
        }
        &-btn {
          width: 100%;
          background: unset;
          cursor: pointer;
          .btn-second {
            width: 100%;

            @include max(1500px) {
                height: 5.6rem;
            }
          }
        }
      }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.text-ani {
    display: inline-block;
    position: relative;
    text-align: center;
    &.bg-blue {
      &::after {
        background: linear-gradient(to top, #1ec0f2 50%, transparent 50%);
      }

      &.bg-orange {
        &::after {
            background: linear-gradient(to top, #F5851E 50%, transparent 50%);
          }
      }
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      top: 0;
      left: 0;
      animation: 5s highlight 1.5s infinite alternate;
      border-radius: 0.2rem;
    }
  }

  @keyframes highlight {
    0% {
      width: 0;
      opacity: 0;
    }
    50% {
      width: 100%;
      opacity: 1;
    }
  }

  .popup-close {
    position: absolute;
    z-index: 5;
    top: 2.4rem;
    right: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    cursor: pointer;
    background-color: $digitalColor;
    border-radius: 50%;
    @include mid-flex();
    transition: 0.3s;

    @include max(1200px) {
        top: 1rem;
        right: 1rem;
    }

    &:hover {
        @include min(1201px) {
            background-color: $nhtqColor;
        }
    }

    img {
        width: 1.2rem;
        height: 1.2rem;
        object-fit: contain;
    }
  }

  .popup-service {
    transition: 0.3s linear;
    top: 50%;

    .popup-wrap {
      width: 100%;
    }

    .popup-close {
      top: 1.2rem;
      right: 1.2rem;
      background-color: #fff;

      &:hover {
        @include min(1201px) {
          background-color: $nhtqColor;
        }
      }

      img {
        filter: brightness(0.3);
        -webkit-filter: brightness(0.3);
      }
    }

    &.active {
      top: calc(50% + 4.2rem);
      .ani-cus {
        transform: translateY(0);
      }
    }

    &-content {
      max-width: 54rem;
      margin: 0 auto;
      background-color: #FFFFFF;
      border-radius: 2.4rem;
      padding: 2.4rem;

      @include max(1500px) {
        max-width: 42rem;
      }
    }

    &-img {
      position: relative;
      width: 100%;
      padding-top: 77%;
      background-color: $hostColor;
      border-radius: 2.4rem;

      @include max(1500px) {
        padding-top: 50%;
      }

      .img {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 70%;
        height: auto;

        @include max(1500px) {
          width: 60%;
        }

        img {
          transition: 1.4s ease-in-out;
        }
      }
    }

    &-body {
      margin-top: 2.4rem;

      .title {
        @include fz-24;
        font-weight: 600;
        color: $textColor;
        margin-bottom: 1.6rem;
        overflow: hidden;

        .ani {

        }
      }

      .desc {
        margin-bottom: 6.4rem;
        overflow: hidden;

        @include max(1500px) {
          margin-bottom: 4.2rem
        }
      }
    }

    &-btn {
      @include mid-flex();
      align-items: stretch;
      -webkit-align-items: stretch;
      overflow: hidden;

      .btn-second {
        padding: 2.4rem;
        width: 100%;
        @include mid-flex();

        @include max(1500px) {
          font-size: 1.6rem;
          padding: 0.8rem 1.2rem;
          height: 5.6rem;
        }
      }
    }
  }

  .btn-default {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2.4rem 4.2rem;
    text-align: center;
    border: 1px solid rgba(58, 58, 58, 0.4);
    border-radius: 0.8rem;
    @include fz-18;
    transition: 0.3s;
    @include mid-flex();

    @include max(1500px) {
      font-size: 1.6rem;
      padding: 0.8rem 1.2rem;
      height: 5.6rem;
    }

    &:hover {
      @include min(1201px) {
        background-color: $nhtqColor;
        color: #fff;
        border-color: transparent;
      }
    }
  }

  .btn-second {
    cursor: pointer;
  }

  .ani-cus {
    transform: translateY(100%);
    transition: 0.8s ease-in-out;
  }

  .btnnn {
    position: absolute;
    z-index: 10;
    cursor: pointer;
  }