.is-loading-btn.loading {
    opacity: 0.50 !important;
    position: relative;
    pointer-events: none !important;
}

.is-loading-btn.loading::before {
    height: 1em;
    width: 1em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -.5em;
    margin-top: -.5em;
    content: '';
    -webkit-animation: spin 1s ease-in-out infinite;
    animation: spin 1s ease-in-out infinite;
    background: url(../images/icon-loading-ring.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 2em;
    color: rgba(0, 0, 0, .75);
    z-index: 99;
}


.woocommerce .blockUI.blockOverlay:before,
.woocommerce .loader:before {
  background-image:url(../images/loader-2.svg);
}

.is-loading-btn-2.loading {
    opacity: 0.8 !important;
    position: relative;
    pointer-events: none !important;
}

.is-loading-btn-2.loading::before {
    height: 2em;
    width: 2em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    content: '';
    background: url(../images/loader-2.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 1.4em;
    color: rgba(0, 0, 0, .75);
    z-index: 99;
}

.is-loading-btn-3.loading {
    opacity: 0.8 !important;
    position: relative;
    pointer-events: none !important;
    width: 10rem;
    height: 5rem;
}

.is-loading-btn-3.center.loading {
    margin: 0 auto;
    margin-top: 2.4rem;
}

.is-loading-btn-3.loading::before {
    height: 2em;
    width: 2em;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    content: '';
    background: url(../images/loader-3.svg) center center;
    background-size: cover;
    line-height: 1;
    text-align: center;
    font-size: 1.4em;
    color: rgba(0, 0, 0, .75);
    z-index: 99;
}