/*** Import *****/
@import url('loading-btn.css');
@import url('loading-group.css');

/*** End ****/

.blog-info-tag span:before {
    content: ',';
    position: absolute;
    bottom: 6px;
    right: 0;
    height: 100%;
    font-size: 16px;
    width: auto;
    padding-right: 5px;
}

.blog-info-tag span {
    position: relative;
    display: inline-block;
    padding-right: 10px;
}

.blog-info-tag span:last-child:before {
    display: none
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
    height: 0;
    display: block;
}

.wpcf7 form .wpcf7-response-output {
    border: 0;
    margin: 0;
    margin-top: 1.5rem;
    padding: 0;
    font-weight: bold;
    font-size: 1.2rem;
    transition: height 0.5s ease-in-out;
    -webkit-transition: height 0.5s ease-in-out;
    overflow: hidden;
}

.wpcf7 form .wpcf7-form-control-wrap {
    display: inline-block;
    width: 100%;
}

.wpcf7 form.sent .wpcf7-response-output {
    color: #58c362;
    text-align: center;
    height: 4rem;
    margin-top: 1.5rem;
}

.wpcf7 form.invalid .wpcf7-response-output {
    color: #e99c9c;
    text-align: center;
    margin-top: 1.5rem;
    height: 4rem;
}

.wpcf7 .mona-form-submit-btn {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}

.wpcf7 .wpcf7-not-valid-tip {
    color: #e99c9c;
    font-size: 0.8rem;
    position: absolute;
    right: 2rem;
    font-weight: 600;
    bottom: 0;
}

.wpcf7 .wpcf7-textarea+.wpcf7-not-valid-tip {
    bottom: 0.8rem;
}

.wpcf7 .wpcf7-spinner {
    position: absolute;
    right: 0.8rem;
    margin: 0;
    z-index: 4;
}

/* media */

.wpcf7-not-valid-tip {
    position: absolute;
}
.wpcf7-response-output {
    position: absolute;
}
.wpcf7-spinner {
    position: absolute;
}
.blogr-regis .blogr-regis-control .wpcf7-not-valid-tip {
    left: 20px;
    font-size: 10px;
    font-weight: bold;
    bottom: -20px;
}
.mona-contact.fix  .mona-contact-form .wpcf7 form {
    position: relative;
}
.mona-contact.fix  .mona-contact-form .wpcf7 form.invalid .wpcf7-response-output {
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
    bottom: -30px;
    z-index: 10;
}
.mona-contact.fix  .mona-contact-form .wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    z-index: 10;
    bottom: -22px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.mona-contact.fix  .mona-contact-form .wpcf7 .wpcf7-spinner {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    right: 5%;
}
.mona-contact.fix  .wpcf7-form-control-wrap.your-service.is-loading-btn.loading::before {
    height: 2.4rem !important;
    width: 2.4rem !important;
    right: 5% !important;
    left: unset !important;
    margin: 0 !important;
}

.seoadv-form .wpcf7-not-valid-tip {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    right: 0rem;
    bottom: -1.5rem;
}

.blogrc2-form .wpcf7-not-valid-tip {
    font-size: 10px;
    font-weight: bold;
    bottom: -25px;
}

.sample-nine-func-form .form-cus .wpcf7-not-valid-tip {
    position: absolute;
    font-size: 10px;
    right: 0;
    font-weight: bold;
    bottom: -15px;
}

.mona-error-wrap {
    position: relative;
}

.mona-error {
    color: red;
    font-size: 1.2rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.mona-notice.success {
    color: #46b450;
}

.mona-notice.error {
    color: red;
}

.mona-notice {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

#frmLogin .mona-notice,
#frmForgot .mona-notice {
    margin-top: 3rem;
}

#frmRegister .mona-notice {
    position: absolute;
    top: 0;
}

/* toast */
.noti_con {
    position: fixed;
    top: 5rem;
    right: 0;
    z-index: 9999999;
}
.noti_alert {
    position: relative;
    margin-bottom: 2.4rem;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 15px 30px 15px 30px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX( calc(100% + 30px) );
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.noti_alert.active {
    transform: translateX(0%);
}
.noti_alert p {
    margin-right: 5px;
    text-align: left;
}
.noti_icon.danger {
    color: rgb(255, 3, 44);
}
.noti_icon.success {
    color: #28a745;
}

.noti_alert {
    width: max-content;
    max-width: 450px;
    display: flex;
    align-items: center;
}
.noti_alert .message .text1 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.noti_alert .message .text2 {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}
.noti_alert .message {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 20px;
}

@keyframes noti_animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.noti_icon {
    padding: 0px;
    color: white;
    display: flex;
    font-size: xx-large;
}

.remove_alert {
    animation: 1s 1 remove_alert_animation;
    -webkit-animation: 1s 1 remove_alert_animation;
}

@keyframes remove_alert_animation {
    0% {
        transform: translateX(200px);
    }

    50% {
        transform: translateX(200px);
    }

    100% {
        display: none;
    }
}
.noti_alert .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.noti_alert .progress::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #cacaca;
}

.noti_alert .progress.danger {
    background-color: rgb(255, 3, 44);
}
.noti_alert .progress.success {
    background-color: #28a745;
}
.noti_alert .progress.active::before {
    animation: progress var(--delay) linear forwards;
}

@keyframes progress {
    100% {
        right: 100%;
    }
}

@media screen and (max-width:768px){
    .noti_alert {
        max-width: 300px;
    }
    .noti_alert .message .text1 {
        font-size: 14px;
    }
    .noti_alert .message .text2 {
        font-size: 14px;
    }
}

/* empty mess */

.empty-mess.cart-mess {
    padding: 5.6rem 0;
}

.empty-mess .empty-img {
    width: 7.4rem;
    display: initial;
}

.empty-mess {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.empty-mess .empty-content {
    font-size: 1.6rem;
    font-weight: 700;
    color: #1EC0F2;
    margin-top: 1.6rem;
}

/* domain */

.host-search-result {
    display: none;
}

.host-search-result.active {
    display: block;
}

.host-service-tag-item {
    cursor: pointer;
}

.host-service-tag-item.active {
    background-color: #1ec0f2 ;
    color: #fff;
}

.host-service-tag-item:hover {
    background-color: #1ec0f2 ;
    color: #fff;
}

/* woo noti */
.woocommerce-NoticeGroup ul li strong {
    font-weight: 500;
}

.host-checkout .woocommerce form .form-row {
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

.host-checkout .woocommerce form .form-row input.input-text {
    padding: 1.6rem 0;
    font-size: 1.6rem;
    height: auto;
    border-top: none;
    border-right: none;
    border-left: none;
}

.host-checkout .woocommerce-error, .host-checkout .woocommerce-info, .host-checkout .woocommerce-message {
    border-radius: 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #b9b9b9;
    background: #fff;
}

.host-checkout .payment_methods .lb-radio-cus {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.host-checkout .payment_methods .lb-radio-cus img {
    width: 3.2rem;
}

.mona-dblock {
    display: block;
}

.host-checkout-completed-tt.failed {
    color: #f5851e;
}

#billing_country_field {
    display: none;
}

.host-form .form-half.f-r {
    margin-left: 0;
    margin-right: 0;
    width: calc(50% - 0.3rem);
    display: inline-block;
}


/*08 02 23*/
.ft-license-col .widget_nav_menu .mona-head-title.mona-widget-title {
    display: none;
}

.ft-license-col .widget_nav_menu ul {
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .ft-license-col .widget_nav_menu ul {
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
    }
}

.ft-license-col .widget_nav_menu ul li {
    padding: 0.4rem 2rem;
}

.ft-col .widget_nav_menu .mona-head-title.mona-widget-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: #1EC0F2;
}

@media screen and (max-width: 1200px) {
    .ft-col .widget_nav_menu .mona-head-title.mona-widget-title {
        font-size: 1.6rem;
    }
}

.solution-col .ft-col.col.col-6 {
    width: 50%;
}

@media screen and (max-width: 360px) {
    .solution-col .ft-col.col.col-6 {
        width: 100%;
    }
}

.ft-col .widget_nav_menu ul {
    margin-top: 1.6rem;
}

.ft-col .widget_nav_menu ul li.current-menu-item a {
    font-weight: 600;
    color: #F58635;
}

.ft-col .widget_nav_menu ul li a {
    display: block;
    padding: 0.8rem 0;
    transition: 0.3s;
}

/* .footer-menu-item-solution-2 .mona-head-title.mona-widget-title {
    opacity: 0;
} */
.ft-col.col-6 .hd-menu-info>* {
    align-items: center;
}

.blog-large-content .mona-content>* {
    color: #5f5f5f;
}

.blog-large-content .mona-content .specifies {
    color: #1EC0F2 !important;
}

.blog-large-content .mona-content ul,
.blog-large-content .mona-content ol {
    padding-left: 0;
}

.blog-large-content .hr-box.hr-idea img {
    height: 100%;
}

.blog-large-content .hr-box.hr-idea .hr-box-img {
    transform: unset;
}

.blog-large-content .hr-box.hr-idea .hr-box-img-ab {
    top: 0rem;
}

.blog-large-content .mona-content blockquote {
    background: #f7f7f7;
    border-radius: 0.8rem;
    color: #5f5f5f;
    border-left: 1rem solid #1EC0F2;
    padding: 2.64rem 3.6rem;
    transition: 0.3s ease-in-out;
}

.blog-large-content .mona-content blockquote:hover {
    border-left-color: #f5851e;
    background: #ffeedf;
}

.blog-large-content .mona-content blockquote:hover a {
    color: #f5851e !important;
}

.blog-large-content .mona-content blockquote strong {
    color: #3a3a3a;
    font-size: 1.8rem;
}

@media only screen and (max-width: 1200px) {
    .blog-large-content .mona-content blockquote strong {
        font-size: 1.6rem;
    }
}

/* .blog-large-content .mona-content blockquote.blockquote-sec {
    border-left: 1rem solid #F58635;
}
.blog-large-content .mona-content blockquote.blockquote-pri {
    border-left: 1rem solid #1EC0F2;
}
.blog-large-content .mona-content blockquote.blockquote-pri a {
    color: #1EC0F2;
}
.blog-large-content .mona-content blockquote.blockquote-sec a {
    color: #1EC0F2;
} */
.blog-large-content .mona-content img+h2,
.blog-large-content .mona-content img+h3,
.blog-large-content .mona-content img+h4 {
    margin-top: 2.6rem;
}

.blog-large-content .mona-content h2 {
    margin: 2.4rem 0;
    font-size: 4rem;
    font-weight: 700;
    color: #1EC0F2;
}

.blog-large-content .mona-content h3 {
    margin: 2.4rem 0;
    font-size: 2.4rem;
    font-weight: 600;
    color: #1EC0F2;
}

.blog-large-content .mona-content h4 {
    margin: 2.4rem 0;
    font-weight: 600;
    color: #1EC0F2;
    font-size: 1.125em;
}

.blog-large-content .hr-box>*,
.blog-large-content .hr-box-btn a {
    color: #fff !important;
}

@media only screen and (min-width:1201px) {
    .blog-large-content.monaWithoutAsideBlog {
        width: calc(100%/12*9);
    }
}

@media only screen and (max-width: 1200px) {
    .blog-large-content .mona-content h3 {
        margin-top: 2.4rem;
        margin-bottom: 0.8rem;
        font-size: 2rem;
    }

    .blog-large-content .mona-content h2 {
        margin-top: 2.4rem;
        margin-bottom: 0.8rem;
        font-size: 2.4rem;
    }

    .blog-large-content .mona-content h4 {
        margin-bottom: 0.8rem;
    }

    .blog-large-content .mona-content blockquote {
        margin: 2.4rem 0;
    }
}

@media only screen and (max-width: 800px) {
    .blog-large-content .mona-content h3 {
        font-size: 1.7rem;
    }

    .blog-large-content .mona-content h2 {
        font-size: 3rem;
    }

    .blog-large-content .mona-content blockquote {
        padding: 1.2rem 1.6rem;
    }
}

.widget.sidebar-blog-detail.toc_widget .mona-head-title.mona-widget-title {
    display: none;
}

.widget.sidebar-blog-detail.toc_widget span.toc_number {
    display: none;
}

.widget.sidebar-blog-detail.toc_widget ul li a {
    display: block;
    padding: 1rem 0;
    opacity: 1;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    color: #354a60;
}

.widget.sidebar-blog-detail.toc_widget ul li a::before {
    content: "";
    position: absolute;
    left: -2.4rem;
    height: 100%;
    transition: 0.3s;
    opacity: 0;
    width: 0.2rem;
    background: #1EC0F2;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in-out;
}

.widget.sidebar-blog-detail.toc_widget ul li a.current::before {
    height: 100%;
    opacity: 1;
}

.widget.sidebar-blog-detail.toc_widget ul li a.current {
    color: #1EC0F2;
    font-weight: 500;
}

.inspiration-img .img img {
    height: 100%;
    width: 100%;
}

.wpcf7-not-valid-tip {
    position: absolute;
}

.wpcf7-response-output {
    position: absolute;
}

.wpcf7-spinner {
    position: absolute;
}

.blogr-regis .blogr-regis-control .wpcf7-not-valid-tip {
    left: 20px;
    font-size: 10px;
    font-weight: bold;
    bottom: -20px;
}

.blogr-regis .blogr-regis-control .btn-submit {
    position: relative;
}

.blogr-regis .blogr-regis-control .wpcf7-spinner {
    bottom: 15px;
    left: -70px;
}

@media only screen and (max-width: 1200px) {
    .blogr-regis .blogr-regis-control .wpcf7-spinner {
        bottom: 15px;
    }
}

@media only screen and (max-width: 550px) {
    .blogr-regis .blogr-regis-control .wpcf7-spinner {
        bottom: 10px;
    }
}

.monaCategorySearchingTagJS {
    cursor: pointer;
}

.aside-body-item.asideActive {
    opacity: 1;
    color: #F58635;
}

.banner-blog-info .info-name .avt {
    border-radius: unset;
}

.blog-large-author .author-header .avt {
    border-radius: unset;
}

.mona-mess-empty {
    text-align: center;
    font-size: 2rem;
}

.form-cus textarea {
    height: 10rem;
}

.mona-hiden {
    display: none;
}

.blogt-content .description.mona-content {
    color: #5f5f5f;
}

.btn-hidden-submit {
    display: none;
}

.blogr-regis .blogr-regis-gr .inner::before {
    z-index: 10;
}

.blogr-regis .wpcf7 {
    width: 100%;
}

.blogr-regis .blogr-regis-form {
    margin: auto;
}

.blogr-regis .wpcf7 form.invalid .wpcf7-response-output {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}

.blogr-regis .wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    text-align: center;
    width: 100%;
    margin: 1rem 0;
}

.seoadv-form .wpcf7-form {
    position: relative;
}

.seoadv-form .seoadv-buttons {
    position: relative;
    margin-bottom: 1rem;
}

.seoadv-form .wpcf7-spinner {
    right: -1%;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 10;
}

.seoadv-form .wpcf7-not-valid-tip {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    right: 0rem;
    bottom: -1.5rem;
}

.seoadv-form .wpcf7-response-output {
    /* position: relative; */
    margin: 1rem 0 !important;
    padding: 0px !important;
    text-align: center;
    bottom: -30px;
    width: 100%;
    font-size: 10px !important;
}

.seoadv-form .wpcf7-form-control-wrap {
    position: relative;
    width: 100%;
}

/* 16/03/2023*/
.blogf-menu-item.active .blogf-menu-link {
    color: #f5851e;
}

.blogf-menu-item.active .blogf-menu-link::before {
    height: 3.6rem;
}

.blogrc2-form .blogrc2-submit {
    position: relative;
}

.blogrc2-form .wpcf7-spinner {
    left: -50px;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 10;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
    .blogrc2-form .wpcf7-spinner {
        bottom: 50%;
        transform: translateY(50%);
    }
}

.blogrc2-form .wpcf7-not-valid-tip {
    font-size: 10px;
    font-weight: bold;
    bottom: -25px;
}

.blogrc2-form .wpcf7-response-output {
    width: 100%;
    text-align: center;
    margin: 1rem 0 !important;
    font-size: 10px !important;
}

.blogt-wrap.searching-wrapper {
    min-height: 100% !important;
}

.postTagJS {
    cursor: pointer;
}

.postTagJS input {
    display: none;
}

.postTagJS input:checked~.postTagName {
    color: #fff;
    background: #1EC0F2;
}

.mona-contact.fix .mona-contact-form .wpcf7 .wpcf7-not-valid-tip {
    bottom: 0;
    font-size: 10px;
    font-weight: bold;
    right: 0;
}

.mona-contact.fix .mona-contact-form .wpcf7 form {
    position: relative;
}

.mona-contact.fix .mona-contact-form .wpcf7 form.invalid .wpcf7-response-output {
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
    bottom: -30px;
    z-index: 10;
}

.mona-contact.fix .mona-contact-form .wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    z-index: 10;
    bottom: -22px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.mona-contact.fix .mona-contact-form .wpcf7 .wpcf7-spinner {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    right: 5%;
}

.mona-contact.fix .wpcf7-form-control-wrap.your-service.is-loading-btn.loading::before {
    height: 2.4rem !important;
    width: 2.4rem !important;
    right: 5% !important;
    left: unset !important;
    margin: 0 !important;
}

.pj-detail-solution-col ul li::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 1.1rem;
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    border: 0.3rem solid #f58635;
}

.pj-detail-solution-col ul li::before {
    border-color: #1EC0F2;
}

.mona_project-template-single-project-nhtq-template .pj-detail-solution-col ul li::before {
    border-color: #f58635;
}

.pj-detail-solution-col ul li {
    margin: 2.4rem 0;
    padding-left: 4.2rem;
    position: relative;
}

/* PROJECT LMS */
.lmsa-content-box .pj-detail-solution-content ul li {
    margin: 0.8rem 0;
    font-size: 1.8rem;
    color: #5f5f5f;
    margin: 2.4rem 0;
    padding-left: 4.2rem;
    position: relative;
}

@media only screen and (max-width: 1200px) {
    .lmsa-content-box .pj-detail-solution-content ul li {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 800px) {
    .lmsa-content-box .pj-detail-solution-content ul li {
        font-size: 1.5rem;
    }
}

.lmsa-content-box .pj-detail-solution-content ul li::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    left: 1.1rem;
    border-radius: 50%;
    border: 0.3rem solid #ffa51f;
    width: 1rem;
    height: 1rem;
}

.mona-contact.fix .mona-contact-form .wpcf7 form.invalid .wpcf7-response-output {
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
    bottom: -22px;
    z-index: 10;
    font-size: 10px;
}

.mona_project-template-single-project-lms-template .lmsf-ani .txt-wrap {
    font-family: inherit;
}

.mona_project-template-single-project-lms-template .lmsf-font {
    font-size: 32rem;
    font-weight: 700;
    line-height: .9;
    text-align: center;
}

.seofaq-tbody.monaAnswer p {
    font-size: 1.8rem;
    color: #3a3a3a;
    margin: 1.6rem 0;
}

@media only screen and (max-width: 1200px) {
    .seofaq-tbody.monaAnswer p {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 800px) {
    .seofaq-tbody.monaAnswer p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1060px) {
    .seofaq-tbody.monaAnswer ul {
        width: 60rem;
        max-width: 100%;
        margin: 2.4rem auto;
    }
}

.seofaq-tbody.monaAnswer ul li {
    padding-left: 4rem;
    position: relative;
}

.seofaq-tbody.monaAnswer ul li:not(:last-child) {
    margin-bottom: 1.6rem;
}

.seofaq-tbody.monaAnswer ul li::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    transform: translateY(40%);
    width: 1.2rem;
    height: 1.2rem;
    border: 0.3rem solid #f5851e;
    border-radius: 50%;
}

.seofaq-tbody.monaAnswer ul li::before {
    width: 1rem;
    height: 1rem;
    border-width: 0.2rem;
    top: 0.6rem;
    transform: unset;
    left: 1rem;
}

.blogf-sale.unset {
    background: unset;
}

#template-website-gallery>* {
    display: none;
    cursor: pointer;
}

#template-website-gallery>*.active {
    display: block;
}

.relative-mona,
.sample-nine-func-form form {
    position: relative;
}

.sample-nine-func-form form .wpcf7-spinner {
    position: absolute;
    z-index: 10;
    right: -10px;
    bottom: 8px;
}

.sample-nine-func-form form .wpcf7-response-output {
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
    bottom: -25px;
    text-align: center;
    width: 100%;
}

.sample-nine-func-form .form-cus input,
.sample-nine-func-form .form-cus textarea {
    color: #444444;
}

.sample-nine-func-form .form-cus .wpcf7-not-valid-tip {
    position: absolute;
    font-size: 10px;
    right: 0;
    font-weight: bold;
    bottom: -15px;
}

.sample-nine-func-form .form-cus input,
.sample-nine-func-form .form-cus textarea {
    color: #1EC0F2;
    font-size: 1.6rem;
    border-bottom: 0.1rem solid #e0e0e0;
    padding: 1.6rem 2rem 1.6rem 0;
}

/* .sample-nine-func-form .form-cus .label {
    left: 0rem;
    bottom: 1.6rem;
}
.sample-nine-func-form .form-cus .wpcf7-form-control.wpcf7-radio .wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
    background-color: #F9F1FF;
    font-weight: 600;
    color: #1EC0F2;
    font-size: 1.6rem;
    padding: 1.6rem;
    border-radius: 0.8rem;
    background-color: #F7F7F7;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
}
.sample-nine-func-form .form-cus .wpcf7-form-control.wpcf7-radio .wpcf7-list-item label {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.sample-nine-func-form .form-cus .wpcf7-form-control.wpcf7-radio .wpcf7-list-item:not(:last-child) {
    margin-bottom: 0.8rem;
}
.sample-nine-func-form .form-cus .wpcf7-form-control.wpcf7-radio .wpcf7-list-item label input {
    display: none;
}
.sample-nine-func-form .form-cus .wpcf7-form-control.wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label {
    width: 100%;
}
.sample-nine-func-form .form-cus .wpcf7-form-control.wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label::after {
    content: '';
    position: absolute;
    right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 100rem;
    border: 2px solid #e0e0e0;
}
.sample-nine-func-form .form-cus .wpcf7-form-control.wpcf7-radio .wpcf7-list-item label .wpcf7-list-item-label::before {
    content: "";
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    right: 0.3rem;
    bottom: 0.3rem;
    background-color: #1EC0F2;
    border-radius: 100rem;
    opacity: 0;
} */
/* .pj-detail-about-tt {
    word-break: break-word;
} */

.booking-content .des ul {
    list-style-type: disc;
    list-style: inside;
}

.pj-cate .cate-sm-item.active a {
    color: #fff;
    background: #1EC0F2;
}

.sers-tag-btn {
    max-width: max-content;
}

.sers-tag-btn.has-text .icon {
    width: auto;
    height: auto;
}

.sers-tag-btn .icon {
    width: 30%;
    height: auto;
}

.sers-tag-btn.no-text .icon {
    width: 100%;
    height: auto;
}

.sers-tag.fix .sers-tag-btn:hover .icon img {
    filter: unset;
}

/* .mona-team.fix .mona-team-bot .moreContent.show .desc-wrap {
    max-height: 100% !important;
} */
/* .render-8_brand .sers-tag-btn img,
.render-10_webapp .sers-tag-btn img {
    filter: brightness(0) invert(1);
} */
.sers-tag-btn img {
    transition: none;
    opacity: 0.6;
    object-fit: contain;
}

.sers-tag-btn:hover img {
    opacity: 1;
}

/* .sec-cusc-banner .cusc-banner-user:nth-child(6) {
    right: -45%;
    top: 66%;
}
.sec-cusc-banner .cusc-banner-user:nth-child(4) {
    right: -32%;
    top: 32%;
}
@media screen and (min-width: 1200px) {
    .sec-cusc-banner .cusc-banner-user:nth-child(3) {
        top: 35%;
        left: -42%;
    }
}
@media screen and (min-width: 768px){
    .sec-cusc-banner .cusc-banner-user:nth-child(3) {
        top: 36%;
    }
} */

.ab-eight-link-mona {
    margin-top: 1rem;
}

.mona_seo_service_extension.mona-content {
    margin-top: 2.4rem;
    font-size: 1.8rem;
    color: #5f5f5f;
}

.mona_seo_service_extension.mona-content ul li::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    transform: translateY(40%);
    width: 1.2rem;
    height: 1.2rem;
    border: 0.3rem solid #f5851e;
    border-radius: 50%;
}

.mona_seo_service_extension.mona-content ul,
.mona_seo_service_extension.mona-content ol {
    padding-left: 0px;
}

@media screen and (min-width: 1200px) {
    .seoachi-link {
        margin-top: 9rem !important;
    }
}

@media screen and (max-width: 1200px) {
    .seoachi-right {
        margin: 5rem auto 0 !important;
    }

    .seoachi-link {
        margin-top: 12rem !important;
    }
}

.seoachi-link-mona {
    margin: 4rem auto 0;
}

.seoachi-link-mona .btn-second {
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
    height: 6.2rem;
}

/* single */

.blogdt-tag .text {
    display: flex;
    align-items: center;
}

.blogdt-top .blogdt-tag .text {
    background-color: #1EC0F2;
}

.blogdt-top .blogdt-tag .time {
    padding-top: 1rem;
}

@media (max-width: 768px) {
    .popup-service .popup-wrap {
        min-width: 90vw;
    }
}

@media (max-width: 600px) {
    .select2-container .select2-selection--single .select2-selection__rendered {
        font-size: 1.5rem;
    }
}

.popup-service .btn-second {
    font-size: 2.2rem;
}

@media (max-width: 800px) {
    .popup-service .btn-second {
        font-size: 1.4rem;
    }
}

.popup .seoadv-gr.seo-modified {
    height: unset;
    border: none;
}

.mona-content blockquote a {
    margin-left: 0;
}

/* rewrite monamedia css */

body.web-monablog {
    background-color: #E9F3FF;
}

.main .sec-blogt::after {
    background: #E9F3FF;
}

.sec-blogt .blogt {
    border: 0.3rem solid #C1DBF6;
}

.monaBlogDetail.web-monablogdt .sec-blogt .blogt,
.web-monablog.monaBlogPage .sec-blogt .blogt {
    background: linear-gradient(180deg, #9BE7FF 0%, rgba(250, 250, 255, 0) 100%);
}

.monaBlogDetail.web-monablogdt .hd,
.web-monablog.monaBlogPage .hd {
    background-color: #fff;
}

.sec-blogl-block .sec-blogl.panel:nth-child(1) .blogl-mid-item .text:hover,
.sec-blogl-block .sec-blogl.panel:nth-child(2) .blogl-mid-item .text:hover,
.sec-blogl-block .sec-blogl.panel:nth-child(3) .blogl-mid-item .text:hover,
.sec-blogl-block .sec-blogl.panel:nth-child(4) .blogl-mid-item .text:hover,
.sec-blogl-block .sec-blogl.panel:nth-child(5) .blogl-mid-item .text:hover {
    color: #fff;
}

.sec-blogl-block .sec-blogl.panel:nth-child(1) .blogl-tag {
    background-color: #1EC0F2;
}

.sec-blogl-block .sec-blogl.panel:nth-child(2) .blogl-tag {
    background-color: #EC8C26;
}

.sec-blogl-block .sec-blogl.panel:nth-child(3) .blogl-tag {
    background-color: #F2501E;
}

.sec-blogl-block .sec-blogl.panel:nth-child(4) .blogl-tag {
    background-color: #F41E92;
}

.sec-blogl-block .sec-blogl.panel:nth-child(5) .blogl-tag {
    background-color: #1E8EF5;
}

.blogr-top .blogr-top-gr .text {
    color: #1EC0F2;
}

.override .page-numbers>li>.page-numbers.current {
    background-color: rgba(38, 134, 236, 0.2);
    color: #1EC0F2;
}

.override .page-numbers>li>.page-numbers {
    color: rgba(38, 134, 236, 0.5);
}

.override .page-numbers>li .prev.page-numbers,
.override .page-numbers>li .next.page-numbers {
    color: #1EC0F2;
}

.override .page-numbers>li>.page-numbers:hover {
    background: rgba(38, 134, 236, 0.2);
    color: #1EC0F2;
}

.override .page-numbers>li>.page-numbers:hover {
    background: rgba(38, 134, 236, 0.2);
    color: #1EC0F2;
}

.ft-col .ft-label {
    color: #1EC0F2;
}

.ft-if-col .ft-if-text .tphone {
    color: #1EC0F2;
}

.ft-if-col .ft-if-tbank {
    color: #F5851E;
}

.btn-three::after {
    background: #1EC0F2 !important;
}

.btn-second::after {
    background-image: linear-gradient(135deg, #1EC2F5 0%, #7C0FD1 77.68%) !important;
}

.sec-blogb.fix {
    background: #1EC0F2;
}

.sec-blogb .blogb .btn::after {
    background-color: #C1DBF6;
}

/* blog cấp 3 */

.web-monablog .sec-blogt.sec-blogpc2.sec-blogpc3 .blogt.blogpc2 {
    border: 0.3rem solid #C1DBF6;
}

.sec-blogt .blogpc3-top .title {
    background: linear-gradient(89.92deg, #1EC0F2 6.87%, #1EC0F2 93.31%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blogpc3-content .blogpc3-content-tag {
    background: #e9f4ff;
}

.blogpc3-content .blogpc3-content-tag .text {
    color: #1EC0F2;
}

.blogpc3-sw .blogpc3-slide:hover::before {
    background: rgba(32, 140, 255, 0.1)
}

.blogpc3-col .blogpc3-gr>.text .c-pri {
    color: #1EC0F2;
}

.blogpc3-col .blogpc3-content .link:hover {
    color: #1EC0F2;
}

.blogtc2-box-content .blogtc2-box-tag {
    background: #1EC0F2;
}

.web-monablog .blog-post.web-design.fix .blog-post-footer-time .sticky-cate {
    background: linear-gradient(119.94deg, #1EC0F2 -19.9%, #1EC0F2 110.96%);
}

.blogpc2-form .blogpc2-input {
    color: #3A3A3A;
    background: rgba(239, 245, 253, 0.6);
    border: 0.2rem solid #AED5FF;
}

.blogpc2-form .blogpc2-input:focus {
    border-color: #1EC0F2;
}

.blogpc2-form .blogpc2-input::-webkit-input-placeholder {
    /* Edge */
    color: #3A3A3A;
}

.blogpc2-form .blogpc2-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #3A3A3A;
}

.blogpc2-form .blogpc2-input::placeholder {
    color: #3A3A3A;
}

.sec-blogt.sec-blogpc2 .blogt-wrap {
    /* min-height: unset; */
}

.sec-blogrc2 .blogrc2 {
    background: linear-gradient(119.94deg, #27A5EC -19.9%, #086AD2 110.96%);
}

.sec-blogrc2 .blogrc2-wrap::before,
.sec-blogrc2 .blogrc2-wrap::after {
    background-color: #E9F3FF;
}

.blogr-content .blogr-link:hover {
    color: #1EC0F2;
}

.main .sec-blogt.fix-border::before {
    border: 0.3rem solid #C1DBF6;
}

.blogdt-top .blogdt-tag .time {
    color: #1EC0F2;
}

.web-monablogdt .blogdt-wrap .aside-header .hide-cate {
    background: #1EC0F2;
}

.widget.sidebar-blog-detail.toc_widget ul.toc_widget_list li a.current {
    color: #1EC0F2;
}

.widget.sidebar-blog-detail.toc_widget ul li a.current::before {
    background-color: #1EC0F2;
}

.aside-item .aside-body::-webkit-scrollbar-thumb {
    background: #1EC0F2;
}

.blogtc2-bot .blogtc2-bot-gr {
    background: #E9F4FF;
}

.main .sec-blogsw {
    background: #E9F4FF;
}

.main .sec-blogb {
    background: #1EC0F2;
}

.author-one-tag .author-one-tag-item {
    background-color: #1EC0F2;
}

.author-four-content .author-four-more:hover {
    color: #1EC0F2;
}


@keyframes sw-filling2 {

    0%,
    90% {
        fill: #1EC0F2;
        fill-opacity: 0;
    }

    100% {
        fill: #1EC0F2;
        fill-opacity: 1;
    }
}

.pageer-wrap .pageer-text.active .text-line {
    animation: dash2 5s linear forwards, sw-filling2 2.1s ease-in forwards;
}

.blogt-wrap .blogt-content .tsale {
    background: #1EC0F2;
}

.blogt-wrap .blogt-img::before {
    background: linear-gradient(119.94deg, #AED5FF -19.9%, #1EC0F2 110.96%);
}

.search.search-no-results .sec-blogt.sec-blogpc2 .blogt,
.sec-blogt.sec-blogpc2 .blogt-wrap {
    border-radius: 1.6rem;
}

.search.search-no-results .sec-blogt .blogt {
    border: 0.3rem solid #C1DBF6;
}

.search.search-no-results .sec-blogt.sec-blogpc2 .blogt-wrap {
    min-height: fit-content;
}

.search.search-no-results .sec-blogr.sec-bloghc2.sec-blogpc2.fix {
    margin-top: unset;
}

/* contact page */

.contacts .contacts-top .text::before {
    background: #1EC0F2;
}

.main .sec-fcts {
    background-image: linear-gradient(0deg, #1C1044 0%, #1EC0F2 81.5%);
    ;
}

.mona-contact.fix .mona-contact-form .mona-contact-form-wrap .form-tab {
    background: #E9F4FF;
}

.fcts .mona-contact.fix .mona-contact-form .form-tab .tab.active {
    background-color: #1EC0F2;
    color: #fff;
}

.mona-contact.fix .mona-contact-form .mona-contact-form-wrap .form-tab .tab {
    color: #1EC0F2;
}

.fcts-wrap .fcts-top-fl .des {
    color: #fff;
}

.fcts-wrap .fcts-mid-txt {
    padding-left: 2.4rem;
    position: relative;
    font-weight: 600;
    color: #fff;
}

.render-gallery .c-title .pri,
.sec-cusc-banner .c-title .pri {
    color: #1EC0F2;
}

.render-gallery .cwe .head .des .des-pri {
    color: #1EC0F2;
}

.hl-sw-pri {
    color: #1EC0F2;
}

.mona-contact.fix .mona-contact-form .mona-contact-form-wrap .form-tab .tab:hover {
    background: #AED5FF;
    color: #1EC0F2;
}

.hd .hd-contact.hd-menu .menu-item:nth-child(1) .menu-item-link {
    background-color: #1EC0F2;
    color: #fff;
}

.hd .hd-contact.hd-menu .menu-item:nth-child(1) .menu-item-link:hover {
    /* box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12); */
    background-color: #AED5FF;
    color: #1EC0F2;
}

.mona-contact-address .mona-contact-address-item img {
    width: 3.2rem;
    height: 3.2rem;
}

.mona-contact.fix .mona-contact-form-wrap .form-tab .tab.active {
    background-color: #1EC0F2;
    color: #fff;
}

.mona-contact.fix.mona-section .mona-contact-ctn {
    background-image: linear-gradient(180deg, #27A5EC 0%, #086AD2 61.98%);
}

.mona-contact-content .mona-contact-tt .name {
    color: #fff;
}

.mona-contact-content .mona-contact-desc {
    color: #fff;
}

.popup .seoadv-content .seoadv-title .text::before {
    background: #1EC0F2;
}

.popup-wrap .popup-close {
    background-color: #1EC0F2;
}

.mona-contact.fix.mona-section {
    background: #E9F4FF;
}

.home-page .mona-contact.mona-section {
    margin-top: 0;
}

.mona-contact.fix.mona-section .form-cus input:focus,
.mona-contact.fix .form-cus textarea:focus {
    border-color: #1EC0F2;
}

.main .sect-tmona {
    background-color: #f9fcfe;
}

.blogl-img .inner {
    border-radius: 2.4rem;
    overflow: hidden;
}

.sidebar-blog.widget_media_image {
    margin-bottom: 2.4rem;
}

.main .sec-blogv {
    display: none;
}

/* customer */
.head .c-title .hl::before,
.cusp-wrap .cusp-top .title .text::before,
.sec-cusbrand .cusbrand-title .title-inner .text::before,
.cust-wrap .cust-top .title .text::before,
.cusc-five-bot-title .c-title .hl::before {
    background-color: #1EC0F2;
}

.co-customer.fix .co-customer-ctn .co-customer-item:hover {
    background-color: #1EC0F2;
}

.sec-bblock .bblock-title .text {
    color: #F41E92;
}

.sec-bblock .bblock-title .text::before {
    background-color: #fff;
}

.sec-bblock .bblock {
    background: linear-gradient(310deg, #27A5EC 0%, #086AD2 61.98%);
    color: #fff;
    box-shadow: 0px 8px 24px -15px rgba(0, 0, 0, 0.24), 0px 16px 40px -10px rgba(50, 50, 93, 0.32), 0px 1px 1px 0px rgba(255, 255, 255, 0.10) inset;
}

.sec-bblock .bblock-title,
.sec-bblock .bblock-content .des,
.sec-bblock .bblock-content .des .text,
.sec-bblock .bblock-content .des .text2 {
    color: #fff;
}

.main .sec-cuss {
    background-color: #E9F4FF;
}

.sec-cuss .cuss-top .title .text::before {
    background: #1EC0F2;
}

.sec-cuss .cuss-py:hover {
    background: #1EC0F2;
}

.sec-sblock .sblock-title .text::before {
    background: #1EC0F2;
}

.main .sec-cusb::before {
    background: linear-gradient(270deg, #00477C 0%, #1C1044 100%);
}

.sec-cusb .cusb-box {
    background: #1EC0F2;
    border: 0.1rem solid #1EC0F2;
}

.mona-contact.fix.section .mona-contact-ctn {
    background-image: linear-gradient(180deg, #27A5EC 0%, #086AD2 61.98%);
}

.mona-contact.fix.section {
    background: #E9F4FF;
}

.main .sec-cusc-four-five::before {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #E9F4FF 45.83%);
}


.main .sec-cusc-six-seven::before {
    background: linear-gradient(0deg, #0050A5 80%, #27adfa);
}

.sec-cusc-six-seven .c-title .hl.hl-orange::before {
    background-color: #F41E92;
}

.sec-cusc-six-seven .c-blue-light {
    color: #F5851E;
}

.sec-cusc-six-seven-decor-top {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    transform: translateY(-98%);
}

.sec-cuss {
    position: relative;
}

.sec-cuss-decor-top {
    position: absolute;
    top: 0;
    transform: translateY(-30%);
    width: 100%;
}

.sec-cuss-decor-bottom {
    position: absolute;
    bottom: 0;
    transform: translateY(30%);
    width: 100%;
}

.sec-bblock,
.sec-sblock {
    position: relative;
    z-index: 2;
}

.sec-cusis .cusis-top .title .text::before {
    background: #1EC0F2;
}

.sec-cust .c-btn.ln-orange {
    background-image: linear-gradient(90deg, #27A5EC 0%, #086AD2 61.98%);
}

.sec-cust .c-btn.ln-orange:hover {
    color: #1EC0F2;
}

.sec-cust .c-btn.white::after {
    background-image: linear-gradient(90deg, #27A5EC 0%, #086AD2 61.98%);
}

.sec-cust .c-btn.white {
    color: #1EC0F2;
}

.sec-cusc-six-seven .btn::after {
    background: #1EC0F2;
}

.page-template-customers-template .cusc-six .ab-nine::before {
    background: transparent;
}

.page-template-customers-template .sec-cusis .ab-nine::before {
    background: unset;
}

.page-template-customers-template .co-customer::before {
    background: unset;
}

.wd-slide-contact .btn:hover {
    background: #1EC0F2;
    border-color: #1EC0F2;
}

.page-template-domain-template .hl-pri {
    color: #1EC0F2;
}

/* home */
.banner-sw .banner-sw-panda .img img {
    transform: scale(0.45) rotateY(180deg);
}

.banner-sw .banner-sw-desc .content {
    width: 48%;
}

@media screen and (max-width: 650px) {
    .banner-sw .banner-sw-desc .content {
        width: 100%;
    }
}

.sec-tmona .sec-tmona-bottom-right .mess .txt::before {
    width: 110%;
    height: 265%;
    transform: translate(-4%, -22%);
}

.hd .menu__svg path {
    stroke: #1EC0F2;
}

.hd .hd-bar.active .menu__svg path {
    stroke: #1EC0F2;
}

.zalo-chat-widget {
    bottom: 94px !important;
    right: 26px !important;
    z-index: 20 !important;
}

.mona-playground .custom-title-creative .title {
    max-width: 93.7rem;
    margin: 0 auto;
    margin-bottom: 0.8rem;
    position: relative;
    z-index: 2;
    font-size: 4rem;
    font-weight: 600;
}

@media screen and (max-width: 1200px) {
    .mona-playground .custom-title-creative .title {
        font-size: 2.4rem
    }
}

/* fix blog */
.monaBlogPage .blogt::before,
.monaBlogDetail .blogt::before,
.search .blogt::before {
    background: transparent;
}

.monaBlogPage .sec-blogt,
.monaBlogDetail .sec-blogt {
    margin-top: 0;
    padding-top: 12rem;
    margin-bottom: 8rem;
}
.sidebar-blog-detail-right.widget_media_image {
    margin-bottom: 2.4rem;
}

.main .sec-blogt.fix-border::before {
    top: 12rem;
}

.main .sec-blogt-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.mona-content #toc_container {
    display: none;
}

.sec-blogb .blogb-decor {
    bottom: 6%;
}

.swiper-service-hosting.tab-panel {
    height: 0;
    opacity: 0;
}

.swiper-service-hosting.tab-panel.active {
    height: unset;
    opacity: 1;
}

.host-service-aside-tt.host-tt,
.host-checkout-info-content .host-tt {
    font-size: 2.8rem;
}

.host-service-col .host-service-aside-tt .close-modal {
    display: none;
}

.mona-contact.fix  .mona-contact-form .wpcf7 form {
    position: relative;
}
.mona-contact.fix  .mona-contact-form .wpcf7 form.invalid .wpcf7-response-output {
    color: red;
    text-align: center;
    width: 100%;
    margin: 0;
    bottom: -5rem;
    z-index: 10;
}
.mona-contact.fix  .mona-contact-form .wpcf7 form.sent .wpcf7-response-output {
    color: #46b450;
    z-index: 10;
    bottom: -22px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.mona-contact.fix  .mona-contact-form .wpcf7 .wpcf7-spinner {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    right: 5%;
}
.mona-contact.fix  .wpcf7-form-control-wrap.your-service.is-loading-btn.loading::before {
    height: 2.4rem !important;
    width: 2.4rem !important;
    right: 5% !important;
    left: unset !important;
    margin: 0 !important;
}

/* faq */
.seofaq-list .seofaq-item.active .title {
    color: #1EC0F2;
}

.seofaq-list .seofaq-item.active .icon {
    color: #1EC0F2;
}

.session-expert .list-item .item .main-img {
    display: inline-block;
    border-radius: 0.8rem;
    overflow: hidden;
    border: 0.4rem solid #2686EC;
    height: 100%;
}

@media screen and ( max-width: 768px ) {
    .session-expert .list-item .item .main-img {
        border: 0.2rem solid #2686EC;
    }
    
}

.session-expert .list-item .item:nth-child(1) .main-img {
    border-color: #7C0FD1;
}
.session-expert .list-item .item:nth-child(2) .main-img {
    border-color: #F41E92;
}
.session-expert .list-item .item:nth-child(3) .main-img {
    border-color: #7C0FD1;
}
.session-expert .list-item .item:nth-child(4) .main-img {
    border-color: #F41E92;
}
.session-expert .list-item .item:nth-child(5) .main-img {
    border-color: #F5851E;
}

.session-service .title .sub-tt {
    display: block;
}


.session-service .service-hosting-inner::-webkit-scrollbar {
    height: 1.6rem;
}

@media screen and (max-width: 1200px) {
    .session-service .service-hosting-inner::-webkit-scrollbar {
        height: 0.8rem;
    }
}

@media screen and (max-width: 768px) {
    .session-service .service-hosting-inner::-webkit-scrollbar {
        height: 0rem;
    }
}


@media screen and ( max-width: 1200px ) {
    .session-expert .content-expert .list-item .item.col-3 {
        width: calc( 100% - 0.4rem );
    }
}

.session-service .tab-button-custom {
    overflow: auto hidden;
    flex-wrap: nowrap;
}

.session-service .tab-button-custom::-webkit-scrollbar {
    height: 1rem;
}

@media screen and ( max-width: 768px ) {
    .session-service .tab-button-custom::-webkit-scrollbar {
        height: 0;
    }

    .session-service .tab-button-custom {
        padding: 0 1.5rem;
    }
}

.session-service .tab-button-custom .item {
    white-space: nowrap;
}

.session-service .service-hosting .head-name {
    position: absolute;
    left: 0;
    z-index: 2;
}

.session-service .service-hosting-wrap:not(:first-child) {
    padding-top: 5.3rem;
}

.host-service-tag-item {
    margin-top: 0.4rem;
}

.popup-whois-main {
    background-color: #fff;
    padding: 3.2rem;
}

.popup-whois-main .title {
    color: #3a3a3a;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: 600;
    line-height: 3.2rem;
}

.popup-whois-main .domain-name-gr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.4rem;
    margin-bottom: 2.4rem;
}

.popup-whois-main .domain-name-gr .domain {
    color: #f41e92;
    font-size: 2.4rem;
    font-weight: 600;
}

.popup-whois-main .domain-name-gr .desc {
    color:  #8B8B8B;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
}

.popup-whois-main .whois-info-list {
    margin-bottom: 2.4rem;
}

.popup-whois-main .whois-info-list .info-item {
    display: flex;
    row-gap: 0.4rem;
}

.popup-whois-main .whois-info-list .info-item:not(:last-child) {
    border-bottom: 0.1rem solid rgba(58, 58, 58, 0.10);
}

.popup-whois-main .whois-info-list .info-item .label{
    color:  #3A3A3A;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding: 1.2rem 0;
    width: 50%;
}

.popup-whois-main .whois-info-list .info-item .text {
    color:  #3A3A3A;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    padding: 1.2rem 0;
}

.popup-whois-main .whois-info-list .info-item .text br {
    display: initial;
}

.popup-whois-main .whois-info-list .info-item .text.cl-blue {
    color: #1EC0F2;
    font-weight: 600;
}
.popup-whois-main .whois-info-list .info-item .text.bold {
    font-weight: 600;
}

.popup-whois-main .confirm-btn {
    width: 100%;
    /* background-color: #F5851E; */
    color: #fff;
    border-radius: 0.8rem;
    padding: 1.2rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-account-wrap.whois {
    border-radius: 0.8rem;
}

.popup-whois-main .empty-mess .confirm-btn {
    margin-top: 3.2rem;
}

.popup-whois-main .empty-mess.cart-mess {
    padding: 0;
}

.popup-whois-main .empty-mess .empty-img {
    width: 24rem;
}