$color-F9F1FF: #f9f1ff;
$color-2686EC: #2686ec;
$color-7C0FD1: #7c0fd1;
$color-F5851E: #f5851e;
$color-F41E92: #f41e92;

br {
  @include max(1200px) {
    display: block;
  }
}

.w {
  width: max-content;
}

.mb-80 {
  margin-bottom: 8rem;
}

.host-tt {
  font-weight: 700;
  .bg-color {
    margin-top: 0.8rem;
  }
  @include max(820px) {
    font-size: 3rem !important;
  }
  @include max(500px) {
    font-size: 2rem !important;
    margin-top: 1rem;
  }
}

.about-bn {
  overflow: hidden;
  position: relative;
  .js-marquee {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &-wrapper {
      display: flex;
    }
    @include min(501px) {
      margin-right: 24px !important;
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../assets/images/about/bn_about.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }

  &-content {
    padding: 0;
    display: flex;
    position: relative;
    .tt {
      font-family: "UTM Bebas";
      @include fz-120;
      font-weight: 600;
      text-align: center;
      color: #fff;
      padding: 0rem 3.2rem;
      white-space: nowrap;
      display: flex;
      align-items: center;
      .tt-desc {
        color: $hostColor;
      }
    }
    img {
      width: calc(100% * (1 / 12));
      height: auto;
    }
  }

  &-sky-star {
    mix-blend-mode: screen;
    .star-sky {
      width: 100%;
      height: 100%;
    }
  }

  .marquee {
    display: flex;
    align-items: baseline;
    justify-content: center;
    .tt {
      font-family: "UTM Bebas";
      @include fz-120;
      font-weight: 600;
      text-align: center;
      color: #fff;
      white-space: nowrap;
      display: flex;
      align-items: baseline;
      margin: 0rem 8rem;
      .tt-desc {
        color: $hostColor;
      }
      @include max(1200px) {
        align-items: center;
      }
    }
    img {
      width: calc(100% * (1 / 12));
      height: auto;
      margin: 0rem 6.4rem;
      @include max(1440px) {
        transform: translateY(6px);
      }
      @include max(500px) {
        width: 5%;
        height: auto;
        margin: 0rem 2.4rem;
        transform: translateY(0.5rem);
      }
    }
  }

  &-background {
    width: 100%;

    @include max(1200px) {
      margin-top: 6rem;
    }

    .bg-content {
      position: relative;
      z-index: 3;
      .bg-cpu {
        position: relative;
        display: block;
        transform: translate(26%);
        width: calc(100% * (8 / 12));
        @include max(500px) {
          transform: translate(0%, -30%);
          width: 100%;
        }
      }

      .bg-cloud {
        width: 100%;
        position: absolute;
        bottom: -12%;
        z-index: 6;
        height: 100%;
      }

      .bg-star {
        width: 100%;
        height: 100%;
        top: -25%;
        position: absolute;
        z-index: 4;
      }

      .bg-member {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 5;
        width: calc(100% * (6 / 12));
        @include max(500px) {
          width: 80%;
          transform: translate(-50%, -20%);
        }
      }
    }
  }
}

.about-history {
  padding-top: 5%;
  @include max(500px) {
    padding-top: 18%;
  }
  &-wrap {
    position: relative;
  }
  &-flex {
    padding-bottom: 8rem;
    display: flex;
    @include max(514px) {
      align-items: end;
    }
  }
  &-left {
    width: calc(100% * (4 / 12));
    z-index: 1;
    @include max(514px) {
      width: 25%;
    }
  }
  &-img {
    width: calc(100% + 10.1rem);
    margin-left: -1rem;
    .inner {
      img {
        display: block;
      }
    }
    @include max(500px) {
      width: calc(100% + 8rem);
    }
  }
  &-right {
    width: calc(100% * (8 / 12));
    .bg-rocket {
      width: calc(100% * (2 / 12));
      position: absolute;
      top: -30%;
      z-index: 9;
      right: 0%;
    }
    @include max(514px) {
      padding-bottom: 8rem;
      width: 75%;
      z-index: -1;
    }
    @include max(375px) {
      padding-bottom: 8rem;
    }
  }
  &-box {
    position: relative;
    @include max(820px) {
      z-index: 1;
    }
  }
  &-py {
    padding: 8.5rem 4rem;
    border-radius: 2.4rem;
    background-image: url(../assets/images/about/mes_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include max(1200px) {
      padding: 4rem 3rem;
    }
    @include max(820px) {
      transform: translateY(-2rem);
    }
    @include max(375px) {
      padding: 4rem 4rem;
    }
  }
  &-content {
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    line-height: 1.2;
    font-style: italic;
    .tsmall {
      @include fz-32;
      color: #fff;
      overflow: hidden;
      @include max(1200px) {
        font-size: 2.2rem;
      }
      @include max(514px) {
        font-size: 1.8rem;
      }
    }
    .tlager {
      @include fz-40;
      color: #fff;
      font-weight: 700;
      overflow: hidden;
      @include max(1200px) {
        font-size: 2.7rem;
      }
      @include max(514px) {
        font-size: 2rem;
      }
    }
  }
  &-pos {
    position: absolute;
    left: 50%;
    top: 98%;
    transform: translateX(-50%);
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;
    color: #fff;
    width: max-content;
    background-image: url(../assets/images/about/mes_2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @include max(1200px) {
      font-size: 2.4rem;
    }
    @include max(820px) {
      top: 85%;
    }
    @include max(768px) {
      top: unset;
      bottom: 0;
      transform: translate(-50%, 70%);
    }
    @include max(514px) {
      font-size: 1.4rem;
      transform: translate(-50%, 48%);
    }
    .text {
      display: inline-block;
      padding: 2.4rem 3.8rem;
      padding-top: 5.8rem;
      @include max(940px) {
        padding: 2.4rem 1.8rem;
        padding-top: 5rem;
      }
    }
    .decor {
      position: absolute;
      left: 100%;
      top: 85%;
      transform: translateY(-50%);
      width: 9.7rem;
      margin-left: 3.2rem;
      svg {
        display: block;
        width: 100%;
        height: auto;
      }
      @include max(768px) {
        margin-left: 1.2rem;
      }
      @include max(514px) {
        width: 4rem;
      }
      @include max(320px) {
        margin-left: 0rem;
      }
    }
  }
  &-gal {
    position: relative;
    display: flex;
    transform: translateY(-23rem);
    z-index: 1;
    justify-content: center;
    width: 100%;
    @include max(1200px) {
      padding: 0 1.5rem;
    }
    @include max(1024px) {
      margin-top: 1%;
    }
    @include max(820px) {
      margin-top: 10rem;
    }
    @include max(768px) {
      margin-top: 14rem;
    }
    @include max(514px) {
      width: 100%;
      display: block;
      margin-top: 15rem;
    }
    &-l {
      margin-right: 2.4rem;
      img {
        border-radius: 1.6rem;
      }
      @include max(514px) {
        width: 48%;
        margin-right: 0;
        float: right;
      }
    }
    &-m {
      margin-right: 2.4rem;
      img {
        border-radius: 1.6rem;
      }
      @include max(514px) {
        width: 48%;
        margin-right: 0;
      }
    }
    &-r {
      img {
        border-radius: 1.6rem;
      }
      @include max(514px) {
        width: 100%;
        margin-top: 2rem;
      }
    }
  }
  &-br {
    margin-top: -22rem;
    @include max(500px) {
      margin-top: -30rem;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.about-playground {
  overflow: hidden;
  min-height: 50rem;
  position: relative;
  margin-top: -30rem;
  color: #fff;
  padding-top: 25rem;
  padding-bottom: 35rem;
  @include max(1366px) {
    padding-top: 28rem;
  }
  @include max(1200px) {
    padding-top: 10rem;
    margin-top: -15rem;
  }
  @include max(1024px) {
    padding-bottom: 20rem;
  }
  @include max(820px) {
    margin-top: -10rem;
  }
  @include max(768px) {
    margin-top: -12rem;
    padding-bottom: 14rem;
  }
  @include max(500px) {
    padding-top: 12rem;
    padding-bottom: 26rem;
    width: 100%;
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/images/about/bg_playground.png);
  }

  &-pannet {
    width: calc(100% * (8 / 12));
    position: relative;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
    @include max(500px) {
      width: 100%;
    }
  }

  &-planet {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% * (10 / 12));
    mix-blend-mode: screen;
    margin-top: -40rem;
    z-index: -1;
    @include max(768px) {
      margin-top: -20rem;
    }
    @include max(500px) {
      margin-top: -10rem;
    }
  }

  &-top {
    .content {
      position: relative;
      z-index: 3;
    }

    .title {
      &.active {
        .the-mona,
        .playground {
          transform: translateY(0);
        }
      }
    }

    .desc {
      @include fz-32;
      margin-top: 1.6rem;
      font-weight: 600;
      margin-bottom: 3.2rem;
    }

    .char {
      opacity: 1;
    }

    .the-mona {
      font-weight: 800;
      display: block;
      font-size: 16rem;
      @include mid-flex();
      transition: 0.4s ease-in-out;
      @include max(820px) {
        font-size: 12rem;
      }
      @include max(768px) {
        font-size: 10rem;
      }
      @include max(500px) {
        font-size: 6rem;
      }
      @include max(375px) {
        font-size: 5rem;
      }
    }

    .playground {
      display: block;
      margin-top: -13rem;
      font-weight: 700;
      background: -webkit-linear-gradient(transparent, #fff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      // transform: translateY(-20%);
      @include mid-flex();
      transition: 0.4s ease-in-out;
      font-size: 14rem;

      @include max(1200px) {
        margin-top: -6rem;
      }

      @include max(1024px) {
        margin-top: -12rem;
      }

      @include max(820px) {
        margin-top: -7rem;
      }

      @include max(820px) {
        font-size: 10rem;
      }

      @include max(500px) {
        font-size: 5rem;
        margin-top: -4rem;
      }

      @include max(320px) {
        font-size: 4rem;
      }
    }
  }
  &-media {
    position: relative;
    z-index: 3;
    left: 50%;
    top: 0;
    transform: translateX(-35%);
    margin-top: -76rem;
    margin-bottom: 10rem;
    @include max(1366px) {
      margin-top: -88rem;
    }
    @include max(1200px) {
      margin-top: -58rem;
    }
    @include max(1024px) {
      margin-top: -42rem;
    }
    @include max(820px) {
      transform: translate(-36%, 90%);
      margin-top: -76rem;
      margin-bottom: 48rem;
    }
    @include max(768px) {
      margin-top: -72rem;
    }
    @include max(500px) {
      transform: translate(-36%, 300%);
      margin-top: -80rem;
    }
    @include max(375px) {
      transform: translate(-36%, 325%);
      margin-top: -75rem;
    }
    .video-main {
      .video-frame {
        width: 100%;
        position: relative;
        left: 50%;
        top: 0%;
        transform: translateX(-64%);
        .frame {
          width: calc(100% * (10 / 12));
          top: 0;
          position: relative;
          left: 50%;
          transform: translate(-50%, 20%);
          z-index: 0;
          pointer-events: none;
        }
        .video-ab {
          position: absolute;
          position: absolute;
          width: 79%;
          height: 90%;
          top: 0;
          left: 0;
          transform: translate(13.5%, 28%);
          border-radius: 0.4rem;
          z-index: -1;
        }
        @include max(375px) {
          transform: translate(-64%, 20%);
        }
      }
      .video-tt {
        border-radius: 24px;
        background: linear-gradient(224deg, #f5851e 0%, #f41e92 100%);
        box-shadow: 8px 8px 40px 0px rgba(245, 133, 30, 0.24);
        padding: 2.4rem 8rem;
        position: absolute;
        width: calc(100% * (8 / 12));
        left: 50%;
        transform: translate(-72%, 40%);
        z-index: 1;
        .ani-tt {
          @include fz-40;
          font-weight: 600;
          @include max(500px) {
            font-size: 1.6rem;
          }
        }
        @include max(1200px) {
          padding: 1.2rem 4rem;
        }
        @include max(1024px) {
          transform: translate(-72%, 14%);
        }
        @include max(820px) {
          transform: translate(-72%, 5%);
        }
        @include max(520px) {
          padding: 0.5rem 2rem;
        }
      }
    }
  }
  &-cloud-bot {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }
}

.about-abl {
  margin-top: -24rem;
  padding-bottom: 20rem;
  position: relative;
  @include max(1366px) {
    margin-top: -24rem;
  }
  @include max(1200px) {
    padding-top: 4rem;
    padding-bottom: 0;
    overflow: hidden;
  }
  @include max(768px) {
    padding-top: 6rem;
  }
  @include max(500px) {
    margin-top: -12rem;
    padding-top: 4rem;
  }
  @include max(320px) {
    margin-top: -10rem;
  }
  .about-athoai {
    position: absolute;
    left: 43%;
    transform: translateX(-50%);
    bottom: -3px;
    width: calc(100% * (3 / 12));
    z-index: 1;
    pointer-events: none;
    img {
      display: block;
    }
    @include max(1200px) {
      display: none;
    }
  }
  .tdecor {
    position: absolute;
    width: max-content;
    font-size: 4.8rem;
    font-family: "SVN-Just Saying";
    color: #3a3a3a;
    bottom: 85%;
    left: 100%;
    transform: translateX(-30%) rotate(14deg);
    line-height: 1.2;
    @include max(1200px) {
      font-size: 4.3rem;
    }
    @include max(820px) {
      font-size: 3.2rem;
    }
    .vline {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-14deg);
      width: 130%;
      height: 130%;
      svg {
        display: block;
        height: auto;
        width: 100%;
        .svg-elem-1 {
          stroke-dashoffset: 1160.9272460938px;
          stroke-dasharray: 1160.9272460938px;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0s;
        }
      }
      svg.active .svg-elem-1 {
        stroke-dashoffset: 0;
      }
    }
  }
  .tdecor2 {
    position: absolute;
    width: max-content;
    font-size: 4rem;
    color: #3a3a3a;
    transform: rotate(-16deg);
    bottom: 5%;
    right: 24%;
    font-family: "SVN-Just Saying";
    text-align: center;
    line-height: 1.2;
    @include max(1200px) {
      font-size: 3.5rem;
    }
    @include max(820px) {
      font-size: 3rem;
    }
    @include max(500px) {
      display: none;
    }
    .vline2 {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%) rotate(16deg);
      width: 50%;
      svg {
        display: block;
        width: 100%;
        height: auto;
        .svg-elem-1 {
          stroke-dashoffset: 311.7061767578px;
          stroke-dasharray: 311.7061767578px;
          -webkit-transition: stroke-dashoffset 1s
            cubic-bezier(0.47, 0, 0.745, 0.715) 0s;
          transition: stroke-dashoffset 1s cubic-bezier(0.47, 0, 0.745, 0.715)
            0s;
        }
      }
      svg.active .svg-elem-1 {
        stroke-dashoffset: 0;
      }
      @include max(500px) {
        display: none;
      }
    }
    .vline3 {
      position: absolute;
      width: 100%;
      right: 0%;
      top: 100%;
      rotate: 17deg;
      transform: translate(0%, -24%);
      img {
        display: block;
      }
      @include max(500px) {
        display: none;
      }
    }
  }
  .abl-flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 0 -1.2rem;
    justify-content: space-between;
    @include max(1200px) {
      flex-direction: column-reverse;
    }
  }
  .abl-left {
    width: 41.6666666667%;
    padding: 0 1.2rem;
    @include max(1200px) {
      width: 100%;
    }
  }
  .abl-right {
    width: 41.6666666667%;
    padding: 0 1.2rem;
    @include max(1200px) {
      width: 100%;
      text-align: center;
      margin-bottom: 2.4rem;
    }
  }
  .abl-img {
    width: 80%;
    margin-left: auto;
    position: relative;
    @include max(1200px) {
      width: 100%;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      gap: 1.2rem;
    }
    .inner-img {
      @include max(1200px) {
        width: 65%;
      }
    }
    .inner-gr {
      @include max(1200px) {
        width: 45%;
      }
    }
    .inner {
      position: relative;
      padding-top: 85.5263157895%;
      @include max(1200px) {
        height: 100%;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .decor {
      position: absolute;
      width: 54%;
      left: 50%;
      bottom: 0;
      transform: translateX(-50rem);
      @include max(1200px) {
        position: static;
        transform: unset;
        width: 100%;
        margin-bottom: 1.2rem;
      }
      img {
        display: block;
      }
    }
    .decor2 {
      position: absolute;
      width: 72%;
      top: 100%;
      right: 50%;
      transform: translate(0%, 2.4rem);
      @include max(1200px) {
        position: static;
        transform: unset;
        width: 100%;
      }
      img {
        display: block;
      }
    }
  }
  .abl-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 30rem;
    @include max(1200px) {
      padding-top: unset;
    }
    .inner {
      margin-top: auto;
      overflow: hidden;
      .title {
        font-weight: 700;
        font-size: 4.8rem;
        color: #3a3a3a;
        @include max(1200px) {
          font-size: 3rem;
        }
        @include max(820px) {
          font-size: 3.2rem;
        }
        @include max(500px) {
          font-size: 2.4rem;
        }
      }
      .text {
        display: inline-block;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
        color: #fff;
        position: relative;
        overflow: hidden;
        background-color: #1ec0f2;
        margin-bottom: -1.2rem;
      }
      .text.active::before {
        width: 100%;
        opacity: 1;
      }
    }
  }
  .about-themona {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    width: 100%;
  }
}

.about-dream {
  position: relative;
  padding-top: 12rem;
  @include max(500px) {
    padding-top: 5.6rem;
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/images/about/bg-about-dream.png);
  }
  .host-tt {
    margin-bottom: 4rem;
    .bg {
      background-color: #7c0fd1;
      left: -1.6rem;
      top: -1rem;
      border-radius: 0.8rem;
      padding: 0.8rem 1.6rem;
      margin-bottom: 2rem;
      color: #fff;
    }
  }
}

.about-solution {
  margin-top: -22rem;
  position: relative;
  background: linear-gradient(
    180deg,
    #dcf7ff 81.38%,
    rgba(220, 247, 255, 0) 100%
  );
  padding-top: 23rem;
  @include max(820px) {
    margin-top: -28rem;
  }
  @include max(768px) {
    margin-top: -18rem;
    padding-top: 12rem;
  }
  @include max(500px) {
    margin-top: -22rem;
    padding-top: 15rem;
  }
  .host-tt {
    .about-subtt {
      img {
        width: 100%;
      }
    }
  }
  .about-desc {
    font-size: 2.4rem;
    margin-top: 4rem;
    @include max(768px) {
      br {
        display: none;
      }
    }
    @include max(500px) {
      font-size: 1.6rem;
      margin-top: 0;
    }
    &-line {
      color: #2686ec;
      font-weight: 700;
    }
    &-line2 {
      font-weight: 700;
    }
  }
  .btn-detail {
    margin-top: 3.6rem;
    @include max(500px) {
      margin-top: 1.9rem;
    }
    &-text {
      margin-bottom: 1.9rem;
      font-size: 1.8rem;
      font-style: italic;
    }
    @include max(820px) {
      text-align: center;
    }
    .btn-second {
      box-shadow: none;
      @include max(820px) {
        width: 100%;
      }
    }
  }
  .about-num {
    display: flex;
    margin-top: 6.2rem;
    justify-content: center;
    img {
      object-fit: contain;
    }
    &-l {
      margin-right: 2.2rem;
    }
    &-m {
      margin-right: 2.2rem;
    }
    @include max(500px) {
      margin-top: 2.2rem;
    }
  }
  &-left {
    @include max(820px) {
      width: 100%;
    }
  }

  &-right {
    @include max(820px) {
      display: none;
    }
    .customer {
      width: calc(100% + 13vw);
      transform: translateY(-11%);
      @include min(1990px) {
        width: calc(100% + 5vw);
      }
      @include max(1440px) {
        width: calc(100% + 10vw);
      }
      @include max(1366px) {
        width: calc(100% + 5vw);
      }
      @include max(1200px) {
        width: 100%;
      }
    }
    .panda {
      width: 25%;
      position: absolute;
      right: 0;
      transform: translate(18%, -32%);
      @include max(1200px) {
        transform: translate(0%, -32%);
      }
    }
  }
}

.ab {
  &-one {
    background-color: #f9f1ff;
    &-pile {
      margin-top: -9rem;
      @include max(1440px) {
        margin-top: -18rem;
      }
      @include max(1200px) {
        margin-top: 0;
      }
      &-item {
        min-height: calc(100 * var(--cvh, 1cvh));
        display: flex;
        justify-content: center;
        align-items: center;
        position: -webkit-sticky;
        position: sticky;
        bottom: 0;
        @include max(1200px) {
          min-height: calc(40 * var(--cvh, 1vh));
        }
        @include max(500px) {
          min-height: unset;
        }
        &:nth-child(1) {
          width: calc(100% * (5 / 12));
          z-index: 5;
          @include max(767px) {
            width: calc(100% * (7 / 12));
          }
          @include min(1201px) {
            transform: translateY(10vw);
          }
        }
        &:nth-child(2) {
          width: calc(100% * (10.2 / 12));
          margin-right: calc(100% * (1.2 / 12));
          margin-left: calc(100% * (1.2 / 12));
          z-index: 4;
          @include min(1201px) {
            transform: translateY(6vw);
          }
        }
        &:nth-child(3) {
          z-index: 3;
          width: calc(100% * (9.2 / 12));
          @include min(1201px) {
            transform: translateY(2vw);
          }
          .ab-one-pile-img {
            margin-left: 5rem;
          }
        }
        &:nth-child(4) {
          z-index: 2;
          width: calc(100% * (8.6 / 12));
          margin-left: auto;
        }
        &:nth-child(5) {
          width: calc(100% * (11 / 12));
          z-index: 1;
          @include min(1201px) {
            transform: translateY(5vw);
          }
        }
      }
      &-img {
        position: -webkit-sticky;
        position: sticky;
        img {
          border-radius: 1.6rem;
        }
      }
    }
    &-ano {
      width: calc(100% * (3 / 5));
      margin-left: auto;
      margin-right: 2.8rem;
      @include max(767px) {
        width: calc(100% * (4 / 7));
      }
      &-top {
        @include flex-wr;
        gap: 2.4rem;
        margin-bottom: 2.4rem;
        margin-right: -2.4rem;
        @include max(767px) {
          gap: 0.4rem;
          margin-right: -0.4rem;
          margin-bottom: 0.4rem;
        }
        &-img {
          width: calc(50% - 2.4rem);
          border-radius: 0.8rem;
          position: -webkit-sticky;
          position: sticky;
          @include max(1200px) {
            border-radius: 0.4rem;
          }
          @include max(767px) {
            border-radius: 0.4rem;
            width: calc(50% - 0.4rem);
          }
          img {
            border-radius: inherit;
            height: auto;
          }
        }
      }
      &-bot {
        &-img {
          border-radius: 0.8rem;
          img {
            border-radius: inherit;
            box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }
  &-two {
    .ab-two::after {
      background: none !important;
    }
    --radius: 1.6rem;
    --gap: 1.25vw;
    overflow: hidden;
    position: relative;
    @include max(1200px) {
      --radius: 0.8rem;
    }
    @include max(425px) {
      padding: 4rem 0 4rem 0 !important;
    }
    &-list {
      padding: 0 var(--gap);
      display: grid;
      gap: var(--gap);
      margin-right: -1.25vw;
      grid-template-columns:
        calc(100% * (2 / 14) - 1.25vw) calc(100% * (1 / 14) - 1.25vw)
        calc(100% * (3 / 14) - 1.25vw) calc(100% * (4 / 14) - 1.25vw) calc(100% *
            (4 / 14) - 1.25vw);
      height: calc(100vw * (1038 / 1728));
      grid-template-rows:
        calc(100% * (228 / 1038)) calc(100% * (125 / 1038)) calc(
          100% * (241 / 1038)
        )
        calc(100% * (124 / 1038)) calc(100% * (233 / 1038));
      @include max(767px) {
        grid-template-columns:
          calc(31% - 1.25vw) calc(14% - 1.25vw) calc(10% - 1.25vw)
          calc(45% - 1.25vw);
        height: calc(100vw * (1986 / 843));
        grid-template-rows:
          calc(100% * (233 / 1986)) calc(100% * (371 / 1986)) calc(
            100% * (364 / 1986)
          )
          calc(100% * (368 / 1986)) calc(100% * (367 / 1986)) calc(100% *
              (230 / 1986));
      }
    }
    &-item {
      &:nth-child(1) {
        grid-column: 1/4;
        grid-row: 1/2;
        .ab-two-wrap {
          width: 85%;
          margin-left: auto;
          @include max(767px) {
            width: 100%;
          }
        }
        @include max(767px) {
          grid-column: 1/5;
          grid-row: 1/2;
        }
      }
      &:nth-child(2) {
        grid-column: 4/5;
        grid-row: 1/3;
        @include max(767px) {
          grid-column: 1/4;
          grid-row: 4/5;
        }
      }
      &:nth-child(3) {
        grid-column: 5/6;
        grid-row: 1/3;
        display: flex;
        flex-direction: column;
        @include max(767px) {
          grid-column: 4/5;
          grid-row: 4/5;
        }
        .ab-two-wrap {
          height: 65%;
          width: 80%;
          margin-top: auto;
          @include max(767px) {
            width: 100%;
            height: 100%;
          }
        }
      }
      &:nth-child(4) {
        grid-column: 1/3;
        grid-row: 2/4;
        @include max(767px) {
          grid-column: 1/3;
          grid-row: 2/3;
        }
      }
      &:nth-child(5) {
        grid-column: 3/4;
        grid-row: 2/4;
        @include max(767px) {
          grid-column: 3/5;
          grid-row: 2/3;
        }
      }
      &:nth-child(6) {
        grid-column: 4/5;
        grid-row: 3/5;
        @include max(767px) {
          grid-column: 1/4;
          grid-row: 5/6;
        }
      }
      &:nth-child(7) {
        grid-column: 1/2;
        grid-row: 4/6;
        .ab-two-img {
          height: 50%;
          @include max(767px) {
            height: 100%;
          }
        }
        @include max(767px) {
          grid-column: 1/2;
          grid-row: 3/4;
        }
      }
      &:nth-child(8) {
        grid-column: 2/4;
        grid-row: 4/6;
        @include max(767px) {
          grid-column: 2/5;
          grid-row: 3/4;
        }
      }
      &:nth-child(9) {
        grid-column: 4/5;
        grid-row: 5/6;
        @include max(767px) {
          grid-column: 1/4;
          grid-row: 6/7;
        }
      }
      &:nth-child(10) {
        grid-column: 5/6;
        grid-row: 3/6;
        @include max(767px) {
          grid-column: 4/5;
          grid-row: 5/7;
        }
      }
    }
    &-wrap {
      background-color: $color-2686EC;
      height: 100%;
      border-radius: var(--radius);
      padding: 2.4rem;
      @include max(320px) {
        padding: 1.4rem;
      }
    }
    &-content {
      &-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        color: white;
        @include fz-48;
        font-weight: 700;
        text-align: center;
        @include max(1400px) {
          font-size: 4rem;
        }
        @include max(1200px) {
          font-size: 2.6rem;
        }
        @include max(1000px) {
          font-size: 2rem;
        }
        @include max(800px) {
          font-size: 1.6rem;
        }
        @include max(767px) {
          font-size: 2.6rem;
        }
        @include max(450px) {
          font-size: 1.8rem;
        }
      }
      &.purple {
        .ab-two-wrap {
          background-color: $color-7C0FD1 !important;
        }
      }
      &.orange {
        .ab-two-wrap {
          background-color: $color-F5851E;
        }
      }
    }
    &-img {
      height: 100%;
      border-radius: var(--radius);
      cursor: pointer;
      overflow: hidden;
      @include hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        border-radius: inherit;
      }
    }
    .pic {
      padding: 0 var(--gap);
      display: flex;
      margin-top: 2.4rem;
      justify-content: center;
      @include max(500px) {
        display: block;
        img {
          width: 100%;
          height: 100%;
        }
      }
      img {
        border-radius: 1.6rem;
      }
      .mg-r {
        margin-right: auto;
        @include max(1200px) {
          margin-right: 2.4rem;
        }
        @include max(500px) {
          margin-right: 0;
        }
      }
      &-l {
        @include hover {
          img {
            transform: scale(1.05);
          }
        }
      }
      &-m1 {
        @include hover {
          img {
            transform: scale(1.05);
          }
        }
      }
      &-m2 {
        @include hover {
          img {
            transform: scale(1.05);
          }
        }
      }
      &-r {
        @include hover {
          img {
            transform: scale(1.05);
          }
        }
      }
    }
  }
  &-three {
    position: relative;
    overflow: hidden;
    padding-bottom: 10rem;
    @include max(500px) {
      margin-top: 1.6rem;
    }
    &-decor {
      bottom: -20% !important;
      @include max(500px) {
        bottom: -22% !important;
      }
    }
    .host-tt {
      br {
        @include max(500px) {
          display: none;
        }
      }
    }
    &-title {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      @include max(1200px) {
        text-align: center;
      }
      @include max(500px) {
        display: block;
      }
      &-number {
        width: calc(100% * (3 / 12));
        @include max(500px) {
          width: 100%;
        }
      }
      &-turn {
        font-size: 4rem;
        @include max(500px) {
          font-size: 3rem;
        }
        br {
          @include max(500px) {
            display: none;
          }
        }
        .hl {
          background-color: #1ec0f2;
          border-radius: 0.8rem;
          padding: 0.8rem 1.5rem;
          color: #fff;
        }
      }
      &-desc {
        font-size: 1.8rem;
        margin-top: 2.4rem;
        .hl-desc {
          color: #f41e92;
        }
      }
    }
    &-top {
      position: relative;
    }
    &-decor {
      position: absolute;
      left: 0;
      bottom: -19%;
      width: 100%;
      z-index: -1;
      @include max(900px) {
        bottom: -5%;
      }
      img {
        display: block;
      }
    }
    &-img {
      position: relative;
      transform: translateY(2rem);
      img {
        display: block;
      }
      @include max(820px) {
        transform: translateY(2rem);
      }
      @include max(500px) {
        transform: translateY(2rem);
      }
    }
    &-person {
      position: absolute;
      left: 100%;
      width: 33.8rem;
      bottom: -4rem;
      img {
        display: block;
      }
    }
    &-name {
      &-img {
        position: absolute;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: 0.2s ease-in-out;
      }
    }
    &-cover {
      position: absolute;
      z-index: 2;
      cursor: pointer;
      &:hover {
        .ab-three-name-img {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          transition: 0.4s ease-in-out;
        }
      }
      &.tan {
        width: 19%;
        height: 78%;
        top: 22%;
        left: 6%;
        // background-color: red;
        .ab-three-name-img {
          left: 0;
          top: 33%;
          width: 74%;
        }
      }
      &.quang {
        // background-color: blue;
        width: 11%;
        height: 42%;
        top: 5%;
        left: 26%;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 33%;
          top: 100%;
          height: 61%;
          // background-color: blue;
        }
        .ab-three-name-img {
          left: 0;
          top: 62%;
          width: 104%;
        }
      }
      &.boss {
        width: 20.5%;
        height: 39%;
        top: 47%;
        left: 29.5%;
        // background-color: #2686EC;
        &::before {
          content: "";
          position: absolute;
          right: 33%;
          bottom: 100%;
          width: 31%;
          height: 36%;
          // background-color: #2686EC;
        }
        .ab-three-name-img {
          left: 16%;
          top: 10%;
          width: 68%;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
      }
      &.thoai {
        width: 11%;
        height: 38%;
        top: 3%;
        left: 43.5%;
        // background-color: green;
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 68%;
          height: 15%;
          // background-color: green;
        }
        .ab-three-name-img {
          left: -27%;
          top: 56%;
          width: 138%;
        }
      }
      &.cino {
        width: 13.5%;
        height: 39%;
        top: 47%;
        left: 50%;
        // background-color: purple;
        &::before {
          content: "";
          position: absolute;
          left: 100%;
          width: 14%;
          height: 60%;
          // background-color: purple;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          width: 62%;
          height: 12%;
          left: 11%;
          // background-color: purple;
        }
        .cino-head {
          position: absolute;
          bottom: 112%;
          width: 37%;
          height: 22%;
          left: 33%;
          // background-color: purple;
        }
        .ab-three-name-img {
          left: 0%;
          top: 16%;
          width: 124%;
        }
      }
      &.tuan {
        position: absolute;
        // background-color: #f41e92;
        width: 14.5%;
        bottom: 16%;
        height: 32%;
        right: 20%;
        &::before {
          content: "";
          // background-color: #f41e92;
          position: absolute;
          right: 9%;
          height: 16%;
          width: 80%;
          bottom: 100%;
        }
        &::after {
          content: "";
          position: absolute;
          // background-color: #f41e92;
          bottom: 116%;
          height: 60%;
          width: 41%;
          right: 20%;
        }
        .ab-three-name-img {
          left: -4%;
          top: 0%;
          width: 122%;
          z-index: -1;
        }
      }
      &.hung {
        position: absolute;
        right: 29%;
        top: 20%;
        width: 11%;
        height: 27%;
        // background-color: #2AC34D;
        &::before {
          content: "";
          position: absolute;
          bottom: 100%;
          width: 50%;
          height: 70%;
          // background-color: #2AC34D;
          left: 21%;
        }
        .ab-three-name-img {
          left: -14%;
          top: 4%;
          width: 127%;
        }
      }
      &.hy {
        position: absolute;
        // background-color: #5B1294;
        width: 14%;
        top: 23%;
        right: 6%;
        height: 41%;
        &::before {
          content: "";
          position: absolute;
          right: 6%;
          bottom: 100%;
          // background-color: #5B1294;
          width: 49%;
          height: 44%;
        }
        &::after {
          content: "";
          // background-color: #5B1294;
          position: absolute;
          right: 100%;
          top: 0;
          width: 20%;
          height: 58%;
        }
        .ab-three-name-img {
          left: -12%;
          top: 17%;
          width: 123%;
        }
      }
    }
    &-bottom {
      text-align: center;
      padding: 6rem;
      border-radius: 2.4rem;
      background-color: #1ec0f2;
      transform: translateY(2rem);
      z-index: 1;
      position: relative;
      @include max(820px) {
        padding: 3rem;
        transform: translateY(0rem);
      }
      @include max(767px) {
        padding: 4.8rem 2.4rem;
      }
      @include max(500px) {
        padding: 1.8rem 1.4rem;
        transform: translateY(0rem);
      }
      &-text {
        @include fz-24;
        color: white;
        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
        .hl {
          text-decoration: underline;
        }
      }
    }
    &-name {
      @include fz-40;
      line-height: 1.1;
      font-family: "Bebas Neue";
      color: white;
      text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4);
      position: relative;
      z-index: 2;
      &-top {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0;
          @include posi-horizontal;
          width: 120%;
          height: 200%;
          background-repeat: no-repeat;
          z-index: -1;
          background-image: url(../../assets/images/about/ab-three-cover-top.svg);
        }
      }
    }
  }
  &-four-demo {
    .ab-four-more {
      @include max(500px) {
        margin-top: 0;
      }
    }
    margin-top: 15rem;
    @include max(1200px) {
      margin-top: 0;
    }
    @include max(500px) {
      margin-top: 5.6rem;
    }
    .slogan-l {
      img {
        object-fit: contain;
        width: 100%;
      }
      .detail {
        margin-top: 3.2rem;
        font-size: 2.4rem;
        margin-bottom: 10.4rem;
        .line {
          font-weight: 600;
          text-decoration: underline;
          color: $color-2686EC;
        }
        .line2 {
          font-weight: 600;
          text-decoration: underline;
          color: $color-7C0FD1;
        }
      }
      @include max(500px) {
        width: 100%;
      }
    }
    .slogan-r {
      position: relative;
      transform: translateX(6%);
      @include min(1981px) {
        transform: unset;
      }
      @include max(1440px) {
        transform: translateX(4%);
      }
      @include max(1366px) {
        transform: translateX(-10%);
      }
      @include max(1200px) {
        transform: unset;
      }
      @include max(1024px) {
        transform: translate(0rem, 0rem);
      }
      @include max(768px) {
        transform: translate(-15%, -5%);
      }
      @include max(500px) {
        width: 100%;
        transform: translate(1rem, -2rem);
      }
      img {
        width: calc(100% + 9vw);
        height: 100%;
        object-fit: contain;
        transform: translateY(4.5rem);
        @include max(1200px) {
          width: 100%;
        }
        @include max(820px) {
          width: calc(100% + 4vw);
          height: 100%;
          object-fit: contain;
          transform: translate(-2rem, 2.5rem);
        }
      }
      &-decor {
        position: absolute;
        top: 0;
      }
    }
    &-more {
      margin: 0;
    }
  }
  &-five {
    overflow: hidden;
    position: relative;
    padding-top: 12rem;
    @include max(500px) {
      padding-top: 4.6rem;
    }
    .highlight {
      font-weight: 600;
      margin-bottom: 4rem;
      margin-top: 0.8rem;
    }
    .dsmall {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.2rem;
      margin-bottom: -2.4rem;
    }
    .host-tt {
      line-height: 1.2;
      br {
        @include max(820px) {
          display: none;
        }
      }
    }
    // &-tt {
    //   font-size: 2.4rem;
    //   font-weight: 600;
    //   @include max(500px) {
    //     br {
    //       display: block;
    //     }
    //     font-size: 2rem;
    //     margin-top: 3.8rem;
    //   }
    //   @include max(320px) {
    //     font-size: 1.6rem;
    //     margin-top: 3.8rem;
    //     line-height: 2;
    //   }
    // }
    .desc {
      color: #f5851e;
      font-size: 4.8rem;
      font-weight: 700;
      margin-top: 3.2rem;
      @include max(500px) {
        font-size: 2rem;
        line-height: 120%;
        margin-bottom: 10rem;
        margin-top: 1.2rem;
      }
    }
    &-br {
      position: absolute;
      top: 29%;
      width: 100%;
      left: 0;
      z-index: -3;
      @include max(767px) {
        top: unset;
        bottom: 5%;
      }
    }
    .head {
      @include max(1200px) {
        margin-bottom: 14rem;
      }
      @include max(550px) {
        margin-bottom: 9rem;
      }
      .c-title {
        .bg-color {
          font-size: 3.2rem;
        }
      }
    }
    &-top {
      &-left {
        width: calc(100% * (7 / 12));
      }
      &-right {
        width: calc(100% * (5 / 12));
      }
    }
    &-one {
      @include flex;
      align-items: center;
      flex-wrap: wrap;
      &-hy {
        width: calc(100% * (3 / 7));
        position: relative;
        &-decor {
          position: absolute;
          right: 78%;
          width: 100%;
          bottom: 64%;
        }
        &-fly {
          position: absolute;
          width: 20%;
          bottom: 100%;
          right: 0;
        }
        &-sig {
          position: absolute;
          top: -5%;
          right: 20%;
          width: 15%;
        }
        &-arr {
          position: relative;
          z-index: -4;
        }
        &-content {
          background-color: $color-7C0FD1;
          text-align: center;
          position: absolute;
          bottom: 110%;
          left: -10%;
          width: 90%;
          border-radius: 0.8rem;
          padding: 0.8rem;
          transform: rotate(-9deg);
          @include max(1200px) {
            left: -3%;
            transform: rotate(-21deg);
          }
          @include max(550px) {
            width: 150%;
          }
          .text {
            @include fz-32;
            font-weight: 800;
            color: white;
            @include max(1200px) {
              font-size: 1.8rem;
            }
            @include max(767px) {
              font-size: 1.4rem;
            }
            @include max(400px) {
              font-size: 1.2rem;
              font-weight: 600;
            }
          }
        }
        &-img {
          @include imgPd(429, 337);
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 55%;
            background-color: $color-7C0FD1;
            border-radius: 0.8rem 0 0 0.8rem;
          }
          img {
            @include mid;
          }
        }
      }
      &-roo {
        width: calc(100% * (4 / 7));
        &-img {
          @include imgPd(545, 480);
          border-radius: 0.8rem;
          box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.12);
          img {
            @include mid;
          }
        }
      }
    }
    &-mk {
      position: relative;
      &-content {
        position: absolute;
        bottom: 102%;
        right: -5%;
        @include max(1200px) {
          right: 0;
        }
        .text {
          @include fz-24;
          line-height: 1.3;
          font-weight: 600;
          color: #8b8b8b;
          text-align: center;
          transform: rotate(10deg);
          @include max(1200px) {
            font-size: 1.6rem;
            transform: rotate(0deg);
          }
          @include max(767px) {
            font-size: 1.4rem;
          }
          @include max(400px) {
            font-size: 1.2rem;
            font-weight: 600;
          }
          &-big {
            @include fz-32;
            color: $color-F5851E;
            font-weight: 700;
            @include max(1200px) {
              font-size: 2rem;
            }
            @include max(767px) {
              font-size: 1.6rem;
            }
          }
        }
      }
      &-circle {
        position: absolute;
        z-index: -1 !important;
        left: -17%;
        width: 155%;
        top: 36%;
      }
      &-arr {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: calc(100% + 6.4rem);
      }
    }
    &-nhtq {
      margin-top: -32%;
      &-img {
        width: calc(100% + ((100vw - 144.6rem + 3rem) / 2));
        @include max(1580px) {
          width: 43vw;
        }
      }
      &-inner {
        @include imgPd(446, 714);
        border-radius: 0.8rem 0 0 0.8rem;
        box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.12);
        img {
          @include mid;
        }
      }
    }
    &-bot {
      width: calc(8 / 12 * 100%);
      margin: 0 auto;
      margin-top: -25%;
      position: relative;
      z-index: -1;
      @include max(550px) {
        margin-left: 25%;
      }
      &-img {
        position: relative;
      }
      &-decor {
        position: absolute;
        z-index: 2;
        width: 20%;
        left: -15.5%;
        top: 45%;
        @include max(1200px) {
          top: 60%;
        }
      }
      &-content {
        position: absolute;
        bottom: 110%;
        right: 0;
        padding: 0.8rem 1.6rem;
        border-radius: 0.8rem;
        background-color: $color-7C0FD1;
        width: 180%;
        text-align: center;
        transform: rotate(-9deg);
        @include max(1200px) {
          right: -34%;
        }
        @include max(550px) {
          width: 300%;
          right: -90%;
        }
        .text {
          @include fz-32;
          font-weight: 800;
          color: white;
          @include max(1200px) {
            font-size: 1.8rem;
          }
          @include max(767px) {
            font-size: 1.4rem;
          }
          @include max(400px) {
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }
      &-inner {
        @include imgPd(611, 943);
        border-radius: 0.8rem;
        box-shadow: 8px 8px 40px rgba(0, 0, 0, 0.12);
        img {
          @include mid;
        }
      }
    }
  }
  &-six {
    overflow: hidden;
    position: relative;
    @include max(500px) {
      padding-top: 0rem;
    }
    .head.mb-80 {
      @include max(1200px) {
        max-width: 100%;
      }
    }
    .host-tt {
      font-weight: 700;
      padding-bottom: 2.4rem;
      .hl-inner {
        background-color: #f41e92;
        border-radius: 0.8rem;
        padding: 0.8rem 1.6rem;
        color: #fff;
        @include max(375px) {
          display: block;
          margin-top: 0.5rem;
        }
      }
      .bg-color {
        @include min(376px) {
          display: none;
        }
        @include max(375px) {
          display: block;
        }
      }
      @include max(1366px) {
        line-height: 1.6;
      }
      @include max(820px) {
        br {
          display: block;
        }
      }
      @include max(500px) {
        line-height: 2;
      }
      @include max(375px) {
        br {
          display: none;
        }
        line-height: 1.2;
      }
    }
    .head {
      width: 93.6rem;
      max-width: 100%;
      position: relative;
      margin-left: auto;
      margin-right: auto;
    }
    &-arr {
      position: absolute;
      left: 100%;
      width: 7.6rem;
      top: 40%;
      @include max(500px) {
        display: none;
      }
    }
    &-top {
      @include flex;
      &-item {
        width: calc(100% / 3);
      }
    }
    &-logo {
      position: absolute;
      width: 7.5rem;
      height: 7.5rem;
      @include mid-flex;
      border-radius: 1.6rem;
      box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.12);
      overflow: hidden;
      @include min(1201px) {
        animation: float-chuan 5s ease-in-out infinite;
      }
      @include max(1000px) {
        width: 5rem;
        height: 5rem;
        border-radius: 0.8rem;
      }
      @include max(500px) {
        width: 4rem;
        height: 4rem;
        border-radius: 0.4rem;
      }
      &.discord {
      }
      &.zoom {
      }
      &.gg-meet {
      }
      img {
      }
    }
    &-wb {
      position: relative;
      &.one {
        width: calc(100% + 24rem);
        @include max(1000px) {
          width: 150%;
        }
        z-index: 1;
        .ab-six-logo.gg-meet {
          left: -3.7rem;
          top: 10%;
          @include max(1200px) {
            left: 0;
          }
        }
        .ab-six-logo.discord {
          top: -40%;
          left: 20%;
          @include max(1200px) {
            top: -3.7rem;
          }
        }
      }
      &.two {
        margin-left: 3.8rem;
        margin-top: 8rem;
        width: calc(100% + 27rem);
        z-index: 2;
        @include max(1000px) {
          width: 120%;
        }
      }
      &.three {
        width: calc(100% + 4.6rem);
        @include max(1000px) {
          width: 120%;
        }
        float: right;
        z-index: 3;
        .ab-six-logo.book {
          top: -3.7rem;
          right: 30%;
          @include max(1200px) {
            top: 3.7rem !important;
            right: 30%;
          }
          @include max(700px) {
            right: 40%;
          }
        }
        .ab-six-logo.business {
          top: -3.7rem;
          right: 10%;
        }
      }
      &.four {
        width: calc(100% + 12rem);
        @include max(1000px) {
          width: 130%;
        }
        .ab-six-logo {
          right: 110%;
          top: 30%;
        }
      }
      &-img {
        border-radius: 0.8rem;
        img {
          box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.12);
          display: block;
          border-radius: inherit;
        }
      }
    }
    &-bot {
      @include flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: -22%;
      position: relative;
      z-index: 4;
      @include max(767px) {
        margin-top: 0;
      }
      &-left {
        width: calc(100% * (5 / 12));
        @include max(1000px) {
          // width: calc(100% * (6/12));
        }
      }
      &-right {
        width: calc(100% * (5 / 12));
      }
    }
    &-person {
      position: relative;
      &-inner {
        @include imgPd(1, 1);
        border-radius: 100rem;
        background: $color-F41E92 !important;
        overflow: visible;
        img {
          position: absolute;
          bottom: -2.5%;
          left: 0;
          width: 100%;
          height: 125%;
          object-fit: contain;
        }
      }
      .ab-six-tag.one {
        top: 0;
        right: 73%;
        @include min(1981px) {
          left: 65% !important;
        }
        @include max(1400px) {
          left: 40% !important;
        }
        @include max(1200px) {
          left: 0% !important;
        }
        @include max(500px) {
          left: 0 !important;
        }
        @include max(320px) {
          left: -21px !important;
        }
      }
      .ab-six-tag.two {
        top: 20%;
        right: 90%;
        width: max-content;
        @include min(1981px) {
          left: 60% !important;
        }
        @include max(1980px) {
          left: 64% !important;
        }
        @include max(1200px) {
          left: 40% !important;
          bottom: 10% !important;
        }
        @include max(768px) {
          left: 30% !important;
        }
        @include max(500px) {
          top: 30%;
          left: -20% !important;
        }
      }
    }
    &-tag {
      position: absolute;
      padding: 1.2rem 2.4rem;
      background-color: $color-7C0FD1;
      z-index: 2;
      @include fz-24;
      font-weight: 700;
      color: white;
      border-radius: 0 1.6rem 1.6rem 1.6rem;
      white-space: nowrap;
      @include max(1000px) {
        font-size: 1.4rem;
      }
      @include max(500px) {
        padding: 0.8rem;
        border-radius: 0 0.8rem 0.8rem 0.8rem;
      }
      &::before {
        content: "";
        position: absolute;
        width: 1.4rem;
        height: 1rem;
        background-color: inherit;
        top: 100%;
        right: 24rem;
        clip-path: polygon(100% 0, 20% 0, 0 100%);
        -webkit-clip-path: polygon(100% 0, 20% 0, 0 100%);
        @include max(1200px) {
          top: 97%;
          right: 20rem;
        }
        @include max(1024px) {
          right: 20rem;
        }
        @include max(768px) {
          right: 16rem;
        }
        @include max(500px) {
          right: 12rem;
        }
      }
      &.two {
        background-color: $color-2686EC;
      }
    }
  }
  &-seven {
    overflow: hidden;
    margin-top: 12rem;
    @include max(500px) {
      margin-top: 5.6rem;
      padding-top: 0;
    }
    .host-tt {
      line-height: 120%;
      @include max(500px) {
        margin-bottom: 2.4rem;
      }
      .bg-color {
        margin-bottom: 0.5rem;
      }
    }
    .mark {
      position: absolute;
      width: 100%;
      transform: translateY(14rem);
    }
    &-img {
      position: relative;
      margin-top: 6.4rem;
      @include max(500px) {
        margin-top: 0;
      }
      &-inner {
        border-radius: 0.8rem;
      }
      img {
        border-radius: inherit;
      }
    }
    &-virus {
      position: absolute;
      .img {
        position: absolute;
        animation: float-chuan 5s ease-in-out infinite;
        img {
          @include mid;
          object-fit: contain;
        }
      }
      &.one {
        width: 9%;
        padding-top: 9%;
        bottom: 110%;
        @include max(1200px) {
          top: 0;
          bottom: unset;
        }
        .img {
          &:nth-child(1) {
            width: 50%;
            padding-top: 50%;
            bottom: 20%;
            right: 20%;
          }
          &:nth-child(2) {
            width: 40%;
            padding-top: 40%;
            top: 0;
            left: 0;
          }
        }
      }
      &.two {
        width: 20%;
        padding-top: 20%;
        bottom: 90%;
        left: 85%;
        @include max(1200px) {
          bottom: 0;
          left: unset;
          right: 0;
        }
        .img {
          &:nth-child(1) {
            width: 8.2%;
            padding-top: 8.2%;
            top: 0;
            right: 50%;
            animation-delay: 0.2s;
          }
          &:nth-child(2) {
            width: 16%;
            padding-top: 16%;
            top: 30%;
            right: 10%;
            animation-delay: 0.1s;
          }
          &:nth-child(3) {
            width: 60%;
            padding-top: 60%;
            top: 30%;
            right: 20%;
            animation-delay: 0.3s;
          }
          &:nth-child(4) {
            width: 7.5%;
            padding-top: 7.5%;
            top: 50%;
            right: 10%;
            animation-delay: 0.1s;
          }
          &:nth-child(5) {
            width: 15%;
            padding-top: 15%;
            bottom: 20%;
            left: 5%;
            animation-delay: 0.3s;
          }
          &:nth-child(6) {
            width: 8%;
            padding-top: 8%;
            bottom: 10%;
            left: 20%;
            animation-delay: 1s;
          }
          &:nth-child(7) {
            width: 25%;
            padding-top: 25%;
            bottom: 0%;
            right: 5%;
            animation-delay: 2s;
          }
          &:nth-child(8) {
            width: 14%;
            padding-top: 14%;
            bottom: 0%;
            right: 1%;
            animation-delay: 1s;
          }
          &:nth-child(9) {
            width: 8%;
            padding-top: 8%;
            top: 30%;
            left: 5%;
            animation-delay: 2s;
          }
        }
      }
    }
  }
  &-eight {
    --gap: 1.25vw;
    --radius: 1.6rem;
    $ab-eight-mobile: 800px;
    $ab-eight-tablet: 1200px;
    @include max(1200px) {
      --radius: 0.8rem;
    }
    &-wrapper {
      padding: 0 var(--gap);
    }
    &-list {
      display: grid;
      gap: var(--gap);
      grid-template-columns: repeat(5, 1fr);
      height: calc(100vw * (1647 / 1728));
      grid-template-rows:
        calc(100% * (257 / 1647)) calc(100% * (70 / 1647)) calc(
          100% * (105 / 1647)
        )
        calc(100% * (267 / 1647)) calc(100% * (73 / 1647)) calc(
          100% * (267 / 1647)
        )
        calc(100% * (76 / 1647)) calc(100% * (31 / 1647)) calc(100% *
            (328 / 1647));
      @include max($ab-eight-tablet) {
        grid-template-columns: repeat(3, 1fr);
        height: calc(100vw * (2652 / 997));
        grid-template-rows:
          calc(100% * (257 / 2652)) calc(100% * (73 / 2652)) calc(
            100% * (106 / 2652)
          )
          calc(100% * (267 / 2652)) calc(100% * (272 / 2652)) calc(
            100% * (71 / 2652)
          )
          calc(100% * (103 / 2652)) calc(100% * (274 / 2652)) calc(
            100% * (43 / 2652)
          )
          calc(100% * (129 / 2652)) calc(100% * (95 / 2652)) calc(
            100% * (117 / 2652)
          )
          calc(100% * (237 / 2652)) calc(100% * (94 / 2652)) calc(100% *
              (339 / 2652));
      }
      @include max($ab-eight-mobile) {
        grid-template-columns: repeat(2, 1fr);
        height: calc(100vw * (3814 / 657));
        grid-template-rows:
          calc(100% * (257 / 3814)) calc(100% * (72 / 3814)) calc(
            100% * (371 / 3814)
          )
          calc(100% * (341 / 3814)) calc(100% * (106 / 3814)) calc(
            100% * (341 / 3814)
          )
          calc(100% * (265 / 3814)) calc(100% * (37 / 3814)) calc(
            100% * (341 / 3814)
          )
          calc(100% * (74 / 3814)) calc(100% * (266 / 3814)) calc(
            100% * (105 / 3814)
          )
          calc(100% * (340 / 3814)) calc(100% * (340 / 3814)) calc(
            100% * (105 / 3814)
          )
          calc(100% * (330 / 3814));
      }
    }
    &-item {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        @include max($ab-eight-tablet) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/3;
        @include max($ab-eight-tablet) {
          grid-column: 2/3;
          grid-row: 1/3;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 1/3;
        }
      }
      &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/4;
        @include max($ab-eight-tablet) {
          grid-column: 3/4;
          grid-row: 1/4;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 14/16;
        }
      }
      &:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1/3;
        @include max($ab-eight-tablet) {
          grid-column: 3/4;
          grid-row: 13/15;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 14/15;
        }
      }
      &:nth-child(5) {
        grid-column: 5/6;
        grid-row: 1/4;
        @include max($ab-eight-tablet) {
          grid-column: 1/2;
          grid-row: 12/15;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 10/13;
        }
      }
      &:nth-child(6) {
        grid-column: 1/2;
        grid-row: 2/5;
        @include max($ab-eight-tablet) {
          grid-column: 1/2;
          grid-row: 2/5;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 2/4;
        }
      }
      &:nth-child(7) {
        grid-column: 2/3;
        grid-row: 3/5;
        @include max($ab-eight-tablet) {
          grid-column: 2/3;
          grid-row: 3/5;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 3/4;
        }
      }
      &:nth-child(8) {
        grid-column: 3/4;
        grid-row: 4/6;
        @include max($ab-eight-tablet) {
          grid-column: 3/4;
          grid-row: 5/7;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 13/14;
        }
      }
      &:nth-child(9) {
        grid-column: 4/5;
        grid-row: 3/6;
        @include max($ab-eight-tablet) {
          grid-column: 2/3;
          grid-row: 14/16;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 14/17;
        }
      }
      &:nth-child(10) {
        grid-column: 5/6;
        grid-row: 4/6;
        @include max($ab-eight-tablet) {
          grid-column: 1/2;
          grid-row: 15/16;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 16/17;
        }
      }
      &:nth-child(11) {
        grid-column: 1/2;
        grid-row: 5/7;
        @include max($ab-eight-tablet) {
          grid-column: 1/2;
          grid-row: 5/6;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 4/5;
        }
      }
      &:nth-child(12) {
        grid-column: 2/3;
        grid-row: 5/8;
        @include max($ab-eight-tablet) {
          grid-column: 2/3;
          grid-row: 5/8;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 4/6;
        }
      }
      &:nth-child(13) {
        grid-column: 3/4;
        grid-row: 6/7;
        @include max($ab-eight-tablet) {
          grid-column: 3/4;
          grid-row: 4/5;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 7/8;
        }
      }
      &:nth-child(14) {
        grid-column: 4/5;
        grid-row: 6/8;
        @include max($ab-eight-tablet) {
          grid-column: 3/4;
          grid-row: 10/13;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 9/10;
        }
      }
      &:nth-child(15) {
        grid-column: 5/6;
        grid-row: 6/7;
        @include max($ab-eight-tablet) {
          grid-column: 1/2;
          grid-row: 9/12;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 11/12;
        }
      }
      &:nth-child(16) {
        grid-column: 1/2;
        grid-row: 7/10;
        @include max($ab-eight-tablet) {
          grid-column: 1/2;
          grid-row: 6/9;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 5/7;
        }
      }
      &:nth-child(17) {
        grid-column: 2/3;
        grid-row: 8/10;
        @include max($ab-eight-tablet) {
          grid-column: 3/4;
          grid-row: 15/16;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 6/7;
        }
      }
      &:nth-child(18) {
        grid-column: 3/4;
        grid-row: 7/10;
        @include max($ab-eight-tablet) {
          grid-column: 2/3;
          grid-row: 11/14;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 8/11;
        }
      }
      &:nth-child(19) {
        grid-column: 4/5;
        grid-row: 8/10;
        @include max($ab-eight-tablet) {
          grid-column: 3/4;
          grid-row: 7/10;
        }
        @include max($ab-eight-mobile) {
          grid-column: 2/3;
          grid-row: 7/9;
        }
      }
      &:nth-child(20) {
        grid-column: 5/6;
        grid-row: 7/10;
        @include max($ab-eight-tablet) {
          grid-column: 2/3;
          grid-row: 8/11;
        }
        @include max($ab-eight-mobile) {
          grid-column: 1/2;
          grid-row: 12/14;
        }
      }
    }
    &-img {
      height: 100%;
      border-radius: var(--radius);
      box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.12);
      cursor: pointer;
      overflow: hidden;
      @include hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        border-radius: inherit;
      }
    }
    &-wrap {
      border-radius: var(--radius);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-2686EC;
      box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.12);
    }
    &-content {
      &.purple {
        .ab-eight-wrap {
          background-color: $color-7C0FD1;
        }
      }
      &.pink {
        .ab-eight-wrap {
          background-color: $color-F41E92;
        }
      }
      &.orange {
        .ab-eight-wrap {
          background-color: $color-F5851E;
        }
      }
      &-inner {
        @include fz-24;
        font-weight: 600;
        color: white;
        padding: 2.4rem;
        @include max(450px) {
          font-size: 1.2rem;
          padding: 0.8rem;
        }
        .number {
          font-size: 3em;
          font-weight: 700;
          line-height: 1.1;
        }
      }
    }
  }
  &-nine {
    --gap: 1.25vw;
    --radius: 1.6rem;
    $ab-nine-mobile: 767px;
    $ab-nine-tablet: 1200px;
    &::before {
      background: none !important;
    }
    @include max(1200px) {
      --radius: 0.8rem;
    }
    &-wrapper {
      padding: 0 var(--gap);
      margin-bottom: 4rem;
      @include max(500px) {
        margin-bottom: 2rem;
      }
    }
    &-list {
      display: grid;
      gap: var(--gap);
      grid-template-columns: repeat(5, 1fr);
      height: calc(100vw * (1159 / 1728));
      grid-template-rows:
        calc(100% * (257 / 1159)) calc(100% * (71 / 1159)) calc(
          100% * (105 / 1159)
        )
        calc(100% * (162 / 1159)) calc(100% * (105 / 1159)) calc(
          100% * (72 / 1159)
        )
        calc(100% * (258 / 1159));
      @include max($ab-nine-tablet) {
        grid-template-columns: repeat(3, 1fr);
        height: calc(100vw * (1859 / 999));
        grid-template-rows:
          calc(100% * (255 / 1859)) calc(100% * (75 / 1859)) calc(
            100% * (105 / 1859)
          )
          calc(100% * (165 / 1859)) calc(100% * (104 / 1859)) calc(
            100% * (74 / 1859)
          )
          calc(100% * (266 / 1859)) calc(100% * (348 / 1859)) calc(
            100% * (100 / 1859)
          )
          calc(100% * (255 / 1859));
      }
      @include max($ab-nine-mobile) {
        grid-template-columns: repeat(2, 1fr);
        height: calc(100vw * (2677 / 658));
        grid-template-rows:
          calc(100% * (254 / 2677)) calc(100% * (73 / 2677)) calc(
            100% * (267 / 2677)
          )
          calc(100% * (109 / 2677)) calc(100% * (337 / 2677)) calc(
            100% * (342 / 2677)
          )
          calc(100% * (106 / 2677)) calc(100% * (163 / 2677)) calc(
            100% * (267 / 2677)
          )
          calc(100% * (341 / 2677)) calc(100% * (73 / 2677)) calc(100% *
              (254 / 2677));
      }
    }
    &-item {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
        @include max($ab-nine-tablet) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
      }
      &:nth-child(2) {
        grid-column: 2/3;
        grid-row: 1/3;
        @include max($ab-nine-tablet) {
          grid-column: 2/3;
          grid-row: 1/3;
        }
        @include max($ab-nine-mobile) {
          grid-column: 2/3;
          grid-row: 1/3;
        }
      }
      &:nth-child(3) {
        grid-column: 3/4;
        grid-row: 1/4;
        @include max($ab-nine-tablet) {
          grid-column: 3/4;
          grid-row: 1/4;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 10/12;
        }
      }
      &:nth-child(4) {
        grid-column: 4/5;
        grid-row: 1/3;
        @include max($ab-nine-tablet) {
          grid-column: 2/3;
          grid-row: 8/9;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 6/7;
        }
      }
      &:nth-child(5) {
        grid-column: 5/6;
        grid-row: 1/4;
        @include max($ab-nine-tablet) {
          grid-column: 3/4;
          grid-row: 8/10;
        }
        @include max($ab-nine-mobile) {
          grid-column: 2/3;
          grid-row: 8/10;
        }
      }
      &:nth-child(6) {
        grid-column: 1/2;
        grid-row: 2/6;
        @include max($ab-nine-tablet) {
          grid-column: 1/2;
          grid-row: 2/6;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 2/5;
        }
      }
      &:nth-child(7) {
        grid-column: 2/3;
        grid-row: 3/5;
        @include max($ab-nine-tablet) {
          grid-column: 2/3;
          grid-row: 3/5;
        }
        @include max($ab-nine-mobile) {
          grid-column: 2/3;
          grid-row: 3/4;
        }
      }
      &:nth-child(8) {
        grid-column: 3/4;
        grid-row: 4/7;
        @include max($ab-nine-tablet) {
          grid-row: 4/7;
        }
        @include max($ab-nine-mobile) {
          grid-column: 2/3;
          grid-row: 11/13;
        }
      }
      &:nth-child(9) {
        grid-column: 4/5;
        grid-row: 3/5;
        @include max($ab-nine-tablet) {
          grid-column: 1/2;
          grid-row: 10/11;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 7/9;
        }
      }
      &:nth-child(10) {
        grid-column: 5/6;
        grid-row: 4/6;
        @include max($ab-nine-tablet) {
          grid-column: 3/4;
          grid-row: 10/11;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 9/10;
        }
      }
      &:nth-child(11) {
        grid-column: 1/2;
        grid-row: 6/8;
        @include max($ab-nine-tablet) {
          grid-row: 6/8;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 5/6;
        }
      }
      &:nth-child(12) {
        grid-column: 2/3;
        grid-row: 5/8;
        @include max($ab-nine-tablet) {
          grid-row: 5/8;
        }
        @include max($ab-nine-mobile) {
          grid-column: 2/3;
          grid-row: 4/6;
        }
      }
      &:nth-child(13) {
        grid-column: 3/4;
        grid-row: 7/8;
        @include max($ab-nine-tablet) {
          grid-row: 7/8;
        }
        @include max($ab-nine-mobile) {
          grid-column: 1/2;
          grid-row: 12/13;
        }
      }
      &:nth-child(14) {
        grid-column: 4/5;
        grid-row: 5/8;
        @include max($ab-nine-tablet) {
          grid-column: 1/2;
          grid-row: 8/10;
        }
        @include max($ab-nine-mobile) {
          grid-column: 2/3;
          grid-row: 6/8;
        }
      }
      &:nth-child(15) {
        grid-column: 5/6;
        grid-row: 6/8;
        @include max($ab-nine-tablet) {
          grid-column: 2/3;
          grid-row: 9/11;
        }
        @include max($ab-nine-mobile) {
          grid-column: 2/3;
          grid-row: 10/11;
        }
      }
    }
    &-img {
      height: 100%;
      border-radius: var(--radius);
      box-shadow: none;
      overflow: hidden;
      cursor: pointer;
      @include hover {
        img {
          transform: scale(1.05);
        }
      }
      img {
        border-radius: inherit;
      }
    }
    &-wrap {
      border-radius: var(--radius);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $color-2686EC;
    }
    &-content {
      &.purple {
        .ab-nine-wrap {
          background-color: $color-7C0FD1;
        }
      }
      &.pink {
        .ab-nine-wrap {
          background-color: $color-F41E92;
        }
      }
      &.orange {
        .ab-nine-wrap {
          background-color: $color-F5851E;
        }
      }
      &-inner {
        @include fz-24;
        font-weight: 600;
        color: white;
        padding: 2.4rem;
        @include max(1200px) {
          font-size: 1.6rem;
        }
        .number {
          font-size: 3em;
          font-weight: 700;
          line-height: 1.1;
        }
      }
    }
    &-bot {
      .c-text {
        @include fz-24;
        color: white;
        font-style: italic;
      }
    }
  }
}

.sec-abn {
  margin-top: 12rem;
  @include max(500px) {
    margin-top: 5.6rem;
  }
}

.sec-abc {
  @include max(425px) {
    padding-bottom: 4rem !important;
  }
  .abc-box {
    .inner {
      @include max(320px) {
        padding: 1.5rem 1.4rem;
      }
    }
  }
  .abc-bot {
    .des {
      .des-02 {
        margin-top: 1.6rem;
      }
      .text {
        color: #1ec0f2;
      }
    }
  }
  .abc-img {
    .abc-decor {
      width: calc(100% * (6 / 12));
      transform: translate(-50%, -38%);
    }
  }
  .abc-tleft {
    @include max(1024px) {
      transform: translateY(-128%);
    }
    @include max(820px) {
      transform: translateY(-12%);
    }
    @include max(500px) {
      transform: translateY(-56%);
    }
  }
  .abc-tright {
    @include max(1024px) {
      transform: translateY(-145%);
    }
    @include max(820px) {
      transform: translateY(-90%);
    }
  }
  .abc-bright {
    @include max(820px) {
      transform: translateY(45%);
    }
    @include max(425px) {
      transform: translateY(-30%);
    }
  }
  .abc-bleft {
    @include max(820px) {
      transform: translateY(-110%);
    }
    @include max(425px) {
      transform: translateY(-26%);
    }
  }
  .abc {
    .abc-wrap {
      .abc-top {
        .abc-title {
          .host-tt {
            .bg-color {
              margin-top: 0.4rem;
            }
          }
          .des {
            margin-top: 2.4rem;
          }
        }
      }
    }
  }
}

.abw-img {
  .inner {
    .decor {
      transform: translate(-50%, -58%);
    }
  }
}

.sec-abp {
  margin-top: 12rem;
  @include max(500px) {
    margin-top: 0rem;
  }
  .decor {
    bottom: -5rem;
  }
  .abp {
    &-box {
      &.abp-box-tl {
        background: #1ec0f2;
        top: 7%;
        left: 31%;
        @include max(820px) {
          left: 10%;
        }
        .abp-box-icon {
          background: #1ec0f2;
        }
        @include max(500px) {
          left: 10%;
        }
      }
      &.abp-box-bl {
        top: 88%;
        right: -9%;
        @include max(1024px) {
          top: 88%;
          right: 2%;
        }
        @include max(820px) {
          top: 80%;
          bottom: unset;
        }
        @include max(500px) {
          transform: translateY(-50%);
          top: 86%;
        }
      }
      &.abp-box-tr {
        top: 0%;
        left: 96%;
        @include max(1024px) {
          left: 78%;
        }
        @include max(820px) {
          left: 70%;
        }
        @include max(500px) {
          left: 53%;
        }
      }
      &-br {
        background: #f41e92;
        .abp-box-icon {
          background: #f41e92;
        }
      }
      &-py {
        padding: 2.4rem;
        @include max(500px) {
          padding: 0.8rem 1.6rem;
        }
      }
    }
    .host-tt {
      @include max(425px) {
        margin-top: 4rem;
      }
      .bg-color {
        margin-bottom: 0rem;
      }
    }
  }
  .abp-img {
    .inner {
      .decor {
        @include max(500px) {
          width: 46%;
        }
      }
    }
  }
}

.ab-br-purple {
  position: relative;
  overflow: hidden;
  padding-top: 12.5rem !important;
  @include max(500px) {
    padding-top: 5.6rem !important;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #ffffff 36.27%, #1ec2f5 100%);
  }
  .abso-top {
    .title {
      .text {
        &::before {
          background-color: #1ec0f2 !important;
        }
      }
    }
  }
  .abso-bot {
    .abso-py {
      background-color: #fff;
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0%;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(/assets/images/about/background-hosting.png);
        background-size: cover;
        background-repeat: no-repeat;
      }
      .abso-decor {
        width: calc(100% * (5.5 / 12));
        right: 5rem;
        @include max(500px) {
          width: 100%;
        }
      }
    }
  }
  .contacts-wrap {
    .sample-ten-wrap {
      &.one {
        .sample-ten-img {
          width: calc(100% * (3 / 6)) !important;
          @include max(1024px) {
            width: 48% !important;
            height: 73%;
          }
          @include max(820px) {
            width: 100% !important;
            height: 100%;
          }
        }
        .sample-ten-name {
          color: #f5851e !important;
        }
      }
      &.two {
        .sample-ten-img {
          width: calc(100% * (3 / 6)) !important;
          @include max(1024px) {
            width: 48% !important;
            height: 73%;
          }
          @include max(820px) {
            width: 100% !important;
            height: 100%;
          }
        }
        .sample-ten-name {
          color: #7c0fd1 !important;
        }
      }
      &.three {
        .sample-ten-img {
          width: calc(100% * (4 / 6)) !important;
          @include max(1024px) {
            width: 48% !important;
            height: 73%;
          }
          @include max(820px) {
            width: 108% !important;
            height: 100%;
          }
        }
        .sample-ten-name {
          color: #2686ec !important;
        }
      }
      &.four {
        .sample-ten-img {
          width: calc(100% * (3 / 6)) !important;
          @include max(1024px) {
            width: 50% !important;
            height: 73%;
          }
          @include max(820px) {
            width: 100% !important;
            height: 100%;
          }
        }
        .sample-ten-name {
          color: #f41e92 !important;
        }
      }
      .sample-ten-img {
        @include max(820px) {
          position: static;
          width: 100% !important;
        }
      }
    }
    .sample-ten-block {
      @include max(820px) {
        display: flex;
        flex-direction: column;
        flex: 0 !important;
      }
      @include max(500px) {
        padding-top: 0;
      }
    }
  }
  &-bottom {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0%;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, #1ec2f5 36.27%, #ffffff 100%);
    }
  }

  .sec-abso {
    .abso {
      &-link {
        .btn {
          background: #f5851e;
          &:hover:after {
            background: #a943f9;
          }
        }
      }
      .abso-top {
        .title {
          br {
            @include max(500px) {
              display: block;
            }
            @include max(375px) {
              display: none;
            }
          }
        }
      }
    }
    .abso-content {
      .abso-txt {
        .abso-solution {
          @include max(500px) {
            line-height: 120%;
          }
          br {
            @include max(500px) {
              display: none;
            }
          }
        }
      }
    }
    .host-tt {
      line-height: 1.2;
    }
  }
}

.sec-abso {
  margin-top: 12rem;
  .sample-ten-wrap {
    background-color: #ffeedf;
    &.two {
      background-color: #f9f1ff;
    }
    &.three {
      background-color: #dcf7ff;
    }
    &.four {
      background-color: #ffe3f2;
    }
  }
  @include max(500px) {
    margin-top: 5.6rem;
    .abso-mid {
      margin-top: 4rem;
      .sample-ten-item {
        width: 100%;
      }
      @include max(500px) {
        margin-top: 2rem;
      }
    }
  }
}

.co-customer {
  &::before {
    background: none !important;
  }
  &-list {
    display: grid;
  }
  padding-top: 8rem;
  @include max(500px) {
    padding-top: 1.6rem;
  }
  .header-coop {
    .host-tt {
      line-height: 120%;
      @include max(500px) {
        br {
          display: none;
        }
      }
    }
    .coop-tt {
      padding: 0.8rem 1.6rem;
      border-radius: 0.8rem;
      text-align: left;
      width: max-content;
      background-color: #f5851e;
      color: #fff;
      margin-bottom: 0.8rem;
      @include max(1024px) {
        margin-bottom: 0.6rem;
      }
      @include max(820px) {
        margin-bottom: 1.4rem;
      }
      @include max(500px) {
        margin-bottom: 0.4rem;
      }
    }
    .coop-desc {
      text-align: left;
    }
    .line {
      color: #f41e92;
    }
  }
  .pandaco {
    width: calc(100% * (4 / 12));
    position: absolute;
    right: 20rem;
    top: 0rem;
    @include max(1024px) {
      width: 50%;
      position: absolute;
      right: 4rem;
      top: 0rem;
    }
    @include max(820px) {
      right: 2rem;
      top: 8rem;
    }
    @include max(768px) {
      right: 20px;
    }
    @include max(500px) {
      display: none;
    }
  }

  .host-tt {
    img {
      width: calc(100% * (3 / 12));
    }
  }
}

.ab-title-mid {
  &::before {
    background: none !important;
  }
  .c-title {
    &.pri {
      color: #1ec0f2 !important;
      @include max(500px) {
        font-size: 2rem;
      }
    }
  }
  margin-bottom: 4rem;
  @include max(500px) {
    margin-bottom: 2rem;
  }
}

.sec-abws {
  background: linear-gradient(0deg, #044256 0%, #1ec2f5 100%) !important;
  @include max(1024px) {
    padding-top: 0;
  }
  .abws {
    padding-top: 6rem;
    .abws-mid-text3 {
      color: #fff;
    }
    .seopj-info-wrap {
      .text {
        color: #fff;
      }
    }
    .abws-wrap {
      .abws-top {
        .abws-text {
          br {
            @include max(500px) {
              display: block;
            }
          }
        }
      }
    }
  }
  .awbs-decor {
    @include max(1200px) {
      top: -18%;
    }
    @include max(1024px) {
      top: -10%;
    }
    @include max(820px) {
      top: -2%;
    }
    @include max(500px) {
      top: 0%;
    }
  }
  .awbs-decor2 {
    bottom: 0 !important;
    width: 32% !important;
  }
  .awbs-decor3 {
    bottom: 0 !important;
  }
  .awbs-decor4 {
    top: 20%;
    @include max(1366px) {
      top: 22% !important;
    }
  }
  .awbs-decor5 {
    @include max(1200px) {
      display: none;
    }
  }
  @include max(820px) {
    padding-top: 0;
  }
}

.sec-abw {
  margin-top: 12rem;
  padding-bottom: 60px !important;
  @include max(1024px) {
    margin-top: 5rem;
  }
  @include max(500px) {
    margin-top: 1.6rem;
  }
  .abw {
    .abw-img {
      margin-top: 12rem !important;
      @include max(425px) {
        margin-top: 4rem !important;
      }
      .decor2 {
        bottom: 0%;
        right: 0%;
      }
      .decor3 {
        right: 23%;
        bottom: -6%;
      }
    }
  }

  .abw-title {
    text-align: center;
    .host-tt {
      .bg-color {
        margin-top: 0;
      }
    }
  }
  .desc {
    font-size: 1.8rem;
    text-align: center;
    margin-top: 3.2rem;
    margin-bottom: 4.4rem;
    @include max(500px) {
      margin-top: 1.2rem;
    }
    .line {
      color: #f5851e;
      font-size: 2.4rem;
      font-style: italic;
      font-weight: 700;
    }
    .line2 {
      color: #1ec0f2;
      text-decoration: underline;
      font-weight: 700;
    }
  }
}

.mona-contact {
  &.fix {
    background: #dcf7ff;
    @include max(600px) {
      padding: 0 !important;
    }
  }
}

.bg-color {
  width: fit-content;
  margin: 0 auto;
  margin-top: 0.8rem;
}

:root {
  --cvh: 9.44px;
}
