@keyframes bannerStar {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
  }
}

// @keyframes rotate {
//     0% {
//         -webkit-transform: rotate3d(0, 0, 1, 0deg);
//         transform: rotate3d(0, 0, 1, 0deg);
//     }

//     25% {
//         -webkit-transform: rotate3d(0, 0, 1, 90deg);
//         transform: rotate3d(0, 0, 1, 90deg);
//     }

//     50% {
//         -webkit-transform: rotate3d(0, 0, 1, 180deg);
//         transform: rotate3d(0, 0, 1, 180deg);
//     }

//     75% {
//         -webkit-transform: rotate3d(0, 0, 1, 270deg);
//         transform: rotate3d(0, 0, 1, 270deg);
//     }

//     100% {
//         -webkit-transform: rotate3d(0, 0, 1, 360deg);
//         transform: rotate3d(0, 0, 1, 360deg);
//     }
// }

// @keyframes fontbulger {
//     0% {
//         font-size: .8em;
//         width: 10em;
//         height: 10em;
//         margin-top: -4em;
//     }

//     50% {
//         font-size: 2em;
//         width: 10em;
//     }

//     100% {
//         font-size: .8em;
//         width: 10em;
//         height: 10em;
//         margin-top: -4em;
//     }
// }

// @keyframes spinner {
//     from {
//         transform: rotate(0deg);
//     }

//     to {
//         transform: rotate(360deg);
//     }
// }

@keyframes float-chuan {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

// @keyframes ani-rocket {

//     0%,
//     100% {
//         transform: translate(0.2rem, 0.2rem);
//     }

//     50% {
//         transform: translate(0rem, 0rem);
//     }
// }

.session-statistical .content-statistical-left-view .img-detail {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
}

.session-solar-system .footer .footer-quote .img-quote .quote-content {
  overflow: visible;
  transform: translate(-50%, -70%);
}
.session-bug {
  margin-top: 12rem;
}

.session-bug-wrap .content .quote-content .txt-quote-1 {
  transform: translate(-52.8%, 32%);
}

.session-bug-wrap .content .quote-content .txt-quote-2 {
  right: 31%;
  transform: translate(50%, 55%);
}

section.hclhser {
  @include max(1400px) {
    padding-bottom: 5rem;
  }
}

.home-session-six-year-footer {
  margin-top: 8rem;
  @include max(900px) {
    margin-top: 14.6rem;
  }
  @include max(500px) {
    margin-top: 8.6rem;
  }
}

.home-session-six-year-footer
  .wrap
  .bottom-content
  .footer-content-wrap
  .footer-txt:hover {
  opacity: 1;
}

.hclhpr-bot-mess {
  &.btn-clh {
    .txt {
      @include fz-32;
    }
  }
}

.banner-content {
  .tt {
    .txt-bg {
      padding: 0.8rem 2rem;
      border-radius: 1.6rem;
    }
  }
}

.banner {
  .container {
    .sub {
      @include fz-24;
      font-weight: 400;
    }
    .banner-search-form {
      .ipt-txt {
        padding: 0.8rem 0.8rem 0.8rem 2rem;
        background: #ffffff;
        border-radius: 0.8rem;
        height: 5.6rem;
        padding-right: 28%;
      }
      .ipt-sub {
        font-size: 1.4rem;
        align-items: center;
      }
    }
  }
}
.home-session-mr-thoai .main-content .right-contenet .bg-host {
  @include max(1200px) {
    width: max-content;
  }
}
.home-session-mr-thoai .main-content .right-contenet .header-title {
  @include max(1200px) {
    font-size: 2.2rem;
  }
}
.home-session-mr-thoai .main-content {
  .col-7 {
    @include max(1200px) {
      width: 50%;
    }
  }
  .right-contenet {
    @include max(1200px) {
      width: 50%;
      padding-right: 1.5rem;
    }
    @include max(767px) {
      width: 100%;
      padding: 0 1.5rem 2rem 1.5rem;
      background-color: #fff;
    }
  }
}

.home-session-mr-thoai {
  .background-main {
    @include max(1200px) {
      position: absolute;
    }
  }
  .main-content {
    @include max(1200px) {
      padding: 4rem 0;
      justify-content: flex-start;
      position: relative;
    }
    @include max(767px) {
      padding: 2rem 0 0 0;
    }
  }
}

.hclhpr-w {
  margin-top: -10rem;
}

.session-make-money .make-money-wrap .content .mk-completed-btn {
  width: 58%;
  margin: 0 auto;
  padding-top: 5rem;
  @include max(1200px) {
    width: 70%;
  }
  @include max(768px) {
    width: 100%;
  }
}
.session-make-money .make-money-wrap {
  @include max(1200px) {
    padding: 2.4rem 0;
    border-radius: 1.6rem;
  }
}

.session-solution .solution-hoang {
  @include max(1200px) {
    padding: 0 0 5rem 0;
  }
}

.session-solution .solution-thoai {
  @include max(1200px) {
    padding: 0 0 5rem 0;
  }
}

.session-solution .solution-tuan-nho {
  @include max(1200px) {
    padding: 0 0 5rem 0;
  }
}

.container {
  @include max(1200px) {
    padding: 0 1.5rem;
  }
}

.banner-background {
  .bg-content {
    .bg-star {
      .circle-uranus {
        right: 23%;
        top: 15%;
        width: 5.23%;
      }
    }
  }
}

.btn-connect {
  width: max-content;
  margin: 0 auto;
}

.banner-background {
  .bg-content {
    .bg-rocket {
      // animation: ani-rocket 0.2s linear infinite;
    }
  }
}

.session-service {
  .session-besides-decor {
    .decor-cloud {
      &:nth-child(1) {
        width: 20rem;
        top: 47%;
        left: 10%;
      }
      &:nth-child(2) {
        width: 10%;
        top: auto;
        right: -3%;
        bottom: 21%;
      }
      &:nth-child(3) {
        top: 51%;
        right: 25%;
        width: 7%;
      }
      &:nth-child(4) {
        top: auto;
        right: 15%;
        width: 6%;
        bottom: -12%;
      }
    }
  }
}

.session-statistical .slogan .title-slogan {
  @include max(1200px) {
    font-size: 1.8rem;
  }
}

.seccion-company {
  .container {
    .seccion-company-tt {
      .desr {
        padding: 3.2rem 0 2.4rem 0;
        @include max(1200px) {
          padding: 2rem 0 1.4rem 0;
        }
      }
    }
  }
}

.host-big-content {
  .content-footer {
    width: 80%;
    background-color: #fff;
    border-radius: 2.4rem;
    .content-footer-wrap {
      max-width: 100%;
      width: 100%;
      border: none;
      height: 100%;
    }
  }
}

.banner-background {
  .bg-content {
    .bg-rocket {
      bottom: 12%;
      left: 4%;
    }
    .bg-cloud {
      .bg-hand {
        .content {
          .hand {
            .earth {
              top: -11%;
              img {
                @include min(1201px) {
                  animation: fontbulger 4s infinite, spinner 4s infinite;
                }
              }
            }
          }
        }
      }
    }

    .bg-star {
      .circle-saturn {
        top: 11.4%;
        width: 14.2%;
        left: 6%;
        @include min(1201px) {
          animation: float-chuan 5s ease-in-out infinite;
        }
      }

      .circle-uranus {
        @include min(1201px) {
          animation: float-chuan 3s ease-in-out infinite;
        }
      }

      .circle-saturn-2 {
        @include min(1201px) {
          animation: float-chuan 3.4s ease-in-out infinite !important;
        }
      }
    }
  }
}

.star-sky {
  position: absolute;
  top: 0;
  left: 0;
  animation: bannerStar 24s infinite linear;
  width: 100%;
  height: 100%;
  z-index: 1;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
  }
}

.session-solution {
  .solution-thoai {
    .content-right {
      .content-right-img {
        @include min(1400px) {
          margin-right: -12%;
          width: max-content;
        }
        .thoai {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.banner-background {
  .bg-content {
    .bg-cloud {
      width: 100%;
      position: absolute;
      bottom: -18%;
      z-index: 6;
    }
  }
}

.seccion-company {
  .seccion-company-tt {
    .sub-title {
      @include max(800px) {
        font-size: 2.2rem;
      }
    }
    .desr {
      padding: 2rem 0;
    }
  }
  .btn-connect {
    .btn-second {
      width: 100%;
      display: block;
    }
  }
  .content {
    padding-top: 1rem;
    .bg-session {
      @include max(800px) {
        top: 0;
      }
    }
    .items-code {
      @include max(1750px) {
        top: 60%;
        right: 10%;
        transform: translate(0, 0);
        z-index: 2;
      }

      @include max(1200px) {
        transform: translate(0%, -40%);
      }
      @include min(1751px) {
        z-index: 2;
        top: 0%;
        right: 0%;
        position: absolute;
        margin-bottom: 0;
        transform: translate(74%, 10px);
      }
    }
    .bg-session {
      position: relative;
      top: -4.4rem;
      z-index: 1;
      @include max(800px) {
        top: 0;
     }
     @include max(500px) {
         margin-top: -5rem;
     }
    }
    .items-tehnique {
      left: -2.8%;
      top: -1.2%;
      z-index: 2;
      @include max(1750px) {
        top: 63%;
        left: 30%;
      }
      @include max(800px) {
        position: static;
      }
    }
    .items-time {
      top: 41%;
      left: 0;
      position: absolute;
      margin-bottom: 0;
      transform: translate(-77%, -5.2rem);
      @include max(1400px) {
        transform: translate(0%, -4rem);
        z-index: 2;
        bottom: 20%;
      }
    }
    .items-wrap-time {
      background: #2686ec;
      top: 98%;
      &::before {
        bottom: -18%;
        clip-path: polygon(0 0, 100% 100%, 80% 0);
        width: 4rem;
        height: 4rem;
        transform: rotate(0);
      }
    }
    .item-res {
      @include max(800px) {
        position: static;
        width: 100%;
        transform: translate(0, 0);
        margin-bottom: 1rem;
      }
      .items-wrap {
        @include max(800px) {
          position: static;
          max-width: 100%;
          &::before {
            display: none;
          }
        }
      }
    }
  }
}

.seccion-company {
  .container {
    overflow: visible;
  }
}

.session-statistical .slogan .title-slogan {
  &::before {
    background: $nhtqColor;
  }
}

.home-host-about-content .about-session-solution {
  @include max(1200px) {
    margin-top: 6rem;
  }
}

.session-solution {
  .solution-hoang {
    .content-right {
      .sub-tt {
        line-height: 1.2;
        @include max(1200px) {
          line-height: 1.4;
          font-size: 2.2rem;
        }
      }
    }
  }
}

.bg-nhtq {
  line-height: 1.2;
}

.session-solution {
  .solution-thoai {
    .content-right {
      .content-quote-cpu {
        width: 48.333333%;
        top: -1%;
        left: -8%;
      }
      .content-quote-storate {
        width: 41.333333%;
        position: absolute;
        top: -13%;
        right: -1.4%;
      }
      .content-quote-memory {
        width: 42.933333%;
        position: absolute;
        top: 52%;
        right: -6%;
        @include max(1400px) {
          right: 0;
        }
      }
    }
  }
}

.seccion-company-tt {
  .sub-title {
    @include min(1200px) {
      line-height: 1.2;
    }
  }
}

.session-solution {
  .solution-tuan-nho {
    .content-right {
      .tt {
        line-height: 1.2;
        &:nth-child(2) {
          margin-top: 1rem;
        }
      }
    }
  }
}

.the-mona-left {
  &.col-5 {
    width: 42.6%;
  }
}
.session-statistical {
  .content-support {
    .support {
      .right {
        .desc {
          letter-spacing: 0.1rem;
        }
      }
    }
  }
}

.session-about-sec {
  .host-about-sec-head-img {
    .txt-quote-1 {
      .txt-quote-wrap {
        @include min(1300px) {
          width: 100%;
        }
      }
    }
  }
}

.session-about-sec .host-about-sec-head-img .txt-quote-2 .txt-quote-wrap {
  @include max(1300px) {
    width: 100%;
  }
}
.session-statistical {
  .slogan {
    .panda {
      pointer-events: none;
      z-index: 2;
    }
  }
}

.communication-content {
  .quote-wrap {
    .quote {
      @include fz-20;
      color: #fff;
      text-align: center;
      font-weight: 700;
      max-width: 27rem;
      @include max(1200px) {
        font-size: 1.6rem;
      }
    }
  }
}

.traffic-content-desc {
  .fw-600 {
    text-underline-offset: 4px;
  }
}
.hclhser {
  &.style-pri {
    @include max(1200px) {
      padding-bottom: 5rem;
    }
    @include max(767px) {
      padding-bottom: 0;
    }
  }
}

.session-about-sec .host-about-sec-head-img {
  position: relative;
  width: 100%;
}

.session-about-sec .host-about-sec-head-content .sec-desc-about {
  @include max(1400px) {
    max-width: 80%;
  }
  @include max(767px) {
    max-width: 100%;
  }
}

.session-about-sec .host-about-sec-head-img .txt-quote-1 .txt-quote-wrap {
  @include max(1400px) {
    width: 100%;
  }
}

.txt-quote-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.session-about-sec .host-about-sec-head-content .the-mona-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @include min(1700px) {
    width: 100%;
    max-width: 34rem;
    margin: inherit;
  }
  @include max(1500px) {
    width: 100%;
    max-width: 33rem;
    margin: inherit;
  }
  @include max(900px) {
    max-width: 60%;
  }
  @include max(767px) {
    max-width: 80%;
  }
}

.session-about-sec .host-about-sec-head-img {
  @include max(900px) {
    display: block;
    margin-top: 4rem;
  }
  @include max(768px) {
    margin-top: 0;
  }
}

.session-about-sec .host-about-sec-head-img {
  .txt-quote-1,
  .txt-quote-2 {
    .txt-quote-img {
    }
  }
}

.session-about-sec .host-about-sec-head-img .img {
  @include max(1300px) {
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
  }
  @include max(900px) {
    max-width: 60%;
  }
  @include max(767px) {
    max-width: 90%;
  }
}
.session-about-sec .host-about-sec-head-content {
  .sec-desc-tt,
  .sec-desc-sub,
  .sec-desc-about {
    @include max(1300px) {
      // text-align: center;
    }
  }
}
.host-about-sec-head-content {
  .sec-desc {
    @include max(1300px) {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
    }
  }
}

.session-about-sec .host-about-sec-head-col {
  @include max(1300px) {
    width: 100%;
  }
}

.session-service .session-besides {
  @include max(1200px) {
    padding-top: 5.6rem;
  }
}

.session-service {
  .session-pay-host {
    .card {
      .card-header {
        .wrap-bg {
          @include max(1400px) {
            height: 114%;
          }
        }
      }
    }
  }
}

.session-statistical .content-support .support .right .sub-tt {
  @include max(1200px) {
    font-size: 2.2rem;
  }
}

.session-statistical {
  .container {
    z-index: 3;
  }
  .slogan {
    @include max(1200px) {
      margin: 4rem 8rem 2rem 8rem;
    }
    .btn-clh {
      height: 100%;
    }
    .bg-nhtq {
      line-height: 1.4;
    }
    margin: 8rem 11rem 2rem 11rem;
    .line-decor-rederect {
      transform: translate(-100%, -60%) rotate(-120deg);
    }
  }
  .content-statistical {
    padding-top: 5rem;
    @include max(1400px) {
      padding-top: 9rem;
    }
    @include max(1200px) {
      padding-top: 2rem;
    }
  }
  .content-statistical-left-sub-tt {
    line-height: 1.2;
  }
  .statistical-traffic {
    .traffic-decor-img {
      &:nth-child(1) {
        top: 25%;
        left: 10%;
        @include max(1400px) {
          top: 30%;
        }
        @include max(1200px) {
          top: 42%;
        }
      }
      &:nth-child(2) {
        top: 33%;
        left: 52.9%;
        @include max(1400px) {
          top: 40%;
        }
        @include max(1200px) {
          top: 45%;
        }
      }
      &:nth-child(3) {
        top: 24.6%;
        right: 10%;
        width: 14.54%;
        @include max(1400px) {
          top: 30%;
        }
        @include max(1200px) {
          top: 42%;
        }
      }
      .traffic-content-sub-tt {
        line-height: 1.2;
      }
    }
    .traffic-decor-img-line {
      &:nth-child(1) {
        top: 21%;
        left: 24%;
        width: 5%;
        @include max(1400px) {
          top: 25%;
        }
      }
      &:nth-child(2) {
        width: 2.2%;
        top: 30%;
        left: 51.5%;
        @include max(1400px) {
          top: 35%;
        }
      }
      &:nth-child(3) {
        width: 6%;
        top: 27.9%;
        right: 25.3%;
        @include max(1400px) {
          top: 32%;
        }
      }
    }
    .communication-content-sub-tt {
      line-height: 1.2;
    }
    .traffic-content-sub-tt {
      line-height: 1.2;
    }
    .communication-content {
      .quote-banwidth {
        top: -15%;
        right: 20%;
      }
      .quote-ssd {
        bottom: 10%;
        right: 13.6%;
      }
      .quote-uptime {
        bottom: 4%;
        left: 10%;
      }
      .quote-backup {
        bottom: 71%;
        left: 21%;
      }
    }
    .traffic-content-desc {
      @include max(768px) {
        color: #fff;
      }
    }
  }
  .content-support {
    .support {
      padding-top: 5rem;
      @include max(1200px) {
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
      }
      @include max(860px) {
        flex-direction: row;
      }
      @include max(800px) {
        padding-top: 0;
        padding-bottom: 2rem;
      }
      .right {
        .sub-tt {
          line-height: 1.2;
          @include max(1400px) {
            // width: 100%;
            // font-size: 2.2rem;
          }
        }
      }
      .left {
        .main-img {
          margin: 0 0 0 4.5rem;
        }
        .performance {
          top: 10%;
          left: -3%;
        }
        .setting {
          top: 40%;
          left: -16.5%;
        }
        .config {
          position: absolute;
          top: auto;
          bottom: 6%;
          left: -4%;
        }
        .support {
          position: absolute;
          top: 5%;
          right: 22%;
        }
        .price {
          top: 60%;
          width: 29%;
          right: 15%;
          .quote {
            padding: 2.4rem 1.4rem;
          }
        }
      }
      .line {
        top: 86.3%;
        left: 61.1%;
        width: 17.6%;
      }
      .quote-consult {
        bottom: 0;
        right: 0%;
        @include max(1800px) {
          right: 0%;
        }
        @include max(1200px) {
          display: none;
        }
      }
    }
    .the-mona {
      .sub-tt {
        line-height: 1.2;
        @include max(1200px) {
          font-size: 2.2rem;
        }
      }
      .tt {
        line-height: 1.2;
        @include max(1200px) {
          font-size: 2.2rem;
        }
      }
      .line {
        top: 143%;
        left: 45%;
        width: 67.03%;
      }
    }
  }
}
.session-statistical .content-support {
  .the-mona-left {
    @include max(860px) {
      width: 42.6%;
    }
    @include max(768px) {
      width: 100%;
    }
  }
  .the-mona-right {
    @include max(860px) {
      width: 45.6%;
    }
  }
}

.session-statistical .content-support .support .right {
  @include max(1200px) {
    margin: inherit;
  }
}

.session-statistical .content-support .the-mona {
  @include max(1200px) {
    margin: 1rem 0;
    gap: 1.5rem;
    padding: 0;
  }
}

.session-statistical .content-support .support .right .desc {
  @include max(1200px) {
    padding-top: 1.6rem;
  }
}

.session-statistical .content-support .the-mona .line {
  @include max(1200px) {
    display: none;
  }
}
.session-service .title {
  @include max(1200px) {
    padding: 0 1.5rem;
  }
}
.session-service .title {
  .tt,
  .sub-tt {
    @include max(1200px) {
      font-size: 2.2rem;
      text-align: center;
    }
  }
}
.session-statistical {
  .content-support {
    .support {
      @include max(800px) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column-reverse;
        gap: 1.5rem;
      }
      .left {
        @include max(800px) {
          margin: 0 auto;
          width: 100%;
          display: flex !important;
          flex-direction: column-reverse;
        }
        .main-img {
          @include max(800px) {
            margin: 0 auto;
          }
        }
        .quote-wrap {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @include max(800px) {
            margin-top: 0;
          }
        }
        .support {
          @include max(800px) {
            padding: 0;
          }
        }
        .price {
          @include max(800px) {
            width: calc(50% - 0.8rem) !important;
          }
          @include max(768px) {
            width: 100% !important;
          }
        }
        .support {
          @include max(1200px) {
            padding: 0;
            width: calc(50% - 0.8rem) !important;
          }
          @include max(768px) {
            width: 100% !important;
          }
        }

        .performance,
        .setting,
        .config,
        .support,
        .price {
          @include max(1200px) {
            position: static;
            width: calc(33.33% - 0.8rem);
            margin-bottom: 1rem;
          }
          @include max(1200px) {
            width: calc(50% - 0.8rem);
          }
          @include max(900px) {
            width: 100% !important;
          }
          .quote {
            @include max(1200px) {
              padding: 1rem 1.5rem;
            }
            @include max(900px) {
              min-height: 5rem !important;
              br {
                display: none;
              }
            }
            &::before {
              @include max(1200px) {
                display: none;
              }
            }
            @include max(1200px) {
              min-height: 9rem;
              display: flex;
              align-items: center;
              justify-content: center;
              max-width: 100% !important;
              width: 100%;
            }
          }
        }
      }
      .right {
        @include max(800px) {
          width: 100%;
        }
      }
    }
  }
}
.session-statistical .content-support .support {
  .left {
    @include max(1050px) {
      width: 48%;
    }
    @include max(860px) {
      display: block;
    }
    .main-img {
      @include max(1200px) {
        display: none;
      }
    }
  }
  .right {
    @include max(1050px) {
      width: 52%;
    }
  }
}

.session-statistical .content-support {
  .the-mona-left {
    @include max(800px) {
      width: 100%;
    }
  }
  .the-mona-right {
    @include max(800px) {
      width: 100%;
    }
  }
}
.quote-bg-nhtq.bg-digital::before {
  background-color: $digitalColor;
}
.session-statistical .statistical-traffic .communication {
  padding-bottom: 12rem;
  margin-bottom: 0;
  background: #e4f1ff;
  @include max(1200px) {
    margin-top: 2rem;
  }
}
.statistical-img {
  position: relative;
  margin-top: -9rem;

  @include max(460px) {
    margin-top: 2rem;
  }
}
.content-support {
  @include max(1800px) {
    .container {
      max-width: 80%;
    }
  }
  @include max(1200px) {
    .container {
      max-width: 100%;
    }
  }
}
.session-statistical .statistical-traffic .traffic-content {
  @include max(768px) {
    padding-top: 5.6rem;
  }
}
.session-statistical .statistical-traffic .panda-rocket {
  @include max(1200px) {
    display: none;
  }
}

.session-statistical .content-support .the-mona .desc {
  @include max(1200px) {
    max-width: 100%;
  }
}
.session-statistical .content-support .support .right .desc {
  @include max(1200px) {
    max-width: 100%;
  }
}

.session-statistical {
  .statistical-traffic {
    .communication-content-desc {
      @include max(1200px) {
        padding-top: 1.4rem;
      }
    }
    .communication-content {
      .quote-wrap {
        @include max(1350px) {
          display: flex;
          flex-wrap: wrap;
          margin-top: 2rem;
          padding: 0;
          justify-content: space-between;
        }

        @include max(1200px) {
          gap: 1.6rem;
          align-items: stretch;
        }
      }
      .quote-backup {
        .quote {
          @include max(460px) {
            br {
              display: none;
            }
          }
        }
      }
      .quote-uptime,
      .quote-backup,
      .quote-cpu,
      .quote-banwidth,
      .quote-ssd {
        @include max(1350px) {
          position: static;
          width: calc(20% - 0.8rem);
        }
        @include max(1200px) {
          width: calc(50% - 0.8rem);
          height: auto;
        }
        @include max(768px) {
          .quote {
            padding: 1rem 1.4rem;
          }
          width: calc(50% - 0.8rem);
        }
        @include max(460px) {
          width: 100% !important;
        }
        .quote {
          @include max(1350px) {
            min-height: 9rem;
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &::before {
              display: none;
            }
          }
          @include max(768px) {
            height: 100%;
            min-height: auto;
          }
        }
      }
      .quote-banwidth,
      .quote-ssd {
        @include max(1200px) {
          width: calc(50% - 0.8rem);
        }
      }
      .quote-ssd {
        @include max(768px) {
          width: 100%;
          .quote {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}

.session-statistical {
  .statistical-traffic {
    .communication {
      @include max(1200px) {
        bottom: -15%;
      }
      @include max(768px) {
        // margin-top: 2rem;
      }
    }
  }
}
.statistical-img {
  @include max(1200px) {
    padding-top: 26rem;
  }
  @include max(768px) {
    padding-top: 2rem;
  }
  @include max(500px) {
    margin-top: 0;
    padding-top: 0;
  }
}

.session-statistical {
  .statistical-traffic {
    .traffic-content-desc {
      @include max(1200px) {
        padding-top: 1.4rem;
      }
      @include max(768px) {
        color: #3a3a3a;
      }
    }
    .traffic-decor {
      @include max(768px) {
        justify-content: space-between;
        padding: 0 1.5rem;
        margin-top: 4.4rem;
      }
    }
    .traffic-decor-img {
      &:nth-child(1) {
        @include max(768px) {
          width: 100% !important;
        }
      }
      @include max(768px) {
        width: calc(50% - 0.8rem) !important;
      }
    }
  }
}

.session-statistical {
  .content-statistical-left-view {
    .img-detail {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

.txt-blue {
  color: #2686ec;
}

.session-service {
  padding-top: 0;
  .title {
    .sub-tt {
      line-height: 1.2;
    }
  }
  .session-besides-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .session-besides-header {
    .txt-header {
      .txt-lms {
        text-decoration-line: underline;
        text-underline-offset: 0.9rem;
      }
    }
  }
}

.session-besides-wrap {
  .txt-bg {
    line-height: 1.2;
  }
}

.session-about-sec .host-about-sec-head-img .txt-quote-1 .txt-quote-wrap .txt {
  @include max(1400px) {
    font-size: 1.6rem;
  }
  @include max(1200px) {
    font-size: 1.3rem;
  }
}

.session-about-sec .host-about-sec-head-img .txt-quote-2 .txt-quote-wrap .txt {
  @include max(1400px) {
    font-size: 1.6rem;
    p {
      br {
        display: none;
      }
    }
  }
  @include max(1200px) {
    font-size: 1.3rem;
  }
}
.host-about-sec-head-content {
  @include max(900px) {
    display: flex;
    padding: 3.4rem 0;
  }
  @include max(767px) {
    flex-direction: column;
    padding: 2rem 0 8rem 0;
  }
}

.session-about-sec .host-about-sec-head-col {
  &:nth-child(1) {
    @include max(1400px) {
      width: 58%;
    }
    @include max(1024px) {
      width: 50%;
    }
    @include max(900px) {
      width: 100%;
    }
  }
  &:nth-child(2) {
    @include max(1400px) {
      width: 42%;
    }
     @include max(1024px) {
      width: 50%;
    }
    @include max(900px) {
      display: none;
    }
  }
}

.session-about-sec {
  .host-about-sec-head-content {
    .sec-desc-sub {
      line-height: 1.2;
      margin-bottom: 3.2rem;
      @include max(1200px) {
        margin-bottom: 2rem;
      }
    }
  }
  .host-about-sec-head-img {
    .img {
      padding-top: 0;
    }
    .txt-quote-1 {
      width: 55%;
      top: -1%;
      transform: translate(0%, -6%);
      // @include max(1300px) {
      //     top: 44%;
      // }
      @include max(1400px) {
        width: 54%;
        top: 13%;
        transform: translate(0%, -6%);
        left: -14%;
      }
    }
    .txt-quote-2 {
      transform: translate(28%, 28%);
      width: 56%;
      @include max(1800px) {
        transform: translate(20%, 28%);
      }
      // @include max(1300px){
      //     top: 33%;
      // }
      @include max(1400px) {
        transform: translate(25%, 64%);
      }
      @include max(1200px) {
        transform: translate(0%, 64%);
      }
      .txt-quote-wrap {
        @include min(1300px) {
          width: 100%;
        }
      }
    }
  }
}
.session-about-sec .host-about-sec-head-content {
  .sec-desc-tt,
  .sec-desc-sub {
    @include max(1200px) {
      font-size: 2.2rem;
    }
  }
}

.session-about-sec .host-about-sec-head-ctn {
  @include max(1200px) {
    padding-top: 2rem;
  }
}

.home-host-about-line {
  .bg-img {
    img {
      object-position: top;
    }
  }
}

.home-host-about-content {
  .header {
    padding-top: 12rem;
    @include max(1200px) {
      padding-top: 4rem;
    }
    .sub-title {
      line-height: 1.2;
    }
    .title {
      margin-bottom: 0;
    }
  }
  .about-session-hosting {
    margin-top: 25.6rem;
    @include max(1200px) {
      margin-top: 6.6rem;
    }
  }
  .about-session {
    .session-about-sub {
      position: absolute;
      right: auto;
      @include max(1200px) {
        position: static;
        width: 100%;
      }
      .about-line-hosting {
        position: absolute;
        top: -35%;
        right: 4%;
      }
    }
    &:nth-child(odd) {
      .about-session-main-img {
        padding-left: 5rem;
        @include max(1200px) {
          padding-left: 2rem;
        }
        @include max(767px) {
          padding-left: 0;
        }
      }
      .about-session-content {
        padding-right: 5rem;
        @include max(1200px) {
          padding-right: 2rem;
        }
        @include max(767px) {
          padding-right: 0;
        }
      }
    }
    &:nth-child(even) {
      .about-session-main-img {
        padding-right: 5rem;
        @include max(1200px) {
          padding-right: 2rem;
        }
        @include max(767px) {
          padding-right: 0;
        }
      }
      .about-session-content {
        padding-left: 5rem;
        @include max(1200px) {
          padding-left: 2rem;
        }
        @include max(767px) {
          padding-left: 0;
        }
      }
    }
    &:nth-child(2) {
      .session-about-sub {
        right: 0%;
        bottom: -15%;
        @include max(1400px) {
          right: 6%;
        }
      }
    }
    &:nth-child(3) {
      .session-about-sub {
        justify-content: center;
        right: 32%;
        .about {
          width: 42%;
          line-height: 1.1;
          @include max(1200px) {
            width: 100%;
          }
        }
        .about-line {
          position: absolute;
          top: -33%;
          right: auto;
          left: 68%;
        }
      }
    }
    &.about-session-solution {
      .about-session-line-solution {
        position: absolute;
        width: 50%;
        top: -42%;
        left: 15.6%;
      }
      .session-about-sub {
        right: -2%;
        @include max(1800px) {
          right: 0;
        }
        .about {
          width: 44%;
          line-height: 1.1;
          @include max(1200px) {
            width: 100%;
          }
        }
      }
    }
    .about-session-line-design {
      width: 49.7%;
      top: -24%;
    }
    &.about-session-service {
      .about-session-line-service {
        position: absolute;
        width: 45.45%;
        top: -49%;
        left: 24%;
      }
      .session-about-sub {
        justify-content: center;
        margin-left: -6rem;
        @include max(1200px) {
          margin-left: 0;
          justify-content: flex-start;
        }
        .about {
          width: 42%;
          font-size: 3.2rem;
          line-height: 1.1;
          @include max(1200px) {
            width: 100%;
          }
        }
      }
    }
    &.about-session-banding {
      .about-session-line-branding {
        width: 49.8%;
        top: -47%;
        left: 17%;
      }
      .session-about-sub {
        .about {
          width: 66%;
          @include max(1200px) {
            width: 100%;
          }
        }
      }
    }
    &.about-session-end {
      padding-top: 23.3rem;
      @include max(1200px) {
        padding-top: 0;
      }
      .about-session-line-end {
        width: 22%;
        top: -27%;
        left: 46%;
      }
      .about-session-content {
        width: 60%;
        @include max(1200px) {
          width: 80%;
        }
        @include max(767px) {
          width: 100%;
        }
      }
      .sub {
        width: 77%;
        margin: 0 auto;
        @include max(767px) {
          width: 100%;
        }
      }
    }
  }
  .about-session-line {
    top: -20%;
    left: 20%;
  }
  .about-session-main-img {
    padding: 0;
  }
  .about-session {
    padding: 0 5.5rem;
    @include max(1200px) {
      margin-top: 6rem;
    }
    @include max(767px) {
      margin-top: 2.4rem;
    }
    &:last-child {
      margin-top: 3.2rem;
      @include max(1200px) {
        margin-top: 2rem;
      }
    }
    @include max(1200px) {
      padding: 0;
    }
  }
  .about-session-vps {
    margin-top: 12rem;
    @include max(1200px) {
      margin-top: 6rem;
    }
    @include max(767px) {
      margin-top: 2.4rem;
    }
  }
  .about-session-line-hosting {
    position: absolute;
    width: 70%;
    top: -46.4%;
    left: 5.8%;
  }
  .about-session-service {
    margin-top: 12rem;
    @include max(1200px) {
      margin-top: 6rem;
    }
    @include max(767px) {
      margin-top: 2.4rem;
    }
  }
  .about-session-banding {
    margin-top: 12rem;
    @include max(1200px) {
      margin-top: 6rem;
    }
    @include max(767px) {
      margin-top: 2.4rem;
    }
  }
}

.session-news .main-content {
  @include max(1600px) {
    padding-top: 9rem;
  }
  @include max(767px) {
    padding-top: 3rem;
  }
}

.host-big-content {
  .content-tt {
    .sub {
      line-height: 1.2;
    }
  }
  .content-footer-wrap {
    .txt {
      line-height: 1.4;
    }
  }
}

.home-host-about-content .about-session-end .tt {
  @include max(1200px) {
    font-size: 2rem;
  }
}

.session-about-member {
  .header {
    .sub {
      line-height: 1.2;
    }
  }
}

.session-news .main-content .traffic .content-footer {
  @include max(768px) {
    margin-top: 4rem;
  }
}

.home-host-about-line .host-big-content .content-tt .sub {
  @include max(768px) {
    font-size: 2.2rem;
  }
}

.session-news {
  .main-content {
    .traffic {
      margin-top: 26rem;
      @include max(1400px) {
        margin-top: 34rem;
      }
      @include max(1200px) {
        margin-top: 21rem;
      }
      @include max(768px) {
        margin-top: 12rem;
      }
      .content-footer {
        .txt-footer {
          line-height: 1.2;
        }
      }
    }
  }
  .earth-decor {
    position: absolute;
    @include max(1200px) {
      display: none;
    }
    &.x1 {
      z-index: 2;
      width: 10%;
      right: 5%;
      bottom: 50%;
    }
  }
}

.wordpress-content {
  @include max(1200px) {
    padding: 0 1.5rem;
  }
}

.session-wordpress .wordpress-content .img-decor {
  @include max(760px) {
    padding: 0 0 1.2rem 0;
  }
}

.session-wordpress {
  .wordpress-header {
    .main-title {
      padding-top: 4.2rem;
      margin: inherit;
      .txt-sub {
        line-height: 1.2;
      }
      .txt-about {
        width: 57%;
        margin: 0 auto;
        @include max(900px) {
          width: 80%;
        }
      }
    }
  }
  .wordpress-content {
    .text-decor {
      margin: inherit;
    }
    .session-line {
      &:nth-child(1) {
        .line-sesion {
          position: absolute;
          width: 32%;
          position: absolute;
          top: 22%;
          left: 50%;
          transform: translate(-50%, -50%);
          left: 48%;
          @include max(1200px) {
            display: none;
          }
        }
      }
      &:nth-child(2) {
        .line-sesion {
            position: absolute;
            width: 45.333333%;
            left: 49%;
            transform: translate(-44%, -31%);
            top: 83%;
          @include max(1700px) {
            width: 50.333333%;
            transform: translate(-44%, -28%);
          }
          @include max(1300px) {
            width: 44.333333%;
            transform: translate(-44%, -20%);
          }
          @include max(1200px) {
            display: none;
          }
        }
      }
      &:nth-child(3) {
        .text-decor {
          margin: auto;
        }
      }
    }
  }
}

.session-wordpress .wordpress-content .session-line:nth-child(3) .line-sesion {
  @include max(1200px) {
    display: none;
  }
}

.session-solar-system {
  .main-bg {
    margin-bottom: 15rem;
    margin-top: 13rem;
    @include max(1000px) {
      margin-top: 11rem;
    }
    @include max(1200px) {
      margin-top: 0;
    }
  }
}

.session-solar-system {
  .header {
    .content-sub {
      line-height: 1.2;
    }
  }
}

.session-solar-system {
  .footer {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: unset;
    bottom: auto;
    width: 51%;
    margin-top: -23.2%;
    @include max(1200px) {
      width: 100%;
      padding: 1.5rem;
    }
  }
}

.session-solar-system {
  padding: 20rem 0 12rem 0;
  @include max(1500px) {
    padding: 5rem 0 12rem;
  }
  @include max(760px) {
    padding: 0 0 20rem 0;
  }
}

.session-service {
  .option {
    .items {
      @include max(767px) {
        margin: 0;
        flex-wrap: wrap;
      }
    }
  }
}

.session-bug {
  @include max(767px) {
    overflow: hidden;
  }
}

.session-bug-wrap {
  .content {
    .sub-title {
      line-height: 1.2;
    }
    .quote-content {
      .txt-quote-1 {
        .txt-quote-wrap {
          width: 29.3rem;
        }
        .txt-quote-wrap {
          left: -13%;
        }
        .txt-quote-img {
          @include max(767px) {
            display: none;
          }
        }
      }
      .txt-quote-2 {
        top: 113%;
        @include max(1200px) {
          right: 50%;
        }
        .txt-quote-wrap {
          width: 29.3rem;
          .txt {
            @include max(767px) {
              left: 20%;
            }
          }
        }
        .txt-quote-wrap {
          left: 20%;
        }
        .txt-quote-img {
          @include max(767px) {
            display: none;
          }
        }
      }
    }
  }
}

.session-news {
  .main-content {
    .traffic {
      .content-right {
        .main {
          position: static;
          width: 59vw;
          margin-top: -18%;
        }
      }
    }
  }
}

.company-txt {
  font-weight: 600;
  text-decoration-line: underline;
}

.session-solar-system .header .content {
  @include max(1200px) {
    font-size: 2.2rem;
    padding: 0 1.5rem;
  }
}

.seccion-company-tt {
  .btn-clh {
    position: relative;
    z-index: 3;
    margin: 0 auto;
    @include max(800px) {
      // width: 100% !important;
      justify-content: center;
      padding: 1rem 1.4rem;
    }
  }
}

.session-news .earth {
  margin-top: -9rem;
}

.session-make-money {
  .make-money-wrap {
    .decor-zalo-left {
      box-shadow: none;
      border: none;
      position: absolute;
      top: 11%;
      left: -9%;
      transform: rotate(0);
      @include max(1350px) {
        left: 4%;
      }
    }
    .decor-zalo-right {
      box-shadow: none;
      transform: rotate(0);
      position: absolute;
      max-width: 23.4rem;
      top: 24%;
      right: -5%;
      border: none;
      @include max(1350px) {
        right: 4%;
      }
    }
  }
  .content {
    .mk-completed-btn {
      &::before {
        z-index: 2;
        content: "";
        position: absolute;
        top: -27px;
        left: 0;
        width: 7%;
        height: 122%;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(../assets/images/hosts/line-custom.png);
        transform: translate(-73%, -56%);
        @include max(1200px) {
          display: none;
        }
      }
    }
  }
}

.session-expert .content-expert .list-item {
  width: 100%;
  margin: 0 -0.8rem;
}

.session-make-money {
  .make-money-wrap {
    .bg-Hy {
      z-index: 0;
    }
  }
}

.home-session-mr-thoai {
  .main-content {
    .right-contenet {
      .bg-host {
        line-height: 1.2;
        @include max(1200px) {
          line-height: 1.3;
          width: max-content;
        }
      }
    }
  }
}

.home-session-mr-thoai {
  .main-content {
    .right-contenet {
      .about-content {
        @include min(1800px) {
          margin-right: -21rem;
        }
        @include min(1600px) {
          margin-right: -16rem;
        }
        @include min(1400px) {
          margin-right: -10rem;
        }
        @include min(1200px) {
          margin-right: -6rem;
          font-size: 1.8rem;
        }
      }
    }
  }
}

.home-sesion-not-contact-wrap {
  .content {
    .header-sub {
      line-height: 1.2;
    }
  }
}

.home-sesion-not-contact-wrap {
  .content {
    .accion-main {
      top: -1rem;
    }
  }
}

.home-sesion-not-contact {
  .content-521 {
    .header {
      .tt {
        .block-center {
          line-height: 1.2;
        }
      }
    }
  }
}

.statistic-icon {
  display: block;
  width: 1.6rem;
  height: 1rem;
  margin-left: 0.8rem;
}

.home-sesion-not-contact {
  .content-bottom {
    .content {
      .content-left {
        .decor {
          .statistic-number {
            display: flex;
          }
        }
      }
    }
  }
}

.home-sesion-not-contact {
  .content-bottom {
    .content {
      .content-right {
        .header {
          .txt-bg {
            line-height: 1.2;
          }
        }
      }
    }
  }
}

.home-session-six-year-about {
  .about-content {
    .content-tt {
      .txt-tt {
        .txt-tt-sub {
          line-height: 1.2;
        }
      }
    }
  }
}

.home-session-six-year-business {
  .business-content {
    .txt-header {
      .txt-bg-hd {
        @include fz-38;
        line-height: 1.2;
      }
    }
  }
}

.session-solution .solution-tuan-nho {
  padding-bottom: 0;
}

.session-solution {
  .panda {
    margin-top: -6rem;
  }
}

.service-hosting-item {
  .btn-clh {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.4rem;
  }
}

.home-host-about-content .about-session .session-about-sub .about-line {
  position: absolute;
  top: -25%;
  right: 25%;
  @include max(1400px) {
    top: -40%;
  }
}

.session-statistical .statistical-traffic .traffic-decor-img {
  box-shadow: none;
}

.session-statistical .content-support .support .left {
  @include max(1200px) {
    width: 50%;
    padding-right: 0.8rem;
    margin: inherit;
  }
  @include max(900px) {
    width: 40%;
  }
  @include max(800px) {
    width: 100%;
    padding-right: 0;
  }
}
.session-statistical .content-support .support .right {
  @include max(1200px) {
    width: 47%;
  }
  @include max(900px) {
    width: 57%;
  }
  @include max(800px) {
    width: 100%;
    margin-bottom: 0.4rem;
    margin-top: 3rem;
  }
}
.session-service {
  .service-hosting-item {
    width: 16.6666666667%;
    flex-shrink: 0;
    @include max(1250px) {
      min-width: 31rem;
    }
    div {
      white-space: normal;
    }
  }
}
.session-statistical .content-support .support .right .tt {
  @include max(1200px) {
    font-size: 2.2rem;
  }
}

.session-about-sec {
  overflow: hidden;
  padding-bottom: 11rem;
}

.home-host-about-line {
  margin-top: -17rem;
}

.home-session-six-year-business .bussiness-project .list-project {
  padding-left: 2.4rem;
  .project-item {
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1215686275);
    width: 48%;
  }
}

.banner {
  .container {
    .tt {
      .txt-bg {
        font-style: italic;
        font-weight: 600;
      }
    }
  }
}

.session-solution .solution-thoai .content-right .content-right-img {
  @include max(1400px) {
    width: 100%;
  }
}

.session-solution {
  .solution-tuan-nho {
    .content-right {
      .about {
        .desc {
          .fw-600 {
            text-underline-offset: 4px;
          }
          .w-600 {
            font-weight: 600;
          }
        }
      }
    }
  }
}

.session-service {
  .option {
    .items {
      overflow: auto hidden;
      flex-wrap: nowrap;
      margin: 3.2rem 0 0.2rem 0;
      &::-webkit-scrollbar {
        height: 0.5rem;
      }
      @include max(1200px) {
        margin: 1.6rem 0 0.2rem 0;
      }
      .item {
        white-space: nowrap;
      }
    }
  }
}
// .service-hosting-scroll {
//     @include max(1250px) {
//         overflow: scroll hidden;
//         height: 2rem;
//         width: 100%;
//     }
//     .scroll-h {
//         @include max(1250px) {
//             width: 192rem;
//             height: 2rem;
//         }
//     }
// }
.service-hosting-inner {
  // width: 100%;
  padding-top: 9rem;
  overflow: scroll hidden;
  &::-webkit-scrollbar {
    height: 1.6rem;
  }
}

.seccion-company-tt .title {
  @include max(800px) {
    font-size: 2.2rem;
  }
}

.session-news {
  .main-content {
    overflow: hidden;
  }
}

.session-service {
  .session-pay-host {
    .card {
      .card-header {
        .header-content {
          .name {
            .month {
              padding: 1rem 3.1rem 1rem 1.6rem;
            }
          }
        }
      }
    }
  }
}

.btn-tag {
  width: 100%;
  margin-top: 2.4rem;
  .btn-clh {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper-service-hosting {
  overflow: visible;
  padding-bottom: 2rem;
  margin-top: 7.2rem;
  @include max(1200px) {
    margin-top: 3rem;
  }
}
.session-statistical .statistical-traffic-bg {
  background-color: #fff;
  img {
    @include max(768px) {
      display: none;
    }
  }
}
.session-service {
  overflow: hidden;
  .session-pay-host {
    .card {
      cursor: grab;
      min-width: inherit;
      max-width: inherit;
    }
  }
}

.month-inner {
  position: relative;
  .month {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    &:hover {
      ~ .icon {
        transform: translate(0, -50%) rotate(180deg);
      }
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    transform: translate(0, -50%);
    transition: all 0.3s ease-in-out;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.home-host-about-content {
  .about-session {
    .session-about-title {
      .tt {
        @include fz-24;
        @include max(1200px) {
          font-size: 2.2rem;
        }
      }
    }
  }
}

.home-host-about-line {
  .bg-img {
    -webkit-mask-image: url(../assets/images/hosts/host-about-line-bg.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top center;
    -webkit-mask-size: cover;
    img {
      height: 90%;
      object-position: bottom;
    }
  }
}

.host-big-content {
  .content-footer-wrap {
    border-radius: 2.4rem;
    @include max(1200px) {
      border-radius: 1rem;
    }
  }
}

.session-wordpress {
  .wordpress-content {
    .text-decor {
      .content {
        &.line-digital,
        &.line-lms {
          @include max(1200px) {
            border: none;
          }
          &::before,
          &::after {
            @include max(1200px) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.session-wordpress .wordpress-footer .content-main .main .cloud-list {
  @include max(1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}

.wordpress-footer {
  .content-main {
    margin-top: 3.2rem;
    @include max(768px) {
      margin-bottom:0;
    }
  }
}

.session-wordpress {
  .wordpress-footer {
    .content-main {
      .main {
        .cloud-item {
          &:nth-child(1) {
            top: 32%;
            right: 14%;
          }
          &:nth-child(2) {
            bottom: -20%;
            right: 23%;
            .decor {
              position: absolute;
              bottom: 10%;
              left: -32%;
              @include max(1400px) {
                width: 30%;
              }
            }
          }
          &:nth-child(3) {
            bottom: -17%;
            left: 29%;
          }
          &:nth-child(4) {
            bottom: 25%;
            left: 16%;
            .decor {
              position: absolute;
              bottom: 83%;
              right: -24%;
              @include max(1400px) {
                position: absolute;
                bottom: 96%;
                right: -14%;
                width: 30%;
              }
            }
          }
          &:nth-child(5) {
            top: 2%;
            left: 40%;
            .decor {
              bottom: 31%;
              right: -20%;
            }
          }
        }
      }
    }
  }
}

.session-solar-system .footer .footer-quote .img-quote .quote-content {
  &.btn-clh {
    height: auto;
    flex-direction: column;
    -webkit-mask-image: url(../assets/images/hosts/solar-system-quote-footer.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 116%;
    .fw-400 {
      margin-bottom: 14rem;
      @include max(800px) {
        margin-bottom: 9rem;
      }
    }
    .fw-600 {
      position: absolute;
      bottom: 29%;
    }
  }
}
.btn-mess {
  height: auto !important;
  border: none !important;
}

.session-solar-system {
  .footer {
    .footer-quote {
      .img-quote {
        .quote-content {
          &-inner {
            position: relative;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.quote-content {
  .txt-white {
    transition: all 0.3s ease-in-out;
  }
}

.session-expert {
  padding: 6rem 0 12rem 0;
  @include max(1200px) {
    padding: 0 0 5.6rem 0;
  }
  .footer {
    padding-top: 0;
  }
}

.session-bug-wrap {
  .content .quote-content {
    .txt-quote-1,
    .txt-quote-2 {
      .txt-quote-wrap {
        .txt {
          left: 45%;
          top: 31%;
          @include fz-32;
        }
      }
    }
  }
}

.home-sesion-not-contact {
  margin-top: -1rem;
}

.btn-clh {
  &.accion-main {
    border: none;
    width: 100%;
    height: 100%;
  }
}

.home-sesion-not-contact-wrap {
  .content {
    .decor-right-2 {
      width: 23.666667%;
      right: 0%;
    }
    .decor-right-3 {
      width: 19%;
    }
  }
}

.home-sesion-not-contact {
  .content-521 {
    .line-decor-jun {
      position: absolute;
      top: 14%;
      right: 32.8%;
      width: 17.4%;
    }
    .line-decor {
      position: absolute;
      top: 3%;
      left: 18.6%;
    }
  }
}

.home-session-six-year-about .about-bg {
  .img-rocket {
    object-fit: contain;
    width: 110%;
    height: 105.7%;
  }
}

.section {
  &.feedback {
    padding-top: 0;
  }
}

.session-solution .session-solution-backgroud {
  @include max(1200px) {
    display: block;
  }
}

section.session-solution {
  @include max(1200px) {
    padding-bottom: 0;
  }
}

.seccion-company-tt .desr {
  max-width: 69rem;
}

.home-session-six-year-business {
  .bussiness-project {
    .list-project {
      position: relative;
      width: 50vw;
      @include max(900px) {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}

.txt-content-solution {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.bg-panda-rocket {
  @include max(1200px) {
    display: block;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.home-session-six-year-footer .wrap .bottom-content {
  width: 100%;
}

.home-session-six-year-footer .wrap .bottom-content .footer-content-wrap {
  padding: 16rem 12rem 12rem 12rem;
  @include max(1500px) {
    padding: 16rem 12rem 0 12rem;
  }
  @include max(1200px) {
    padding: 0 2rem 2rem 2rem;
  }
}

.home-session-six-year-footer
  .wrap
  .bottom-content
  .footer-content-wrap
  .footer-txt {
  transition: all 0.4s ease-in-out;
  display: block;
}

.seccion-company {
  .bg-cloud-solution-cloud {
    @include max(1200px) {
      margin-top: -10rem;
    }
    @include max(1024px) {
      margin-top: -16rem;
    }
  }
}

.seccion-company .bg-cloud-solution-cloud {
  @include max(660px) {
    margin-top: -6rem;
  }
  @include max(500px) {
    margin-top: -3rem;
  }
}

.session-solution {
  @include max(660px) {
    padding-top: 15rem;
    margin-top: -33rem;
  }
  @include max(500px) {
    padding-top: 10rem;
  }
  .solution-thoai {
    .content-right {
      .content-right-img {
        @include max(860px) {
          width: 100%;
        }
      }
    }
  }
}

.banner-background {
  .bg-content {
    .bg-member {
      width: 42%;
    }
    .bg-cpu {
      width: 68.1%;
    }
    .bg-cloud {
      .bg-hand {
        left: 54%;
        top: 63%;
        .content {
          .hand {
            width: 79.2%;
          }
        }
      }
    }
  }
}

.session-solution {
  .solution-hoang {
    @include max(860px) {
      gap: 1.4rem;
      margin-bottom: 1.6rem;
      margin-top: 7.6rem;
    }
    @include max(500px) {
      margin-top: 4rem;
    }
    .content-right {
      .desr {
        @include max(860px) {
          margin-top: 1.2rem;
        }
      }
      .company-txt {
        @include max(860px) {
          margin-top: 0.8rem;
        }
      }
    }
  }
  .solution-thoai {
    @include max(860px) {
      gap: 1.4rem;
      margin-bottom: 1rem;
    }
    .content-left {
      .sub-tt {
        @include max(860px) {
          margin-bottom: -0.4rem;
        }
      }
      .about {
        .desc {
          @include max(860px) {
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
  .solution-tuan-nho {
    @include max(860px) {
      gap: 1.4rem;
      margin-bottom: 5.6rem;
    }
    .content-right {
      .about {
        .desc {
          @include max(860px) {
            margin-bottom: 0.8rem;
          }
        }
      }
    }
  }
  .panda {
    @include max(1200px) {
      margin-top: 0;
    }
    @include max(860px) {
      margin-top: -8rem;
    }
  }
}

.session-statistical .slogan {
  @include max(860px) {
    margin: 0;
  }

  .btn-clh {
    @include max(860px) {
      padding: 1rem 1.4rem;
      border-radius: 1.2rem;
      font-size: 2rem;
    }
  }
}
.session-service .service-hosting-item .icon-recomment {
  width: 9.6rem;
  height: 7.9rem;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.session-service .session-pay-host .card .icon-recomment {
  width: 9.6rem;
  height: 8rem;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.session-statistical .statistical-traffic .communication {
  @include max(1200px) {
    padding: 0 1.5rem;
    padding-bottom: 3.2rem;
  }
}

.home-host-about-content .header .sub-title {
  @include max(1200px) {
    margin-bottom: 2rem;
  }
}
.home-host-about-content .about-session .session-about-sub {
  @include max(1200px) {
    justify-content: flex-end;
  }
}

.home-host-about-content .about-session .session-about-sub .about-line {
  @include max(1200px) {
    display: none;
  }
}

.home-session-customer::before {
  display: none;
}

.home-session-customer {
  position: relative;
  margin-bottom: 19rem;
  @include max(1400px) {
    margin-bottom: 4rem;
  }
}

// .txt-bg {
//     padding: .4rem .8rem !important;
// }

.home-host-about-content .about-session-content {
  @include max(890px) {
    width: 50%;
  }
  @include max(767px) {
    width: 100%;
  }
}

.home-host-about-content .about-session-main-img {
  @include max(890px) {
    width: 50%;
  }
  @include max(767px) {
    width: 100%;
  }
}

.home-host-about-content .about-session .session-about-sub {
  @include max(767px) {
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
}

.session-news .main-content .traffic {
  .content-left {
    @include max(1200px) {
      width: 60%;
    }
    @include max(767px) {
      width: 100%;
    }
  }
  .content-right {
    @include max(1200px) {
      width: 40%;
    }
    @include max(767px) {
      width: 100%;
      .main {
        margin: 2rem 0 0 0;
        width: 80vw;
      }
    }
  }
}

.session-news .main-content .traffic .content-left {
  .tt,
  .sub {
    @include max(1200px) {
      font-size: 2.2rem;
    }
  }
}

.session-wordpress .wordpress-header .file-hacker {
  position: absolute;
  top: 0;
  left: 3.8rem;
  width: 23.1%;
}

.session-wordpress .wordpress-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.hacker {
  position: absolute;
  top: -2%;
  right: 4rem;
  width: 22%;
}

.session-wordpress .wordpress-content .session-line {
  &:first-child {
    margin-top: 24rem;
    @include max(1200px) {
      margin-top: 4rem;
    }
  }
}

.session-wordpress .wordpress-content .session-line {
  @include max(1200px) {
    padding: 1.4rem 0;
  }
}

.session-wordpress .wordpress-footer .content-main {
  @include max(760px) {
    display: block;
  }
}

.session-wordpress .wordpress-footer .content-main .main .cloud-item {
  @include max(1200px) {
    position: static;
    width: calc(20% - 0.8rem);
    // background-color: $nhtqColor;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    padding: 1rem;
    &:nth-child(4),
    &:nth-child(5) {
      @include max(992px) {
        width: calc(50% - 0.5rem);
      }
      @include max(700px) {
        width: 100%;
      }
    }
    @include max(992px) {
      width: calc(33.33% - 0.8rem);
      margin-bottom: 1rem;
    }
    @include max(700px) {
      width: 100%;
    }

    .txt {
      color: #fff !important;
      br {
        display: none;
      }
    }
  }
}

.session-wordpress
  .wordpress-footer
  .content-main
  .main
  .cloud-item
  .txt-quote {
  @include max(1200px) {
    width: 100%;
    max-width: 100%;
  }
  .txt-quote-wrap {
    @include max(1200px) {
      width: 100%;
    }
  }
}

.session-solar-system .footer .footer-quote .img-quote .quote-content {
  @include max(767px) {
    font-size: 1.6rem;
  }
}

.session-wordpress .wordpress-footer .content-main .main {
  @include max(1200px) {
    padding-top: 5rem;
  }
}

.txt-quote-img {
  @include max(1200px) {
    display: none;
  }
}

.session-wordpress .wordpress-footer .content-main .main .cloud-item .decor {
  @include max(1200px) {
    display: none;
  }
}

.session-wordpress
  .wordpress-footer
  .content-main
  .main
  .cloud-item
  .txt-quote-wrap
  .txt {
  @include max(1200px) {
    position: static;
    transform: translate(0, 0);
  }
}

.session-wordpress .wordpress-footer .content-main .main .cloud {
  @include max(1200px) {
    position: static;
  }
}
.session-wordpress .wordpress-footer .content-main .main {
  @include max(1200px) {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 0;
  }
}

.solar-cus {
  @include min(1201px) {
    display: none;
  }
}

.main-bg-cus {
  @include min(1201px) {
    display: none;
  }
}

@include max(1200px) {
  .session-solar-system {
    .main-bg {
      display: none;
    }
    // .bg-cloud {
    //   display: none;
    // }
  }
  .session-solar-system
    .footer
    .footer-quote
    .img-quote
    .quote-content.btn-clh
    .fw-400 {
    margin-bottom: 0;
  }
  .session-solar-system
    .footer
    .footer-quote
    .img-quote
    .quote-content.btn-clh {
    -webkit-mask-image: unset;
    &::before {
      border-radius: 1.6rem;
    }
  }
  .session-solar-system
    .footer
    .footer-quote
    .img-quote
    .quote-content.btn-clh
    .fw-600 {
    position: static;
  }
  .main-bg-cus {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .session-solar-system .header {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0,0);
    margin-top:-18rem ;
  }
  .session-bug-wrap .content {
    padding-top: 15rem;
  }
  .session-solar-system .footer .footer-quote .img-quote .quote-content {
    position: static;
    transform: translate(0, 0);
  }
  .session-solar-system {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .solar-cus {
    margin-top: 4.4rem;
    .quote-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1.5rem;
    }
    .quote-uptime,
    .quote-backup,
    .quote-cpu,
    .quote-banwidth,
    .quote-ssd {
      width: calc(33.33% - 0.8rem);
      margin-bottom: 0.8rem;
      .quote {
        max-width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before {
          display: none;
        }
      }
    }
  }
  .session-solar-system .footer {
    margin-top: 0;
  }
  .session-solar-system {
    padding: 7rem 0 5rem 0;
  }
  .session-bug-wrap .content .quote-content .txt-quote-1 {
    display: none;
  }
  .session-bug-wrap .content .quote-content .txt-quote-2 {
    display: none;
  }
  .session-bug-wrap .main-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    img {
      object-position: bottom;
    }
  }
  .session-bug {
    position: relative;
    overflow: hidden;
  }
  .session-bug-wrap .content {
    position: relative;
    padding: 5rem 0 0 0;
    left: 0;
    right: 0;
    transform: translate(0, 0);
  }
  .session-bug-wrap .content {
    .title,
    .sub-title {
      font-size: 2.2rem;
    }
  }
  .session-expert .content-expert .list-item .item {
    padding: 0.4rem 0;
  }
  .session-make-money .make-money-wrap .content {
    width: calc(100% - 3rem);
  }
  .home-session-six-year-business {
    padding: 2.4rem 0;
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-about {
    margin-top: 2rem;
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-header {
    font-size: 2.2rem;
  }
  .home-session-six-year-footer .wrap .header .txt-header {
    font-size: 2.2rem;
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .footer-txt {
    font-size: 1.6rem;
    padding: 1.6rem 3rem;
    border-radius: 2rem;
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-about {
    flex-wrap: wrap;
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-about
    .about {
    width: 100%;
    margin-bottom: 3.4rem;
  }
  .home-session-six-year-footer .wrap .header .decor-line {
    display: none;
  }
  .home-session-six-year-footer .wrap .header .quote-save {
    display: none;
  }
  .home-session-six-year-footer .wrap .header-about {
    width: 66%;
  }
  .home-session-six-year-business .business-content .txt-about {
    width: 100%;
  }
  .session-service .session-besides-footer .txt-header {
    font-size: 2.2rem;
  }
  .session-service .session-besides-header .txt-header {
    font-size: 2.2rem;
  }
  .session-wordpress .wordpress-header .main-title .txt-sub {
    font-size: 2.2rem;
  }
  .session-news .main-content .traffic .content-footer .txt-footer {
    font-size: 2.2rem;
  }
  .session-wordpress .wordpress-footer .title-footer {
    border-radius: 1.6rem;
  }
  .session-expert .header-exfert .txt-header {
    font-size: 2.2rem;
  }
  .session-news .main-content .traffic .content-left .sub {
    font-size: 2.2rem;
  }
  .session-make-money .make-money-wrap .content .sec-tt {
    font-size: 2.2rem;
  }
  .home-sesion-not-contact-wrap .content .accion-main {
    font-size: 1.8rem;
  }
}
@include max(767px) {
  .session-wordpress .wordpress-footer .title-footer {
    border-radius: 0.8rem;
  }
  .solar-cus {
    .quote-uptime,
    .quote-backup,
    .quote-cpu,
    .quote-banwidth,
    .quote-ssd {
      width: 100%;
      .quote {
        br {
          display: none;
        }
      }
    }
  }
  .home-session-mr-thoai .main-content .right-contenet .header {
    margin-bottom: 1.6rem;
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-header
    .txt-bg-header-digital {
    background-color: transparent;
    padding: 0;
    color: #7c0fd1;
  }
  .home-host-about-content .about-session .session-about-title {
    .btn-clh {
      white-space: nowrap;
    }
  }
}

.banner-background {
  .bg-circle {
    .circle-one {
      width: 31%;
      bottom: 40%;
      z-index: 3;
      left: 0%;
      position: absolute;
      opacity: 0.6;
    }
    .circle-two {
      width: 50%;
      position: absolute;
      z-index: 1;
      left: 50%;
      bottom: 15%;
      transform: translate(-50%, 0%);
      opacity: 0.5;
    }
    .circle-three {
      width: 37%;
      position: absolute;
      bottom: 29%;
      z-index: 2;
      right: -8%;
      opacity: 0.4;
    }
  }
}

.sub-title {
  line-height: 1.2;
  padding: 0.4rem 1.6rem;
}

.seccion-company-tt {
  .title {
    padding-bottom: 0.2rem;
  }
}

.session-solution {
  padding-top: 25rem;
  @include max(1200px) {
    padding-top: 15rem;
  }
}

.session-solution {
  .bg-star {
    padding-top: 25rem;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }
}
.session-solution {
  .session-solution-backgroud {
    height: 127%;
    img {
      object-position: bottom;
    }
  }
}

.section.feedback.fix {
  .panda {
    position: relative;
    @include max(920px) {
      margin-top: 6rem;
    }
    @include max(500px) {
      margin-top: 8rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.session-solution {
  .bg-star {
    animation: bannerStar 40s infinite;
  }
}

.session-statistical
  .content-statistical-right
  .statistical-group
  .statistical-traffic-2
  .line-increase {
  width: 22%;
  top: -4%;
  left: 6%;
}

.home-host-about-line {
  .decor-sc {
    position: absolute;
    top: 1%;
    left: 9.5%;
    width: 24%;
    @include max(1200px) {
      display: none;
    }
    .image {
      width: 100%;
      height: 100%;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.session-about-member .content .ab-three-cover.thoai .ab-three-name-img {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 0%;
}

.session-about-member .content .ab-three-cover .ab-three-name-img {
  top: 44%;
  width: 70%;
  left: 15%;
}

.session-news .bg-start {
  img {
    object-position: left;
  }
}

.session-news {
  .earth {
    .decor-sc {
      position: absolute;
      top: 16%;
      left: 2%;
      width: 20%;
      .image {
        width: 100%;
        height: 100%;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.session-wordpress .wordpress-content .text-decor .content .text {
  line-height: 1.2;
}

.txt-signature-i-ciel {
  margin-top: 2.4rem;
}

.home-sesion-not-contact-wrap .content {
  padding: 12rem 0 4rem 0;
  @include max(1400px) {
    padding: 12rem 0;
  }
  @include max(1200px) {
    padding: 5.6rem 0;
  }
}

.home-sesion-not-contact .content-session-panda .panda {
  right: -5.3%;
  top: -50%;
  transform: rotate(-32.48deg);
}

.home-sesion-not-contact .content-session-panda .panda-wrap .txt-decor {
  // @include fz-24;
}

.hclhpr-decor.x2 {
  width: 28%;
}

.hclhpr-decor-in {
  .hclhpr-txt {
    font-size: 1.6rem;
  }
}

.hclhpr-decor.x2 .hclhpr-decor-in::before {
  top: auto;
  bottom: 2%;
  right: -0.05rem;
  background-color: #f5851e;
  transform: translateY(100%);
  clip-path: polygon(100% 0, 0 0, 100% 100%);
}

.session-service .service-hosting-option-list .option-item {
  user-select: none;
}

.session-statistical .statistical-traffic-bg {
  display: block;
}

.session-statistical {
  .content-statistical-left-tt {
    @include max(1200px) {
      font-size: 2.2rem;
    }
  }
}

.session-statistical .content-statistical-left-sub-tt {
  @include max(1200px) {
    font-size: 2.2rem;
  }
}

.session-solution .solution-hoang .content-right .tt {
  @include max(1200px) {
    font-size: 2.2rem;
  }
}
.sub-tt {
  @include max(1200px) {
    font-size: 2.2rem;
  }
}

.tt {
  @include max(1200px) {
    font-size: 2.2rem;
  }
}

.seccion-company-tt {
  .title,
  .sub-title {
    @include max(1200px) {
      font-size: 2.2rem;
    }
  }
}
@include max(1400px) {
  .home-sesion-not-contact .content-521 .line-decor {
    left: 11.6%;
  }
}

@include max(1200px) {
  .session-statistical .statistical-traffic {
    .traffic-content-tt,
    .traffic-content-sub-tt {
      font-size: 2.2rem;
    }
  }
  .session-statistical .statistical-traffic {
    .communication-content-tt,
    .communication-content-sub-tt {
      font-size: 2.2rem;
    }
  }
  .session-statistical
    .statistical-traffic
    .communication-content
    .quote-uptime
    .quote,
  .session-statistical
    .statistical-traffic
    .communication-content
    .quote-backup
    .quote,
  .session-statistical
    .statistical-traffic
    .communication-content
    .quote-cpu
    .quote,
  .session-statistical
    .statistical-traffic
    .communication-content
    .quote-banwidth
    .quote,
  .session-statistical
    .statistical-traffic
    .communication-content
    .quote-ssd
    .quote {
    min-height: 5rem;
    height: 100%;
  }
  .content-support {
    margin-top: 5.6rem;
  }
  .session-service {
    margin-top: 3rem;
  }
  .session-statistical .content-support .the-mona .desc {
    padding-top: 2rem;
  }
  .session-statistical .content-support .support .left .performance .quote,
  .session-statistical .content-support .support .left .setting .quote,
  .session-statistical .content-support .support .left .config .quote,
  .session-statistical .content-support .support .left .support .quote,
  .session-statistical .content-support .support .left .price .quote {
    min-height: 7rem;
  }
  .session-about-sec .host-about-sec-head-img .txt-quote {
    max-width: 100%;
  }
  .home-host-about-content .header .title {
    font-size: 2.2rem;
  }
  .home-host-about-content .header .sub-title {
    font-size: 2.2rem;
  }
  .host-big-content .content-tt .tt {
    font-size: 2.2rem;
  }
  .host-big-content .content-tt .sub {
    font-size: 2.2rem;
  }
  .host-big-content .content-footer-wrap .txt {
    font-size: 1.8rem;
  }
  .session-about-member .header .tt {
    font-size: 2.2rem;
  }
  .session-about-member .header .sub {
    font-size: 2.2rem;
  }
  .session-wordpress .wordpress-header .main-title .txt-tt {
    font-size: 2.2rem;
  }
  .session-wordpress .wordpress-content .session-line .txt {
    font-size: 1.8rem;
  }
  .session-wordpress .wordpress-content .text-decor .content .text {
    font-size: 1.8rem;
  }
  .session-wordpress
    .wordpress-footer
    .content-main
    .main
    .cloud-item
    .txt-quote-wrap
    .txt {
    padding: 0.5rem;
  }
  .session-bug,
  .session-expert {
    margin-top: 5.6rem;
  }
  .session-expert .content-expert .list-item .item.col-3 {
    width: calc(50% - 0.7rem);
  }
  .session-make-money .make-money-wrap .decor-zalo-right {
    display: none;
  }
  .banner .container .tt {
    font-size: 2.2rem;
  }
  .banner .container .sub {
    font-size: 1.8rem;
  }
  .session-about-sec .host-about-sec-head-content .the-mona-img {
    max-width: 24rem;
  }
  .session-wordpress .wordpress-footer .title-footer {
    font-size: 1.6rem;
  }
  .home-sesion-not-contact .content-521 .line-decor {
    display: none;
  }
  .home-sesion-not-contact .content-521 .line-decor-jun {
    display: none;
  }
  .home-sesion-not-contact
    .content-521
    .main-content
    .content
    .content-left
    .txt-quote-wrap
    .txt {
    display: none;
  }
  .home-sesion-not-contact .content-session-panda .panda {
    display: none;
  }
  .home-sesion-not-contact .content-bottom {
    margin-top: 8rem;
  }
  .home-host-about-content .header {
    padding: 5.6rem 1.5rem 0 1.5rem;
  }
  .home-host-about-content
    .about-session.about-session-service
    .session-about-sub
    .about {
    font-size: 1.6rem;
  }
  .home-host-about-content .about-session .session-about-title {
    width: 100%;
  }
  .home-sesion-not-contact-wrap::before {
    border-radius: 1.6rem;
    margin: 0 -1.5rem;
    width: calc(100% + 3rem);
  }
  .home-sesion-not-contact-wrap .content .main-member {
    padding-top: 4rem;
  }
  .home-session-six-year-about {
    padding: 0 1.5rem;
    margin-top: 3rem;
  }
  .home-session-six-year-about .about-content .content-tt .txt-tt {
    font-size: 2.2rem;
  }
  .home-session-six-year-business .business-content .txt-header {
    font-size: 2.2rem;
    max-width: 33rem;
  }
  section.seo-item {
    padding-top: 4rem;
  }
  .seo-item-tt {
    .host-tt {
      font-size: 2.2rem;
      max-width: 35rem;
      .txt-bg {
        margin-top: 1rem;
      }
    }
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-header {
    max-width: 32rem;
  }
  .home-session-six-year-footer .wrap .header .txt-header {
    font-size: 2.2rem;
    padding: 0 1.5rem;
  }
}

@include max(860px) {
  .session-solution .solution-hoang .content-left {
    margin-bottom: 2rem;
  }
  .session-solution .solution-thoai .content-right {
    margin-bottom: 2rem;
  }
  .session-solution .solution-tuan-nho .content-left {
    margin-bottom: 2rem;
  }
  .home-host-about-content .about-session .session-about-sub {
    justify-content: flex-start;
  }
}

@include max(767px) {
  .home-session-six-year-business .business-content .txt-header .txt-bg-hd {
    font-size: 2.2rem;
  }
  .home-host-about-content .header .title {
    max-width: 28rem;
    margin: 0 auto;
  }
  .banner .container .tt {
    max-width: 33.8rem;
    margin: 0 auto;
  }
  .banner .container .sub {
    max-width: 33.8rem;
    margin: 0 auto;
  }
  .seccion-company-tt {
    .btn-clh {
      white-space: nowrap;
      @include lc(1);
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  .seccion-company .content .items-wrap {
    white-space: nowrap;
  }
  .host-big-content .content-tt .tt {
    max-width: 33rem;
    margin: auto;
  }
  .session-about-member .header .tt {
    max-width: 33rem;
    margin: auto;
  }
  .session-news .main-content .traffic .content-left .sub {
    max-width: 26rem;
    text-align: center;
    margin: 0 auto;
  }
  .session-news .main-content .traffic .content-left .tt {
    max-width: 30rem;
    text-align: center;
    margin: 0 auto;
  }
  .session-about-member .header .sub.bg {
    max-width: 24rem;
    margin: 0 auto;
  }
  .session-statistical .content-support .support {
    padding-bottom: 0;
  }
  .session-service .session-besides-header .txt-header {
    max-width: 25rem;
    margin: 0 auto;
  }
  .btn-tag .btn-clh {
    padding: 1.2rem 2rem;
  }
  .session-make-money .make-money-wrap {
    .bg-left,
    .bg-right {
      display: none;
    }
  }
  .clhser-btn {
    .btn-clh {
      margin: 0.6rem !important;
      padding: 1.2rem 2rem;
      height: 4.6rem;
    }
  }
  .clhser-r {
    margin-top: 2rem;
  }
  .clhser-tt {
    margin-bottom: 2rem;
  }
  .session-solution {
    padding-top: 8rem;
  }
  .session-solution .solution-hoang .content-right .sub-tt {
    max-width: 27rem;
  }
  .session-statistical .slogan .btn-clh {
    font-size: 1.6rem;
  }
  // .session-statistical .content-statistical-left-view {
  //     flex-direction: column;
  // }
  // .session-statistical .content-statistical-left-view .img-detail {
  //     display: block;
  //     width: 100%;
  //     height: 100%;
  //     border-radius: 1rem;
  //     overflow: hidden;
  // }
  // .session-statistical .content-statistical-left-view .img {
  //     width: 100%;
  //     max-width: 100%;
  //     position: relative;
  //     min-width: 16rem;
  //     img {
  //         display: block;
  //         width: 100%;
  //         height: 100%;
  //         object-fit: contain;
  //     }
  // }
  // .session-statistical .content-statistical-left-view {
  //     margin-top: 15rem;
  //     position: relative;
  //     display: flex;
  //     flex-direction:column;
  //     gap: 1.4rem;
  //     background: #f5851e;
  //     padding: 1.2rem;
  //     border-radius: 1.4rem;
  //     cursor: pointer;
  // }
  .host-big-content .content-footer {
    width: 100%;
  }
  .list-about {
    margin-top: 2rem;
  }
  .session-news .main-content .traffic .content-footer .txt-footer {
    max-width: 22rem;
  }
  .session-news .main-content .traffic .content-footer .about {
    margin-top: 2rem;
  }
  .session-wordpress .wordpress-header .main-title .txt-sub {
    max-width: 33rem;
  }
  .session-wordpress .wordpress-content .text-decor .content .text {
    max-width: 29rem;
  }
  .wordpress-footer .content-main {
    margin-top: 1rem;
  }
  .session-wordpress
    .wordpress-footer
    .content-main
    .main
    .cloud-item
    .txt-quote-wrap
    .txt {
    max-width: 23rem;
    text-align: center;
    margin: 0 auto;
  }
  .home-sesion-not-contact-wrap .content .header-sub {
    font-size: 2.2rem;
    max-width: 27rem;
  }
  .home-sesion-not-contact-wrap .content {
    padding: 6rem 0;
  }
  .home-sesion-not-contact .content-521 {
    .header {
      .tt {
        .fw-600 {
          font-weight: 600;
          max-width: 25rem;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
  }
  .home-sesion-not-contact .content-521 .main-content .content {
    display: block;
    margin-top: 6rem;
  }
  .home-sesion-not-contact
    .content-521
    .main-content
    .content
    .main-member
    .main-member-img {
    width: 50%;
    margin: auto;
  }
  .home-sesion-not-contact .content-bottom {
    margin-top: 10rem;
  }
  .home-sesion-not-contact .content-bottom .content .content-right .about {
    width: 100%;
  }
  .home-sesion-not-contact
    .content-bottom
    .content
    .content-right
    .header
    .txt-bg {
    max-width: 29rem;
  }
  .hclhpr-t .hclhpr-des {
    width: calc(100% - 3rem);
  }
  .hclhpr-bot-mess.btn-clh .txt {
    font-size: 1.6rem;
  }
  .home-session-six-year-header
    .six-year-intergration
    .content-six-year
    .txt-content {
    padding: 1.5rem 0;
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-header {
    p {
      color: $digitalColor;
    }
  }
  .home-session-six-year-footer
    .wrap
    .bottom-content
    .footer-content-wrap
    .txt-about
    .about
    p {
    color: $digitalColor;
  }
  .list-about {
    margin-top: 2rem;
    color: #3a3a3a;
  }
  .home-session-six-year-footer .wrap .bottom-content .bg-panda-rocket {
    display: none;
  }
}

@include max(550px) {
  .home-session-six-year-header
    .six-year-intergration
    .content-six-year
    .security {
    gap: 1rem;
  }
  .home-session-six-year-header
    .six-year-intergration
    .content-six-year
    .security-content {
    transform: unset;
    width: 100%;
  }
}

.session-statistical .content-statistical-right {
    @include max(1400px) {
        width: 48.333%;
    }
    @include max(860px) {
        width: 100%;
    }
}

.tab-button-custom .item {
    background-color: transparent;
}

.session-service .session-pay-host .card .card-header .header-content .name {
    @include max(550px) {
        gap: 1rem;
    }
}

.host-about-sec-head-content {
    @include max(1400px) {
        margin-bottom: 11rem;
    }
    @include max(1200px) {
        margin-bottom: 7rem;
    }
    @include max(767px) {
        margin-bottom: 0;
    }
}

.session-wordpress .wordpress-content .text-decor .content {
    width: 100%;
}

.session-wordpress .wordpress-content .session-line:nth-child(3) .line-sesion {
    position: absolute;
    width: 27.333333%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: unset;
    bottom: -10.7%;
    left: 38%;
}

.session-statistical .content-statistical-right {
    @include max(500px) {
        padding: 15rem 0 12rem 0;
    }
}

// .session-solar-system .header {
//     @include max(800px) {
//         transform: translate(0, -22%);
//     }
//     @include max(550px) {
//         transform: translate(0, -12%);

//     }
// }

.session-solar-system .header .content {
    @include max(550px) {
        margin-top:4rem;
    }
}

.session-expert .header-exfert .txt-header {
    margin-bottom: 3.2rem;
    @include max(1200px) {
        margin-bottom: 2rem;
    }
}

.home-sesion-not-contact .content-bottom .content .content-left .decor-quote .txt-quote-wrap {
    @include max(768px) {
        display: none;
    }
}
.home-sesion-not-contact .content-bottom .content .content-left {
    @include max(500px) {
        padding-top: 0;
    }
}
.hclhpr-bot {
    @include max(1400px) {
        padding-bottom: 10rem;
    }
    @include max(500px) {
        padding-bottom: 0rem;
    }
}
.hclhpr {
    .hclhpr-bot-mess {
        @include max(1024px) {
            transform: translateY(-58%);
        }
        @include max(768px) {
          transform: translateY(-50%);
        }
    }
}

@include max(768px) {
  .session-expert .content-expert .list-item .item.col-3 {
    width: 100%;
  }
  .session-expert .content-expert .list-item {
    margin: 0;
  }
}

.session-wordpress .wordpress-footer .content-main .main .cloud-item {
  @include min(1200px) {
    background-color: transparent;
  }
}

.home-session-six-year-wrap {
  @include max(1400px) {
    margin-top: -13rem;
  }
  @include max(800px) {
    margin-top: -6rem;
  }
}

.home-session-six-year .bg-start {
  @include max(945px) {
    img {
      object-position: 27%;
    }
  }
}

@include max(945px) {
  .home-session-six-year-header .six-year-intergration .content-six-year .security-content .security-content-wrap .content {
    height: 100%;
  }
  .home-session-six-year-header .six-year-intergration .content-six-year .security-content .security-content-wrap {
    height: 100%;
  }
}

.statistical-traffic .traffic {
  &.style-pri {
      top: 15% !important;
      .traffic-content {
        @include max(768px) {
          padding-bottom: 0;
        }
      }
  }
}

@include max(900px) {
  .session-about-sec .host-about-sec-head-content .the-mona-img {
    max-width: 100%;
  }
  .host-about-sec-head-content {
    margin-bottom: 5rem;
  }
  .home-session-six-year-header {
    margin-top: -12rem;
  }
  .home-session-six-year-business .bussiness-project .list-project {
    padding-left: 7%;
  }
}

@include max(770px) {
  .session-statistical .content-statistical-right {
    padding: 17rem 0 25rem 0;
  }
}

@include max(500px) {
  .session-statistical .content-statistical-right {
    padding: 15rem 0 12rem 0;
  }
}

@include max(1200px) {
  .session-bug-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .session-bug-wrap .main-img {
    position: relative;
  }
}

.home-sesion-not-contact .content-521 .header {
  @include max(1400px) {
    margin-bottom: 8rem;
  }
}

.nhtq-page .nhtq-page-sec {
  margin: 3.2rem 0;
  padding: 7rem 0;

  @include max(768px) {
      padding: 3.8rem 0;
  }
}

.nhtq-co-customer-img {
  position: relative;
  z-index: 3;
}

.nhtq-co-customer-img .horizontal-section-sticky {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.horizontal-section-sticky {
  position: sticky;
  top: 0;
  overflow: hidden;
  min-height: 100vh;
  &.style-pri {
    @include max(1200px) {
      min-height: unset;
    }
  }
}

.nhtq-co-customer-img-airplane {
  width: 300vw;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.nhtq-co-customer-img-airplane {
  @include max(1200px) {
    margin-top: 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .airplane {
    position: relative;
    width: 100%;
    @include max(1200px) {
      margin: 4.6rem 0 .6rem 0;
    }
    img {
      position: relative;
      z-index: 2;
      vertical-align: middle;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 1s;
    }
  }
}

.nhtq-co-customer-img {
  @include max(1200px) {
    height: 100% !important;
  }
}

.nhtq-co-customer-img .nhtq-co-customer-scroll {
  @include max(1200px) {
    transform: unset !important;
  }
}


.section {
  &.feedback {
    overflow: visible;
  }
}

.session-solution {
  @include max(660px) {
    margin-top: -30rem;
  }
}

.session-statistical .statistical-traffic .communication-content {
  &.style-pri {
    @include max(425px) {
      padding-top: 0;
    }
  }
}

.session-solar-system {
  .header {
    .bg-cloud {
      @include max(500px) {
        display: none;
      } 
    }
  }
}

.session-solar-system .header {
  @include max(500px) {
    margin-top:-4rem ;
  }
}
.home-session-six-year-header {
  @include max(500px) {
    margin-top: 0;
  }
}

.session-service {
  @include max(500px){
    margin-top: 5.6rem;
  }
}