@import "../core/font.scss";
@import "../core/animation.scss";
@import "../core/mona.scss";
@import "../core/mixin.scss";
@import "../core/grid.scss";

// COLOR OLD

$softwareColor: #2686ec;
$hostColor: #1ec0f2;
$digitalColor: #7c0fd1;
$lmsColor: #f41e92;
$nhtqColor: #f5851e;
$textColor: #3A3A3A;
$textColor-2: #8B8B8B;
$greenColor: #14EF6C;
$redColor: #E01507;

.host-checkout {
    padding-top: 6.4rem;
    padding-bottom: 10rem;

    &-process {
        max-width: max-content;
        margin: 0 auto;
        position: relative;

        &-timeline {
            position: absolute;
            top: 1.2rem;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 0.2rem;
            background-color: #F7F7F7;
            max-width: calc(100% - 10rem);

            .process-percent {
                height: 100%;
                background-color: $hostColor;
            }
        }
        
        &-list {
            gap: 10rem;
            flex-wrap: nowrap;
            align-items: stretch !important;

            @include max(1200px) {
                gap: 5rem;
            }

            @include max(768px) {
                gap: 1.5rem;
            }
        }

        &-item {
            width: max-content;
            @include mid-flex();
            justify-content: flex-start;
            flex-direction: column;
            text-align: center;
            
            // &:first-child {
            //     .process-check {
            //         &::after {
            //             content: "";
            //             position: absolute;
            //             top: 1rem;
            //             right: 0;
            //             width: 4rem;
            //             height: 2rem;
            //             background-color: #fff;
            //         }
            //     }
            // }

            &.process-done {
                .process-check {
                    background-color: $hostColor;
                    border-color: $hostColor;
                }

                .process-txt {
                    color: $textColor;
                }
            }

            &.process-current {
                .process-check {
                    border-color: $hostColor;
                    background-color: #fff;
                }

                .process-txt {
                    color: $textColor;
                    font-weight: 600;
                }
            }
        }

        .process {
            &-check {
                display: inline-block;
                width: 2.4rem;
                height: 2.4rem;
                border-radius: 50%;
                background-color: #F7F7F7;
                border: 0.1rem solid #F7F7F7;
                position: relative;
                margin-bottom: 0.8rem;

                &::before {
                    content: "";
                    @include mid();
                    width: 70%;
                    height: 70%;
                    background: url("../assets/images/Icon-check.svg") no-repeat;
                    background-size: contain;
                }
            }

            &-txt {
                color: $textColor-2;
                transition: 0.3s;

                br {
                    display: none;
                }

                @include max(768px) {
                    font-size: 1.4rem;
                }

                @include max(450px) {
                    br {
                        display: block;
                    }
                }
            }
        }
    }
}

.payment-method-ase {
    margin-bottom: 1.4rem;
    padding-top: 2rem;
    border-top: 1px solid rgba(58, 58, 58, 0.4);

    .host-tt {
        margin-bottom: 1.4rem;
    }
}

.f-national {
    width: calc(100% + 2.4rem);
    margin-left: -1.2rem;

    @include max(768px) {
        width: calc(100% + 1.5rem);
        margin-left: -0.75rem;
    }

    .f-c {
        padding: 0 1.2rem;

        @include max(768px) {
            padding: 0 0.75rem;
        }
    }

    .f-c:nth-child(2),
    .f-c:nth-child(3) {
        max-width: 21.6rem;
    }
}

.radio-cus {
    font-size: 1.4rem;

    &-item {
        @include mid-flex();
        justify-content: flex-start;
        padding: 0.6rem 0;
        position: relative;
    }

    .radio-cus-ipt {
        width: 1.6rem;
        height: 1.6rem;
        flex-shrink: 0;
    }

    .lb-radio-cus {
        margin-left: 0.8rem;
        cursor: pointer;
    }
}

.has-account {
    .open-popup-account {
        cursor: pointer;

        &:hover {
            @include min(1201px) {
                color: $hostColor;
            }
        }
    }
}

.host-checkout-info {
    margin-top: 10rem;

    @include max(768px) {
        margin-top: 7.2rem;
    }
}

.host-checkout-info-content {
    max-width: 81.7rem;

    @include max(1025px) {
        max-width: 100%;
    }
}

.host-checkout-info-form {
    padding: 0;
    border-radius: 0;
    background-color: #fff;
}

.txt-single {
    font-size: 2rem;
    margin: 2rem 0;
    margin-top: 5.6rem;
}

.host-checkout-completed-header {
    margin-top: 10rem;
    margin-bottom: 2.4rem;

    @include max(768px) {
        margin-top: 7.2rem;
    }
}

.host-checkout-completed-tt {
    font-size: 3.6rem;
    color: #2AC34D;
    font-weight: 600;
    margin-bottom: 4rem;
    line-height: 1.2;
}

.host-checkout-completed-desc {
    font-size: 2.8rem;
    color: #000;
    font-weight: 600;
}

.host-checkout-completed-info {
    margin-top: 2.4rem;
    padding: 3.2rem;
    background-color: #F8FDFF;
    @include mid-flex();
    align-items: flex-start;
    gap: 2.4rem;

    @include max(1200px) {
        flex-direction: column;
        padding: 2.4rem;
    }

    @include max(768px) {
        padding: 1.6rem;
    }

    .info-left {
        flex: 1;

        @include max(1200px) {
            width: 100%;
        }
    }

    .info-right {
        width: 45%;

        @include min(1201px) {
            padding-left: 2.4rem;
            border-left: 1px solid rgba(58, 58, 58, 0.1);
        }

        @include max(1200px) {
            width: 100%;
        }

        &-list {
            gap: 0.8rem;
        }

        &-item {
            width: calc(50% - 0.8rem);
            margin-bottom: 0.8rem;

            &:last-child {
                margin-bottom: 0;
            }

            .info-item-txt-nor {
                margin-bottom: 0.4rem;
            }

            &-full {
                width: 100%;
            }

            &-w {
                padding-bottom: 2.4rem;
                margin-bottom: 2.4rem;
                border-bottom: 1px solid rgba(58, 58, 58, 0.1);

                &:last-child {
                    padding-bottom: 0;
                    margin-bottom: 0;
                    border-bottom: unset;
                }
            }
        }
    }

    .info-item {
        margin-bottom: 2.4rem;

        &:last-child {
            margin-bottom: 0;
        }

        &-tt {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 2rem;
        }

        &-txt-nor {
            font-size: 1.4rem;
            color: $textColor-2;

            &.price-total {
                font-size: 1.6rem;
                font-weight: 600;
            }
        }

        &-detail {
            gap: 4.8rem;
            position: relative;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid rgba(58, 58, 58, 0.1);

            @include max(768px) {
                gap: 2.4rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                height: calc(100% - 2.4rem);
                width: 0.1rem;
                border-right: 1px solid rgba(58, 58, 58, 0.1);

                @include max(768px) {
                    display: none;
                }
            }

            &-col {
                width: calc(50% - 2.4rem);

                @include max(768px) {
                    width: 100%;
                }
            }
        }
        
        .item {
            margin-bottom: 0.8rem;

            .price {
                font-weight: 600;
            }
        }

        &-flex {
            padding-bottom: 0.8rem;
            margin-bottom: 0.8rem;
            border-bottom: 1px solid rgba(58, 58, 58, 0.1);

            &:last-child {
                border-bottom: unset;
            }

            &-col {
                font-size: 1.4rem;
                line-height: 1.2;

                .name {
                    font-weight: 600;
                }

                .desc {
                    margin-top: 1.2rem;
                }
            }
        }
    }
}

.host-form .f-c {
    position: relative;
}

.label-birthday {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 0.1rem);
    display: flex;
    align-items: center;
    background-color: #fff;
    color: $textColor-2;
    cursor: pointer;

    &.hide {
        display: none;
    }
}

.host-page {
    @include max(450px) {
        .hd .mona-logo img {
            content: url("../assets/images/logo/host-less-logo.svg");
        }
    }
}