@import "../core/font.scss";
@import "../core/animation.scss";
@import "../core/mona.scss";
@import "../core/mixin.scss";
@import "../core/grid.scss";

// COLOR OLD

$softwareColor: #2686ec;
$hostColor: #1ec0f2;
$digitalColor: #7c0fd1;
$lmsColor: #f41e92;
$nhtqColor: #f5851e;
$textColor: #3A3A3A;
$textColor-2: #8B8B8B;
$greenColor: #14EF6C;
$redColor: #E01507;

:root {
    --border-32: 3.2rem;
}

@include max(1200px) {
    :root {
        --border-32: 1.6rem;
    }
}

@include max(600px) {
    :root {
        --border-32: 0.8rem;
    }
}

.d-flex.f-ctn {
    width: calc(100% + 2.4rem);
    margin-left: -1.2rem;

    @include max(1200px) {
        width: calc(100% + 1.5rem);
        margin-left: -0.75rem;
    }
}

.col {
    padding: 0 1.2rem;

    @include max(1200px) {
        padding: 0 0.75rem;
    }
}

.host-page {
    .hd-logo {
        max-width: 22.5rem;
    }

    .mona-logo img {
        max-width: 100%;
    }

    .hd .hd-menu .menu-item a {
        padding: 0.8rem;
    }

    .hd-menu.d-flex.f-end {
        flex: 1;
    }

    .hd-contact.hd-menu .menu-item:nth-child(1) .menu-item-link {
        background-color: $digitalColor;
    }

    .hd-contact.hd-menu .menu-item:nth-child(2) .menu-item-link {
        background-color: $hostColor;
    }

    .ft .f-signature .mona-logo img {
        max-width: 15.8rem;
    }

    .ft .mona-logo img {
        max-width: 80%;
    }
}

@media screen and (min-width: 1201px) {
    .hd-menu .menu-item:nth-child(8) .menu-item-link:hover {
        background-color: #ffe3f2;
    }

    .hd-menu .menu-item:nth-child(9) .menu-item-link:hover {
        background-color: #dcf7ff;
    }

    .hd-contact.hd-menu .menu-item:nth-child(1) .menu-item-link:hover {
        background-color: #f9f1ff;
        box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12);
    }

    .hd-contact.hd-menu .menu-item:nth-child(2) .menu-item-link:hover {
        box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12);
        background-color: #f1f8ff;
    }
}

.breadcrumb {
    padding: 1.6rem 0;

    &-item {
        font-size: 1.4rem;

        &:last-child {
            .breadcrumb-item-link {
                &::before {
                    content: none;
                }
            }
        }

        &-link {
            display: inline-block;
            padding: 0.4rem 0;
            padding-right: 2.8rem;
            position: relative;
            transition: 0.3s;

            &::before {
                content: "";
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 1.2rem;
                height: 1.2em;
                background: url("../assets/images/arrow-full.svg") no-repeat;
                background-size: contain;
            }
            
            &.current {
                color: $nhtqColor;
            }

            &:hover {
                @include min(1201px) {
                    color: $nhtqColor;
                }
            }
        }

        &:last-child {
            & .breadcrumb-item-link {
                color: $nhtqColor;
            }
        }
    }
}

.host-search {
    position: relative;
    padding-bottom: 10rem;

    &-bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        pointer-events: none;
    }
}

.host-btn {
    @include mid-flex();
    max-width: max-content;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    background-color: $nhtqColor;
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;

    @include max(1200px) {
        padding: 1rem 1.6rem;
    }

    &.host-btn-blue {
        background-color: $softwareColor;
    }

    &:hover {
        @include min(1201px) {
            box-shadow: inset 6px 6px 12px rgba(16, 72, 132, 0.12);
            background-color: #f1f8ff;
            color: $hostColor;

            .host-btn-ani {
                animation: MoveUpInitial 0.3s linear forwards, MoveUpEnd 0.3s linear forwards;
            }

            .icon:nth-child(1) {
                opacity: 0;
            }

            .icon:nth-child(2) {
                opacity: 1;
            }
        }
    }

    &-wrap {
        overflow: hidden
    }

    &-ani {
        @include mid-flex();
    }

    &-icon {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        margin-right: 0.8rem;
        flex-shrink: 0;
        position: relative;

        .icon {
            @include mid();
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.3s;

            &:nth-child(2) {
                opacity: 0;
            }
        }
    }
}

.host-viewmore {
    @include mid-flex();
    margin-top: 2.4rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: $nhtqColor;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    max-width: 84rem;

    &:hover {
        @include min(1201px) {
            // color: $hostColor;
            opacity: 0.7;
        }
    }

    img {
        width: 1.4rem;
        height: 1.4rem;
        margin-left: 0.8rem;
    }
}

.txt-bg {
    display: inline-block;
    background-color: $hostColor;
    padding: 0.4rem;
    padding-top: 0.2rem;
    color: #fff;
}

.host-tt {
    @include fz-28;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.host-underline {
    position: relative;

    &.host-underline-blue::before {
        background-color: #9BE7FF;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 35%;
        background-color: $nhtqColor;
        opacity: 0.7;
    }

    &-txt {
        position: relative;
        z-index: 2;
    }
}

.host {
    &-header {
        padding: 8rem 0;

        @include max(800px) {
            padding: 3.2rem 0;
        }

        &-ctn {
            align-items: center;
            -webkit-align-items: center;

            @include max(1200px) {
                .host-header-col {
                    &.col-7, &.col-5 {
                        width: 50%;
                    }
                }
            }

            @include max(950px) {
                .host-header-col {
                    &.col-7, &.col-5 {
                        width: 45%;
                    }
                }
            }

            @include max(800px) {
                .host-header-col {
                    &.col-7, &.col-5 {
                        width: 100%;
                    }

                    &.col-5 {
                        margin-top: 4.2rem;
                    }
                }
            }
        }

        &-tt {
            @include fz-36;
            font-weight: 600;
            margin-bottom: 3.2rem;
            overflow: hidden;
        }

        &-form {
            .f-c {
                position: relative;
            }

            .ipt-txt {
                width: 100%;
                padding: 1.6rem 2rem;
                padding-right: 6.6rem;
                background: #FFFFFF;
                box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
                border-radius: 1.6rem;
                line-height: 1.7;

                &::placeholder {
                    font-size: 1.6rem;
                    color: $textColor-2;
                }
            }

            .ipt-sub {
                position: absolute;
                top: 0.8rem;
                right: 0.8rem;
                width: 4rem;
                height: 4rem;
                cursor: pointer;
                border-radius: 1.2rem;
                transition: 0.3s;

                background: url("../assets/images/icon-search-white.svg") no-repeat, $hostColor;
                background-size: 1.6rem 1.6rem;
                background-position: center;

                &:hover {
                    @include min(1201px) {
                        opacity: 0.7;
                    }
                }
            }
        }

        &-img {
            position: relative;
        }

        &-domain {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
            @include mid-flex();
            justify-content: flex-start;
            align-items: flex-start;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            flex-wrap: wrap;
            gap: 1.6rem;

            &-item {
                width: calc(50% - 1.6rem);

                &:nth-child(5n + 1) {
                    transform: translate(-2rem, 4rem);

                    @include max(800px) {
                        transform: translate(2rem, 4rem);
                    }

                    .item {
                        background-color: #FFE3F2;
                        color: $lmsColor;

                        &::before {
                            background-color: #FFE3F2;
                            left: unset;
                            right: 1.5rem;
                            transform: rotateY(180deg);
                        }
                    }
                }

                &:nth-child(5n + 2) {
                    transform: translateX(4rem);

                    .item {
                        background-color: $digitalColor;
                    }
                }

                &:nth-child(5n + 4) {
                    transform: translate(8rem, -4rem);

                    @include max(800px) {
                        transform: translate(5rem, -2rem);
                    }

                    .item {
                        background-color: $lmsColor;

                        &::before {
                            background-color: $lmsColor;
                        }
                    }
                }

                &:nth-child(5n + 3) {
                    transform: translate(1rem, 5rem);

                    @include max(800px) {
                        transform: translate(3rem, 5rem);
                    }
                    
                    .item {
                        background-color: $nhtqColor;

                        &::before {
                            background-color: $nhtqColor;
                            left: unset;
                            right: 1.5rem;
                            transform: rotateY(180deg);
                        }
                    }
                }

                &:nth-child(5n + 5) {
                    transform: translate(120%, -4rem);

                    .item {
                        background-color: #DCF7FF;
                        color: $hostColor;

                        &::before {
                            background-color: #DCF7FF;
                        }
                    }
                }
            }

            .item {
                padding: 1.2rem 2.4rem;
                background: #9BE7FF;
                border-radius: 1.2rem;
                min-width: 14.8rem;
                max-width: max-content;
                box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.12);

                font-size: 1.6rem;
                font-weight: 700;
                text-align: center;
                color: #fff;
                position: relative;
                transition: 0.8s ease-in-out;

                @include max(800px) {
                    min-width: 10rem;
                    padding: 0.8rem 1.2rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    left: 1.5rem;
                    top: 98%;
                    width: 1.6rem;
                    height: 1.2rem;
                    background-color: $digitalColor;
                    -webkit-clip-path: polygon(23% 0, 0 100%, 100% 0);
                    clip-path: polygon(23% 0, 0 100%, 100% 0);
                }
            }
        }
    }

    &-search {
        &-result {
            margin-top: 3.6rem;
            line-height: 1.2;
            // display: none;

            &.correct {
                .host-search-result-noti {
                    border-color: $greenColor;
                }

                .host-search-desc {
                    color: $greenColor;
                }

                .host-search-addtocart {
                    display: block;
                }
            }

            &.uncorrect {
                .host-search-result-noti {
                    border-color: $redColor;
                }

                .host-search-desc {
                    color: $redColor;
                }
            }

            &-noti {
                padding: 2.4rem 3.2rem;
                border-radius: var(--border-32);
                background: #FFFFFF;
                border: 0.1rem solid transparent;
                box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
                transition: 0.3s;
                position: relative;

                @include max(1200px) {
                    padding: 1.6rem 2rem;
                    padding-bottom: 2.2rem;
                }

                &-ctn {
                    justify-content: space-between;
                    gap: 0.8rem;

                    @include max(1200px) {
                        flex-direction: column;
                        -webkit-flex-direction: column;

                        .host-service-price {
                            flex-direction: column;
                            align-items: flex-start;
                            margin-top: 0.8rem;
                            margin-bottom: 0.8rem;
                            line-height: 1;
                        }

                        .host-service-wrap-right {
                            width: 100%;
                            align-items: flex-start;
                        }
                    }
                }

                &-col {
                    flex: 1;
                }

                .host-service-wrap-right {
                    padding: 0;
                    max-width: max-content;
                }
            }

            &-desc {
                margin-top: 2.4rem;
                font-size: 1.8rem;
            }
        }

        &-name {
            @include fz-36;
            font-weight: 600;
            color: $textColor-2;
            margin-bottom: 0.8rem;
        }

        &-desc {
            font-size: 1.8rem;
        }

        // &-addtocart {
        //     position: absolute;
        //     bottom: 2.4rem;
        //     right: 3.2rem;
        //     display: none;
        // }
    }
}

.host-service {
    line-height: 1.2;

    &-ctn {
        @include max(1200px) {
            .host-service-col {
                &.col-8 {
                    width: 60%;
                }

                &.col-4 {
                    width: 40%;
                }
            }
        }

        @include max(1025px) {
            .host-service-col {
                &.col-8 {
                    width: 100%;
                }

                &.col-4 {
                    width: 100%;
                }
            }
        }
    }

    &-box {
        margin-bottom: 8rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-list {
        max-width: 84rem;

        @include max(1200px) {
            max-width: 100%;
        }
    }

    &-item {
        margin-bottom: 1.6rem;
        padding: 2.4rem 3.2rem;
        background: #FFFFFF;
        border: 1px solid rgba(58, 58, 58, 0.1);
        border-radius: var(--border-32);

        @include max(1200px) {
            padding: 2.4rem 2.4rem;
        }

        @include max(600px) {
            padding: 1.6rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    &-name {
        @include fz-28;
        font-weight: 600;
        margin-bottom: 1.6rem;
        color: $textColor-2;
    }

    &-wrap {
        align-items: flex-end;
        -webkit-align-items: flex-end;

        &-left {
            width: 50%;

            @include max(600px) {
                width: 100%;
            }
        }

        &-right {
            width: 50%;
            @include mid-flex();
            flex-direction: column;
            -webkit-flex-direction: column;
            align-items: flex-end;
            -webkit-align-items: flex-end;
            justify-content: flex-end;
            -webkit-justify-content: flex-end;

            @include max(600px) {
                width: 100%;
                margin-top: 2.4rem;
                justify-content: flex-start;
                -webkit-justify-content: flex-start;
                align-items: flex-start;
                -webkit-align-items: flex-start;
            }
        }
    }

    &-tag-item {
        margin-right: 0.4rem;
        padding: 0.4rem 1.2rem;
        background-color: #F7F7F7;
        border-radius: 0.8rem;
        font-size: 1.2rem;
    }

    &-price {
        align-items: flex-end;
        -webkit-align-items: flex-end;
        justify-content: flex-end;
        -webkit-justify-content: flex-end;
        margin-bottom: 1.6rem;
        line-height: 1;

        .txt-small {
            font-size: 1.8rem;
        }
    }
}

.price-cover {
    color: $textColor-2;
    text-decoration: line-through;
    margin-right: 0.8rem;
    font-size: 1.6rem;
}

.price-discount {
    @include fz-28;
    font-weight: 600;
    color: $hostColor;
}

.host-package-select {
    max-width: max-content;
    display: flex;
    gap: 1.6rem;
    align-items: center;
}

.select2-container {
    max-width: max-content;
}

.select2-container .select2-selection--single {
    height: 3.6rem;
    background: #FFFFFF;
    border: 1px solid rgba(58, 58, 58, 0.1);
    border-radius: 0.8rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    height: 3.6rem;
    padding: 0.8rem 1.2rem;
    padding-right: 2.2rem;
    font-size: 1.4rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 3.6rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $nhtqColor transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent $nhtqColor transparent;
}

.host-service-aside {
    position: sticky;
    top: 0;
    padding-top: 5.8rem;

    &-wrap {
        padding: 3.2rem;
        background: #F8FDFF;
        box-shadow: 0 0.4rem 1.2rem rgba(58, 58, 58, 0.08);
        border-radius: var(--border-32);

        @include max(1200px) {
            padding: 2.4rem;
        }

        @include max(550px) {
            padding: 1.6rem;
        }
    }

    &-tt {
        margin-bottom: 0.8rem;
    }
}

.host-service-cart {
    margin-bottom: 2.4rem;

    &-left, &-right {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        @include max(900px) {
            width: 100%;
        }
    }
    &-item {
        padding: 1.6rem 0;
        border-bottom: 1px solid rgba(58, 58, 58, 0.1);
        display: flex;
        gap: 0.8rem;
        justify-content: space-between;

        @include max(900px) {
            flex-wrap: wrap;
        }

        &:last-child {
            padding-bottom: 0;
            border-bottom: unset;
        }

        .desc {
            align-items: center;
        }

        .label {
            white-space: nowrap;
        }

        .name {
            font-size: 1.6rem;
            font-weight: 600;
        }

        .desc {
            display: flex;
            gap: 1.6rem;
        }

        .price {
            font-size: 1.6rem;
            color: $softwareColor;
            font-weight: 600;
        }

        .remove {
            margin-left: auto;
            width: 4rem;
            height: 4rem;
            border-radius: 0.8rem;
            background-color: #FFF1F0;
            transition: 0.3s;
            @include mid-flex();
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                @include min(1201px) {
                    background-color: $hostColor;

                    img {
                        filter: brightness(0) invert(1);
                        -webkit-filter: brightness(0) invert(1);
                    }
                }
            }

            img {
                width: 40%;
                height: 40%;
                object-fit: contain;
            }
        }
    }
}

.host-service-aside-item {
    padding: 1.6rem 0;
    border-top: 1px solid rgba(58, 58, 58, 0.3);

    .label-small {
        font-size: 1.8rem;
        font-weight: 600;
    }

    .price {
        font-size: 1.6rem;
        font-weight: 600;
        color: $softwareColor;

        &.price-big {
            font-size: 2rem;
        }

        &.price-biggest {
            font-size: 2.8rem;
            color: $nhtqColor;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.8rem;
        padding: 0.8rem 0;
    }

    &-body {
        padding: 0.8rem 0;

        .item {
            display: flex;
            justify-content: space-between;
            gap: 0.8rem;
            color: $textColor-2;
            padding: 0.4rem 0;
        }
    }
}

.host-service-aside-btn {
    width: 100%;
    padding: 1rem 2rem;
    background-color: $softwareColor;
    border-radius: 1.2rem;
    transition: 0.3s;
    cursor: pointer;

    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-transform: uppercase;

    &:hover {
        @include min(1201px) {
            opacity: 0.7;
        }
    }
}

.host-service-detail {
    margin-top: 1.6rem;
    padding-top: 1.6rem;
    border-top: 1px solid rgba(58, 58, 58, 0.1);

    &-header {
        font-size: 1.8rem;
        color: #000;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            @include min(1201px) {
                opacity: 0.7;
            }
        }

        .icon {
            width: 1.6rem;
            height: 1.6rem;
            margin-left: 1.6rem;
            transform: rotate(180deg);
        }
    }

    &-list {
        margin-top: 0.8rem;
        display: none;
    }

    &-item {
        padding: 0.8rem 0;
        display: flex;
        gap: 1.6rem;

        &:nth-child(even) {
            background-color: #F7F7F7;
        }

        .name {
            flex: 1;
        }

        .detail {
            width: 30%;
        }
    }
}

input {
    margin: 0;
}

.host-service-box.web-hosting {
    .host-service-name {
        color: #000;
    }

    .host-service-wrap {
        align-items: flex-start;
    }
}

.checkbox-cus {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.6rem;

    &-item {
        width: calc(100% / 3 - 1.6rem);
        cursor: pointer;
        transition: 0.3s;
        flex-wrap: nowrap;

        @include max(550px) {
            width: calc(50% - 1.6rem);
        }
        
        &:hover {
            @include min(1201px) {
                .checkbox-cus-name {
                    color: $hostColor;
                }
            }
        }
    }
    
    &-name {
        font-size: 1.4rem;
        margin-left: 0.8rem;
    }
    
    &-hidden {
        display: none;
        &:checked ~ .checkbox-cus-check {
            background-color: $softwareColor;

            &::before {
                display: block;
            }
        }
    }

    &-check {
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 0.4rem;
        background: #FFFFFF;
        border: 1px solid rgba(58, 58, 58, 0.1);
        position: relative;

        &::before {
            display: none;
            content: "";
            @include mid();
            width: 1.2rem;
            height: 0.9rem;
            background: url("../assets/images/Icon-check.svg") no-repeat;
            background-size: contain;
        }
    }
}

.hl-lms {
    color: $lmsColor;
}

.host-underline-lms {
    display: inline-block;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.2rem;
        width: 100%;
        height: 2.6rem;
        background-color: #FFE3F2;
        z-index: 1;

        @include max(1200px) {
            height: 1.6rem;
        }
    }

    .txt {
        position: relative;
        z-index: 2;
    }
}

.host-form {
    padding: 8rem 0;
    background-color: #E9F4FF;
    border-radius: 10rem 10rem 0 0;

    @include max(1200px) {
        border-radius: 4.2rem 4.2rem 0 0;
    }

    &-ctn {
        @include max(1200px) {
            .host-form-col {
                &.col-7 {
                    width: 55%;
                }

                &.col-5 {
                    width: 45%;
                }
            }
        }

        @include max(900px) {
            .host-form-col {
                &.col-7 {
                    width: 100%;
                }

                &.col-5 {
                    width: 100%;
                }
            }
        }
    }

    &-content {
        position: relative;
        height: 100%;
    }

    &-tt {
        max-width: 45.6rem;
        @include fz-40;
        font-weight: 600;

        @include max(1200px) {
            font-size: 3rem;
            max-width: 32rem;
        }
    }

    &-img {
        position: absolute;
        right: 25%;
        bottom: -10%;
        width: 60%;

        @include max(900px) {
            width: 25%;
            right: 1.5rem;
            bottom: 0;
        }

        @include max(550px) {
            display: none;
        }
    }

    &-form {
        padding: 4rem;
        background: #FFFFFF;
        box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.08);
        border-radius: var(--border-32);

        @include max(1200px) {
            padding: 2.4rem;
        }

        @include max(550px) {
            padding: 1.6rem;
        }
    }

    .f-r {
        @include mid-flex();
        justify-content: flex-start;
        -webkit-justify-content: flex-start;
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .f-btn {
        .host-btn {
            width: 100%;
            max-width: 100%;
            border-radius: 0.8rem;
            height: 4.8rem;
        }
    }

    .f-c {
        width: 100%;

        &.f-gender {
            max-width: max-content;
            min-width: 5.2rem;
            flex-shrink: 0;
            position: relative;

            & ~ .f-c {
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0.4rem;
                    top: 50%;
                    height: 1.8rem;
                    transform: translateY(-50%);
                    border-right: 1px solid rgba(58, 58, 58, 0.1);
                }

                .txt-ipt {
                    padding-left: 1.6rem;
                }
            }
        }
    }

    .txt-ipt, .txt-textarea {
        width: 100%;
        padding: 1.6rem 0;
        border-bottom: 1px solid rgba(58, 58, 58, 0.1);
        font-size: 1.6rem;
        height: 5.6rem;

        &::placeholder {
            color: $textColor-2;
        }
    }

    .txt-textarea {
        min-height: 12rem;
    }

    .select2-container {
        max-width: 100%;
    }

    .select2-container .select2-selection--single,
    .select2-container .select2-selection--single .select2-selection__rendered {
        height: 5.6rem;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 1.6rem 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 1.5;
    }

    .select2-container .select2-selection--single {
        border: unset;
        border-bottom: 1px solid rgba(58, 58, 58, 0.1);
        border-radius: 0;
    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        font-size: 1.6rem;
    }
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
}

.host-form-fill {
    width: 22.2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    color: $digitalColor;
    transform: rotate(-8deg);
    position: absolute;
    right: 12%;
    top: 5%;

    @include max(1200px) {
        font-size: 1.4rem;
        width: 18rem;
        top: 20rem;
        right: 20%;
    }

    @include max(900px) {
        display: none;
    }
    
    &-wrap {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -5rem;
            left: -3rem;
            width: calc(100% + 10rem);
            height: 30rem;
            transform: rotate(8deg);
            background: url("../assets/images/host-form-fill-line.png") no-repeat;
            background-size: contain;

            @include max(1200px) {
                top: -4rem;
                width: calc(100% + 8rem);
            }
        }
    }
}

.ft {
    &-label {
        color: $hostColor;
    }
}

.hot-line-call,
.hd-menu-info {
    color: $hostColor;
}

.ft .hd-menu-info-f .label {
    color: $textColor;
}

@include max(900px) {
    .ft-col.col-3 {
        width: calc(100% / 3);
    }
}

@include max(768px) {
    .ft-col.col-3 {
        width: 50%;
    }

    .ft-license-row.d-flex.f-ctn {
        flex-wrap: wrap;

        .ft-license-col {
            width: 100%;
        }
    }

    .host-page .ft .mona-logo img {
        max-width: 100%;
    }
}

@include max(450px) {
    .ft .hd-menu-info-f {
        font-size: 1.4rem;
    }
}

@include max(365px) {
    .ft-col.col-3 {
        width: 100%;
    }
}

.popup-account {
    position: fixed;
    z-index: 905;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.active {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    &-ctn {
        @include max(850px) {
            min-height: calc(var(--vh, 1vh) * 100 - 1.6rem);
        }
    }

    &-wrap {
        width: 110rem;
        max-width: calc(100vw - 3.2rem);
        max-height: calc(var(--vh, 1vh) * 100 - 1.6rem);
        overflow: hidden auto;
        background-color: #DCF7FF;
        border-radius: 4rem;
        overflow: hidden auto;
        position: relative;

        @include max(1200px) {
            border-radius: 2.4rem;
        }

        @include max(850px) {
            border-radius: 1.6rem;
            min-height: calc(var(--vh, 1vh) * 100 - 1.6rem);
        }
    }

    &-close {
        position: absolute;
        top: 2.4rem;
        right: 2.4rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0.8rem;

        @include max(1200px) {
            top: 1.2rem;
            right: 1.2rem;
            width: 3.2rem;
            height: 3.2rem;
        }

        &:hover {
            @include min(1201px) {
                background-color: $hostColor;

                img {
                    filter: brightness(0) invert(1);
                    -webkit-filter: brightness(0) invert(1);
                }
            }
        }
    }
    
    &-col {
        padding: 6rem 8rem;

        @include max(1200px) {
            padding: 4.8rem;
        }

        @include max(850px) {
            padding: 2.4rem;
            width: 100% !important;
        }

        &:nth-child(1) {
            padding-bottom: 4.2rem;
        }

        &:nth-child(2) {
            background-color: #fff;
        }
    }

    &-form {
        height: 100%;
        display: flex;
        flex-direction: column;

        &-tab {
            padding: 0.8rem;
            background-color: #DCF7FF;
            @include mid-flex();
            border-radius: 0.8rem;

            .tab-item {
                padding: 0.8rem;
                width: calc(50% - 0.2rem);
                border-radius: 0.4rem;

                font-size: 1.6rem;
                color: $softwareColor;
                text-align: center;
                transition: 0.3s;
                cursor: pointer;

                &.active {
                    background-color: $hostColor;
                    color: #fff;
                    font-weight: 700;
                }
            }
        }

        &-panel {
            margin-top: 2rem;
            flex: 1;

            .tab-panel-item {
                display: none;
                height: 100%;

                &.active {
                    display: block;
                }

                .form-cus {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .f-r {
            @include mid-flex();
            margin-bottom: 0.8rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .f-btn {
            margin-top: 4.8rem;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            flex: 1;

            .host-btn {
                max-width: 100%;
                width: 100%;
                height: 4.8rem;
                border-radius: 0.8rem;
                font-size: 1.6rem;
            }
        }

        .f-forgot {
            justify-content: space-between;
            margin-top: 3.2rem;

            .f-c {
                max-width: max-content;
            }

            .checkbox-cus-item {
                width: 100%;
                align-items: center;
            }
            
            .checkbox-cus-name {
                font-size: 1.6rem;
            }

            .forgot-password {
                transition: 0.3s;
                cursor: pointer;
                color: $softwareColor;

                &:hover {
                    @include min(1201px) {
                        color: $hostColor;
                    }
                }
            }
        }

        .f-has {
            justify-content: flex-start;
            margin-top: 2rem;

            font-size: 1.4rem;

            .hl-sec {
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    @include min(1201px) {
                        color: $hostColor;
                    }
                }
            }
        }

        .f-c {
            width: 100%;
            position: relative;

            .password-eye {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                width: 2.4rem;
                height: 2.4rem;
                cursor: pointer;
            }

            .fal {
                opacity: 0.7;
                @include mid();

                &-2 {
                    opacity: 0;
                }
            }
        }

        .txt-ipt {
            width: 100%;
            padding: 1.6rem 0;
            height: 5.6rem;
            border-bottom: 1px solid rgba(58, 58, 58, 0.1);
            font-size: 1.6rem;
            color: $textColor;

            &::placeholder {
                color: $textColor-2;
            }
        }
    }

    &-mona {
        @include fz-150;
        font-weight: 700;
        color: $nhtqColor;
        position: relative;
        line-height: 1.2;
        max-width: max-content;

        @include max(1200px) {
            font-size: 14rem;
        }

        @include max(850px) {
            font-size: 8rem;
        }

        .hello {
            display: inline-block;
            position: absolute;
            top: -1rem;
            right: -2.2rem;
            @include fz-60;
            font-weight: 800;
            color: $textColor;
        }
    }

    &-address {
        margin-top: 1.6rem;

        .item {
            @include mid-flex();
            justify-content: flex-start;
            padding: 0.4rem 0;

            .icon {
                width: 2.4rem;
                height: 2.4rem;
                flex-shrink: 0;
                margin-right: 1.8rem;
            }
        }
    }

    &-img {
        position: relative;
        transform: translateY(4rem);
        max-width: 28.8rem;
        margin-left: auto;
        margin-right: 3.2rem;

        @include max(850px) {
            margin: 0 auto;
        }

        @include max(550px) {
            max-width: 50%;
        }
    }
}

.hotline-ab {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-item {
        background: $digitalColor;
        box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.12);
        padding: 1.2rem 2.4rem;
        border-radius: 2.4rem;
        font-size: 1.4rem;
        color: #fff;
        text-align: center;
        max-width: max-content;
        position: relative;

        @include max(550px) {
            border-radius: 0.8rem;
            padding: 0.4rem 0.8rem;
            font-size: 1.2rem;
        }

        &::before {
            content: "";
            position: absolute;
            left: 1.5rem;
            top: 98%;
            width: 1.6rem;
            height: 1.2rem;
            background-color: $digitalColor;
            -webkit-clip-path: polygon(23% 0, 0 100%, 100% 0);
            clip-path: polygon(23% 0, 0 100%, 100% 0);
        }

        &:nth-child(1) {
            transform: translateX(110%);

            @include max(550px) {
                transform: translate(10rem, -3rem);
            }
        }

        &:nth-child(2) {
            transform: translate(-50%, -50%);
            
            @include max(550px) {
                transform: translate(-8rem, -6rem);
            }

            &::before {
                left: unset;
                right: 1.5rem;
                transform: rotateY(180deg);
                background-color: $lmsColor;
            }
        }

        &:nth-child(3) {
            transform: translate(-50%, 40%);

            @include max(550px) {
                transform: translate(-8rem, -3rem);
            }

            &::before {
                left: unset;
                right: 1.5rem;
                transform: rotateY(180deg);
                background-color: $nhtqColor;
            }
        }

        &:nth-child(5n + 2) {
            background-color: $lmsColor;
        }

        &:nth-child(5n + 3) {
            background-color: $nhtqColor;
        }

        .gt {
            font-size: 1.6rem;
            font-weight: 600;

            @include max(550px) {
                font-size: 1.4rem;
            }
        }
    }
}

.tab-panel {
    display: none;

    &.active {
        display: block;
    }
}