br {
  @include max(1200px) {
    display: none;
  }
}

.pv-bn {
  position: relative;
  overflow: hidden;
  &-header {
    position: relative;
    z-index: 2;
  }
  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: screen;
  }
  &-w {
    display: flex;
    flex-direction: column;
    @include min(1201px) {
      height: 100vh;
      justify-content: space-between;
    }
  }
  &-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6.4rem;
    @include max(1200px) {
      padding: 0 1.5rem;
    }
  }
  &-hl {
    @include fz-120;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    @include max(1366px) {
      padding-top: 4rem;
    }
    @include max(1200px) {
      font-size: 4.2rem;
    }
    @include max(500px) {
      padding-top: 4rem;
      font-size: 3.2rem;
    }
  }
  &-txt {
    color: #f7f7f7;
    @include fz-40;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    @include max(1200px) {
      font-size: 2.4rem;
    }
    @include max(767px) {
      font-size: 1.4rem;
    }
    @include max(320px) {
      font-size: 1.3rem;
    }
    .bold {
      @include fz-64;
      font-weight: 700;
    }
  }
  &-bot {
    position: relative;
    @include max(1200px) {
      padding-top: 5rem;
    }
    @include max(768px) {
      padding-top: 0;
    }
  }
  &-br {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-img {
    position: absolute;
    bottom: 15rem;
    left: 50%;
    width: 35%;
    transform: translateX(-50%);
    @include max(1200px) {
      bottom: 8rem;
    }
    @include max(501px) {
      bottom: 2rem;
      width: 42%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.pv-host-about {
  &-vps {
    @include max(500px) {
      display: none;
    }
  }
  &-vps-mobile {
    width: 100%;
    display: block;
    @include min(501px) {
      display: none;
    }
  }
  @include max(500px) {
    .vps-mobile-ele1 {
      margin-top: 2.4rem;
    }
  }

  &-line {
    position: relative;
    z-index: 2;

    @include max(900px) {
      margin-top: 0;
    }

    @include max(428px) {
      margin-top: 10%;
    }

    @include max(402px) {
      margin-top: 40%;
    }

    @include max(375px) {
      margin-top: 32%;
    }

    .bg-host-img {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
    }

    @include max(860) {
      display: none;
    }
  }

  &-ab {
    padding-bottom: 10rem;
    @include max(1200px) {
      padding-bottom: 4rem;
    }
    &-l {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    &-image {
      position: relative;
      img {
        position: relative;
        width: calc(100% * (8 / 12));
        left: 50%;
        top: 0%;
        transform: translateX(-50%);
      }
      @include max(500px) {
        display: none;
      }
    }
    &-con {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      bottom: 22%;
      left: 50%;
      transform: translateX(-50%);
      @include max(1200px) {
        bottom: 18%;
      }
      @include max(1024px) {
        bottom: 10%;
      }
      @include max(820px) {
        bottom: -4%;
      }
      @include max(768px) {
        width: 100%;
      }
      .btn-clh {
        font-size: 2.4rem;
        padding: 1.6rem 3.2rem;
        height: auto;
        @include max(1200px) {
          width: 52.9rem;
        }
        @include max(511px) {
          width: fit-content;
        }
        .txt {
          br {
            @include max(1200px) {
              display: none;
            }
          }
          @include max(1200px) {
            font-size: 2.2rem;
          }
          @include max(767px) {
            font-size: 1.5rem;
          }
          @include max(501px) {
            font-size: 2rem;
          }
        }
      }
    }
    &-tt {
      display: flex;
      flex-direction: column;
      align-items: center;
      .host-tt {
        color: #3a3a3a;
        text-align: center;
        font-weight: 650;
        line-height: 1.2;
        @include max(470px) {
          color: #fff;
        }
        @include max(400px) {
          font-size: 2.4rem;
        }
        &.hl {
          color: #fff;
          position: relative;
          margin: 0.4rem 0;
          z-index: 1;
          padding: 0.4rem 1.6rem;
          &::before {
            z-index: -1;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1ec0f2;
            border-radius: 0.8rem;
          }
        }
      }
    }
    &-sub-tt {
      color: #3a3a3a;
      text-align: center;
      @include fz-40;
      font-weight: 650;
      line-height: 1.2;
      position: relative;
      margin-bottom: 3.2rem;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url(/assets/images/cloudhosting/ab-line.png);
      }
      @include max(1200px) {
        font-size: 2.2rem;
        margin-bottom: 3rem;
      }
      @include max(767px) {
        font-size: 1.8rem;
      }
    }
    &-txt {
      color: #3a3a3a;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 120%;
      margin-bottom: 2.2rem;
      margin-top: 3.2rem;
      @include max(1200px) {
        font-size: 1.6rem;
        padding: 0.4rem 1.6rem;
        line-height: 2rem;
        background-color: #f41e92;
        border-radius: 0.8rem;
        color: #fff;
      }
      @include max(501px) {
        font-size: 1.5rem;
        color: #fff;
      }
    }
    &-decor {
      @include max(820px) {
        display: none;
      }
      position: absolute;
      &.x1 {
        bottom: 4%;
        left: 11%;
        width: 22%;
      }
      &.x2 {
        width: 20%;
        top: 6%;
        left: 6%;
      }
      &.x4 {
        top: 13%;
        width: 20%;
        right: 4%;
      }
    }
  }

  border-start-start-radius: 40%;

  &-content {
    width: 100%;
    position: relative;
    z-index: 10;

    .header {
      padding-top: 6rem;
      height: 100%;
      padding-bottom: 8rem;
      @include max(1200px) {
        padding-bottom: 0;
      }
      @include max(501px) {
        padding: 0;
      }

      .title {
        font-weight: 600;
        text-align: center;
        color: #fff;
        margin-bottom: 0.8rem;
        @include max(400px) {
          font-size: 2.4rem;
        }
      }

      .sub-title {
        font-weight: 600;
        display: block;
        margin: 0 auto;
        margin-bottom: 3.2rem;
        background-color: #1ec0f2;
        @include max(400px) {
          font-size: 2.4rem;
        }
      }

      .desc {
        color: #fff;
        font-size: 1.6rem;

        font-weight: 400;
        text-align: center;
        margin-bottom: 12rem;

        @include max(1200px) {
          margin-bottom: 3rem;
        }
      }
    }

    .about-session {
      position: relative;
      z-index: 10;

      @include max(1200px) {
        padding-bottom: 0rem;
      }

      .wrap-reverse {
        flex-wrap: wrap-reverse;
      }

      &-vps {
        margin-top: 10rem;

        @include max(1200px) {
          margin-top: 0rem;
        }
      }

      &-hosting {
        margin-top: 10rem;

        @include max(1200px) {
          margin-top: 0rem;
        }

        @include max(890px) {
          flex-wrap: wrap-reverse;
        }
      }

      &-solution {
        margin-top: 10rem;

        @include max(1200px) {
          margin-top: 0rem;
        }
      }

      &-service {
        margin-top: 10rem;

        @include max(1200px) {
          margin-top: 0rem;
        }
      }

      &-banding {
        margin-top: 5rem;
        margin-bottom: 30rem;

        @include max(1200px) {
          margin-top: 0rem;
        }
        @include max(768px) {
          margin-bottom: 16rem;
        }
        @include max(501px) {
          margin-bottom: 8rem;
        }
      }

      &-end {
        padding-top: 10rem;

        @include max(1200px) {
          padding-top: 0rem;
        }

        .about-session-content {
          width: 50%;
          margin: auto;

          @include max(1200px) {
            width: 80%;
          }

          @include max(770px) {
            padding: 0 0.8rem;
            width: 100%;
          }
        }
      }

      &-line {
        position: absolute;
        width: 32%;
        top: -20%;
        left: 20%;

        @include max(1200px) {
          display: none;
        }

        &-hosting {
          position: absolute;
          width: 84%;
          top: -43%;
          left: -2%;
          @include max(1200px) {
            display: none;
          }
        }

        &-design {
          width: 43%;
          position: absolute;
          top: -44%;
          left: 20%;
          @include max(1200px) {
            display: none;
          }
        }

        &-solution {
          position: absolute;
          width: 50%;
          top: -40%;
          left: 10%;

          @include max(1200px) {
            display: none;
          }
        }

        &-service {
          position: absolute;
          width: 52%;
          top: -42%;
          left: 17%;

          @include max(1200px) {
            display: none;
          }
        }

        &-branding {
          position: absolute;
          width: 53%;
          top: -38%;
          left: 14%;

          @include max(1200px) {
            display: none;
          }
        }

        &-end {
          @include max(1200px) {
            display: none;
          }

          position: absolute;
          width: 20%;
          top: -75%;
          left: 45%;
        }
      }

      &-content {
        display: block;
        margin: auto 0;

        @include max(890px) {
          width: 100%;
        }
      }

      &-main-img {
        padding: 3rem;

        @include max(890px) {
          padding: 3rem 0;
        }

        @include max(890px) {
          width: 100%;
        }
      }

      &-end {
        padding-bottom: 3.3rem;

        .tt {
          @include fz-24;
          font-weight: 600;
          color: #fff;
          text-align: center;
        }

        .sub {
          font-size: 1.6rem;
          font-weight: 400;
          color: #fff;
          padding: 1.6rem 0;
          text-align: center;
        }

        .action {
          display: flex;
          justify-content: center;

          .button-session {
            width: fit-content;
            padding: 1.6rem 3.2rem;
            z-index: 1;
            box-shadow: 0.8rem 0.8rem 4rem rgba(245, 133, 30, 0.24);
            background: linear-gradient(
              100.87deg,
              #ffa318 -38.94%,
              #f7851c 44.05%,
              #f31f10 132.4%
            );
            border-radius: 0.8rem;
            color: #fff;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -ms-align-items: center;
            align-items: center;
            -webkit-align-items: center;
            justify-content: center;
            -webkit-justify-content: center;
            font-weight: 600;
            font-size: 1.6rem;
            @include max(768px) {
              width: 100% !important;
            }
            &:hover {
              cursor: pointer;
              background: $hostColor;
            }
          }
        }
      }

      .session-about-title {
        width: 90%;
        @include max(820px) {
          width: 100%;
        }
        .tt {
          @include fz-24;
          font-weight: 600;
          color: #fff;
          padding-bottom: 1.6rem;
          br {
            @include max(501px) {
              display: none;
            }
          }
        }

        .sub {
          font-size: 1.6rem;
          font-weight: 400;
          color: #fff;
          padding-bottom: 1.6rem;
          .underline {
            font-weight: 600;
            text-decoration: underline;
          }
        }

        .button-session {
          width: fit-content;
          padding: 1.6rem 3.2rem;
          z-index: 1;
          box-shadow: 0.8rem 0.8rem 4rem rgba(245, 133, 30, 0.24);
          background: linear-gradient(
            100.87deg,
            #ffa318 -38.94%,
            #f7851c 44.05%,
            #f31f10 132.4%
          );
          border-radius: 0.8rem;
          color: #fff;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -ms-align-items: center;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          font-weight: 600;
          font-size: 1.6rem;
          @include max(820px) {
            width: 100%;
          }
          &:hover {
            cursor: pointer;
            background: $hostColor;
          }
        }
      }

      .session-about-sub {
        padding-top: 3.8rem;
        display: flex;
        justify-content: end;
        position: relative;

        .about {
          width: 70%;
          font-family: "SVN-Just Saying";
          @include fz-32;
          color: #fff;
          text-align: left;

          @include max(890px) {
            width: 85%;
          }

          &-line {
            position: absolute;
            top: -25%;
            right: 0%;

            @include max(900px) {
              top: -39%;
              right: 5%;
            }

            &-hosting {
              position: absolute;
              top: -35%;
              right: -5%;

              @include max(1200px) {
                top: -62%;
                right: 0%;
              }
            }
          }
        }
      }
    }
  }

  &-br {
    position: relative;
    z-index: 4;
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    @include max(1200px) {
      margin-top: -20%;
    }
    @include max(1024px) {
      margin-top: 4%;
    }
    @include max(500px) {
      margin-top: 4%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.pv-pay {
  position: relative;
  background-color: #fff;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 2rem;
  .service-hosting-wrap-bg {
    @include max(1366px) {
      margin-top: 2.4rem;
    }
    @include max(500px) {
      margin-top: 0;
    }
  }
  &-t {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3a3a3a;

    @include max(500px) {
      margin-bottom: 0;
      padding-top: 2.4rem;
    }
    .host-tt {
      text-align: center;
      @include max(400px) {
        font-size: 2.4rem;
      }
    }
    .hl {
      padding: 0.8rem 1.6rem;
      position: relative;
      z-index: 1;
      margin-top: 0.4rem;
      color: #fff;
      @include max(1336px) {
        margin-bottom: 2.4rem;
      }
      @include max(501px) {
        font-size: 1.8rem;
      }
      &.aos-animate {
        &::before {
          animation: animationTitleHlNoneRT 1.2s ease-out forwards;
        }
      }
      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        background-color: #7c0fd1;
      }
    }
  }
  &-txt {
    color: #3a3a3a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    .line-team {
      color: #7c0fd1;
      font-weight: 600;
    }
    .line-team-2 {
      color: #f41e92;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  .session-service {
    overflow: hidden;
    .session-pay-host {
      .card {
        min-width: inherit;
        max-width: inherit;
      }
    }
  }

  .session-pay-host {
    &-header {
      display: flex;
      justify-content: center;
      margin-top: 3.2rem;
      @include max(1366px) {
        margin-top: 0;
      }
      @include max(1024px) {
        margin-bottom: 8.2rem;
      }
      @include max(500px) {
        margin-bottom: 0rem;
      }
    }

    .slider-wrap {
      .splide__list {
        padding: 8rem 0 !important;
      }
    }

    .card {
      min-width: 36rem;
      max-width: 36rem;
      position: relative;
      z-index: 1;
      border-radius: 1.6rem;
      box-shadow: 0px 4px 20px 0px #0000001f;
      background: #fff;

      .icon-recomment {
        position: absolute;
        top: -13%;
        right: 5%;
        z-index: 5;
      }

      .card-header {
        position: relative;
        color: #fff;
        z-index: 2;

        // padding: 2.4rem;
        .header-content {
          position: relative;
          z-index: 2;
          padding: 2.4rem;
          padding-bottom: 5rem;

          .name {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.8rem;
            font-weight: 500;
            @include max(500px) {
              gap: 0.8rem;
              font-size: 1.5rem;
            }
            .month {
              display: flex;
              flex-direction: row;
              justify-content: center;
              gap: 1.2rem;
              background: #fff;
              color: #344054;
              font-size: 1.6rem;
              font-weight: 500;
              padding: 1rem 3.1rem 1rem 1.6rem;
              border-radius: 0.8rem;

              .icon {
                width: 2.2rem;
              }
            }
          }

          .price {
            @include fz-32;
            font-weight: 600;

            .dash-month {
              font-size: 1.6rem;
              font-weight: 400;
            }

            .sale {
              font-size: 1.4rem;
              font-style: italic;
            }
          }
        }

        .wrap-bg {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;

          img {
            border-top-left-radius: 1.6rem;
            border-top-right-radius: 1.6rem;
          }
        }
      }

      .card-content {
        padding: 3.2rem 2.4rem;

        .btn-action {
          margin-top: 2.4rem;
          padding: 1.6rem 3.2rem;
          z-index: 1;
          box-shadow: 0.8rem 0.8rem 4rem rgba(245, 133, 30, 0.24);
          background: linear-gradient(
            100.87deg,
            #ffa318 -38.94%,
            #f7851c 44.05%,
            #f31f10 132.4%
          );
          border-radius: 0.8rem;
          color: #fff;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          -ms-align-items: center;
          align-items: center;
          -webkit-align-items: center;
          justify-content: center;
          -webkit-justify-content: center;
          font-weight: 600;
          font-size: 1.6rem;
          cursor: pointer;

          &:hover {
            background: $hostColor;
          }
        }
      }
    }
  }

  .swiper-service-hosting {
    overflow: visible;
    padding-bottom: 2rem;
    margin-top: 7.2rem;
    @include max(1200px) {
      margin-top: 3rem;
    }
  }
}

.pv-coop {
  position: relative;
  background-color: #fff;
  z-index: 1;
  &-t {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3a3a3a;
    margin-bottom: 3.2rem;
    @include max(500px) {
      margin-bottom: 0;
    }
    .host-tt {
      text-align: center;
      @include max(400px) {
        font-size: 2.4rem;
      }
    }
    .hl {
      padding: 0.8rem 1.6rem;
      position: relative;
      z-index: 1;
      margin-top: 0.4rem;
      line-height: 1;
      color: #fff;
      &.aos-animate {
        &::before {
          animation: animationTitleHlNoneRT 1.2s ease-out forwards;
        }
      }
      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        background-color: #1ec0f2;
      }
    }
  }
  &-txt {
    color: #3a3a3a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    .line {
      text-decoration-line: underline;
    }
    @include max(1200px) {
      background-color: #7c0fd1;
      border-radius: 0.8rem;
      color: #fff;
      padding: 0.4rem 1.6rem;
    }
    @include max(501px) {
      padding: 1.6rem 3.2rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
    br {
      @include max(768px) {
        display: none;
      }
    }
  }
  &-in {
    margin-top: 12.7rem;
    @include max(1200px) {
      margin-top: 7rem;
    }
    @include max(768px) {
      margin-top: 3rem;
    }
  }
  &-b {
    position: relative;
    margin: 0 auto;
    width: calc(10 * 100% / 12);
    @include max(1200px) {
      width: calc(100% - 3rem);
    }
    @include max(500px) {
      width: 100%;
    }
    &.aos-animate {
      animation: bounceInRight 1s forwards;
    }
    .abs {
      position: absolute;
      color: #fff;
      text-align: center;
      @include fz-18;
      font-weight: 500;
      line-height: 1.5;
      padding: 1.6rem;
      border-radius: 1.2rem;
      @include max(768px) {
        position: static;
        width: 48%;
        transform: translate(0, 0);
        margin-bottom: 1rem;
        padding: 0.8rem;
        border-radius: 0.8rem;
      }
      @include max(500px) {
        width: 100%;
      }
    }
  }
  &-lt {
    @include max(768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &-decor {
    margin: 0 auto;
    width: 100%;
    &-01 {
      left: 0;
      top: 18%;
      background-color: #2686ec;
      transform: translateX(-40%);
      @include max(1300px) {
        transform: translateX(0);
        top: auto;
        bottom: 0;
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #2686ec;
          transform: translateY(205%);
          clip-path: polygon(71% 0, 0 0, 100% 100%);
          @include max(1200px) {
            display: none;
          }
        }
      }
    }
    &-02 {
      left: 9.2%;
      top: -9%;
      background-color: #f41e92;
      transform: translateX(-40%);
      @include max(820px) {
        left: 11.2%;
        top: -5%;
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #f41e92;
          transform: translateY(200%);
          clip-path: polygon(71% 0, 0 0, 100% 100%);
          @include max(768px) {
            display: none;
          }
        }
      }
    }
    &-05 {
      left: 50%;
      top: -14%;
      background: var(
        --gradient-button,
        linear-gradient(130deg, #ffa318 0%, #f6851c 48.44%, #f31f10 100%)
      );
      transform: translateX(-50%);
      @include max(1200px) {
        top: -6%;
      }
      @include max(820px) {
        top: -19%;
      }
      .txt {
        position: relative;
        z-index: 3;
      }
    }
    &-04 {
      right: -5%;
      top: -9%;
      background-color: #1ec2f5;
      transform: translateX(-40%);
      @include max(1200px) {
        right: -6%;
      }
      @include max(820px) {
        right: -10%;
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          left: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #1ec2f5;
          transform: translateY(200%);
          clip-path: polygon(80% 0, 34% 0, 0 100%);
          @include max(768px) {
            display: none;
          }
        }
      }
    }
    &-03 {
      right: 9.2%;
      top: 24%;
      background-color: #7c0fd1;
      transform: translateX(140%);
      @include max(1300px) {
        transform: translate(10rem);
      }
      @include max(1155px) {
        top: 60%;
      }
      @include max(820px) {
        top: 60%;
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          left: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #7c0fd1;
          transform: translateY(200%);
          clip-path: polygon(80% 0, 34% 0, 0 100%);
          @include max(768px) {
            display: none;
          }
        }
      }
    }
  }
  &-panda {
    position: absolute;
    @include max(1200px) {
      z-index: 3;
      width: 10%;
      top: -5%;
    }
    @include max(768px) {
      display: none;
    }
  }
}

.pv-ps {
  overflow: hidden;
  min-height: 50rem;
  position: relative;
  z-index: 2;
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/images/PCVPS/pvpsBg.png);
  }
  &-header {
    padding-top: 5rem;
    padding-bottom: 30rem;
    @include max(1200px) {
      padding-top: 4rem;
      padding-bottom: 20rem;
    }
    @include max(820px) {
      padding-bottom: 25rem;
    }
    @include max(501px) {
      padding-bottom: 18rem;
    }
    @include max(375px) {
      padding-bottom: 16rem;
    }
  }
  &-br {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    @include max(1200px) {
      margin-bottom: 2.4rem;
    }
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    .host-tt {
      color: #fff;
      text-align: center;
      line-height: 1.2;
      @include max(500px) {
        margin-bottom: 0rem;
      }
      @include max(400px) {
        font-size: 2.4rem;
      }
      &.hl {
        margin-top: 0.8rem;
        position: relative;
        z-index: 1;
        padding: 0.4rem 1.6rem;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          content: "";
          border-radius: 0.8rem;
          background: #f41e92;
        }
      }
    }
  }
  &-txt {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    @include max(1200px) {
      margin-top: 1.6rem;
    }
    @include max(900px) {
      width: 100%;
    }
    .line {
      font-weight: 600;
      text-decoration-line: underline;
    }
  }
  &-decor {
    margin: 0 auto;
    width: 100%;
    &-01 {
      left: -2%;
      top: 6%;
      background-color: #f41e92;
      transform: translateX(-40%);
      @include max(1300px) {
        transform: translateX(0);
        top: auto;
        bottom: 62%;
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #f41e92;
          transform: translateY(178%);
          clip-path: polygon(71% 0, 0 0, 100% 100%);
          @include max(768px) {
            display: none;
          }
        }
      }
    }
    &-02 {
      left: 12.2%;
      top: -18%;
      background-color: #1ec2f5;
      transform: translateX(-40%);
      @include max(1200px) {
        top: -16%;
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #1ec2f5;
          transform: translateY(178%);
          clip-path: polygon(71% 0, 0 0, 100% 100%);
          @include max(768px) {
            display: none;
          }
        }
      }
    }
    &-03 {
      left: 50%;
      top: -8%;
      background-color: #2686ec;
      transform: translateX(-40%);
      @include max(1200px) {
        top: -8%;
      }
      @include max(900px) {
        left: 54%;
      }
      @include max(820px) {
        transform: translate(-13rem, -2rem);
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #2686ec;
          transform: translate(-400%, 178%);
          clip-path: polygon(0 0, 50% 100%, 100% 0);
          @include max(1200px) {
            transform: translate(-386%, 169%);
          }
          @include max(768px) {
            display: none;
          }
        }
      }
    }
    &-04 {
      right: 0%;
      top: -18%;
      background-color: #7c0fd2;
      transform: translateX(-40%);
      @include max(1300px) {
        right: -6%;
      }
      @include max(900px) {
        top: 11%;
        right: -12%;
      }
      @include max(820px) {
        transform: translate(-9rem, -6rem);
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          left: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #7c0fd2;
          transform: translateY(178%);
          clip-path: polygon(80% 0, 34% 0, 0 100%);
          @include max(820px) {
            transform: translateY(177%);
          }
          @include max(768px) {
            display: none;
          }
        }
      }
    }
    &-05 {
      right: 18.2%;
      top: 15%;
      background-color: #f5851e;
      transform: translateX(140%);
      @include max(1300px) {
        transform: translateX(0);
        right: -2%;
      }
      @include max(900px) {
        top: 35%;
      }
      @include max(820px) {
        transform: translate(-4rem, 0rem);
      }
      .txt {
        position: relative;
        z-index: 3;
        &::before {
          content: "";
          z-index: 2;
          left: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #f5851e;
          transform: translateY(178%);
          clip-path: polygon(80% 0, 34% 0, 0 100%);
          @include max(820px) {
            transform: translateY(173%);
          }
          @include max(768px) {
            display: none;
          }
        }
      }
    }
  }
  &-btn {
    position: absolute;
    left: 50%;
    bottom: -2%;
    background-color: #f5851e;
    transform: translateX(-50%);
    border-radius: 2.4rem;
    padding: 3.2rem 6.4rem;
    width: 100%;
    @include max(1200px) {
      bottom: 3%;
    }
    @include max(820px) {
      bottom: -7%;
    }
    @include max(559px) {
      bottom: -2%;
      padding: 1.6rem 3.2rem;
    }
    @include max(501px) {
      padding: 0.8rem 1.6rem;
      bottom: -9%;
      border-radius: 0.8rem;
    }
    .txt {
      position: relative;
      z-index: 3;
      color: #fff;
      text-align: center;
      font-size: 3.2rem;
      @include max(1200px) {
        font-size: 1.8rem;
      }
      @include max(501px) {
        font-size: 1.6rem;
      }
    }
  }
  &-b {
    position: relative;
    margin: 0 auto;
    width: calc(10 * 100% / 12);
    @include max(1200px) {
      width: calc(100% - 3rem);
    }
    @include max(500px) {
      width: 100%;
    }
    .abs {
      position: absolute;
      color: #fff;
      text-align: center;
      @include fz-18;
      font-weight: 500;
      line-height: 1.5;
      padding: 1.2rem 2.4rem;
      border-radius: 1.2rem;
      @include max(768px) {
        position: static;
        width: 100%;
        transform: translate(0, 0);
        margin-bottom: 1rem;
        font-size: 1.6rem;
      }
      @include max(500px) {
        width: 100%;
      }
    }
  }
  &-lt {
    @include max(767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &-cloud-bot {
    position: relative;
    z-index: 1;
    margin-top: -20rem;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
  }
}

.statistical-traffic {
  position: relative;
  padding-top: 17rem !important;
  @include max(768px) {
    padding-top: 0 !important;
  }
  @include max(500px) {
    padding-top: 5rem !important;
  }
  &-bg {
    position: relative;
    overflow: hidden;
    @include max(1200px) {
      display: none;
    }
    @include max(768px) {
      display: none;
    }
  }

  &-mobile {
    @include min(1201px) {
      display: none;
    }
    @include max(1200px) {
      position: relative;
      overflow: hidden;
    }
    @include max(768px) {
      display: none;
    }
  }

  .panda-rocket {
    position: absolute;
    top: -7% !important;
    right: 0%;
    z-index: 4;
    width: 20%;
  }

  .traffic-decor {
    height: 100%;

    @include max(768px) {
      position: sticky;

      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
      padding-top: 1.2rem;
    }

    &-img {
      position: absolute;
      width: calc(100% * (2 / 12));

      @include max(768px) {
        position: static;
        width: calc(100% * (3.5 / 12));
      }

      &:nth-child(1) {
        top: 25%;
        left: 5%;

        @include max(1200px) {
          top: 40%;
          left: 5%;
        }
      }

      &:nth-child(2) {
        top: 24.6%;
        right: 10%;
        width: 14.54%;
        left: 0;

        @include max(1200px) {
          top: 42%;
        }
      }
    }

    &-img-line {
      position: absolute;

      @include max(1200px) {
        display: none;
      }

      &:nth-child(1) {
        top: 20%;
        left: 20%;
        width: 8%;
      }

      &:nth-child(2) {
        width: 6%;
        top: 30%;
        right: 25%;
      }
    }
  }

  .traffic-img-1 {
    width: calc(100% * (2 / 12));
    position: absolute;
    top: 25%;
    left: 5%;

    @include max(1200px) {
      top: 35%;
      left: 5%;
    }

    @include max(860px) {
      display: none;
    }
  }

  .traffic-img-2 {
    width: calc(100% * (2 / 12));
    @include mid;
    box-shadow: 20px 20px 40px 0px #0000001f;
    top: 39%;
    left: 60%;

    @include max(860px) {
      display: none;
    }
  }

  .traffic-img-3 {
    width: calc(100% * (2 / 12));
    position: absolute;
    top: 25%;
    right: 6%;
    box-shadow: 20px 20px 40px 0px #0000001f;

    @include max(1200px) {
      top: 30%;
      right: 3%;
    }

    @include max(860px) {
      display: none;
    }
  }

  .traffic-img-line-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 8%;

    @include max(1200px) {
      top: 35%;
      left: 25%;
    }

    @include max(860px) {
      display: none;
    }
  }

  .traffic-img-line-2 {
    width: 4%;
    @include mid;
    top: 30%;
    left: 48%;

    @include max(1200px) {
      width: 2%;
      top: 37%;
    }

    @include max(860px) {
      display: none;
    }
  }

  .traffic-img-line-3 {
    width: 6%;

    top: 30%;
    right: 25%;
    position: absolute;

    @include max(1200px) {
      top: 33%;
      right: 20%;
    }

    @include max(860px) {
      display: none;
    }
  }

  .traffic {
    position: absolute;
    top: 12% !important;
    width: 100%;
    @include max(1024px) {
      top: 14% !important;
    }

    @include max(768px) {
      position: static;
    }

    &-content {
      max-width: 70rem;
      display: block;
      margin: 0 auto;

      @include max(768px) {
        padding: 3rem 0rem;
      }

      .host-tt {
        font-weight: 600;
        text-align: center;
        color: #fff;
        @include max(768px) {
          color: #3a3a3a;
        }
        @include max(400px) {
          font-size: 2.4rem;
        }
      }

      .sub-tt {
        font-weight: 600;
        text-align: center;
        display: block;
        margin: 0 auto;
        text-align: center;
        @include max(768px) {
          color: #fff;
        }
        @include max(400px) {
          font-size: 2.4rem;
        }
      }

      &-desc {
        padding-top: 3.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-align: center;
        color: #fff;
        @include max(1200px) {
          padding-top: 3rem;
        }
        @include max(820px) {
          padding-top: 1rem;
        }
        @include max(768px) {
          width: fit-content;
          color: #4a4a4a;
        }
      }
    }
  }

  .communication {
    position: absolute;
    bottom: 0%;
    width: 100%;
    margin-bottom: 3rem;

    @include max(768px) {
      margin-bottom: 0;
      position: static;
      padding: 0 0.8rem 0.8rem 0.8rem;
    }
    @include max(400px) {
      margin-top: 3rem;
    }

    &-content {
      position: relative;

      .tt {
        display: block;
        margin: 0 auto;
        font-weight: 600;
        text-align: center;

        @include max(400px) {
          font-size: 2.4rem;
        }
      }

      .sub-tt {
        display: block;
        margin: 0 auto;
        font-weight: 600;
        text-align: center;

        @include max(400px) {
          font-size: 2.4rem;
        }
      }

      &-desc {
        max-width: 69.9rem;
        display: block;
        margin: 0 auto;
        padding-top: 3.2rem;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.4rem;
        text-align: center;
        width: fit-content;

        @include max(768px) {
          padding: 3rem 0rem;
        }
      }

      .quote-wrap {
        .quote-item {
          z-index: 4;
          @include max(768px) {
            width: calc(50% - 1.5rem);
          }
          @include max(511px) {
            width: 100%;
          }
        }
        .quote {
          max-width: 100%;
        }
        @include max(768px) {
          display: flex;
          flex-wrap: wrap;
          gap: 1.5rem;
          justify-content: center;

          .quote::before {
            display: none;
          }
        }
      }

      .quote-uptime {
        @include max(1200px) {
          bottom: -84% !important;
        }

        @include min(769px) {
          position: absolute;
          bottom: 15%;
          left: 10%;
        }
      }

      .quote-backup {
        @include min(769px) {
          position: absolute;
          bottom: 60%;
          left: 15%;
        }

        @include max(1200px) {
          bottom: -30%;
          left: 18%;
        }

        @include max(820px) {
          bottom: -30%;
          left: 10%;
        }
      }

      .quote-cpu {
        @include min(769px) {
          position: absolute;
          top: -30%;
          right: 35%;
        }

        @include max(1200px) {
          top: unset;
          right: 35%;
          bottom: -35%;
        }

        @include max(800px) {
          top: unset;
          right: 25%;
          bottom: -35%;
        }
      }

      .quote-banwidth {
        @include min(769px) {
          position: absolute;
          top: 10%;
          right: 15%;
        }

        @include max(1200px) {
          top: unset;
          right: 10%;
          bottom: -100%;
        }

        @include max(800px) {
          top: unset;
          right: 5%;
          bottom: -100%;
        }
      }

      .quote-ssd {
        @include min(769px) {
          position: absolute;
          bottom: 10%;
          right: 10%;
        }

        @include max(1200px) {
          top: unset;
          right: 10%;
          bottom: -32%;
        }

        @include max(800px) {
          top: unset;
          right: 10%;
          bottom: -50%;
        }
      }
    }
  }
}

.pv-team {
  position: relative;
  background-color: #fff;
  z-index: 1;
  &-w {
    padding-top: 8rem;

    @include max(1200px) {
      padding-top: 4rem;
    }

    @include max(500px) {
      padding-top: 4rem;
    }
  }
  &-t {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3a3a3a;
    margin-bottom: 3.2rem;
    .host-tt {
      text-align: center;
      @include max(800px) {
        font-size: 2.2rem;
      }
      @include max(500px) {
        margin-bottom: 0rem;
      }
      @include max(400px) {
        font-size: 2.4rem;
      }
    }
    .hl {
      padding: 0.8rem 1.6rem;
      position: relative;
      z-index: 1;
      margin-top: 0.4rem;
      color: #fff;
      &.aos-animate {
        &::before {
          animation: animationTitleHlNoneRT 1.2s ease-out forwards;
        }
      }
      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        background-color: #1ec0f2;
      }
    }
  }
  &-txt {
    color: #3a3a3a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    .line-team {
      color: #7c0fd1;
      font-weight: 600;
    }
    .line-team-2 {
      color: #f41e92;
      font-weight: 600;
      text-decoration: underline;
    }
  }

  &-decor {
    @include max(500px) {
      margin-top: 4rem;
    }
  }
}

.pv-price {
  position: relative;
  z-index: 3;
  margin-top: -26rem;
  @include max(1200px) {
    overflow: hidden;
  }
  @include max(1024px) {
    margin-top: -24rem;
  }
  @include max(820px) {
    margin-top: -18rem;
  }
  @include max(500px) {
    margin-top: -6rem;
    padding-bottom: 9rem;
  }
  @include max(375px) {
    margin-top: -4rem;
    padding-bottom: 0rem;
  }
  br {
    @include max(390px) {
      display: none;
    }
  }
  &-w {
    padding-top: 2rem;
    @include max(1200px) {
      padding-top: 4rem;
    }
    @include max(375px) {
      padding-bottom: 4rem;
    }
  }
  &-t {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3a3a3a;
    margin-bottom: 3.2rem;
    @include max(500px) {
      margin-bottom: 2.4rem;
    }
    .host-tt {
      text-align: center;
      @include max(800px) {
        font-size: 2.2rem;
      }
      @include max(500px) {
        margin-bottom: 0;
      }
      @include max(400px) {
        font-size: 2.4rem;
      }
    }
    .hl {
      padding: 0.8rem 1.6rem;
      position: relative;
      z-index: 1;
      margin-top: 0.4rem;
      color: #fff;
      &.aos-animate {
        &::before {
          animation: animationTitleHlNoneRT 1.2s ease-out forwards;
        }
      }
      &::before {
        z-index: -1;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.8rem;
        background-color: #1ec0f2;
      }
    }
  }
  &-txt {
    color: #3a3a3a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    .line {
      color: #7c0fd1;
      font-weight: 600;
    }
  }
  &-in {
    margin-top: 12.7rem;
    @include max(1200px) {
      margin-top: 7rem;
    }
    @include max(767px) {
      margin-top: 3rem;
    }
    @include max(414px) {
      margin-bottom: 3rem;
    }
  }
  &-b {
    position: relative;
    margin: 0 auto;
    width: calc(10 * 100% / 12);
    @include max(1200px) {
      width: calc(100% - 3rem);
    }
    @include max(500px) {
      width: 100%;
    }
    &.aos-animate {
      animation: bounceInRight 1s forwards;
    }
    .abs {
      position: absolute;
      color: #fff;
      text-align: center;
      @include fz-18;
      font-weight: 500;
      line-height: 1.5;
      border-radius: 1.2rem;
      @include max(767px) {
        position: static;
        width: 48%;
        transform: translate(0, 0);
        margin-bottom: 1rem;
      }
      @include max(500px) {
        width: 100%;
      }
    }
  }
  &-lt {
    @include max(767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &-decor {
    margin: 0 auto;
    width: 100%;
    &-01 {
      left: 4.5%;
      top: 30%;
      background-color: #2686ec;
      transform: translateX(-40%);
      @include max(1200px) {
        transform: translateX(-5rem);
        top: 30%;
      }
      .txt {
        position: relative;
        z-index: 3;
        padding: 0.9rem 1.6rem;
        &::before {
          content: "";
          z-index: 2;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #2686ec;
          transform: translate(-20%, 97%);
          clip-path: polygon(71% 0, 0 0, 100% 100%);
          @include max(767px) {
            display: none;
          }
        }
      }
    }
    &-02 {
      left: 12%;
      top: 2%;
      background-color: #1ec2f5;
      transform: translateX(-40%);
      .txt {
        position: relative;
        z-index: 3;
        padding: 0.96rem 2.57rem;
        &::before {
          content: "";
          z-index: 2;
          right: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #1ec2f5;
          transform: translate(-20%, 97%);
          clip-path: polygon(71% 0, 0 0, 100% 100%);
          @include max(767px) {
            display: none;
          }
        }
      }
    }
    &-03 {
      left: 55%;
      top: 5%;
      background-color: #7c0fd1;
      transform: translateX(-50%);
      .txt {
        position: relative;
        z-index: 3;
        padding: 0.96rem 2.64rem;
        &::before {
          content: "";
          z-index: 2;
          left: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #7c0fd1;
          transform: translate(14%, 97%);
          clip-path: polygon(80% 0, 34% 0, 0 100%);
          @include max(767px) {
            display: none;
          }
        }
      }
    }
    &-04 {
      right: 2%;
      top: -2%;
      background-color: #f41e92;
      transform: translateX(-40%);
      @include max(768px) {
        right: -14%;
        top: -14%;
      }
      .txt {
        position: relative;
        z-index: 3;
        padding: 1rem 2.1rem;
        &::before {
          content: "";
          z-index: 2;
          left: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #f41e92;
          transform: translate(5%, 97%);
          clip-path: polygon(80% 0, 34% 0, 0 100%);
          @include max(767px) {
            display: none;
          }
        }
      }
    }
    &-05 {
      right: 20.2%;
      top: 32%;
      background-color: #7c0fd1;
      transform: translateX(140%);
      @include max(1200px) {
        transform: translateX(18rem);
        top: 22%;
      }
      @include max(820px) {
        transform: translate(-3rem, 6rem);
      }
      .txt {
        position: relative;
        z-index: 3;
        padding: 0.96rem 2.5rem;
        &::before {
          content: "";
          z-index: 2;
          left: 0;
          bottom: 0;
          position: absolute;
          width: 2.3rem;
          height: 1.5rem;
          background-color: #7c0fd1;
          transform: translate(5%, 97%);
          clip-path: polygon(80% 0, 34% 0, 0 100%);
          @include max(767px) {
            display: none;
          }
        }
      }
    }
  }
  &-btn {
    position: absolute;
    left: 50%;
    bottom: -9%;
    background-color: #f5851e;
    transform: translateX(-50%);
    border-radius: 2.4rem;
    padding: 3.2rem 6.4rem;
    width: 100%;
    @include max(1200px) {
      bottom: 0%;
      width: fit-content;
      br {
        display: none;
      }
    }
    @include max(820px) {
      width: 100%;
    }
    @include max(768px) {
      padding: 1.2rem 3.4rem;
      bottom: 0%;
    }
    @include max(501px) {
      bottom: -9%;
      border-radius: 0.8rem;
      width: 100%;
    }
    @include max(390px) {
      padding: 1.6rem 0.2rem;
      bottom: -8%;
    }
    .txt {
      position: relative;
      z-index: 3;
      color: #fff;
      text-align: center;
      font-size: 3.2rem;
      @include max(1200px) {
        font-size: 1.8rem;
      }
      br {
        @include max(501px) {
          display: none;
        }
      }
      @include max(501px) {
        font-size: 1.6rem;
      }
    }
  }
  &-element-1 {
    position: absolute;
    bottom: -15%;
    left: -5%;
    @include max(1200px) {
      display: none;
    }
  }
  &-element-2 {
    position: absolute;
    bottom: -17%;
    right: 0%;
    @include max(1200px) {
      display: none;
    }
  }
}

.pv-solution {
  margin-top: 10%;
  @include max(1200px) {
    margin-top: 6%;
  }
  @include max(501px) {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  @include max(414px) {
    margin-top: 6%;
  }
  @include max(390px) {
    margin-top: 20%;
  }
  @include max(375px) {
    margin-top: 5%;
  }
  &-panda {
    position: relative;
    .host-tt {
      position: absolute;
      left: 0;
      transform: translate(-6rem, 20rem);
    }
  }
  &-analytics {
    @include fz-40;
    font-weight: 600;
    line-height: 120%;
    position: absolute;
    left: 9.5%;
    z-index: 9;
    top: 25%;
  }
}

.pv-tech {
  background: linear-gradient(
    180deg,
    rgba(220, 247, 255, 0) 0%,
    #dcf7ff 49.48%,
    rgba(220, 247, 255, 0) 100%
  );
  min-height: 100vh;
  position: relative;
  &-sticky {
    top: 0;
    position: sticky;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  &-l {
    display: flex;
    will-change: transform;
    @include max(768px) {
      flex-direction: column;
    }
  }
  &-img {
    border-radius: 1.6rem;
    overflow: hidden;
  }
  &-i {
    flex-shrink: 0;
    width: 90rem;
    margin-right: 22rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    // @media only screen and (orientation: Portrait  ) and (max-width: 1024px) {
    //     flex-direction: column;
    //     width: 100%;
    //     margin-bottom: 3rem;
    //     align-items: flex-start;
    // }
    @include min(768px) {
      min-height: 45rem;
    }
    @include max(768px) {
      flex-direction: column;
      width: 100%;
      margin-bottom: 3rem;
      align-items: flex-start;
    }
    @include min(1201px) {
      width: 46.09375vw;
    }
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6.4rem;
    @include max(1200px) {
      margin-bottom: 3rem;
    }
    @include max(768px) {
      margin-bottom: 1rem;
    }
    .host-tt {
      color: #3a3a3a;
      font-weight: 600;
      line-height: 1.2;
      width: 100%;
      @include max(500px) {
        margin-bottom: 0;
      }
      @include max(400px) {
        font-size: 2.4rem;
        text-align: center;
      }
      &.hl {
        margin-top: 0.4rem;
        position: relative;
        z-index: 1;
        color: #fff;
        padding: 0.4rem 1.6rem;
        width: fit-content;
        @include max(400px) {
          font-size: 2.4rem;
        }
        &::before {
          content: "";
          z-index: -1;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 0.8rem;
          background-color: #1ec0f2;
        }
      }
    }
  }
  &-in {
    display: flex;
    flex-direction: column;
    &-txt {
      width: fit-content;
      color: #fff;
      @include fz-18;
      font-weight: 600;
      line-height: 1.4;
      padding: 0.4rem 0.8rem;
      border-radius: 0.8rem;
      background: #2ac34d;
      @include max(375px) {
        font-size: 1.2rem;
        padding: 0.8rem;
        border-radius: 0.8rem;
      }
    }
    &-tt {
      color: #f41e92;
      @include fz-96;
      font-weight: 800;
      &.style-pri {
        color: #f5851e;
      }
      &.style-second {
        color: #1ec0f2;
      }
    }
    &-des {
      padding: 1.6rem;
      color: #fff;
      @include fz-24;
      font-weight: 600;
      line-height: 1.5;
      letter-spacing: -0.264px;
      border-radius: 1.6rem;
      background: #7c0fd1;
      width: 100%;
      @include max(1200px) {
        width: 100%;
      }
      @include max(501px) {
        font-size: 1.8rem;
        padding: 0.8rem;
        border-radius: 0.8rem;
      }
      br {
        @include max(768px) {
          display: none;
        }
      }
      &.style-pri {
        background: #2686ec;
      }
      &.style-second {
        background: #f5851e;
      }
    }
  }
  &-img {
    position: absolute;
    width: 70%;
    z-index: -1;
    top: 0;
    right: 0;
    // @media only screen and (orientation: Portrait  ) and (max-width: 1024px) {
    //     margin-top: 2.4rem;
    //     position: static;
    //     flex-direction: column;
    //     width: 100%;
    // }
    @include max(768px) {
      margin-top: 2.4rem;
      position: static;
      flex-direction: column;
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.pv-host {
  overflow: hidden;
  min-height: 50rem;
  position: relative;
  z-index: 2;
  @include max(768px) {
    flex-direction: column-reverse;
  }
  br {
    @include max(768px) {
      display: none;
    }
  }
  &-header {
    padding-top: 5rem;
    padding-bottom: 30rem;
    @include max(1200px) {
      padding-top: 4rem;
    }
  }
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include max(1200px) {
      margin-bottom: 2.4rem;
    }
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    .host-tt {
      color: #3a3a3a;
      text-align: center;
      font-weight: 600;
      line-height: 1.2;
      @include max(500px) {
        margin-bottom: 0.4rem;
      }
      @include max(400px) {
        font-size: 2.4rem;
      }
      &.hl {
        margin-top: 0.4rem;
        position: relative;
        z-index: 1;
        padding: 0.4rem 1.6rem;
        color: #fff;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          content: "";
          border-radius: 0.8rem;
          background: #1ec0f2;
        }
      }
    }
  }
  &-txt {
    text-align: center;
    color: #3a3a3a;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 3.2rem;
    margin-bottom: 3.2rem;
    @include max(1200px) {
      margin-top: 1.6rem;
    }
    @include max(900px) {
      width: 100%;
    }
    @include max(501px) {
      margin-bottom: 0rem;
    }
    .line {
      font-weight: 600;
      color: #f41e92;
    }
    .line-2 {
      font-weight: 600;
      color: #f5851e;
    }
    .line-3 {
      font-weight: 600;
      color: #7c0fd1;
      text-decoration: underline;
    }
  }
  &-b {
    position: relative;
    margin: 0 auto;
    width: calc(10 * 100% / 12);
    @include max(1200px) {
      width: calc(100% - 3rem);
    }
    @include max(500px) {
      width: 100%;
    }
    .abs {
      position: absolute;
      color: #fff;
      text-align: center;
      @include fz-18;
      font-weight: 500;
      line-height: 1.5;
      padding: 1.2rem 2.4rem;
      border-radius: 1.2rem;
      @include max(767px) {
        position: static;
        width: 48%;
        transform: translate(0, 0);
        margin-bottom: 1rem;
      }
      @include max(500px) {
        width: 100%;
      }
    }
  }
  &-lt {
    @include max(767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &-decor {
    width: 100%;
    @include max(500px) {
      margin-top: 4rem;
    }
  }
  &-left {
    @include max(768px) {
      width: 100%;
    }
  }
  &-right {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    @include max(1200px) {
      padding-left: 0;
    }
    @include max(768px) {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &-10plus50 {
    position: relative;
  }
  &-tc {
    position: absolute;
    color: #fff;
    background-color: #2ac34d;
    border-radius: 8px;
    padding: 0.8rem 1.6rem;
    font-size: 2.4rem;
    line-height: 140%;
    top: 6%;
    @include max(500px) {
      font-size: 2rem;
      width: fit-content !important;
      margin: 0 auto;
    }
    @include max(768px) {
      width: 100%;
      text-align: center;
      position: static;
      transform: translate(0, 0);
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  }
}

.pv-customer {
  min-height: 100vh;
  position: relative;
  margin-top: 6%;
  &-sticky {
    @include max(1400px) {
      margin-top: 0;
    }
    top: 0;
    position: sticky;
    overflow: hidden;
    display: flex;
    align-items: center;
    min-height: 114vh;
  }
  &-list {
    display: flex;
    will-change: transform;
    @include max(768px) {
      flex-direction: column;
    }
  }
  &-i {
    align-items: center;
    display: flex;
    width: 100%;
    flex-shrink: 0;
    padding-top: 4.6rem;
    @include max(768px) {
      padding-top: 0;
    }
    @include max(500px) {
      padding-top: 3rem;
    }
    &-l {
      width: 50%;
      display: flex;
      flex-direction: column;
      @include max(991px) {
        width: 100%;
      }
      @include max(768px) {
        width: 100%;
      }
    }
    &-r {
      width: 50%;
      display: flex;
      flex-direction: column;
      @include max(991px) {
        width: 100%;
      }
      @include max(768px) {
        width: 100%;
      }
    }
    @include min(1201px) {
      width: 88vw;
    }
    @include max(768px) {
      width: 100%;
    }
    &-inner {
      flex-shrink: 0;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      margin-left: -16rem;
      @include max(1200px) {
        margin-left: 0;
      }
    }
    &:nth-child(1) {
      overflow: hidden;
      position: relative;
    }
    &:nth-child(2) {
    }
    &:nth-child(3) {
    }
  }
  &-tx {
    font-size: 4rem;
    font-weight: 600;
    @include max(400px) {
      font-size: 2.4rem;
    }
  }
  &-tt {
    display: flex;
    .host-tt {
      .bg-color {
        width: fit-content;
        margin: 0;
        margin-top: 0.4rem;
        @include max(500px) {
          width: fit-content;
        }
      }
      @include max(400px) {
        font-size: 2.4rem;
        text-align: center;
      }
    }
    @include max(1200px) {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
    @include max(820px) {
      display: block;
    }
    @include max(501px) {
      margin-top: 4rem;
      margin-bottom: 0rem;
    }
    &-col {
      width: calc(100% * (8 / 12));
      @include max(820px) {
        width: 100%;
        display: block;
      }
    }
  }
  &-desc {
    &-col {
      width: calc(100% * (4 / 12));
      @include max(820px) {
        width: 100%;
        display: block;
      }
    }
  }
  &-in {
    display: flex;
    flex-direction: column;
    &-tt {
      color: #3a3a3a;
      @include fz-32;
      font-weight: 600;
      line-height: 1.5;
      @include max(800px) {
        margin-top: 4rem;
      }
    }
    &-line {
      color: #2686ec;
      font-weight: 600;
      text-decoration-line: underline;
    }
    &-des {
      color: #3a3a3a;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      margin-bottom: 1.6rem;
      width: calc(4 * 100% / 6);
      @include max(1200px) {
        margin-bottom: 1.2rem;
        width: 100%;
      }
      @include max(500px) {
        margin-top: 1.8rem;
      }
      .line-pri {
        color: #2686ec;
        font-weight: 700;
      }
      .line-second {
        color: #1ec0f2;
        font-weight: 700;
      }
    }
    &-line {
      color: #2686ec;
      font-weight: 600;
      text-decoration-line: underline;
    }
    &-l {
      width: calc(4 * 100% / 6);
      display: flex;
      flex-direction: column;
      margin-bottom: 2.4rem;
      @include max(1200px) {
        width: 100%;
        margin-bottom: 1.4rem;
      }
    }
    &-i {
      margin-bottom: 0.8rem;
      color: #3a3a3a;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      position: relative;
      padding-left: 2.4rem;
      &::before {
        content: "";
        position: absolute;
        top: 1rem;
        left: 1.2rem;
        width: 0.3rem;
        height: 0.3rem;
        background-color: #3a3a3a;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &-ad {
    display: flex;
    align-items: center;
    margin: 0 -2.4rem;
    &-i {
      display: flex;
      align-items: center;
      padding: 2.4rem;
      position: relative;
      @include max(500px) {
        padding: 1.2rem 2rem;
      }
      &:hover {
        .txt {
          color: #1ec0f2;
        }
      }
      &::before {
        position: absolute;
        z-index: 1;
        content: "";
        width: 0.1rem;
        height: 2.2rem;
        top: 50%;
        right: 0;
        background-color: #3a3a3a44;
        transform: translateY(-50%);
      }
      &:last-child {
        &::before {
          display: none;
        }
      }
      .icon {
        display: block;
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 0.8rem;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .txt {
        color: #3a3a3a;
        font-size: 1.4rem;
        font-weight: 700;
        line-height: 1.5;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &-btn {
    display: flex;
    flex-wrap: wrap;
    .btn-clh {
      margin: 1rem 0.6rem;
      @include max(500px) {
        padding: 0.9rem 1.6rem;
        font-size: 1rem;
        height: auto;
      }
    }
  }
  &-r {
    width: 35%;
    @include max(768px) {
      width: 100%;
    }
    &-des {
      padding-left: 2rem;
      color: #3a3a3a;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      @include max(820px) {
        padding-top: 0;
        margin-top: 1.4rem;
        padding-left: 0;
      }
      .line-01 {
        font-weight: 600;
      }
      .line {
        font-weight: 600;
        text-decoration-line: underline;
      }
    }
    &-inner {
      margin: 0 -10rem 0 -5rem;
      @include max(1400px) {
        margin: 0;
      }
      .image {
        width: 100%;
        height: fit-content;
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  &-decor {
    position: absolute;
    &.x1 {
      width: 16.6%;
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);
      @include max(1200px) {
        display: none;
      }
    }
    &.x2 {
      width: 12.6%;
      top: 0;
      right: 0;
      transform: translate(0%, 400%);
      @include max(1200px) {
        display: none;
      }
    }
  }
}

.pv-monahost {
  overflow: hidden;
  min-height: 50rem;
  position: relative;
  z-index: 2;
  @include max(1366px) {
    margin-top: -28rem;
  }
  @include max(1200px) {
    margin-top: 0rem;
  }
  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0.2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/assets/images/PCVPS/pvHost_bg.png);
  }
  &-header {
    padding-top: 5rem;
    padding-bottom: 60rem;
    @include max(414px) {
      padding-bottom: 47rem;
    }
  }
  &-br {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-common {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include max(1200px) {
      margin-bottom: 2.4rem;
    }
  }
  &-tt {
    display: flex;
    flex-direction: column;
    align-items: center;
    .host-tt {
      color: #fff;
      text-align: center;
      font-weight: 600;
      line-height: 1.2;
      @include max(500px) {
        margin-bottom: 0;
      }
      @include max(767px) {
        font-size: 2.4rem;
      }
      &.hl {
        margin-top: 0.4rem;
        position: relative;
        z-index: 1;
        padding: 0.4rem 1.6rem;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
          content: "";
          border-radius: 0.8rem;
          background: #f5851e;
        }
      }
    }
  }
  &-txt {
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 3.2rem;
    margin-bottom: 2.4rem;
    @include max(1200px) {
      margin-top: 1.6rem;
    }
    @include max(900px) {
      width: 100%;
    }
    .line {
      font-weight: 600;
      text-decoration-line: underline;
    }
  }
  &-b {
    position: relative;
    margin: 0 auto;
    width: calc(10 * 100% / 12);
    @include max(1200px) {
      width: calc(100% - 3rem);
    }
    .abs {
      position: absolute;
      color: #fff;
      @include max(767px) {
      }
    }
  }
  &-lt {
    @include max(767px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &-cloud-bot {
    position: relative;
    z-index: 1;
    margin-top: -38rem;
    width: 100%;
    height: 100%;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom;
    }
    @include max(768px) {
      margin-top: -47rem;
    }
    @include max(500px) {
      margin-top: -34rem;
    }
  }
  &-decor {
    margin: 0 auto;
    width: 100%;
    &-01 {
      left: 0%;
      top: 0%;
      width: calc(100% * (2 / 12));
      transform: translate(-4rem, 32rem);
      @include max(1200px) {
        transform: translate(0rem, 32rem);
      }
      @include max(1024px) {
        transform: translate(-1rem, 32rem);
      }
      @include max(820px) {
        transform: translate(-1rem, 22rem);
      }
      @include max(414px) {
        transform: translate(-1rem, 10rem);
      }
      @include max(320px) {
        transform: translate(-1rem, 8rem);
      }
    }
    &-02 {
      left: 0%;
      top: 0%;
      width: calc(100% * (2 / 12));
      transform: translate(60rem, 18rem);
      @include max(1024px) {
        transform: translate(48rem, 13rem);
      }
      @include max(820px) {
        transform: translate(38rem, 10rem);
      }
      @include max(414px) {
        transform: translate(20rem, 4rem);
      }
      @include max(320px) {
        transform: translate(14rem, 4rem);
      }
    }
    &-03 {
      left: 0%;
      top: 0%;
      width: calc(100% * (2 / 12));
      transform: translate(66rem, 60rem);
      @include max(1024px) {
        transform: translate(53rem, 52rem);
      }
      @include max(820px) {
        transform: translate(42rem, 40rem);
      }
      @include max(414px) {
        transform: translate(20rem, 20rem);
      }
      @include max(390px) {
        transform: translate(19rem, 19rem);
      }
      @include max(375px) {
        transform: translate(18rem, 18rem);
      }
      @include max(320px) {
        transform: translate(15rem, 14rem);
      }
    }
    &-04 {
      left: 0%;
      top: 0%;
      width: calc(100% * (1 / 12));
      transform: translate(38rem, 40rem);
      @include max(1024px) {
        transform: translate(30rem, 32rem);
      }
      @include max(820px) {
        transform: translate(24rem, 25rem);
      }
      @include max(414px) {
        transform: translate(11rem, 12rem);
      }
      @include max(375px) {
        transform: translate(10rem, 11rem);
      }
    }
    &-05 {
      left: 0%;
      top: 0%;
      z-index: -1;
      width: 41.6666666667%;
      transform: translate(-2rem, 37rem);
      @include max(820px) {
        transform: translate(-2rem, 25rem);
      }
      @include max(414px) {
        transform: translate(-2rem, 12rem);
      }
      @include max(390px) {
        transform: translate(0rem, 11rem);
      }
      @include max(375px) {
        transform: translate(-1rem, 11rem);
      }
      @include max(320px) {
        transform: translate(-1rem, 9rem);
      }
    }
    &-06 {
      left: 0%;
      top: 0%;
      width: calc(100% * (3 / 12));
      transform: translate(44rem, 1rem);
      @include max(1024px) {
        transform: translate(34rem, -1rem);
      }
      @include max(820px) {
        transform: translate(26rem, -1rem);
      }
      @include max(501px) {
        display: none;
      }
    }
    &-07 {
      left: 0%;
      top: 0%;
      width: calc(100% * (2 / 12));
      transform: translate(92rem, 6rem);
      @include max(1024px) {
        transform: translate(56rem, 0rem);
      }
      @include max(820px) {
        transform: translate(45rem, -1rem);
      }
      @include max(501px) {
        display: none;
      }
    }
  }
  .footer {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top: unset;
    bottom: -23%;
    width: 70%;
    z-index: 1;
    .footer-quote {
      .img-quote {
        position: relative;
        .quote-content {
          width: 100%;
          padding: 2rem 2rem;
          @include mid;
          z-index: 2;
          top: 35%;
          @include fz-32;
          text-align: center;
          color: #fff;
          transform: translate(-50%, -42%);
          @include max(1700px) {
            font-size: 2.8rem;
          }
          @include max(1300px) {
            font-size: 2rem;
          }
          @include max(769px) {
            font-size: 1.8rem;
          }
          @include max(559px) {
            font-size: 1.3rem;
          }
          @include max(511px) {
            padding: 0rem 1rem;
            font-size: 0.8rem;
          }
          @include max(375px) {
            padding: 0rem 1rem;
          }
          @include max(360px) {
            font-size: 0.7rem;
          }
        }
      }
    }
    @include max(1980px) {
      left: 0;
      bottom: 0;
      transform: translate(18rem, 18rem);
    }
    @include max(1024px) {
      left: 0;
      bottom: 0;
      transform: translate(16rem, 15rem);
    }
    @include max(820px) {
      transform: translate(12rem, 13rem);
    }
    @include max(768px) {
      transform: translate(12rem, 12rem);
    }
    @include max(500px) {
      transform: translateY(8rem);
      width: 100%;
      z-index: 1;
    }
  }
  br {
    @include max(375px) {
      display: none;
    }
  }
  .panda {
    position: absolute;
    bottom: -75%;
    left: 14%;
    z-index: 3;
    width: calc(100% * 9 / 12);
    @include min(3000px) {
      width: 100%;
      bottom: -99%;
      left: 0;
      width: 100%;
    }
    @include max(1980px) {
      bottom: 0%;
      left: 0;
      transform: translate(14rem, 63rem);
    }
    @include max(1024px) {
      bottom: 0%;
      left: 0;
      transform: translate(16rem, 49rem);
    }
    @include max(820px) {
      transform: translate(12rem, 39rem);
    }
    @include max(768px) {
      bottom: 0%;
      left: 0%;
      transform: translate(9rem, 39rem);
    }
    @include max(500px) {
      transform: translateY(28rem);
      width: 100%;
    }
    @include max(390px) {
      transform: translateY(26rem);
    }
  }
}

.pv-image {
  position: relative;
  z-index: 3;
  @include max(820px) {
    z-index: -1;
  }
}

.bg-color {
  border-radius: 0.8rem;
  padding: 0.4rem 1.6rem;
  color: #fff;
  width: fit-content;
  margin: 0 auto;
  margin-top: 0.4rem;
  @include max(1367) {
    width: 100%;
    margin-top: 0.4rem !important;
  }
  &-blue {
    background-color: $softwareColor;
  }
  &-purpule {
    background-color: $digitalColor;
  }
  &-pink {
    background-color: $lmsColor;
  }
  &-lightblue {
    background-color: $hostColor;
  }
  &-orange {
    background-color: $nhtqColor;
  }
}
