.tt-df {
    padding: .4rem 1.6rem;
    border-radius: .8rem;
}

.align-center {
    text-align: center;
}

.bg-host {
    background-color:$hostColor;
}

.bg-nhtq {
    background-color:$nhtqColor;
}

.txt-center {
    text-align: center;
}

.btn-mess {
    width: 100% !important;
    height: 100% !important;
    border: none !important;
}

.clcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clcenter-jus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.host-big-content  {
    .content-tt {
        .sub {
            @include max(768px) {
                font-size: 1.6rem;
            }
        }
    }
    .content-footer-wrap {
        width: 80%;
        @include max(767px) {
           max-width: 100%;
           width: 100%;
        }
        .txt {
            @include max(768px){
                font-size: 1.6rem;
            }
        }
    }
    
    .content {
        .bg-main {
            img {
                @include max(1200px) {
                    border-radius: 1.6rem;
                }
                @include max(768px) {
                    border-radius: 1rem;
                }
            }
        }
    }
}

.hclhser {
    position: relative;
    z-index: 5;
    padding-bottom: 16rem;
    &-decor {
       position: absolute;
       &.x1 {
         width: 82%;
         top: 0;
         left: 50%;
         transform: translate(-50%,0);
         z-index: -1;
         @include max(1200px) {
            display: none;
         }
       }
       &.x2 {
        position: absolute;
        top: 16%;
        z-index: -2;
        width: 100%;
       }
       &.x3 {
        width: 13.81%;
        top: 29.8%;
        left: 7.8%;
        z-index: 2;
        @include max(1440px) {
            left: 0;
        }
        @include max(1200px) {
            top: 17%;
        }
       }
       .image {
         width: 100%;
         height: 100%;
         img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
       }
    }
    .host-big-content {
        padding-top: 36rem;
        @include max(1440px) {
            padding-top: 30rem;
        }
        @include max(1200px) {
            padding-top: 3rem;
        }
        .btn-clh {
            border: none;
            &::before {
                background: $nhtqColor;
            }
        }
    }
    .host-big-content {
        .content-footer-wrap {
            .txt {
                @include max(1200px) {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}
.footer-txt {
    &.btn-clh {
        &::before {
            background: $nhtqColor;
        }
        height: 100%;
        border: none;
    }
}

.hclhpr {
    .container {
        z-index: 10;
    }
    &-tt {
        .host-tt {
            @include max(800px) {
                font-size: 2rem;
            }
        }
    }
    &-w {
        padding-top: 12rem;
        position: relative;
        z-index: 3;
        border-radius: 4rem;
        overflow: hidden;
        @include max(1200px) {
            padding-top: 6rem;
            border-radius: 2rem;
        }
        @include max(768px) {
            padding-top: 3rem;
        }
        &::before {
            z-index: -2;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../assets/images/fix-home/hclhpr-br.png);
        }
    }
    &-des {
        width: 50%;
        margin: 0 auto;
        padding-top: 3.2rem;
        @include max(1200px) {
            padding-top: 1.6rem;
            width: 60%;
        }
        @include max(1023px) {
            width: 80%;
        }
    }
    &-c {
        position: relative;
        width: calc(8 * 100% / 12);
        z-index: 3;
        margin: 0 auto;
        @include max(1400px) {
            width: calc(100% - 4rem);
        }
    }
    &-top {
        padding-bottom: 7rem;
        position: relative;
        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%,0);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../assets/images/fix-home/hclhpr-br-t.png);
        }
    }
    &-img {
        margin-top: 3.8rem;
        position: relative;
        width: 100%;
        @include max(1400px) {
            margin-top: 0;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &-in {
        @include max(1400px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 2rem;
        }
    }
    &-decor {
        position: absolute;
        z-index: 2; 
        border-radius: .8rem 0 .8rem .8rem;
        @include max(1400px) {
            position: static;
            width: calc(50% - .4rem) !important;
            margin-bottom: .8rem;
            border-radius: .8rem !important;
        }
        @include max(550px) {
            width: 100% !important;
        }
        &-in {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: .85rem 1.2rem;
            &::before {
                transform: translateY(-100%);
                z-index: 1;
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 2.6rem;
                height: 2.1rem;
                background-color: $softwareColor;
                clip-path: polygon(100% 0, 0% 100%, 100% 100%);
                @include max(1400px) {
                    display: none;
                }
            }
        }
        &:first-child {
            @include max(1400px) {
                width: 100% !important;
            }
        }
        &.x1 {
            width: 22.6%;
            bottom: 19%;
            left: -3.4%;
            @include max(1400px) {
                transform: translate(0);
                .hclhpr-txt {
                    br {
                        display: none;
                    }
                }
            }
        }
        &.x2 {
            width: 24.5%;
            top: 13.9%;
            left: 48.1%;
            transform: translateX(-50%);
            border-radius: 0.8rem 0.8rem 0 0.8rem; 
            @include max(1400px) {
                transform: translate(0);
            }
            .hclhpr-decor-in {
                &::before {
                    top: auto;
                    bottom: 0;
                    background-color: $nhtqColor;
                    transform: translateY(100%);
                    clip-path: polygon(100% 0, 0 0, 100% 100%);
                }
            }
        }
        &.x3 {
            width: 29.1%;
            left: 38%;
            bottom: 36.3%;
            width: 29.1%;
            left: 38%;
            bottom: 36.3%;
            border-radius: 0.8rem 0.8rem 0.8rem 0;
            @include max(1400px) {
                transform: translate(0);
            }
            .hclhpr-decor-in {
                &::before {
                    top: auto;
                    bottom: 0;
                    left: 0;
                    right: auto;
                    background-color: $digitalColor;
                    transform: translateY(100%);
                    clip-path: polygon(100% 0, 0 0, 0 100%);
                }
            }
        }
        &.x4 {
            width: 26%;
            right: -1%;
            top: 7%;
            border-radius: 0.8rem 0.8rem 0.8rem 0;
            @include max(1400px) {
                transform: translate(0);
            }
            .hclhpr-decor-in {
                &::before {
                    top: auto;
                    bottom: 0;
                    left: 0;
                    right: auto;
                    background-color: $lmsColor ;
                    transform: translateY(100%);
                    clip-path: polygon(100% 0, 0 0, 0 100%);
                }
            }
        }
        &.x5 {
            width: 36%;
            right: -11.6%;
            bottom: 34%;
            border-radius: 0 0.8rem 0.8rem 0.8rem;
            @include max(1400px) {
                transform: translate(0);
            }
            .hclhpr-decor-in {
                &::before {
                    left: 0;
                    right: auto;
                    background-color: $nhtqColor;
                    clip-path: polygon(100% 100%, 0 0, 0 100%);
                }
            }
        }
    }
    &-txt {
        line-height: 1.5;
    }
    &-bot {
        position: relative;
        z-index: 3;
        &::before {
            content: "";
            position: absolute;
            top: 9%;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../assets/images/fix-home/hclhpr-decor.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
        &-mess {
            background-color: #fff;
            transform: translateY(-50%);
            -webkit-mask-image: url(../assets/images/fix-home/hclhp-b.png);
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            margin: 0 auto;
            padding: 6rem 1rem !important;
            width: calc(8 * 100% / 12) !important;
            display: flex;
            justify-content: center;
            height: 124% !important;
            margin-bottom: -20rem;
            z-index: 5 !important;
            @include max (1400px) {
                margin-bottom: -10rem;
                transform: translateY(-20%);
                padding: 3rem 0 !important;
            }
            @include max(992px) {
                width: 90% !important;
                font-size: 1.6rem !important;
            }
            .txt {
                @include max(450px) {
                    br {
                        display: none;
                    }
                }
            }
        }
    }
}

.clhpar {
    &.clhpar-cus {
        &::before {
            display: none;
        }
    }
    .clhpar-mess {
        width: 58%;
        @include max(992px) {
            width: 80%;
        }
        @include max(600px) {
            br {
                display: none;
            }
        }
        &::before {
            background-color: $hostColor;
            border-radius: .8rem;
        }
    }
}